<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>person delete action</title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::person-details-dangerzone-body}, ~{::person-details-dangerzone-actions})}"
      >
        <th:block th:ref="person-details-dangerzone-body">
          <h2 th:text="#{person.account.dangerzone.title}">Benutzer löschen</h2>
        </th:block>
      </div>
      <div
        th:replace="~{fragments/box::box-with-icon(~{::person-details-dangerzone-box-icon}, ~{::person-details-dangerzone-box-body})}"
      >
        <th:block th:ref="person-details-dangerzone-box-icon">
          <div
            th:replace="~{fragments/rounded::block(content=~{::person-details-dangerzone-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-500 dark:tw-text-zinc-900')}"
          >
            <th:block th:ref="person-details-dangerzone-box-icon-rounded">
              <svg th:replace="~{icon/trash-2::svg(className='tw-w-8 tw-h-8')}" />
            </th:block>
          </div>
        </th:block>
        <th:block th:ref="person-details-dangerzone-box-body">
          <turbo-frame id="frame-delete-person">
            <form
              id="person-delete-form"
              method="post"
              th:action="@{/web/person/__${person.id}__/delete}"
              th:object="${personDeleteForm}"
            >
              <p id="person-delete-description" th:text="#{person.account.dangerzone.description}">
                Die Aktion kann nicht rückgängig gemacht werden.
              </p>
              <button
                th:if="${firstDeleteActionConfirmed == null || not firstDeleteActionConfirmed}"
                type="submit"
                name="delete"
                value="true"
                class="button-danger"
                th:text="#{person.account.dangerzone.delete-button(${person.niceName})}"
              >
                Benutzende löschen
              </button>
              <p
                th:if="${lastOfficeUserCannotBeDeleted != null and lastOfficeUserCannotBeDeleted}"
                th:text="#{person.account.dangerzone.delete.confirmation.validation.error.office}"
                class="tw-mt-4 error"
              >
                Letzter Office User kann nicht gelöscht werden.
              </p>
              <div th:if="${firstDeleteActionConfirmed != null && firstDeleteActionConfirmed}">
                <p th:text="#{person.account.dangerzone.description.extension}"></p>

                <label class="tw-w-full">
                  <span th:text="#{person.account.dangerzone.delete.confirmation(${person.niceName})}"></span>
                  <input th:field="*{niceNameConfirmation}" class="form-control tw-mt-1" />
                </label>

                <p
                  id="person-delete-form-error"
                  th:if="${personDeletionConfirmationValidationError}"
                  th:text="#{${personDeletionConfirmationValidationError}(${person.niceName})}"
                  class="error tw-text-sm"
                ></p>

                <div class="tw-flex tw-justify-between tw-mt-4">
                  <button
                    th:text="#{person.account.dangerzone.delete-button.finally(${person.niceName})}"
                    class="button-danger"
                    type="submit"
                    data-turbo="false"
                  >
                    Benutzer endgültig löschen
                  </button>
                  <button
                    id="person-delete-cancel"
                    type="submit"
                    th:formaction="@{/web/person/__${person.id}__}"
                    formmethod="get"
                    th:text="#{action.cancel}"
                    class="button tw-w-24"
                  ></button>
                </div>
              </div>
            </form>
          </turbo-frame>
        </th:block>
      </div>
    </th:block>
  </body>
</html>
