<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>person notifications</title>
  </head>
  <body>
    <th:block th:fragment="section">
      <dl aria-labelledby="heading-notification">
        <th:block
          th:if="${
      personNotificationsDto.applicationManagementAll.active ||
      personNotificationsDto.applicationManagementDepartment.active ||
      personNotificationsDto.application.active ||
      personNotificationsDto.applicationUpcoming.active ||
      personNotificationsDto.holidayReplacement.active ||
      personNotificationsDto.holidayReplacementUpcoming.active
      }"
        >
          <dt
            class="tw-font-medium tw-mb-2 tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
            th:text="#{person.notifications.section.absences.title}"
          >
            Abwesenheiten
          </dt>
          <th:block
            th:fragment="email-notification-element(info,active)"
            th:with="
              info=${info ?: 'person.notifications.section.absences.all.info'},
              active=${active == null ? personNotificationsDto.applicationManagementAll.active : active}
            "
          >
            <dd class="tw-text-sm tw-mb-2" th:if="${active}" th:text="${#messages.msg(info)}"></dd>
          </th:block>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.applicationManagementDepartment.active},info='person.notifications.section.absences.all-department.info')}"
          ></dd>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.application.active},info='person.notifications.section.absences.changed.info')}"
          ></dd>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.applicationUpcoming.active},info='person.notifications.section.absences.upcoming.info')}"
          ></dd>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.holidayReplacement.active},info='person.notifications.section.absences.holiday-replacement.info')}"
          ></dd>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.holidayReplacementUpcoming.active},info='person.notifications.section.absences.holiday-replacement.upcoming.info')}"
          ></dd>
        </th:block>
        <th:block th:if="${personNotificationsDto.overtimeManagementAll.active}">
          <dt
            class="tw-font-medium tw-mt-8 tw-mb-2 tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
            th:text="#{person.notifications.section.overtime.title}"
          >
            Überstunden
          </dt>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.overtimeManagementAll.active},info='person.notifications.section.overtime.all.info')}"
          ></dd>
        </th:block>
        <th:block th:if="${personNotificationsDto.personNewManagementAll.active}">
          <dt
            class="tw-font-medium tw-mt-8 tw-mb-2 tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
            th:text="#{person.notifications.section.persons.title}"
          >
            Personen
          </dt>
          <dd
            th:replace="~{::email-notification-element(active=${personNotificationsDto.personNewManagementAll.active},info='person.notifications.section.persons.added.info')}"
          ></dd>
        </th:block>
      </dl>
    </th:block>
  </body>
</html>
