.alert {
  --alert-padding: 15px;
  --alert-border-radius: 4px;

  padding: var(--alert-padding);
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: var(--alert-border-radius);

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }

  @apply dark:font-medium;
  /* TODO @apply dark:bg-opacity-95;*/
  /* `border-transparent` is relevant to override default :is(dark *) {border-color} */
  /* otherwise light-theme has no border-color and dark-theme has one (due to the default) */
  /* therefore border color should be explicitly at the html element for instance */
  @apply border-transparent;
}

.alert-danger {
  @apply text-red-800;
  background-color: #f2dede;
  border-color: #f2dedeff;
  @apply dark:bg-red-500;
  @apply dark:text-zinc-900;
  @apply dark:border-transparent;
}

form.alert-danger {
  @apply dark:bg-zinc-800;
  @apply dark:border-red-500;
  @apply dark:text-zinc-200;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #d9edf7ff;
}

form.alert-info {
  @apply dark:bg-zinc-800;
  @apply dark:border-sky-600;
  @apply dark:text-zinc-200;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #fcf8e3ff;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #dff0d8ff;
  @apply dark:bg-green-500;
  @apply dark:text-zinc-900;
  @apply dark:border-transparent;
}

form.alert-success {
  @apply dark:bg-zinc-800;
  @apply dark:border-green-500;
  @apply dark:text-zinc-200;
}

.alert--outline {
  @apply bg-transparent;
  @apply border-zinc-200;
  @apply dark:bg-transparent;
  @apply dark:border-zinc-300;
}

.alert-danger.alert--outline {
  @apply border-red-700;
  @apply text-red-800;
  @apply dark:border-red-500;
  @apply dark:text-red-600;
}
