.alert {
  @apply tw:dark:font-medium;
  /* TODO @apply tw:dark:bg-opacity-95;*/
  /* `border-transparent` is relevant to override default :is(dark *) {border-color} */
  /* otherwise light-theme has no border-color and dark-theme has one (due to the default) */
  /* therefore border color should be explicitly at the html element for instance */
  @apply tw:border-transparent;
}

.alert-danger {
  @apply tw:text-red-800;
  @apply tw:dark:bg-red-500;
  @apply tw:dark:text-zinc-900;
  @apply tw:dark:border-transparent;
}

form.alert-danger {
  @apply tw:dark:bg-zinc-800;
  @apply tw:dark:border-red-500;
  @apply tw:dark:text-zinc-200;
}

form.alert-info {
  @apply tw:dark:bg-zinc-800;
  @apply tw:dark:border-sky-600;
  @apply tw:dark:text-zinc-200;
}

.alert-success {
  @apply tw:dark:bg-green-500;
  @apply tw:dark:text-zinc-900;
  @apply tw:dark:border-transparent;
}

form.alert-success {
  @apply tw:dark:bg-zinc-800;
  @apply tw:dark:border-green-500;
  @apply tw:dark:text-zinc-200;
}

.alert--outline {
  @apply tw:bg-transparent;
  @apply tw:border-zinc-200;
  @apply tw:dark:bg-transparent;
  @apply tw:dark:border-zinc-300;
}

.alert-danger.alert--outline {
  @apply tw:border-red-700;
  @apply tw:text-red-800;
  @apply tw:dark:border-red-500;
  @apply tw:dark:text-red-600;
}
