.bottom-bar {
  /* TODO hm... not sure... */
  z-index: 999999;

  container-type: scroll-state;
  container-name: bottom-bar-container;
  position: sticky;
  bottom: 0;

  .bottom-bar-inner {
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
    @apply @2xl/main:py-4;

    .button,
    .button-main,
    .button-main-green {
      transition: all 200ms;
    }
  }
}

@supports not (container-type: scroll-state) {
  .bottom-bar-inner {
    /* not setting background-color for light theme since there is a linear-to-bottom background color */
    /* and we would have a colorful block suddenly when the bottom bar is not at the bottom actually */

    @variant dark {
      background-color: var(--color-zinc-900);
    }
  }
}

@container bottom-bar-container scroll-state(stuck: block-end) {
  .bottom-bar-inner {
    .button,
    .button-main,
    .button-main-green {
      @apply rounded-md;
      @apply shadow-xl/10;
      @apply drop-shadow-lg/10;
      @apply scale-110;
    }

    .button-main,
    .button-main-green {
      @apply shadow-xl/15;
      @apply drop-shadow-lg/25;
    }
  }
}
