.box {
  @apply flex;
  @apply items-start;
  padding: 20px;
  border: 1px solid #d5d5d5;
  /*font-size: 12px;*/
  background-color: #ffffff;
  margin-bottom: 27px;
}

.box-icon-container {
  @apply mr-6;
  @apply p-1;
}

.box-icon {
  @apply tw-rounded-full;
  @apply tw-flex;
  @apply tw-items-center;
  @apply tw-justify-center;
  @apply tw-w-16;
  @apply tw-h-16;
}

.box-text {
  @apply flex-1;
}

.box-text {
  /* Fallback for browsers not supporting flex */
  display: table-cell;
  vertical-align: middle;
  flex-grow: 1;
}

.box-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box-text ul > li:last-child > p {
  margin-bottom: 0;
}
