/**************************************************************************

  BUTTONS

**************************************************************************/

/* STYLING FOR SM SCREENS */
@media (max-width: 991px) {
  [class*="button"].pull-right,
  [class*="button"].pull-left {
    float: none;
  }
}

/* explicit a selector to override a:is(tw-dark) for instance */
.button,
a.button,
.button-main,
a.button-main,
.button-main-green,
a.button-main-green,
.button-danger,
a.button-danger,
.button-info,
a.button-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  @apply px-3;
  @apply py-2;
  @apply rounded-sm;
  @apply font-medium;
  @apply dark:font-semibold;
  @apply border;
  transition: 100ms all ease-in-out;
  font-size: var(--uv-form-control-text-size);
  white-space: nowrap;
}

:is(.button, .button-main, .button-main-green, .button-danger, .button-info) [class*="not-sr-only"] {
  /* tailwind not-sr-only sets white-space to 'normal' */
  /* buttons text should not be wrapped however */
  white-space: nowrap !important;
}

:is(.button, .button-main, .button-main-green, .button-danger, .button-info):disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

/* explicit a selector to override a:is(tw-dark) for instance */
.button,
a.button,
.button:hover:not(:is(:disabled, .button--no-hover)),
.button:active,
.button:focus {
  @apply border-zinc-200;
  @apply bg-zinc-50;
  @apply text-zinc-600;
  @apply dark:border-zinc-600;
  @apply dark:bg-zinc-800;
  @apply dark:text-zinc-100;
}

.button:hover:not(:is(:disabled, .button--no-hover)),
.button:active,
.button:focus {
  @apply border-zinc-300;
  @apply bg-zinc-100;
  @apply dark:border-zinc-500;
  @apply dark:bg-zinc-700;
}

/* explicit a selector to override a:is(tw-dark) for instance */
.button-main-green,
a.button-main-green,
.button-main-green:hover:not(:disabled),
.button-main-green:active,
.button-main-green:focus {
  @apply border-bootstrap-green-dark;
  @apply bg-bootstrap-green;
  @apply text-white;
  @apply transition-colors;
  @apply dark:bg-green-700;
  @apply dark:border-green-600;
  @apply dark:text-green-50;
}

.button-main-green:hover:not(:disabled),
.button-main-green:active,
.button-main-green:focus {
  @apply bg-bootstrap-green-dark;
  @apply dark:bg-green-600;
  @apply dark:border-green-600;
}

/* explicit a selector to override a:is(tw-dark) for instance */
.alert .button-main-green,
.alert a.button-main-green,
.alert .button-main-green:hover:not(:disabled),
.alert .button-main-green:active,
.alert .button-main-green:focus {
  @apply dark:bg-green-700;
  @apply dark:border-green-600;
  @apply dark:text-green-50;
}

.alert .button-main-green:hover:not(:disabled),
.alert .button-main-green:active,
.alert .button-main-green:focus {
  @apply dark:bg-green-600;
  @apply dark:border-green-600;
}

/* explicit a selector to override a:is(tw-dark) for instance */
.button-main,
a.button-main,
.button-main:hover:not(:disabled),
.button-main:active,
.button-main:focus {
  @apply border-sky-600;
  @apply bg-sky-600;
  @apply text-sky-50;
  @apply dark:bg-sky-700;
  @apply dark:border-sky-700;
}

.button-main:hover:not(:disabled),
.button-main:active,
.button-main:focus {
  @apply border-sky-700;
  @apply bg-sky-700;
  @apply dark:bg-sky-600;
  @apply dark:border-sky-600;
}

/* explicit a selector to override a:is(tw-dark) for instance */
.button-danger,
a.button-danger,
.button-danger:hover:not(:disabled),
.button-danger:active,
.button-danger:focus {
  @apply border-red-600;
  @apply bg-red-500;
  @apply text-white;
  @apply dark:bg-red-600;
  @apply dark:border-red-700;
}

.button-danger:hover:not(:disabled),
.button-danger:active,
.button-danger:focus {
  @apply border-red-700;
  @apply bg-red-600;
  @apply dark:bg-red-500;
  @apply dark:border-red-600;
}

/* explicit a selector to override a:is(tw-dark) for instance */ /* explicit a selector to override a:is(tw-dark) for instance */
.button-info,
a.button-info,
.button-info:hover:not(:disabled),
.button-info:active,
.button-info:focus {
  @apply border-cyan-600;
  @apply bg-cyan-500;
  @apply text-cyan-50;
  @apply dark:bg-sky-700;
  @apply dark:text-sky-100;
}

.button-info:hover:not(:disabled),
.button-info:active,
.button-info:focus {
  @apply border-cyan-700;
  @apply bg-cyan-600;
  @apply dark:bg-sky-600;
  @apply dark:border-sky-600;
}
