/**************************************************************************

  BUTTONS

**************************************************************************/

.btn {
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 0;
}

.btn-default {
  background-color: #f8f8f8;
}

*[class*="col-"].btn.pull-right {
  margin-right: 0;
}

*[class*="col-"].btn.pull-left {
  margin-left: 0;
}

/* STYLING FOR SM SCREENS */
@media (max-width: 991px) {
  .btn.pull-right,
  .btn.pull-left {
    float: none;
  }
}

a[class*=button] {
  display: flex;
  align-items: center;
  text-decoration: none !important; /* important to override bootstrap */
  @apply tw-px-3;
  @apply tw-py-2;
  @apply tw-rounded;
  @apply tw-font-medium;
  @apply tw-border;
  transition: 100ms all ease-in-out;
}

a.button,
a.button:hover,
a.button:focus {
  @apply tw-border-gray-200;
  @apply tw-bg-gray-100;
  @apply tw-text-gray-600;
}

a.button:hover,
a.button:focus {
  @apply tw-bg-gray-200;
}

a.button-main,
a.button-main:hover,
a.button-main:focus {
  @apply tw-border-blue-500;
  @apply tw-bg-blue-500;
  @apply tw-text-blue-50;
}

a.button-main:hover,
a.button-main:focus {
  @apply tw-bg-blue-600;
}
