.checkbox-switch {
  display: inline-block;
}

.checkbox-switch input[type="checkbox"] {
  cursor: pointer;
  margin: 0;
  margin-top: 0.25em;
  width: 2.5rem;
  height: 1.25rem;
  appearance: none;
  border: 1px solid rgba(0,0,0,.25);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 9999px;
  transition: background-position .15s ease-in-out, background-color .15s ease-in-out;
  @apply tw-bg-gray-200;
}

.checkbox-switch input:checked[type="checkbox"] {
  @apply tw-bg-blue-500;
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
