[is="uv-color-picker"] {
  position: relative;
}

[is="uv-color-picker"] .color-picker-button-color {
  @apply inline-block;
  @apply px-3;
  @apply py-2;
  @apply w-12;
  @apply h-4;
  @apply rounded-sm;
  @apply ring-1;
  @apply ring-inset;
  @apply ring-zinc-300;
  @apply dark:ring-zinc-600;
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"] {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

[is="uv-color-picker"] .color-picker-dialog {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: -1rem; /* to align the color boxes */
  width: 10rem;
  z-index: 1;
  display: flex;
  @apply rounded-sm;
  @apply p-4;
  @apply bg-white;
  @apply shadow-2xl;
  @apply border;
  @apply border-zinc-200;
  @apply dark:shadow-none;
  @apply dark:border;
  @apply dark:border-zinc-700;
  @apply dark:bg-zinc-900;
  @apply dark:backdrop-filter;
  @apply dark:backdrop-blur-xl;
  @apply dark:supports-backdrop-blur:bg-zinc-900/70;
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"] ~ .color-picker-dialog {
  display: block;
  opacity: 0;
  transform-origin: top left;
  @apply scale-0;
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
}

/* query detects safari. kudos: https://codepen.io/karlsson/pen/zYNYwNO */
@media not all and (min-resolution: 0.001dpcm) {
  [is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"] ~ .color-picker-dialog {
    /* safari freezes sometimes while painting the color-picker transition...  */
    transition: none;
  }
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"]:checked ~ .color-picker-dialog {
  opacity: 1;
  @apply scale-100;
}

[is="uv-color-picker"] .color-picker-dialog > *:not(:first-child) {
  margin-top: 0.25rem;
}

[is="uv-color-picker"] .color-picker-dialog label {
  display: block;
  cursor: pointer;
  height: 1.75rem;
}

[is="uv-color-picker"] .color-picker-dialog label input {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

[is="uv-color-picker"] .color-picker-option {
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  @apply rounded-sm;
}

[is="uv-color-picker"] .color-picker-option.active {
  @apply outline-2;
  @apply outline-blue-500;
}

[is="uv-color-picker"] .color-picker-option:hover {
  opacity: 0.8;
}
