[is="uv-color-picker"] {
  position: relative;
}

[is="uv-color-picker"] label {
  margin: 0 !important; /* reset bootstrap stuff */
}

[is="uv-color-picker"] > label.color-picker-button {
  @apply tw-ring-1;
  @apply tw-ring-inset;
  @apply tw-ring-zinc-300;
  @apply dark:tw-ring-zinc-600;
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"] {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

[is="uv-color-picker"] input[type="checkbox"] {}

[is="uv-color-picker"] .color-picker-dialog {
  position: absolute;
  top: 100%;
  width: 8rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  @apply tw-bg-gray-800;
  @apply dark:tw-bg-black;
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"] ~ .color-picker-dialog {
  z-index: 1;
  display: block;
  opacity: 0;
  transform-origin: top left;
  transform: translateX(-0.25rem) translateY(0.25rem) scale(0);
  transition: all 150ms ease-in-out;
}

[is="uv-color-picker"] > label.color-picker-button ~ [type="checkbox"]:checked ~ .color-picker-dialog {
  opacity: 1;
  transform: translateX(-0.25rem) translateY(0.25rem) scale(1);
}

[is="uv-color-picker"] .color-picker-dialog > *:not(:first-child) {
  margin-top: 0.25rem !important; /* important because of bootstrap reset above */
}

[is="uv-color-picker"] .color-picker-dialog label {
  display: block;
  cursor: pointer;
}

[is="uv-color-picker"] .color-picker-dialog label input {
  position: absolute;
  top: -999999px;
  left: -999999px;
}

[is="uv-color-picker"] .color-picker-dialog label span {
  display: block;
  height: 1.75rem;
}

[is="uv-color-picker"] .color-picker-option {
  transition: opacity 150ms ease-in-out;
  opacity: 1;
}

[is="uv-color-picker"] .color-picker-option.active {
  @apply tw-outline;
  @apply tw-outline-2;
  @apply tw-outline-blue-500;
}

[is="uv-color-picker"] .color-picker-option:hover {
  opacity: 0.8;
}
