.dropdown-menu {
  @apply dark:shadow-none;
  @apply dark:border;
  @apply dark:border-zinc-700;
  @apply dark:bg-zinc-900;
  @apply dark:backdrop-filter;
  @apply dark:backdrop-blur-xl;
  @apply dark:supports-backdrop-blur:bg-zinc-900/70;
}

.dropdown-menu > li > a {
  @apply dark:text-zinc-200;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  @apply dark:bg-zinc-700;
  @apply dark:text-zinc-200;
}

.dropdown-menu .divider {
  @apply dark:bg-zinc-700;
}
