.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0;
  border-top-color: var(--color-zinc-700);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  @apply dark:border-t-neutral-100;

  @apply ml-0.5;
  @apply mt-0.5;
}

a:hover .dropdown-caret,
a:focus .dropdown-caret {
  border-top-color: black;
  @apply dark:border-t-neutral-400;
}
