/* ------------------------- */
/* start bootstrap migration */

fieldset {
  /* Chrome and Firefox set a `min-width: min-content;` on fieldsets, */
  /* so we reset that to ensure it behaves more like a standard block element. */
  /* See https://github.com/twbs/bootstrap/issues/12359. */
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: calc(14px * 1.5);
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* end bootstrap migration */
/* ----------------------- */

.uv-help-block {
  display: block;
  color: #737373;
  @apply tw-text-sm;
  @apply dark:tw-text-zinc-200;
  @apply dark:tw-text-opacity-75;
}

input:not(:is([type="radio"], [type="checkbox"])),
textarea,
select,
.popover-button-select {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &::placeholder {
    color: #999;
  }
}

.popover-button-select {
  width: auto; /* override common input styling */
  :not([class*="tw-border-"]) {
    /* actually colors are meant here, like tw-border-blue-400 */
    /* however tw-border-*-* is not a valid selector */
    @apply dark:tw-border-neutral-600 !important;
  }
}

.popover-button-select:focus,
/* radiobutton and checkbox should not be highlighted on click, but on tab (:focus-visible) */
input:not(:is([type="radio"], [type="checkbox"])):focus,
select:focus,
textarea:focus {
  border-color: transparent;
  outline: 2px solid var(--uv-focus-ring-color);
  outline-offset: 1px;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.uv-input-group {
  display: flex;

  /* input */
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus-within {
    border-color: transparent;
    outline: 2px solid var(--uv-focus-ring-color);
    outline-offset: 1px;
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);

    input {
      outline: 0;
      box-shadow: none;
    }
  }

  input {
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .uv-input-group-addon {
    display: inline-flex;
    align-items: center;

    padding: 0 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    background-color: #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

legend {
  @apply dark:tw-text-zinc-200;
  @apply dark:tw-font-normal;
}

input[disabled],
fieldset[disabled] input {
  @apply dark:tw-text-neutral-700 !important;
  @apply dark:tw-bg-neutral-800 !important;
  @apply tw-border-0 !important;
}

.duet-date__input:focus,
.duet-date__toggle:focus {
  /* reset bootstrap stuff TODO required? */
  border-color: inherit !important;
  box-shadow: none;
}

.popover-button-select:focus,
.duet-date__input:focus,
.duet-date__toggle:focus {
  @apply tw-ring-2 !important;
  @apply tw-ring-blue-300 !important;
}

/**************************************************************************

  REQUIRED FORM FIELDS

**************************************************************************/

label.is-required:after {
  content: "*";
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/

.error {
  @apply tw-text-red-800;
  @apply dark:tw-text-red-400;
}

input,
select,
textarea,
.popover-button-select {
  @apply dark:tw-border-zinc-600 !important;
  @apply dark:tw-bg-zinc-700 !important;
  @apply dark:tw-text-zinc-50 !important;
}

input.error,
textarea.error {
  @apply tw-border-red-700 !important;
  @apply dark:tw-border-red-500 !important;
}

/**************************************************************************

  DEPARTMENT FORM

**************************************************************************/

.department--members {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: auto;
  height: 400px;
  width: 100%;
  @apply dark:tw-border-zinc-600;
}

.department--member {
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;
  @apply dark:tw-border-zinc-600;
}

.department--member.is-assigned {
  background-color: #e8efd1;
  @apply dark:tw-bg-zinc-800;
}

.department--member.is-inactive {
  background-color: #fff4ea;
  @apply dark:tw-bg-transparent;
}

.department--member:last-child {
  border-bottom: none;
}

.department--member-image,
.department--member-assignment {
  padding: 12px;
  display: table-cell;
  vertical-align: middle;
}

.department--member-image {
  width: 1px;
  padding-left: 24px;
}

.department--member-info {
  margin: 0;
}

.department--member-assignment > .checkbox > label {
  display: block;
}

.department--member-assignment > .checkbox > label > input[type="checkbox"] {
  margin-top: 2px;
}

.select-caret {
  @apply tw-text-zinc-700;
  @apply dark:tw-text-zinc-50;
}

.uv-form {
  --uv-form-padding-x: 0;
  --uv-form-col-gap: 1.25rem;
  --uv-form-row-gap: 1.25rem;
  --uv-form-label-col-width: 11.25rem; /* 180px */
  --uv-form-input-col-width: 1fr;
  --uv-form-info-col-width: 33%;

  p {
    margin: 0; /* override bootstrap margin bottom */
  }

  input[readonly] {
    background-color: theme("colors.gray.200");
  }

  /* no legend element since we cannot use fieldset */
  .uv-form-legend {
    :where(h1, h2, h3, h4, h5, h6),
    &:is(h1, h2, h3, h4, h5, h6) {
      margin: 0 !important; /* bootstrap or other preflight? */
    }

    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #ddd;
    font-size: 1.5rem;
  }

  /* fieldset does not support subgrid :/ therefore workaround with a div[role=group] */
  /* note that this div cannot be disabled like a fieldset... */
  div[role="group"] {
    &:where(.uv-form__global-feedback + *, .uv-form__info + *, div[role="group"] + *) {
      margin-top: 2rem;
    }
  }

  .uv-form__group {
    margin-top: var(--uv-form-row-gap);

    .uv-form__group-error,
    .uv-form__info {
      margin-bottom: var(--uv-form-row-gap);
    }

    .uv-form__info {
      font-size: 0.875rem;
      line-height: 1.42;

      p {
        margin: 0;
        + p {
          margin-top: 1rem;
        }
      }
    }

    .uv-form__input-col,
    .uv-form__input-row {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin-top: var(--uv-form-row-gap);

      /* if following item is not an interactive element -> it should be a row, just like any other input */
      > :is(label, .uv-form__label) + :is(div, span) {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }

      label,
      .uv-form__label {
        margin: 0;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.42;
        &.uv-form__label--required::after {
          content: "*";
          display: inline-block;
        }
      }

      /* align text with input */
      label:has(input[type="radio"], input[type="checkbox"]) {
        font-weight: normal;
        display: inline-flex;
        flex-wrap: nowrap;
        gap: 0.25rem;
        /* multiline label text: */
        /* align input on the "first" line (baseline) */
        align-items: baseline;

        /* align the input with text */
        input {
          transform: translateY(1px);
        }
      }

      /* multiline labels should span all inline-grid-rows */
      /* when there is a direct error element shown (in the next line) */
      &:has(> .uv-form__input-error) {
        grid-template-rows: 1fr 1fr;
        label,
        .uv-form__label {
          grid-row: 1/-1;
        }
      }

      .uv-form__input-error {
        @apply tw-text-sm;
        @apply tw-text-red-800;
        @apply dark:tw-text-red-400;
      }
    }

    .uv-form__input-col {
      .uv-form__label {
        font-size: 1rem;
      }
    }
  }
}

.uv-form-grid {
  display: flex;
  flex-direction: column;

  label,
  input {
    /* in a col, the label has a gap to the following element */
    &:is(.uv-form__input-col .uv-form__label + label) {
      margin-top: 0.5rem;
    }
  }

  .uv-form__group {
    .uv-form__input-row {
      &:has(.error) {
        /* error is on second row, column:input */
        grid-template-rows: auto 1fr;
        /* and labels with text has to span both rows */
        > label,
        .uv-form__label {
          grid-row: 1 / -1;
        }
      }
    }
  }

  .uv-form__actions {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  @media screen and (width >= 1024px) {
    --uv-form-label-col-width: 200px;

    display: grid;
    /* column-gap defined as column, as we don't want a gap for first and last col */
    grid-template-columns:
      [start]var(--uv-form-padding-x)
      [label]var(--uv-form-label-col-width)
      var(--uv-form-col-gap)
      [input]var(--uv-form-input-col-width)
      var(--uv-form-col-gap)
      [info]var(--uv-form-info-col-width)
      [end]var(--uv-form-padding-x);

    .uv-form__global-feedback {
      grid-column: start / end;
    }

    div[role="group"] {
      &:where(.uv-form__global-feedback + *, .uv-form__info + *, div[role="group"] + *) {
        margin-top: 3rem;
      }
    }

    .uv-form-legend {
      grid-row: 1;
      grid-column: label / end;
      + :is(.uv-form__group, .uv-form__input-row, .uv-form__input-col) {
        margin-top: var(--uv-form-row-gap);
      }
    }

    div[role="group"] {
      grid-column: label / end;
      display: grid;
      grid-template-columns: subgrid;
      &[hidden] {
        display: none;
      }
    }

    /* uv-form__group allows adding more side notes in one "fieldset" (role=group) */
    /* note that the "info" elements are spanning multiple grid rows */
    /* you have to ensure yourself that nothing overlaps... */
    .uv-form__group {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: subgrid;
      /* override flex gap from small screen. gap is defined with margin-top below */
      gap: 0;

      .uv-form__group-error {
        grid-row: 1;
        grid-column: label / end;
      }

      .uv-form__info {
        /* span ALL rows. using $ since -1 does not work */
        /* and we should never(tm) have fieldsets with more than $ rows? if so -> increase value */
        /* note that a HIGH value breaks devtools grid highlighting */
        --uv-form-grid-row-span: 25;
        grid-row: 1 / var(--uv-form-grid-row-span);
        grid-column: info;

        /* override small screen. TODO maybe -top on next element? */
        margin-bottom: 0;
        /* but not for next elements */
        &:has (~ .uv-form__info) {
          margin-bottom: var(--uv-form-row-gap);
        }
      }

      .uv-form__input-row,
      .uv-form__input-col {
        /* first row is the group-title/legend */
        /* second row starts with input-rows */
        grid-row: 1;
        /* cannot use :first-of-type or :first-child since there could be other div's or elements... */
        & + :is(.uv-form__input-row, .uv-form__input-col) {
          /* next input-rows are auto flowing */
          grid-row: auto;
        }

        grid-column: label / info;
        /* auto flow each input-row to next row */
        grid-auto-flow: row;

        /* override small screen */
        margin-top: 0;
        /* but not for next elements */
        ~ .uv-form__input-row,
        ~ .uv-form__input-col {
          margin-top: var(--uv-form-row-gap);
        }
      }

      .uv-form__input-row {
        display: grid;
        grid-template-columns: subgrid;
        /* align label with input while allowing multiline input (e.g. textarea, or a div with more elements) */
        align-items: baseline;

        > label,
        > .uv-form__label {
          grid-column: label;

          /* next elements should fill the input column */
          /*~ :is(div, span, p) {*/
          ~ * {
            grid-column: input;
          }
        }

        &:has(.uv-form__input-error) {
          > label,
          > .uv-form__label {
            row-span: 2;
          }
        }
      }

      &:has(.uv-form__group-error) {
        /* info and inputs are one row below the group-error */
        .uv-form__info {
          grid-row: 2 / var(--uv-form-grid-row-span);
        }
        .uv-form__input-row {
          grid-row: 2;
        }
        /* adjust following elements */
        .uv-form__info ~ .uv-form__info,
        .uv-form__input-row ~ .uv-form__input-row {
          grid-row: auto;
        }
      }
    }

    .uv-form__actions {
      grid-column: label / end;
    }
  }

  @media screen and (width >= 1280px) {
    --uv-form-padding-x: 0;
  }
}

.error,
.uv-has-error {
  &:where(.uv-input-group, input, select, textarea),
  .uv-input-group,
  input,
  select,
  textarea {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); /* Redeclare so transitions work */
  }

  .uv-input-group-addon {
    color: #a94442;
    background-color: #f2dede;
  }
}

/* ======================== */
/* debug helpers */

div[role="group"]:not([aria-describedby]) {
  outline: 2px solid magenta;
  &::after {
    content: "Form Group ohne aria-describedby";
    position: fixed;
    top: 0;
    right: 0;
    background-color: magenta;
    color: white;
    font-weight: 600;
    padding: 1rem;
    z-index: 999999;
  }
}

.uv-form__info:not(p):not(:has(p)) {
  outline: 2px solid magenta;
  &::after {
    content: "Paragraph fehlt bei uv-form__info";
    position: fixed;
    top: 0;
    right: 0;
    background-color: magenta;
    color: white;
    font-weight: 600;
    padding: 1rem;
    z-index: 999999;
  }
}
