/* ------------------------- */
/* start bootstrap migration */

fieldset {
  /* Chrome and Firefox set a `min-width: min-content;` on fieldsets, */
  /* so we reset that to ensure it behaves more like a standard block element. */
  /* See https://github.com/twbs/bootstrap/issues/12359. */
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: calc(14px * 1.5);
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* end bootstrap migration */
/* ----------------------- */

.uv-help-block {
  display: block;
  color: #737373;
  @apply text-sm;
  @apply dark:text-zinc-200/75;
}

input:not(:is([type="radio"], [type="checkbox"])),
textarea,
select,
.popover-button-select {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: var(--uv-form-control-text-size);
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--uv-input-border-radius);

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &:focus {
    border-color: transparent;
    outline: 2px solid var(--uv-focus-ring-color);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

  &::placeholder {
    color: #999;
  }

  @variant dark {
    border-color: var(--color-zinc-600);
    background-color: var(--color-zinc-700);
    color: var(--color-zinc-50);
  }
}

.popover-button-select {
  width: auto; /* override common input styling */
  :not([class*="border-"]) {
    /* actually colors are meant here, like border-blue-400 */
    /* however border-*-* is not a valid selector */
    @apply dark:border-neutral-600!;
  }
}

.uv-input-group {
  display: flex;

  /* input */
  border: 1px solid #ccc;
  border-radius: var(--uv-input-border-radius);
  @apply dark:border-neutral-600;

  &.uv-has-error {
    border-color: var(--uv-error-border-color);
  }

  &:focus-within {
    border-color: transparent;
    outline: 2px solid var(--uv-focus-ring-color);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);

    input {
      outline: 0;
      box-shadow: none;
    }
  }

  input {
    border: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .uv-input-group-addon {
    display: inline-flex;
    align-items: center;

    padding: 0 0.75rem;
    font-size: var(--uv-form-control-text-size);
    font-weight: 400;
    line-height: 1;
    color: #555;
    background-color: #eee;
    border-top-right-radius: var(--uv-input-border-radius);
    border-bottom-right-radius: var(--uv-input-border-radius);

    @apply dark:bg-zinc-800;
    @apply dark:text-zinc-200;
  }
}

legend {
  @apply dark:text-zinc-200;
  @apply dark:font-normal;
}

input[disabled],
fieldset[disabled] input {
  @apply dark:text-neutral-700!;
  @apply dark:bg-neutral-800!;
  @apply border-0!;
}

/**************************************************************************

  REQUIRED FORM FIELDS

**************************************************************************/

label.is-required:after {
  content: "*";
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/

.error {
  color: var(--uv-error-color);
}

input.error,
textarea.error {
  border-color: var(--uv-error-border-color) !important;
}

/**************************************************************************

  DEPARTMENT FORM

**************************************************************************/

.department--members {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: auto;
  height: 400px;
  width: 100%;
  @apply dark:border-zinc-600;
}

.department--member {
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;
  @apply dark:border-zinc-600;
}

.department--member.is-assigned {
  background-color: #e8efd1;
  @apply dark:bg-zinc-800;
}

.department--member.is-inactive {
  background-color: #fff4ea;
  @apply dark:bg-transparent;
}

.department--member:last-child {
  border-bottom: none;
}

.department--member-image,
.department--member-assignment {
  padding: 12px;
  display: table-cell;
  vertical-align: middle;
}

.department--member-image {
  width: 1px;
  padding-left: 24px;
}

.department--member-info {
  margin: 0;
}

.department--member-assignment > .checkbox > label {
  display: block;
}

.department--member-assignment > .checkbox > label > input[type="checkbox"] {
  margin-top: 2px;
}

.select-caret {
  @apply text-zinc-700;
  @apply dark:text-zinc-50;
}

.uv-form {
  /*
   * some rules to consider:
   * - try to use `margin-top`
   *   row-gap cannot be used due to spanning grid-row workaround for info blocks on the right
   * - use `margin-bottom` for elements that may be visible, like error blocks for instance
   * - the form MUST have a `div[role=group]` followed by a `uv-form-legend` and `uv-form__group`
   *   fieldset cannot be used since it doesn't support subgrid :-(
   * - use either `input-row` OR `input-col` in the form, not both -> consistent ui
   */

  --uv-form-padding-x: 0;
  --uv-form-col-gap: 1.25rem;
  --uv-form-row-gap: 1.25rem;
  --uv-form-label-col-width: 11.25rem; /* 180px */
  --uv-form-input-col-width: 1fr;
  --uv-form-info-col-width: 33%;

  p {
    margin: 0; /* override bootstrap margin bottom */
  }

  input[readonly] {
    background-color: var(--color-gray-200);
  }

  /* fieldset does not support subgrid :/ therefore workaround with a div[role=group] */
  /* note that this div cannot be disabled like a fieldset... */
  div[role="group"] {
    /* margin-top for role=group when it is adjacent to global-feedback */
    &:where(.uv-form__global-feedback + *) {
      margin-top: 1.5rem;
    }
    /* or other group  */
    ~ div[role="group"] {
      margin-top: 2.5rem;
    }

    .uv-form-legend {
      --uv-form-legend-font-size: 1.5rem;

      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid var(--color-gray-200);
      margin-bottom: var(--uv-form-row-gap);
      font-size: var(--uv-form-legend-font-size);

      @apply dark:border-b;
      @apply dark:border-zinc-600;

      &:is(h1, h2, h3, h4, h5, h6) {
        margin: 0; /* override bootstrap(?) default for headings */
        margin-bottom: var(--uv-form-row-gap);
        font-size: var(--uv-form-legend-font-size);
      }

      > :is(h1, h2, h3, h4, h5, h6) {
        margin: 0; /* override bootstrap(?) default for headings */
        font-size: var(--uv-form-legend-font-size);
      }
    }
  }

  .uv-form__group {
    ~ .uv-form__group {
      margin-top: var(--uv-form-row-gap);
    }

    .uv-form__group-error,
    .uv-form__group-info {
      margin-bottom: var(--uv-form-row-gap);
    }

    .uv-form__group-info {
      font-size: 0.875rem;
      line-height: 1.42;

      p {
        margin: 0;
        + p {
          margin-top: 1rem;
        }
      }
    }

    .uv-form__input-col,
    .uv-form__input-row {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin-top: var(--uv-form-row-gap);

      /* if following item is not an interactive element -> it should be a row, just like any other input */
      > :is(label, .uv-form__label) + :is(div, span) {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }

      label,
      .uv-form__label {
        margin: 0;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.375;
        max-width: 60ch;
        &.uv-form__label--required::after {
          content: "*";
          display: inline-block;
        }
      }

      /* align text with input */
      label:has(input[type="radio"], input[type="checkbox"]) {
        font-weight: normal;
        display: inline-flex;
        flex-wrap: nowrap;
        gap: 0.25rem;
        /* multiline label text: */
        /* align input on the "first" line (baseline) */
        align-items: baseline;

        /* align the input with text */
        input {
          transform: translateY(1px);
        }
      }

      /* multiline labels should span all inline-grid-rows */
      /* when there is a direct error element shown (in the next line) */
      &:has(> .uv-form__input-error) {
        grid-template-rows: 1fr 1fr;
        label,
        .uv-form__label {
          grid-row: 1/-1;
        }
      }

      .uv-form__input-error {
        @apply text-sm;
        color: var(--uv-error-color);
      }
    }

    .uv-form__input-col {
      .uv-form__label {
        font-size: 1rem;
      }
    }
  }
}

.uv-form-grid {
  display: flex;
  flex-direction: column;

  label,
  input {
    /* in a col, the label has a gap to the following element */
    &:is(.uv-form__input-col .uv-form__label + label) {
      margin-top: 0.5rem;
    }
  }

  .uv-form__group {
    .uv-form__input-row {
      &:has(.error) {
        /* error is on second row, column:input */
        grid-template-rows: auto 1fr;
        /* and labels with text has to span both rows */
        > label,
        .uv-form__label {
          grid-row: 1 / -1;
        }
      }
    }
  }

  .uv-form__actions {
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    @apply dark:border-t;
    @apply dark:border-zinc-600;
  }

  @media screen and (width >= 1024px) {
    --uv-form-label-col-width: 200px;

    display: grid;
    /* column-gap defined as column, as we don't want a gap for first and last col */
    grid-template-columns:
      [start]var(--uv-form-padding-x)
      [label]var(--uv-form-label-col-width)
      var(--uv-form-col-gap)
      [input]var(--uv-form-input-col-width)
      var(--uv-form-col-gap)
      [info]var(--uv-form-info-col-width)
      [end]var(--uv-form-padding-x);

    .uv-form__global-feedback {
      grid-column: start / end;
    }

    .uv-form-legend {
      grid-row: 1;
      grid-column: label / end;
    }

    div[role="group"] {
      grid-column: label / end;
      display: grid;
      grid-template-columns: subgrid;
      &[hidden] {
        display: none;
      }
    }

    /* uv-form__group allows adding more side notes in one "fieldset" (role=group) */
    /* note that the "info" elements are spanning multiple grid rows */
    /* you have to ensure yourself that nothing overlaps... */
    .uv-form__group {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: subgrid;
      /* override flex gap from small screen. gap is defined with margin-top below */
      gap: 0;

      .uv-form__group-error {
        grid-row: 1;
        grid-column: label / end;
      }

      .uv-form__group-info {
        /* span ALL rows. using $ since -1 does not work */
        /* and we should never(tm) have fieldsets with more than $ rows? if so -> increase value */
        /* note that a HIGH value breaks devtools grid highlighting */
        --uv-form-grid-row-span: 25;
        grid-row: 1 / var(--uv-form-grid-row-span);
        grid-column: info;

        /* override small screen */
        margin-bottom: 0;
        /* but not for next elements */
        &:has(~ .uv-form__group-info) {
          margin-bottom: var(--uv-form-row-gap);
        }
      }

      .uv-form__input-row,
      .uv-form__input-col {
        /* first row is the group-title/legend */
        /* second row starts with input-rows */
        grid-row: 1;
        /* cannot use :first-of-type or :first-child since there could be other div's or elements... */
        & + :is(.uv-form__input-row, .uv-form__input-col) {
          /* next input-rows are auto flowing */
          grid-row: auto;
        }

        grid-column: label / info;
        /* auto flow each input-row to next row */
        grid-auto-flow: row;

        /* override small screen */
        margin-top: 0;
        /* but not for next elements */
        ~ .uv-form__input-row,
        ~ .uv-form__input-col {
          margin-top: var(--uv-form-row-gap);
        }
      }

      .uv-form__input-row {
        display: grid;
        grid-template-columns: subgrid;
        /* align label with input while allowing multiline input (e.g. textarea, or a div with more elements) */
        align-items: baseline;

        > label,
        > .uv-form__label {
          grid-column: label;

          /* next elements should fill the input column */
          ~ * {
            grid-column: input;
          }
        }
      }

      &:has(.uv-form__group-error) {
        /* info and inputs are one row below the group-error */
        .uv-form__group-info {
          grid-row: 2 / var(--uv-form-grid-row-span);
        }
        .uv-form__input-row {
          grid-row: 2;
        }
        /* adjust following elements */
        .uv-form__group-info ~ .uv-form__group-info,
        .uv-form__input-row ~ .uv-form__input-row {
          grid-row: auto;
        }
      }
    }

    .uv-form__actions {
      grid-column: label / end;
    }
  }

  @media screen and (width >= 1280px) {
    --uv-form-padding-x: 0;
  }
}

.error,
.uv-has-error {
  &:where(.uv-input-group, input, select, textarea, duet-date-picker),
  .uv-input-group,
  input,
  select,
  textarea {
    border: 1px solid var(--uv-error-border-color);
    border-radius: var(--uv-input-border-radius);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); /* Redeclare so transitions work */
  }

  .uv-input-group-addon {
    color: var(--uv-error-color);
    border-color: var(--uv-error-border-color);
    background-color: #f2dede;
  }
}

/* ======================== */
/* debug helpers */

div[role="group"]:not([aria-describedby]) {
  outline: 2px solid magenta;
  &::after {
    content: "Form Group ohne aria-describedby";
    position: fixed;
    top: 0;
    right: 0;
    background-color: magenta;
    color: white;
    font-weight: 600;
    padding: 1rem;
    z-index: 999999;
  }
}

.uv-form__group-info:not(p):not(:has(p)) {
  outline: 2px solid magenta;
  &::after {
    content: "Paragraph fehlt bei uv-form__info";
    position: fixed;
    top: 0;
    right: 0;
    background-color: magenta;
    color: white;
    font-weight: 600;
    padding: 1rem;
    z-index: 999999;
  }
}
