/**************************************************************************

  GRAVATAR

**************************************************************************/

.gravatar {
  background: url("/images/gravatar-default.jpg") no-repeat center;
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}

.gravatar.gravatar--medium {
  background: url("/images/gravatar-medium.jpg") no-repeat center;
  height: 40px;
  width: 40px;
}

.gravatar.gravatar--small {
  background: url("/images/gravatar-small.jpg") no-repeat center;
  height: 20px;
  width: 20px;
}
