.icon-link {
  @apply tw:flex!;
}

.icon-link,
.text-link {
  @apply tw:whitespace-nowrap;
  @apply tw:text-zinc-700!;
  @apply tw:no-underline!;
  @apply tw:hover:text-black!;
  @apply tw:focus:text-black!;
  @apply tw:dark:text-zinc-50/75!;
  @apply tw:dark:hover:text-zinc-50/75!;
  @apply tw:dark:focus:text-zinc-50/75!;
}
