.icon-link {
  @apply flex!;
}

.icon-link,
.text-link {
  @apply whitespace-nowrap;
  @apply text-zinc-700!;
  @apply no-underline!;
  @apply hover:text-black!;
  @apply focus:text-black!;
  @apply dark:text-zinc-50/75!;
  @apply dark:hover:text-zinc-50/75!;
  @apply dark:focus:text-zinc-50/75!;
}
