.icon-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.icon-link,
.text-link {
  white-space: nowrap;
  color: var(--color-zinc-700);

  > svg {
    flex-shrink: 0;
  }

  &:hover,
  &:focus {
    color: var(--color-black);
    text-decoration: none;
  }

  @variant dark {
    color: var(--color-zinc-300);

    &:hover,
    &:focus {
      color: var(--color-zinc-50);
    }
  }
}
