.info-banner {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  background-color: var(--color-sky-900);
  color: var(--color-white);
}

.info-banner-text {
  width: 100%;
  text-align: center;
  @apply text-sm;
}

.info-banner a {
  text-decoration: underline;
  color: var(--color-white);
}

.info-banner a:hover {
  color: var(--color-white);
}
