.launchpad-container {
  .launchpad {
    .launchpad__title {
      font-size: 1rem;
      color: var(--color-gray-700);
      @variant dark {
        color: var(--color-zinc-200);
      }
    }
  }
}
