a {
  color: #2a6496;
  @apply dark:text-sky-500;
}

a:hover,
a:focus,
a:active {
  color: #1896db;
  @apply dark:text-sky-400;
}

@media print {
  a[href].print\:no-link:after {
    content: "" !important;
  }
}
