.list-selectable {
  @apply space-y-1;
}

@media only screen and (max-width: 639px) {
  .list-selectable {
    @apply space-y-4;
  }

  .list-selectable__item {
    @apply rounded-sm;
    @apply border;
    @apply p-2;
    @apply transition-colors;
    @apply bg-white;
    @apply dark:border-zinc-800;
    @apply dark:bg-zinc-800/20;
  }

  .list-selectable__item[data-enabled="true"] {
    @apply border-blue-100;
    @apply bg-blue-50/20;
    @apply dark:border-zinc-800;
    @apply dark:bg-zinc-800/20;
  }
}

@variant sm {
  .list-selectable__item {
    @apply py-1;
    @apply px-2;
    @apply rounded-sm;
    @apply transition-colors;
  }

  .list-selectable__item[data-enabled="false"] {
    @apply text-zinc-500;
    @apply dark:text-zinc-300;
  }

  .list-selectable__item[data-enabled="false"]:hover {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .list-selectable__item[data-enabled="true"] {
    @apply text-blue-900;
    @apply bg-blue-50/75;
    @apply dark:text-zinc-300;
    @apply dark:bg-zinc-800/75;
  }

  .list-selectable__item[data-enabled="true"]:hover {
    @apply bg-blue-100/70;
    @apply dark:bg-zinc-700/70;
  }
}

/* bootstrap view breakpoint. list is stretched to full width now */
@media only screen and (min-width: 992px) {
  .list-selectable__item {
    @apply py-1;
    @apply px-4;
  }
}

@variant lg {
  ul.lg\:list--hover > li {
    @apply transition-colors;
  }

  ul.lg\:list--hover > li:hover {
    @apply bg-zinc-50;
    @apply dark:bg-zinc-800;
  }
}
