@layer components {
  #menu-toggle-checkbox ~ label ~ div {
    @apply tw-transition-all;
    @apply tw-duration-200;
    opacity: 0;

    width: 100%;
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 999999;

    @apply tw-px-3;
  }

  #menu-toggle-checkbox:checked ~ label ~ div {
    opacity: 1;
    top: calc(var(--navigation-sticky-top) + var(--top-bar-height));
    padding-top: 1rem;
  }

  body:has(#menu-toggle-checkbox:checked) {
    /* prevent scrolling of hidden content */
    /* remember to reset this on large screen to avoid content jumping when scrollbar is (always) visible */
    overflow: hidden;
  }

  .navigation-content-spacer--left,
  .navigation-content-spacer--right {
    position: absolute;
    top: 100%;
    @apply tw-bg-gray-100;
    @apply lg:tw-hidden;
  }

  .navigation-content-spacer--left {
    left: 0;
  }

  .navigation-content-spacer--right {
    right: 0;
  }

  .navigation-content-spacer--left::after,
  .navigation-content-spacer--right::after {
    content: "";
    position: absolute;
    @apply tw-inset-0;
    @apply tw-bg-white;
    @apply lg:tw-hidden;
  }

  .navigation-content-spacer--left::after {
    @apply tw-rounded-tl-full;
    left: 0;
  }

  .navigation-content-spacer--right::after {
    @apply tw-rounded-tr-full;
    right: 0;
  }

  #menu-toggle-checkbox + label > span:first-child {
    width: 30px;
    height: 18px;
    position: relative;
  }

  #menu-toggle-checkbox + label > span > span {
    padding: 0;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    @apply tw-bg-gray-800;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(1) {
    top: 0;
    transition:
      all 0.4s ease-in-out,
      transform 0.4s ease-in-out 0.4s;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(2) {
    top: 6.5px;
    width: 1px;
    transform: rotate(90deg);
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(3) {
    top: 6.5px;
    right: 0;
    width: 1px;
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(4) {
    bottom: 0;
    top: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(5) {
    bottom: 0;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
    top: 6.5px;
    background-color: transparent;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
    left: 0;
    width: 30px;
    transform: rotate(45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
    background-color: transparent !important;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
    bottom: 6.5px;
    background-color: transparent !important;
  }

  @screen lg {
    #menu-toggle-checkbox ~ label ~ div,
    #menu-toggle-checkbox:checked ~ label ~ div {
      position: static;
      opacity: 1;
      padding: 0;
    }

    body:has(#menu-toggle-checkbox:checked) {
      overflow: revert;
    }
  }

  .main-nav-link,
  .add-thing-nav-link {
    @apply tw-flex;
    @apply tw-items-center;
    @apply tw-gap-3.5;
    @apply tw-text-2xl;
    @apply lg:tw-text-lg;
    @apply lg:tw-pl-1;
    @apply tw-text-gray-700;
    @apply hover:tw-text-blue-950;
    @apply focus:tw-text-blue-950;
    @apply tw-transition-colors;
    @apply tw-py-2;
    @apply tw-px-2;
    @apply lg:tw-py-1;
    @apply lg:tw-pl-2;
    @apply lg:tw-pr-3;
    @apply hover:tw-bg-blue-50;
    @apply focus:tw-bg-blue-50;
    @apply tw-rounded-md;
  }

  .add-thing-nav-link {
    @apply lg:tw-text-sm;
  }

  .main-nav-link svg,
  .add-thing-nav-link svg {
    @apply tw-w-8;
    @apply tw-h-8;
    @apply lg:tw-w-5;
    @apply lg:tw-h-5;
  }

  .main-nav-link svg {
    @apply lg:tw-stroke-gray-400;
  }

  .main-nav-link:hover svg,
  .main-nav-link:focus svg,
  .main-nav-link.current svg,
  .main-nav-link[aria-current="page"] svg {
    @apply lg:tw-stroke-blue-950;
  }

  .main-nav-link.current,
  .main-nav-link[aria-current="page"] {
    @apply tw-bg-blue-50;
  }

  .nav-popup-menu {
    position: fixed;
    z-index: 1;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    @apply tw-transition-all;
    @apply tw-duration-150;
    @apply tw-rounded-t-2xl;
    @apply tw-bg-white;
  }

  .nav-popup-menu.visible {
    top: calc(var(--navigation-sticky-top) + var(--top-bar-height));
  }

  .nav-popup-menu-inner {
    @apply tw-flex;
    @apply tw-flex-col;
    @apply tw-max-h-screen;
  }

  .nav-popup-menu-inner__header {
    @apply tw-rounded-t-2xl;
    @apply tw-bg-gradient-to-br;
    @apply tw-from-blue-50;
    @apply tw-via-gray-100;
    @apply tw-to-blue-100;
    @apply tw-px-4;
    @apply tw-py-2;
  }

  .nav-popup-menu-inner__content {
    @apply tw-p-2;
    overflow-y: auto;
  }

  @screen lg {
    .nav-popup-menu {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      right: 0;
      @apply tw-scale-0;
    }

    .nav-popup-menu.visible {
      @apply tw-scale-100;
      top: calc(100% + 0.5rem);
    }

    .nav-popup-menu-inner {
      @apply tw-bg-white;
      @apply tw-border;
      @apply tw-border-gray-50;
      @apply tw-rounded-lg;
      @apply tw-shadow-lg;
    }

    .nav-popup-menu-inner ul li[role="separator"] {
      @apply tw-border-t;
      @apply tw-border-gray-200;
    }

    .nav-popup-menu-inner__header {
      @apply tw-rounded-t-none;
      @apply tw-bg-gray-100;
    }

    .nav-popup-menu-inner__content {
      overflow-y: hidden;
    }
  }

  .nav-popup-menu_link {
    @apply tw-w-full;
    @apply tw-flex;
    @apply tw-items-center;
    @apply tw-p-2;
    @apply tw-pr-10;
    @apply tw-no-underline;
    @apply hover:tw-no-underline;
    @apply focus:tw-no-underline;
    @apply tw-text-base;
    @apply tw-text-gray-800;
    @apply tw-bg-transparent;
    @apply hover:tw-text-black;
    @apply focus:tw-text-black;
    @apply hover:tw-bg-gray-100;
    @apply focus:tw-bg-gray-100;
  }
}
