.navigation {
  @apply tw-fixed;
  @apply tw-top-0;
  @apply tw-w-full;
  @apply tw-z-50;
  @apply tw-bg-zinc-100;
  @apply tw-h-12;
  @apply lg:tw-h-auto;
}

#menu-toggle-checkbox ~ label ~ nav .navigation-items {
  overflow: hidden;
  transition: max-height 400ms ease-in;
}
#menu-toggle-checkbox:checked ~ label ~ nav .navigation-items {
  max-height: 90vh !important;
}

#menu-toggle-checkbox + label > span:first-child {
  width: 30px;
  height: 18px;
  position: relative;
}

#menu-toggle-checkbox + label > span > span {
  padding: 0;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  background-color: #353535;
}

#menu-toggle-checkbox + label > span > span:nth-child(1) {
  top: 0;
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

#menu-toggle-checkbox + label > span > span:nth-child(2) {
  top: 6.5px;
  width: 1px;
  transform: rotate(90deg);
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(3) {
  top: 6.5px;
  right: 0;
  width: 1px;
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(4) {
  bottom: 0;
  top: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(5) {
  bottom: 0;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
  top: 6.5px;
  background-color: transparent;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
  left: 0;
  width: 30px;
  transform: rotate(45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
  background-color: transparent !important;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
  bottom: 6.5px;
  background-color: transparent !important;
}

.nav-popup-menu::before {
  border: 8px solid transparent;
  border-bottom: 8px solid #3a424e;
  position: absolute;
  top: -15px;
  right: 13px;
  content: "";
}

.nav-popup-menu-inner {
  background-color: rgba(31, 41, 55, 0.95);
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .nav-popup-menu-inner {
    --uv-backdrop-blur: 12px;
    --uv-backdrop-saturate: 180%;
    -webkit-backdrop-filter: saturate(var(--uv-backdrop-saturate)) blur(var(--uv-backdrop-blur));
    backdrop-filter: saturate(var(--uv-backdrop-saturate)) blur(var(--uv-backdrop-blur));
    background-color: rgba(31, 41, 55, 0.85);
  }
}
