.popover {
  @apply dark:tw-shadow-none !important;
  @apply dark:tw-border-neutral-600 !important;
  @apply dark:tw-bg-transparent !important;
  @apply dark:tw-p-0 !important;
}

.popover-title {
  @apply dark:tw-bg-neutral-800 !important;
  @apply dark:tw-text-neutral-200 !important;
  @apply dark:tw-border-b-neutral-900 !important;
}

.popover-content {
  @apply dark:tw-rounded-l-md;
  @apply dark:tw-rounded-r-md;
  @apply dark:tw-bg-neutral-900 !important;
  @apply dark:tw-text-neutral-200 !important;
}
