@layer components {
  [popover] {
    /* override user-agent, content should define individual styles */
    padding: unset;
    &:not(:popover-open) {
      /* bootstrap defines display:block on nav elements and more */
      /* can be removed when bootstrap is obsolete */
      display: none;
    }
    /* by default, popover does not overflow. */
    /* as long as datepicker doesn't use popovers, we have to change this behaviour. */
    &:has(duet-date-picker) {
      overflow: visible;
    }
  }

  .popover,
  .popover-menu {
    /* ensure popover attribute */
    &:not([popover]) {
      outline: 3px solid lime;
    }
  }

  .popover-button,
  .popover-button-select {
    margin: 0;
    padding: 0;
    color: currentColor;
    background-color: transparent;
    font-size: inherit;
  }

  .popover-button-select {
    border: 1px solid lime;
  }

  .popover-menu {
    padding: 5px 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 1rem;
    @apply dark:tw-shadow-none;
    @apply dark:tw-border;
    @apply dark:tw-border-zinc-700;
    @apply dark:tw-bg-zinc-900;
    @apply dark:tw-backdrop-filter;
    @apply dark:tw-backdrop-blur-xl;
    @apply supports-backdrop-blur:dark:tw-bg-zinc-900/70;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;

      li {
        a {
          display: block;
          padding: 3px 1rem;
          font-weight: 400;
          line-height: 1.42857143;
          color: #333333;
          white-space: nowrap;

          @apply dark:tw-text-zinc-200;

          @apply hover:tw-bg-neutral-100;
          @apply focus:tw-bg-neutral-100;

          @apply dark:hover:tw-bg-zinc-700;
          @apply dark:hover:tw-text-zinc-200;
          @apply dark:focus:tw-bg-zinc-700;
          @apply dark:focus:tw-text-zinc-200;
        }
        &[role="separator"] {
          height: 1px;
          margin: 9px 0;
          background-color: #e5e5e5;
          @apply dark:tw-bg-zinc-700;
        }
      }
    }
  }

  .popover-menu.popover-menu-person-group {
    ul {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.25rem;
      row-gap: 0;

      li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        a {
          display: grid;
          grid-template-columns: subgrid;
          grid-column: 1 / -1;
          align-items: center;
          > svg {
            grid-column: 1;
          }
          > span {
            grid-column: 2;
          }
        }
      }
    }
  }
}
