.absence-type-list-head {
  display: none;
}

.absence-type-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:
    /* item row followed by empty row to use custom row-gap */
    /* since gap between label and translation has another value */
    [status-and-color] auto
    1rem
    [label] auto
    0.5rem
    [translation] auto
    1rem
    [apply] auto
    1rem
    [cancel] auto
    1rem
    [everyone] auto;
}

.absence-type-card:not(:first-child) {
  margin-top: 1rem;
}

.absence-type-card-cell_title {
  @apply text-base;
  @apply font-normal;
}

.absence-type-card label {
  line-height: 1.2;
}

.absence-type-card__status {
  grid-column: 1 / span 2;
  grid-row: status-and-color;
}

.absence-type-card__label,
.absence-type-card__label-translation {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @apply overflow-hidden;
}

.absence-type-card__label {
  grid-row: label;
  @apply font-bold;
  @apply text-lg;
}

.absence-type-card__label-translation {
  grid-row: translation;
}

.absence-type-card__label .absence-type-card-cell_title {
  @apply sr-only;
}

.absence-type-translation-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.absence-type-translation-inputs__element {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  @apply md:flex-row;
}

.absence-type-translation-inputs__element__input {
  @apply flex-1;
  @apply px-3;
  @apply py-2;
  @apply md:max-w-sm;
  @apply rounded-sm;
  @apply border;
}

.absence-type-translation-inputs__element__label {
  @apply whitespace-nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  font-weight: 600;
}

.absence-type-card__approve-to-apply {
  grid-column: 1 / span 3;
  grid-row: apply;
}

.absence-type-card__approve-to-cancel {
  grid-column: 1 / span 3;
  grid-row: cancel;
}

.absence-type-card__visible-to-everyone {
  grid-column: 1 / span 3;
  grid-row: everyone;
}

.absence-type-card__color {
  grid-column: 3;
  grid-row: status-and-color;
}

.absence-type-card__status,
.absence-type-card__approve-to-apply,
.absence-type-card__approve-to-cancel,
.absence-type-card__visible-to-everyone,
.absence-type-card__color {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.absence-type-card__status,
.absence-type-card__approve-to-apply,
.absence-type-card__approve-to-cancel,
.absence-type-card__visible-to-everyone {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.absence-type-card__color {
  justify-content: flex-end;
}

@variant md {
  .absence-type-list-head {
    z-index: 1; /* place above color picker */
    position: sticky;
    top: var(--uv-header-height);
    padding: 0 1rem;
    @apply bg-white;
    @apply dark:bg-zinc-900;
    @apply font-bold;
    @apply text-sm;
  }

  .absence-type-list-head,
  .absence-type-card {
    display: grid;
    grid-template-columns: 2.5rem 1fr 10rem 10rem 7rem 4rem;
    grid-template-rows: auto;
    column-gap: 1rem;
  }

  .absence-type-card {
    @apply transition-colors;
  }

  .absence-type-card:not(:first-child) {
    margin-top: 0.25rem;
  }

  .absence-type-card[data-enabled="false"] {
    @apply text-zinc-500;
    @apply dark:text-zinc-300;
  }

  .absence-type-card[data-enabled="false"]:hover {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .absence-type-card[data-enabled="true"] {
    @apply text-blue-900;
    @apply bg-blue-50/75;
    @apply dark:text-zinc-300;
    @apply dark:bg-zinc-800/75;
  }

  .absence-type-card[data-enabled="true"]:hover {
    @apply bg-blue-100/70;
    @apply dark:bg-zinc-800/60;
  }

  .absence-type-card-cell_title {
    @apply sr-only;
  }

  .absence-type-card__status {
    grid-column: 1;
    grid-row: 1;
  }

  .absence-type-card__status .checkbox-switch {
    display: flex;
    align-items: center;
  }

  .absence-type-card__label,
  .absence-type-card__label-translation {
    grid-column: 2;
    grid-row: 1;
    @apply font-normal;
    @apply text-base;
  }

  .absence-type-card__label-translation {
    grid-column: 2 / span 5;
    grid-row: 2;
  }

  .absence-type-card__label .absence-type-card-cell_title {
    @apply not-sr-only;
  }

  .absence-type-translation-inputs {
    gap: 0.25rem;
  }

  .absence-type-translation-inputs__element__label {
    font-weight: normal;
  }

  .absence-type-translation-inputs__element__input {
    @apply transition-colors;
    @apply px-2;
    @apply py-1;
  }

  .absence-type-card__approve-to-apply {
    grid-column: 3;
    grid-row: 1;
  }

  .absence-type-card__approve-to-cancel {
    grid-column: 4;
    grid-row: 1;
  }

  .absence-type-card__visible-to-everyone {
    grid-column: 5;
    grid-row: 1;
  }

  .absence-type-card__color {
    grid-column: 6;
    grid-row: 1;
  }

  .absence-type-card__status,
  .absence-type-card__approve-to-apply,
  .absence-type-card__approve-to-cancel,
  .absence-type-card__visible-to-everyone {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@variant lg {
  .absence-type-list-head,
  .absence-type-card {
    column-gap: 2rem;
  }
}
