.absence-type-list {
  position: relative;
  @apply tw-space-y-1;
}

.absence-type-list-head {
  @apply tw-hidden;
  @apply sm:tw-sticky;
  z-index: 1; /* color-picker should not cover the sticky header */
  top: 3.25rem; /* header height */
  @apply tw-bg-white;
  @apply dark:tw-bg-zinc-900;
  @apply tw-py-1;
  @apply tw-px-4;
  @apply tw-text-sm;
  @apply tw-font-bold;
}

.absence-type-cell-title {
  @apply tw-py-1;
  @apply tw-pl-2;
  @apply tw-pr-4;
  @apply tw-text-sm;
  @apply tw-font-medium;
  @apply tw-block;
  @apply tw-truncate;
  width: 40%;
}

@media only screen and (max-width: 639px) {
  .absence-type-list {
    @apply tw-space-y-4;
  }

  .absence-type-list-item {
    @apply tw-rounded;
    @apply tw-border;
    @apply tw-p-2;
    @apply tw-transition-colors;
    @apply tw-bg-white;
    @apply dark:tw-border-zinc-800;
    @apply dark:tw-bg-zinc-800;
    @apply dark:tw-bg-opacity-20;
  }

  .absence-type-list-item[data-enabled="true"] {
    @apply tw-border-blue-100;
    @apply tw-bg-blue-50;
    @apply tw-bg-opacity-20;
    @apply dark:tw-border-zinc-800;
    @apply dark:tw-bg-zinc-800;
    @apply dark:tw-bg-opacity-20;
  }

  .absence-type-list-item .absence-type-cell-text {
    @apply tw-text-black-almost;
    @apply dark:tw-text-zinc-100;
  }

  .absence-type-list-item[data-enabled="false"] .absence-type-cell-text {
    @apply tw-text-opacity-75;
  }
}

@screen sm {
  .absence-type-list-head,
  .absence-type-list-item {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2.5rem 1fr 1fr 4rem 4rem 4rem;
    @apply tw-py-1;
    @apply tw-px-2;
  }

  .absence-type-list-item {
    @apply tw-rounded;
    @apply tw-transition-colors;
  }

  .absence-type-list-item[data-enabled="false"] {
    @apply tw-text-zinc-500;
    @apply dark:tw-text-zinc-300;
  }

  .absence-type-list-item[data-enabled="false"]:hover {
    @apply tw-bg-zinc-100;
    @apply dark:tw-bg-zinc-800;
  }

  .absence-type-list-item[data-enabled="true"] {
    @apply tw-text-blue-900;
    @apply tw-bg-blue-50;
    @apply dark:tw-text-zinc-300;
    @apply dark:tw-bg-zinc-800;
    @apply tw-bg-opacity-75;
  }

  .absence-type-list-item[data-enabled="true"]:hover {
    @apply tw-bg-blue-100;
    @apply dark:tw-bg-zinc-700;
    @apply tw-bg-opacity-70;
  }

  .absence-type-cell-title {
    display: none;
  }
}

@screen md {
  .absence-type-list-head,
  .absence-type-list-item {
    grid-column-gap: 3rem;
    grid-template-columns: 2.5rem 1fr 1fr 5rem 4rem 4rem;
  }
}

@media only screen and (min-width: 992px) {
  /* bootstrap view breakpoint. list is stretched to full width now */

  .absence-type-list-head,
  .absence-type-list-item {
    @apply tw-py-1;
    @apply tw-px-4;
    grid-template-columns: 2.5rem 1fr 1fr 10rem 7rem 4rem;
  }
}

@screen lg {
  .absence-type-list-head {
    top: 3rem; /* header height */
  }

  .absence-type-list-head,
  .absence-type-list-item {
    grid-column-gap: 4rem;
  }
}
