.sick-note-extension-preview-container {
  container-type: inline-size;
}

.sick-note-extension-preview {
  @apply flex;
  @apply flex-col;
  @apply gap-1;
  @apply max-w-3xl;
}

.sick-note-extension-preview-card {
  @apply flex-1;
  @apply px-4;
  @apply py-3;
  @apply rounded-lg;
  @apply border-2;
  @apply border-zinc-200;
  @apply dark:border-zinc-800;
}

.sick-note-extension-preview-card_inner {
  @apply mt-4;
  @apply gap-x-8;
  @apply gap-y-1;
}

.sick-note-extension-preview-card_inner_label {
  @apply mt-2;
  @apply block;
  @apply text-sm;
}

.sick-note-extension-preview-card_inner_date {
  @apply font-semibold;
}

.sick-note-extension-preview-card_inner_workdays {
  @apply mt-4;
  @apply text-sm;
}

.sick-note-extension-preview-card--highlighted {
  @apply border-blue-400;
  @apply dark:border-blue-400;
}

.sick-note-extension-preview-arrow {
  @apply self-center;
  @apply rotate-90;
}

@container (min-width: 673px) {
  .sick-note-extension-preview {
    @apply flex-row;
    @apply gap-4;
  }

  .sick-note-extension-preview-arrow {
    @apply rotate-0;
  }
}
