/**************************************************************************
  TEXT COLORS
**************************************************************************/

.fa.positive {
  color: #43c83c !important;
}

.fa.negative {
  color: #e94b3b !important;
}

/**************************************************************************
  COLORS FOR APPLICATION FOR LEAVE STATES
**************************************************************************/

.state {
  color: #6f6f6f;
  @apply tw:dark:text-zinc-400 !important;
}

.state.pull-right {
  margin-right: 20px;
}

.state.WAITING {
  color: #6f6f6f !important;
  @apply tw:dark:text-zinc-400 !important;
}

.state.ALLOWED {
  color: #43c83c !important;
  @apply tw:dark:text-green-500 !important;
}

.state.TEMPORARY_ALLOWED {
  color: #6f6f6f !important;
  @apply tw:dark:text-zinc-500 !important;
}

.state.REJECTED {
  color: #fa3031 !important;
  @apply tw:dark:text-red-400 !important;
}

.state.CANCELLED {
  color: #3b3b3b !important;
  @apply tw:dark:text-zinc-600 !important;
}
