caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

/**************************************************************************

  TABLES

**************************************************************************/

table td {
  /* allow children to fill full height with `height: 100%` */
  /* note: this does not work in firefox. use `min-height` on children as 'workaround' additionally to `height` */
  height: 0;
}

/**************************************************************************
  ACTIVE/INACTIVE ROWS
**************************************************************************/

tr.active {
  /* OK */
}

tr.inactive td > * {
  opacity: 0.4;
}

/**************************************************************************
  LIST TABLE
**************************************************************************/

.list-table {
  width: 100%;
  margin-bottom: 27px;
}

.list-table.list-table-bt-0 tr:first-child td {
  border-top: none;
}

.list-table td {
  vertical-align: middle !important;
  padding: 12px;
  border-top: 1px solid #dddddd;
  @apply dark:border-zinc-700;
}

.list-table td.number {
  padding-left: 24px;
}

.list-table tr:last-child td {
  border-bottom: 1px solid #dddddd;
  @apply dark:border-zinc-700;
}

.list-table th {
  padding: 8px;
}

.list-table--second-row {
  margin: 10px 0 0 0;
}

/**************************************************************************
  STRIPED TABLE
**************************************************************************/

.striped-table tr td {
  @apply bg-white;
  @apply dark:bg-zinc-900;
}

.striped-table tr:nth-child(even) td {
  @apply bg-zinc-50;
  @apply dark:bg-zinc-800;
}

/**************************************************************************
  BORDERED TABLE
**************************************************************************/

.bordered-table tbody {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  @apply dark:border-neutral-700;
}

/**************************************************************************
  SELECTABLE TABLE
**************************************************************************/

.hoverable-table tr:hover td {
  background-color: #fafafa;
  @apply dark:bg-zinc-800;
}

.selectable-table tr:hover td {
  cursor: pointer;
  background-color: #fafafa;
  @apply dark:bg-zinc-800;
}

.hoverable-table tr:hover .action-link,
.selectable-table tr:hover .action-link {
  /*TODO @apply text-opacity-75!;*/
}
.hoverable-table tr:hover .action-link:hover,
.selectable-table tr:hover .action-link:hover {
  /*TODO @apply text-opacity-100!;*/
}

/**************************************************************************
  TABLE SORTER
**************************************************************************/

table thead th[data-sortable] {
  color: #2a6496;
  font-weight: normal;
  @apply dark:text-sky-500;
}

table thead th[data-sortable]:hover {
  cursor: pointer;
  color: #1896db;
  @apply dark:text-sky-400;
}

.tablesorter-header-inner {
  display: flex;
  align-items: center;
}

.tablesorter-header-inner:after {
  content: "";
  margin-left: 0.5rem;
  background-size: cover;
  width: 16px;
  height: 16px;
  background-image: url("../icons/selector.svg");
}

@variant dark {
  .tablesorter-header-inner:after {
    background-image: url("../icons/selector-dark.svg");
  }
}

th[data-sorted][data-sort-direction="desc"] .tablesorter-header-inner:after {
  background-image: url("../icons/chevron-down.svg");
}

@variant dark {
  th[data-sorted][data-sort-direction="desc"] .tablesorter-header-inner:after {
    background-image: url("../icons/chevron-down-dark.svg");
  }
}

th[data-sorted][data-sort-direction="asc"] .tablesorter-header-inner:after {
  background-image: url("../icons/chevron-up.svg");
}

@variant dark {
  th[data-sorted][data-sort-direction="asc"] .tablesorter-header-inner:after {
    background-image: url("../icons/chevron-up-dark.svg");
  }
}

/**************************************************************************
  CONTROL HEIGHT OF TABLE CELL CONTENT
**************************************************************************/

td.halves h4 {
  margin-top: 5px;
}

/**************************************************************************
  Absence Type Settings Table
**************************************************************************/

table.absence-type-settings-table thead {
  z-index: 1; /* color-picker should not cover the sticky header */
  position: sticky;
  top: var(--uv-header-height);
  @apply bg-white;
  @apply dark:bg-zinc-900;
}

@variant sm {
  table.absence-type-settings-table thead {
    top: 3rem; /* header height */
  }
}

/* kudos https://css-tricks.com/responsive-data-tables/ */
@media only screen and (max-width: 639px) {
  table.absence-type-settings-table {
    display: block;

    /* Force table to not be like tables anymore */
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      height: inherit;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody {
      tr {
        @apply rounded-sm;
        @apply border;
        @apply p-2;
        @apply transition-colors;
        @apply bg-white;
        @apply dark:border-zinc-800;
        @apply dark:bg-zinc-800/20;
      }

      tr:not(:last-child) {
        @apply mb-4;
      }

      tr[data-enabled="true"] {
        @apply border-blue-100;
        @apply bg-blue-50/20;
        @apply dark:border-zinc-800;
        @apply dark:bg-zinc-800/20;
      }

      td {
        /* Behave  like a "row" */
        @apply px-2;
        @apply py-1;
        display: flex;
        align-items: center;
        @apply text-base;
        @apply text-black-almost;
        @apply dark:text-zinc-100;
      }

      tr[data-enabled="false"] td {
        @apply text-black-almost/75;
        @apply dark:text-zinc-100/75;
      }

      td::before {
        /* Now like a table header */
        width: 40%;
        white-space: nowrap;
        @apply pr-4;
        @apply font-medium;
        @apply text-zinc-800;
        @apply text-sm;
        @apply truncate;
      }

      @variant dark {
        td::before {
          @apply text-zinc-200;
        }
      }

      /*
      Label the data
      */
      td::before {
        content: attr(data-table-head-text);
      }
    }
  }
}

@variant sm {
  table.absence-type-settings-table tr {
    @apply transition-colors;
  }

  table.absence-type-settings-table tr[data-enabled="false"] {
    @apply text-zinc-500;
    @apply dark:text-zinc-300;
  }

  table.absence-type-settings-table tr[data-enabled="false"]:hover {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  table.absence-type-settings-table tr[data-enabled="true"] {
    @apply text-blue-900;
    @apply bg-blue-50/75;
    @apply dark:text-zinc-300;
    @apply dark:bg-zinc-800/75;
  }

  table.absence-type-settings-table tr[data-enabled="true"]:hover {
    @apply bg-blue-100/70;
    @apply dark:bg-zinc-700/70;
  }

  table.absence-type-settings-table {
    border-collapse: separate;
    border-spacing: 0 0.25rem;

    thead {
      th {
        @apply text-sm;
        @apply px-4;
        @apply py-1;
      }

      th:first-of-type {
        @apply pr-4;
      }
    }

    tbody {
      td {
        @apply mb-2;
        @apply py-1;
      }

      td:first-of-type {
        @apply rounded-l;
        @apply pl-4;
        @apply pr-4;
      }
      td:not(:first-of-type):not(:last-of-type) {
        @apply pl-4;
        @apply pr-8;
      }
      td:last-of-type {
        @apply rounded-r;
        @apply pl-4;
        @apply pr-4;
      }
    }
  }
}

@variant md {
  table.absence-type-settings-table tbody td:not(:first-of-type):not(:last-of-type) {
    @apply pr-16;
  }
}
