.uv-tooltip-anchor--active {
  anchor-name: --uv-tooltip-anchor;
}

[role="tooltip"][popover] {
  --uv-tooltip-opacity-duration: 150ms;

  /* native popover reset */
  inset: auto;
  margin: 0;

  position-anchor: --uv-tooltip-anchor;
  position-area: top;
  margin-bottom: --spacing(1);

  padding: --spacing(1) --spacing(2);
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  text-align: center;
  border-radius: var(--radius-md);

  opacity: 0;
  transition: opacity var(--uv-tooltip-opacity-duration);

  &:popover-open {
    opacity: 1;
  }

  &:popover-open.uv-tooltip--is-hiding {
    --uv-tooltip-opacity-duration: 100ms;
    opacity: 0;
  }
}

@starting-style {
  [role="tooltip"][popover]:popover-open {
    opacity: 0;
  }
}
