.ui-timepicker-wrapper {
  box-shadow: none !important;
  @apply tw:dark:border !important;
  @apply tw:dark:border-zinc-700 !important;
  @apply tw:dark:bg-zinc-900 !important;
  @apply tw:dark:rounded-sm !important;
  @apply tw:dark:mt-2 !important;
  @apply tw:dark:backdrop-filter !important;
  @apply tw:dark:backdrop-blur-xl !important;
  @apply tw:dark:supports-backdrop-blur:bg-zinc-900/70 !important;
}

.ui-timepicker-am,
.ui-timepicker-pm {
  @apply tw:px-4 !important;
  @apply tw:dark:text-zinc-200 !important;
  @apply tw:dark:hover:bg-zinc-700 !important;
  @apply tw:dark:hover:text-zinc-200 !important;
}

.ui-timepicker-am.ui-timepicker-selected,
.ui-timepicker-am.ui-timepicker-selected:hover,
.ui-timepicker-am.ui-timepicker-selected:focus,
.ui-timepicker-pm.ui-timepicker-selected,
.ui-timepicker-pm.ui-timepicker-selected:hover,
.ui-timepicker-pm.ui-timepicker-selected:focus {
  @apply tw:dark:bg-blue-600 !important;
}
