.ui-timepicker-wrapper {
  box-shadow: none !important;
  @apply dark:border!;
  @apply dark:border-zinc-700!;
  @apply dark:bg-zinc-900!;
  @apply dark:rounded-sm!;
  @apply dark:mt-2!;
  @apply dark:backdrop-filter!;
  @apply dark:backdrop-blur-xl!;
  @apply dark:supports-backdrop-blur:bg-zinc-900/70!;
}

.ui-timepicker-am,
.ui-timepicker-pm {
  @apply px-4!;
  @apply dark:text-zinc-200!;
  @apply dark:hover:bg-zinc-700!;
  @apply dark:hover:text-zinc-200!;
}

.ui-timepicker-am.ui-timepicker-selected,
.ui-timepicker-am.ui-timepicker-selected:hover,
.ui-timepicker-am.ui-timepicker-selected:focus,
.ui-timepicker-pm.ui-timepicker-selected,
.ui-timepicker-pm.ui-timepicker-selected:hover,
.ui-timepicker-pm.ui-timepicker-selected:focus {
  @apply dark:bg-blue-600!;
}
