.ui-timepicker-wrapper {
  box-shadow: none !important;
  @apply tw:dark:border!;
  @apply tw:dark:border-zinc-700!;
  @apply tw:dark:bg-zinc-900!;
  @apply tw:dark:rounded!;
  @apply tw:dark:mt-2!;
  @apply tw:dark:backdrop-filter!;
  @apply tw:dark:backdrop-blur-xl!;
  @apply tw:supports-backdrop-blur:dark:bg-zinc-900/70!;
}

.ui-timepicker-am,
.ui-timepicker-pm {
  @apply tw:px-4!;
  @apply tw:dark:text-zinc-200!;
  @apply tw:dark:hover:bg-zinc-700!;
  @apply tw:dark:hover:text-zinc-200!;
}

.ui-timepicker-am.ui-timepicker-selected,
.ui-timepicker-am.ui-timepicker-selected:hover,
.ui-timepicker-am.ui-timepicker-selected:focus,
.ui-timepicker-pm.ui-timepicker-selected,
.ui-timepicker-pm.ui-timepicker-selected:hover,
.ui-timepicker-pm.ui-timepicker-selected:focus {
  @apply tw:dark:bg-blue-600!;
}
