.vacationOverview-day {
  background: #e5e5e5;
  color: #6f6f6f;
}

.vacationOverview-day-today-legend {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.5);
}

th.vacationOverview-day-today {
  --vacation-overview-rows: 1;
  position: relative;
}
th.vacationOverview-day-today::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  @apply tw-border;
  @apply tw-border-white;
}
th.vacationOverview-day-today::after {
  content: "";
  border-width: 3px;
  @apply tw-border-gray-500;
  @apply tw-border-opacity-40;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* td elements have a border of 1px -> add it to the height */
  height: calc((var(--vacation-overview-rows) * 100%) + (var(--vacation-overview-rows) * 1px));
}

.vacationOverview-day-public-holiday,
.vacationOverview-day-weekend {
  color: #fff;
  background: #b5d0df;
}

.vacationOverview-day-public-holiday-half-day-noon-headline {
  color: #fff;
  background: linear-gradient(90deg, #ffffff 50%, #b5d0df 50%);
}

.vacationOverview-day-public-holiday-half-day-morning-headline {
  color: #fff;
  background: linear-gradient(90deg, #b5d0df 50%, #ffffff 50%);
}

.vacationOverview-day-public-holiday-half-day-noon {
  color: #fff;
  background: linear-gradient(90deg, #e5e5e5 50%, #b5d0df 50%);
}

.vacationOverview-day-public-holiday-half-day-morning {
  color: #fff;
  background: linear-gradient(90deg, #b5d0df 50%, #e5e5e5 50%);
}

.vacationOverview-legend-colorbox {
  width: 23px;
  border: 3pt solid #ffffff;
}

.vacationOverview-legend-text {
  padding: 2px 10px;
}

.vacationOverview-day-absence-status {
  background: #ffeda0;
}

.vacationOverview-day-absence-status-morning {
  background: linear-gradient(90deg, #ffeda0 50%, #e5e5e5 50%);
}

.vacationOverview-day-absence-status-noon {
  background: linear-gradient(-90deg, #ffeda0 50%, #e5e5e5 50%);
}

.vacationOverview-day-personal-holiday-status-ALLOWED {
  background: #ffeda0;
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning {
  background: linear-gradient(90deg, #ffeda0 50%, #e5e5e5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(-90deg, #ffeda0 50%, #e5e5e5 50%);
}

.vacationOverview-day-personal-holiday-status-WAITING {
  background: #ffe165;
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning {
  background: linear-gradient(90deg, #ffe165 50%, #e5e5e5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(-90deg, #ffe165 50%, #e5e5e5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: #ffeda0;
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: #ffe165;
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(90deg, #ffeda0 50%, #ffe165 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(90deg, #ffe165 50%, #ffeda0 50%);
}

.vacationOverview-day-sick-note {
  background: #ffc5bf;
}

.vacationOverview-day-sick-note-half-day-morning {
  background: linear-gradient(90deg, #ffc5bf 50%, #e5e5e5 50%);
}

.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(-90deg, #ffc5bf 50%, #e5e5e5 50%);
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-sick-note-half-day-noon {
  background: #ffc5bf;
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(90deg, #ffc5bf 50%, #ffe165 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(90deg, #ffe165 50%, #ffc5bf 50%);
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(90deg, #ffc5bf 50%, #ffeda0 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(90deg, #ffeda0 50%, #ffc5bf 50%);
}

.vacationOverview-day-item {
  padding: 12px;
  cursor: default;
  color: #6f6f6f;
}

.list-table th {
  border: 1px solid #fff;
}

.vacationOverviewLegend {
  margin-top: 15px;
}

.vacationOverview-table th,
.vacationOverview-table td {
  color: #444444 !important;
  border: 1px solid #ffffff;
  font-weight: normal;
}

.vacationOverview-table td {
  text-align: center;
}

.vacationOverview-table thead th {
  padding: 8px;
  cursor: default !important; /* override $.tablesorter */
}

.vacationOverview-table tbody th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 16px;
}

@media print {
  .vacationOverview-table th,
  .vacationOverview-table td {
    border: 1px solid #e2e8f0 !important;
  }

  .vacationOverview-table thead th {
    font-weight: 600 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table tbody th {
    font-weight: 300 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table-legend th {
    text-align: center;
    padding: 0 12pt;
    font-weight: 300 !important;
  }

  .vacationOverview-day-personal-holiday-status-WAITING {
    color: #b7791f !important;
    background: #ffe165 !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-WAITING-morning {
    color: #b7791f !important;
    background: linear-gradient(90deg, #ffe165 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
    color: #b7791f !important;
    background: linear-gradient(-90deg, #ffe165 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-personal-holiday-status-ALLOWED {
    color: #b7791f !important;
    background: #ffeda0 !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning {
    color: #b7791f !important;
    background: linear-gradient(90deg, #ffeda0 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
    color: #b7791f !important;
    background: linear-gradient(-90deg, #ffeda0 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-sick-note {
    color: #e53e3e !important;
    background: #ffc5bf !important;
  }

  .vacationOverview-day-sick-note-half-day-morning {
    color: #e53e3e !important;
    background: linear-gradient(90deg, #ffc5bf 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-sick-note-half-day-noon {
    color: #e53e3e !important;
    background: linear-gradient(-90deg, #ffc5bf 50%, #ffffff 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
    background: #ffeda0 !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
    background: #ffe165 !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
    background: linear-gradient(90deg, #ffeda0 50%, #ffe165 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
    background: linear-gradient(90deg, #ffe165 50%, #ffeda0 50%) !important;
  }

  .vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-sick-note-half-day-noon {
    background: #ffc5bf !important;
  }

  .vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
    background: linear-gradient(90deg, #ffc5bf 50%, #ffe165 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-sick-note-half-day-noon {
    background: linear-gradient(90deg, #ffe165 50%, #ffc5bf 50%) !important;
  }

  .vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
    background: linear-gradient(90deg, #ffc5bf 50%, #ffeda0 50%) !important;
  }

  .vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-sick-note-half-day-noon {
    background: linear-gradient(90deg, #ffeda0 50%, #ffc5bf 50%) !important;
  }
}
