<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{sicknote.extend.header.title}">Krankmeldung erweitern</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/sick-note-extend.css}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.personId = /*[[${sickNotePersonId}]]*/ "personId";
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_note_extend.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_note_extend.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 md:tw-px-0 lg:tw-px-12 xl:tw-px-0">
        <h1 th:text="#{sicknote.extend.title}">Weiter Krank melden</h1>
        <p
          class="tw-m-0 tw-mt-8"
          th:text="#{sicknote.extend.paragraph.current(${#temporals.format(sickNote.startDate, 'FULL')}, ${sickNoteEndDateWord})}"
        >
          Du hast eine Krankmeldung von <em>xx.xx.xxxx</em> bis <em>gestern</em>.
        </p>
        <p class="tw-m-0 tw-mt-0.5" th:text="#{sicknote.extend.paragraph.duration}">
          Wie lange bist du vorraussichtlich noch krank?
        </p>
        <form method="post" action="#" th:action="@{/web/sicknote/extend}" class="tw-mt-8" th:bind="${sickNote}">
          <div class="extend-action-grid tw-max-w-3xl">
            <button
              type="submit"
              name="endDate"
              th:value="${extensionDatePlusOne}"
              class="button"
              th:text="#{sicknote.extend.duration.plus-workday.label(1)}"
            >
              + 1 Tag
            </button>
            <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${plusOneWorkdayWord})}">
              einschließlich heute
            </span>
            <button
              type="submit"
              name="endDate"
              th:value="${extensionDatePlusTwo}"
              class="button"
              th:text="#{sicknote.extend.duration.plus-workday.label(2)}"
            >
              + 2 Tage
            </button>
            <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${plusTwoWorkdaysWord})}">
              einschließlich morgen
            </span>
            <button
              type="submit"
              name="endDate"
              th:value="${extensionDateEndOfWeek}"
              class="button"
              th:text="#{sicknote.extend.duration.end-of-week.label}"
            >
              Ende der Woche
            </button>
            <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${untilEndOfWeekWord})}">
              einschließlich xxx
            </span>
            <input
              type="date"
              id="extend-to-date-input"
              name="endDate"
              class="form-control"
              th:value="${today}"
              th:data-iso-value="${#temporals.format(today, 'yyyy-MM-dd')}"
            />
            <label for="extend-to-date-input" th:text="#{sicknote.extend.duration.custom.label}"> Anderer Tag </label>
          </div>
          <div class="tw-mt-8">
            <div class="tw-flex tw-items-center tw-gap-2">
              <input
                type="checkbox"
                id="aub-input"
                name="isAub"
                class="uv-checkbox tw-shrink-0 tw-m-0"
                th:checked="${sickNote.isAub}"
              />
              <label for="aub-input" class="tw-m-0 tw-font-normal tw-text-base" th:text="#{sicknote.extend.aub.label}">
                Die Krankheit wurde durch einen Arzt festgestellt (AU-Bescheinigung vorhanden)
              </label>
            </div>
          </div>
          <div class="tw-mt-8">
            <button
              type="submit"
              class="button-main-green tw-w-full sm:tw-w-56"
              th:text="#{sicknote.extend.form.submit.text}"
            >
              Weiter Krank melden
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
