<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{sicknotes.statistics.header.title(${statistics.year})}">Krankmeldungsstatistik</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/sick-note-statistics.css}" />
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_notes_statistics.js')}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.sicknoteStatistic = {};
        window.sicknoteStatistic.xaxisLabels = [
          /*[[#{month.january}]]*/ "Januar",
          /*[[#{month.february}]]*/ "Februar",
          /*[[#{month.march}]]*/ "März",
          /*[[#{month.april}]]*/ "April",
          /*[[#{month.may}]]*/ "Mai",
          /*[[#{month.june}]]*/ "Juni",
          /*[[#{month.july}]]*/ "Juli",
          /*[[#{month.august}]]*/ "August",
          /*[[#{month.september}]]*/ "September",
          /*[[#{month.october}]]*/ "Oktober",
          /*[[#{month.november}]]*/ "November",
          /*[[#{month.december}]]*/ "Dezember",
        ];
        window.sicknoteStatistic.yaxisTitle = /*[[#{sicknotes.statistics.chart.y-axis-label}]]*/ "Tage";
        window.sicknoteStatistic.dataseriesNames = [
          /*[[#{sicknotes.statistics.chart.sick-days.title}]]*/ "Krank",
          /*[[#{sicknotes.statistics.chart.sick-days.child.title}]]*/ "Kind-Krank",
        ];
        window.sicknoteStatistic.dataseriesValues = /*[[${sickNoteGraphStatistic.dataSeries}]]*/ [];
        window.sicknoteStatistic.atLeastOneSickNotePercent = /*[[${statistics.atLeastOneSickNotePercent}]]*/ "0";
        /*]]>*/
      </script>
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_notes_statistics.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="max-w-6xl mx-auto px-4 lg:px-12 xl:px-1.5">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::absences-statistics-heading-body}, ~{::absences-statistics-heading-actions})}"
        >
          <th:block th:ref="absences-statistics-heading-body">
            <h1 th:text="#{sicknotes.statistics.title}">Statistik für das Jahr</h1>
            <div
              th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/sicknote/statistics?year=|, selectedYear=${statistics.year})}"
            ></div>
          </th:block>
          <th:block th:ref="absences-statistics-heading-actions">
            <a href="#" th:replace="~{fragments/print::button}"></a>
          </th:block>
        </div>

        <div>
          <div class="mt-8 flex flex-col md:flex-row justify-between gap-1">
            <h2 class="m-0 font-bold text-base" th:text="#{sicknotes.statistics.chart.title}">
              Verteilung der Krankheitstage
            </h2>
            <div class="text-sm md:font-bold md:text-right md:px-3">
              <th:block th:text="#{filter.validity}"></th:block>
              <th:block th:text="${#temporals.format(statistics.asOfDate, 'dd.MM.yyyy')}"></th:block>
            </div>
          </div>

          <div class="mt-4 sicknote-statistics-chart-container">
            <div id="sicknote-statistic-chart" class="sicknote-statistics-chart"></div>
          </div>
        </div>

        <div class="mt-8 statistic-summary-container">
          <h3 class="statistic-summary-container-title" th:text="#{sicknotes.statistics.summary.days-per-year.title}">
            Krankheitstage
          </h3>
          <p class="text-sm" th:text="#{sicknotes.statistics.summary.days-per-year.description(${statistics.year})}">
            Alle Krankheitstage in diesem Jahr zusammen gezählt.
          </p>
          <div class="statistic-summary-card-box">
            <p class="statistic-summary-card">
              <span
                class="statistic-summary-card__label"
                th:text="#{sicknotes.statistics.summary.days-per-year.total.label}"
              >
                Gesamt Anzahl Tage
              </span>
              <span class="statistic-summary-card__content">
                <span
                  th:with="value=${statistics.totalNumberOfSickDaysAllCategories}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  1337
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-year.sick-note.label}">
                  Krank Anzahl Tage
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span
                  th:with="value=${statistics.totalNumberOfSickDays}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  42
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-child-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-year.sick-note-child.label}">
                  Kind-Krank Anzahl Tage
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span
                  th:with="value=${statistics.totalNumberOfChildSickDays}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  21
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="mt-8 statistic-summary-container">
          <h3 class="statistic-summary-container-title" th:text="#{sicknotes.statistics.summary.days-per-person.title}">
            Krankheitstage pro Mitarbeitende
          </h3>
          <p
            class="text-sm m-0 mt-0.5"
            th:text="#{sicknotes.statistics.summary.days-per-person.description(${statistics.year})}"
          >
            Anzahl der Tage die deine Mitarbeitenden im Durchschnitt krank sind.
          </p>
          <div class="statistic-summary-card-box">
            <p class="statistic-summary-card">
              <span
                class="statistic-summary-card__label"
                th:text="#{sicknotes.statistics.summary.days-per-person.total.label}"
              >
                Durchschnittliche Anzahl Tage
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfDiseasePerPerson}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  1337
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-person.sick-note.label}">
                  durchschnittliche Anzahl Tage: Krank
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfDiseasePerPersonAndSick}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  42
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-child-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-person.sick-note-child.label}">
                  durchschnittliche Anzahl Tage: Kind-Krank
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfDiseasePerPersonAndChildSick}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  21
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="mt-8 statistic-summary-container">
          <h3
            class="statistic-summary-container-title"
            th:text="#{sicknotes.statistics.summary.days-per-sicknote.title}"
          >
            Krankheitstage pro Mitarbeitende Dauer einer Krankmeldung
          </h3>
          <p
            class="text-sm mt-0"
            th:text="#{sicknotes.statistics.summary.days-per-sicknote.description(${statistics.year})}"
          >
            Anzahl der Tage die deine Mitarbeitenden im Durchschnitt je Krankmeldung abwesend sind.
          </p>
          <div class="statistic-summary-card-box">
            <p class="statistic-summary-card">
              <span
                class="statistic-summary-card__label"
                th:text="#{sicknotes.statistics.summary.days-per-sicknote.total.label}"
              >
                Gesamt durchschnittliche Dauer
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfAllSickNotes}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  1337
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-sicknote.sick-note.label}">
                  Krank durchschnittliche Dauer
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfSickNote}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  42
                </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-child-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.days-per-sicknote.sick-note-child.label}">
                  Kind-Krank durchschnittliche Dauer
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span class="text-lg">ø</span>
                <span
                  th:with="value=${statistics.averageDurationOfChildSickNote}"
                  th:text="${#numbers.formatDecimal(value, 1, (value % 1 == 0 ? 0 : 2))}"
                >
                  21
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="mt-12 statistic-summary-container">
          <h3 class="statistic-summary-container-title" th:text="#{sicknotes.statistics.summary.sicknotes.title}">
            Krankmeldungen
          </h3>
          <p class="text-sm" th:text="#{sicknotes.statistics.summary.sicknotes.description}">
            Detailliertere Statistiken zur Anzahl von Krankmeldungen.
          </p>
          <div class="statistic-summary-card-box">
            <p class="statistic-summary-card">
              <span
                class="statistic-summary-card__label flex"
                th:text="#{sicknotes.statistics.summary.sicknotes.total.label}"
              >
                Anzahl aller Krankmeldungen
              </span>
              <span class="statistic-summary-card__content">
                <span th:text="${statistics.totalNumberOfAllSickNotes}"> 8 </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.sicknotes.sick-note.label}">
                  Anzahl Krankmeldungen
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span th:text="${statistics.totalNumberOfSickNotes}"> 3 </span>
              </span>
            </p>
            <p class="statistic-summary-card">
              <span class="statistic-summary-card__label">
                <span
                  class="inline-block h-3 w-3 rounded-xs mr-2"
                  style="background-color: var(--sick-note-child-color)"
                ></span>
                <th:block th:text="#{sicknotes.statistics.summary.sicknotes.sick-note-child.label}">
                  Anzahl Kind-Krankmeldungen
                </th:block>
              </span>
              <span class="statistic-summary-card__content">
                <span th:text="${statistics.totalNumberOfChildSickNotes}"> 5 </span>
              </span>
            </p>
          </div>
          <div class="statistic-summary-card-box">
            <div class="statistic-summary-card">
              <div class="statistic-summary-card__label">
                <div th:text="#{sicknotes.statistics.summary.sicknotes.at-least-one.label}">
                  Mindestens eine Krankmeldung
                </div>
              </div>
              <div class="statistic-summary-card__content">
                <div class="flex items-center gap-4 text-base font-normal">
                  <div id="sicknote-statistic-verteilung"></div>
                  <div class="flex-1 flex flex-col gap-1 text-sm">
                    <p
                      class="m-0"
                      th:text="#{sicknotes.statistics.summary.sicknotes.at-least-one.with(${statistics.numberOfPersonsWithMinimumOneSickNote})}"
                    >
                      4 Mitarbeitende mit mindestens einer Krankmeldung
                    </p>
                    <p
                      class="m-0"
                      th:text="#{sicknotes.statistics.summary.sicknotes.at-least-one.without(${statistics.numberOfPersonsWithoutSickNote})}"
                    >
                      10 Mitarbeitende ohne Krankmeldung
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
