<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{sicknotes.header.title}">Krankmeldungen</title>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_notes.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_notes.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0" data-turbo="true">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::sick-notes-heading-body}, ~{::sick-notes-heading-actions})}"
      >
        <th:block th:ref="sick-notes-heading-body">
          <h1 th:text="#{sicknotes.title}">Krankmeldungen</h1>
        </th:block>
        <th:block th:ref="sick-notes-heading-actions">
          <div class="tw-flex tw-flex-col sm:tw-flex-row">
            <a
              th:href="@{/web/absences}"
              class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
            >
              <svg th:replace="~{icon/calendar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
              <span th:text="#{action.applications.absences_overview}"></span>
            </a>
            <a
              th:href="@{/web/sicknote/statistics}"
              class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row"
              th:data-title="#{action.sicknotes.statistics}"
            >
              <svg th:replace="~{icon/presentation-chart-bar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
              <span th:text="#{action.sicknotes.statistics}"></span>
            </a>
            <div
              th:replace="~{fragments/details-dropdown::details-dropdown(
                summary=~{::download-dropdown-summary}, content=~{::download-dropdown-content}, closeDelay=1000, hideChevron=true, placement='right'
              )}"
            >
              <th:block th:ref="download-dropdown-summary">
                <span
                  class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                >
                  <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span id="statistics-download-label" th:text="#{action.sicknotes.download}"></span>
                </span>
              </th:block>
              <th:block th:ref="download-dropdown-content">
                <span class="tw-inline-block tw-mb-2 tw-font-bold" th:text="#{action.sicknotes.download.title}"
                  >Krankmeldungen</span
                >
                <ul class="tw-list-none tw-m-0 tw-p-0 tw-space-y-2" aria-labelledby="statistics-download-label">
                  <li>
                    <a
                      id="statistics-csv-download-link-all"
                      th:href="@{/web/sickdays/statistics/download (from=${from}, to=${to}, sort=${sortQuery}, query=${query}, allElements=${true})}"
                      class="icon-link tw-px-1 tw-flex tw-gap-2"
                      download
                    >
                      <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>
                      <th:block th:text="#{action.sicknotes.download.all.persons}"></th:block>
                    </a>
                  </li>
                  <li>
                    <a
                      id="statistics-csv-download-link"
                      th:href="@{/web/sickdays/statistics/download (from=${from}, to=${to}, page=${statisticsPagination.page.number + 1}, size=${statisticsPagination.page.size}, sort=${sortQuery}, query=${query})}"
                      class="icon-link tw-px-1 tw-flex tw-gap-2"
                      download
                    >
                      <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>
                      <th:block th:text="#{action.sicknotes.download.visible.persons}"></th:block>
                    </a>
                  </li>
                </ul>
              </th:block>
            </div>
            <button th:replace="~{fragments/print::button}"></button>
          </div>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
        <div
          class="tw-flex tw-flex-col md:tw-grid md:tw-grid-rows-2 lg:tw-flex lg:tw-flex-row tw-gap-4 md:tw-gap-2 print:tw-hidden"
        >
          <form
            method="get"
            action="#"
            th:action="@{/web/sickdays}"
            data-turbo-frame="frame-statistics"
            data-turbo-action="advance"
            id="form-date-from-to"
          >
            <div id="statistics-filter-inputs">
              <input type="hidden" name="sort" th:value="${sortQuery}" />
              <input type="hidden" name="query" th:value="${query}" />
            </div>
            <div class="tw-flex tw-flex-col tw-gap-1">
              <fieldset>
                <legend class="tw-sr-only" th:text="#{sicknotes.statistics.period.legend.text}">Zeitraum</legend>
                <div
                  th:replace="~{fragments/details-dropdown::details-dropdown-input(summary=~{::period-dropdown-summary}, content=~{::period-dropdown-content}, closeDelay=1000)}"
                >
                  <th:block th:ref="period-dropdown-summary">
                    <th:block th:text="#{sicknotes.statistics.period.legend.text}"></th:block>
                    <span
                      id="period-text"
                      th:with="start=${{period.startDate}}, end=${{period.endDate}}"
                      th:text="#{sicknotes.statistics.period.selected(${start}, ${end})}"
                    ></span>
                  </th:block>
                  <th:block th:ref="period-dropdown-content">
                    <div class="tw-flex tw-flex-col">
                      <label th:text="|#{filter.period.startDate}: |" for="from-date-input" class="tw-m-0" />
                      <input
                        id="from-date-input"
                        name="from"
                        th:value="${{period.startDate}}"
                        th:data-iso-value="${period.startDateIsoValue}"
                        th:placeholder="#{pattern.date}"
                        class="form-control tw-mt-0.5"
                      />
                      <label th:text="|#{filter.period.endDate}: |" for="to-date-input" class="tw-m-0 tw-mt-4" />
                      <input
                        id="to-date-input"
                        name="to"
                        th:value="${{period.endDate}}"
                        th:data-iso-value="${period.endDateIsoValue}"
                        th:placeholder="#{pattern.date}"
                        class="form-control tw-mt-0.5"
                      />
                    </div>
                    <div class="tw-mt-6">
                      <button
                        th:text="#{action.confirm}"
                        class="button-main tw-py-1.5 tw-px-3 tw-w-full"
                        type="submit"
                      />
                    </div>
                  </th:block>
                </div>
              </fieldset>
            </div>
          </form>
          <form
            action="#"
            th:action="@{/web/sickdays}"
            method="get"
            class="tw-flex"
            data-turbo-frame="frame-statistics"
            data-turbo-action="advance"
          >
            <div id="statistics-form-query-inputs">
              <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
              <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
              <input type="hidden" name="size" th:value="${statisticsPagination.page.size}" />
              <input type="hidden" name="sort" th:value="${sortQuery}" />
            </div>
            <div class="tw-flex-1 tw-flex tw-flex-col md:tw-flex-row">
              <label for="search" class="md:tw-sr-only tw-m-0">
                <th:block th:text="#{action.search}">Suchen</th:block>:
              </label>
              <span
                class="tw-flex-1 tw-flex tw-border tw-border-neutral-300 dark:tw-border-neutral-600 tw-rounded-md focus-within:tw-ring-2 focus-within:tw-ring-blue-300"
              >
                <input
                  type="text"
                  id="search"
                  name="query"
                  th:value="${query}"
                  class="form-control md:tw-h-full tw-border-none tw-text-ellipsis focus:tw-ring-0 tw-rounded-r-none"
                  th:placeholder="#{action.search.placeholder.firstname-lastname}"
                  data-auto-submit="search-submit"
                  data-auto-submit-delay="100"
                />
                <button
                  type="submit"
                  id="search-submit"
                  class="dark:tw-bg-zinc-800 tw-px-2 tw-rounded-r-md tw-h-full tw-flex tw-items-center"
                >
                  <svg th:replace="~{icon/search::svg(className='tw-w-5 tw-h-5 tw-stroke-2')}"></svg>
                  <span class="tw-sr-only" th:text="#{action.search}">Suche</span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="md:tw-ml-auto">
          <form
            action="#"
            th:action="@{/web/sickdays}"
            method="get"
            data-turbo-frame="frame-statistics"
            data-turbo-action="advance"
          >
            <div id="statistics-form-sort-inputs">
              <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
              <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
              <input type="hidden" name="size" th:value="${statisticsPagination.page.size}" />
              <input type="hidden" name="query" th:value="${query}" />
            </div>
            <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-items-center">
              <label for="sort-select" class="tw-m-0 tw-mr-2">
                <th:block th:text="#{action.sort}">Sortieren</th:block>:
              </label>
              <select
                id="sort-select"
                name="sort"
                th:replace="~{fragments/select::one(id='sort-select', name='sort', options=~{::sort-select-options}, autosubmit='sort-submit')}"
              >
                <th:block th:ref="sort-select-options">
                  <optgroup
                    th:each="optgroup : ${sortSelect.optgroups}"
                    th:label="${#messages.msg(optgroup.labelMessageKey)}"
                  >
                    <option
                      th:each="option : ${optgroup.options}"
                      th:value="${option.value}"
                      th:text="${#messages.msg(option.textMessageKey)}"
                      th:selected="${option.selected}"
                    ></option>
                  </optgroup>
                </th:block>
              </select>
              <button
                type="submit"
                id="sort-submit"
                class="tw-ml-2 button-main"
                th:text="#{action.sort}"
                data-js-hidden
              >
                Sortieren
              </button>
            </div>
          </form>
        </div>
      </div>

      <turbo-frame id="frame-statistics">
        <th:block th:if="${turboFrameRequested}">
          <turbo-stream target="statistics-csv-download-link-all" action="replace">
            <template th:insert="~{::#statistics-csv-download-link-all}"></template>
          </turbo-stream>
          <turbo-stream target="statistics-csv-download-link" action="replace">
            <template th:insert="~{::#statistics-csv-download-link}"></template>
          </turbo-stream>
          <turbo-stream target="statistics-filter-inputs" action="replace">
            <template th:insert="~{::#statistics-filter-inputs}"></template>
          </turbo-stream>
          <turbo-stream target="statistics-form-query-inputs" action="replace">
            <template th:insert="~{::#statistics-form-query-inputs}"></template>
          </turbo-stream>
          <turbo-stream target="period-text" action="replace">
            <template th:insert="~{::#period-text}"></template>
          </turbo-stream>
          <turbo-stream target="statistics-form-sort-inputs" action="replace">
            <template th:insert="~{::#statistics-form-sort-inputs}"></template>
          </turbo-stream>
          <turbo-stream target="pagination" action="replace">
            <template th:insert="~{::#pagination}"></template>
          </turbo-stream>
          <turbo-stream target="pagination-form-size-inputs" action="replace">
            <template th:insert="~{::#pagination-form-size-inputs}"></template>
          </turbo-stream>
          <turbo-stream target="pagination-size-hint" action="replace">
            <template th:insert="~{::#pagination-size-hint}"></template>
          </turbo-stream>
        </th:block>
        <table
          id="sick-note-table"
          class="tw-mt-8 md:tw-mt-16 list-table hoverable-table tw-text-sm"
          data-test-id="sick-notes-table"
        >
          <caption class="tw-sr-only" th:text="#{sicknotes.title}">
            Krankmeldungen
          </caption>
          <thead class="hidden-xs hidden-sm">
            <tr>
              <th scope="col" class="print:tw-hidden"></th>
              <th
                scope="col"
                th:if="${showPersonnelNumberColumn}"
                th:text="#{person.account.basedata.personnelNumber.abbreviation}"
                class="tw-hidden lg:tw-table-cell print:tw-table-cell"
              ></th>
              <th scope="col" th:text="#{person.data.firstName}"></th>
              <th scope="col" th:text="#{person.data.lastName}"></th>
              <th scope="col" class="hidden">
                <!-- placeholder for first name and last name column in xs screen-->
              </th>
              <th scope="col" th:text="#{sicknotes.daysOverview.sickDays.title}"></th>
              <th scope="col" th:text="#{sicknotes.daysOverview.sickDays.child.title}"></th>
              <th scope="col" class="hidden"><!-- placeholder for sick days column in xs screen--></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="sickDaysStatistic : ${statisticsPagination.page.content}">
              <td class="is-centered print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                <img
                  th:replace="~{fragments/avatar::avatar-bordered(url=${sickDaysStatistic.personAvatarUrl + '?d=404&s=40'},niceName=${sickDaysStatistic.personNiceName},initials=${sickDaysStatistic.personInitials},width='40',height='40',personId=${sickDaysStatistic.personId})}"
                  alt=""
                />
              </td>
              <td
                th:if="${showPersonnelNumberColumn}"
                th:text="${sickDaysStatistic.personnelNumber}"
                class="tw-hidden lg:tw-table-cell print:tw-table-cell tw-text-ellipsis tw-overflow-hidden tw-max-w-xs tw-text-center"
              ></td>
              <td class="hidden-xs">
                <a
                  th:text="${sickDaysStatistic.personFirstName}"
                  th:href="@{/web/person/__${sickDaysStatistic.personId}__/overview}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                ></a>
              </td>
              <td class="hidden-xs">
                <a
                  th:text="${sickDaysStatistic.personLastName}"
                  th:href="@{/web/person/__${sickDaysStatistic.personId}__/overview}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                ></a>
              </td>
              <td class="visible-xs">
                <a
                  th:text="${sickDaysStatistic.personNiceName}"
                  th:href="@{/web/person/__${sickDaysStatistic.personId}__/overview}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                ></a>
              </td>
              <td class="hidden-xs">
                <a
                  th:href="@{/web/person/__${sickDaysStatistic.personId}__/overview#anchorSickNotes}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                >
                  <div class="tw-flex tw-items-center">
                    <svg th:replace="~{icon/medkit::svg(className='tw-w-4 tw-h-4')}"></svg>
                    &nbsp;<th:block
                      th:replace="~{fragments/number::number(${sickDaysStatistic.amountSickDays})}"
                    ></th:block>
                    <th:block th:text="#{sicknotes.daysOverview.sickDays.number}"></th:block>
                  </div>
                </a>
                <p
                  th:if="${sickDaysStatistic.amountSickDaysWithAUB > 0}"
                  class="list-table--second-row tw-flex tw-items-center"
                >
                  <span class="tw-text-emerald-500 tw-flex tw-items-center">
                    <svg th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4')}"></svg>
                  </span>
                  <th:block
                    th:text="| #{overview.sicknotes.sickdays.aub(${sickDaysStatistic.amountSickDaysWithAUB})}|"
                  ></th:block>
                </p>
              </td>
              <td class="hidden-xs">
                <a
                  th:href="@{/web/person/__${sickDaysStatistic.personId}__/overview#anchorSickNotes}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                >
                  <div class="tw-flex tw-items-center">
                    <svg th:replace="~{icon/child::svg(className='tw-w-3 tw-h-3')}"></svg>
                    &nbsp;<th:block
                      th:replace="~{fragments/number::number(${sickDaysStatistic.amountChildSickDays})}"
                    ></th:block>
                    <th:block th:text="#{sicknotes.daysOverview.sickDays.child.number}"></th:block>
                  </div>
                </a>
                <p
                  th:if="${sickDaysStatistic.amountChildSickDaysWithAUB > 0}"
                  class="list-table--second-row tw-flex tw-items-center"
                >
                  <span class="tw-text-emerald-500 tw-flex tw-items-center">
                    <svg th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4')}"></svg>
                  </span>
                  <th:block
                    th:text="#{overview.sicknotes.sickdays.aub(${sickDaysStatistic.amountChildSickDaysWithAUB})}"
                  ></th:block>
                </p>
              </td>
              <td class="visible-xs">
                <div class="tw-flex tw-items-center">
                  <svg th:replace="~{icon/medkit::svg(className='tw-w-3 tw-h-3')}"></svg>
                  &nbsp;<th:block
                    th:replace="~{fragments/number::number(${sickDaysStatistic.amountSickDays})}"
                  ></th:block>
                  <th:block th:if="${sickDaysStatistic.amountSickDaysWithAUB > 0}">
                    &nbsp; (&nbsp;<svg
                      th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4 tw-text-emerald-500')}"
                    ></svg>
                    <th:block
                      th:replace="~{fragments/number::number(${sickDaysStatistic.amountSickDaysWithAUB})}"
                    ></th:block>
                    )
                  </th:block>
                </div>
                <div class="tw-flex tw-items-center">
                  <svg th:replace="~{icon/child::svg(className='tw-w-3 tw-h-3')}"></svg>
                  &nbsp;<th:block
                    th:replace="~{fragments/number::number(${sickDaysStatistic.amountChildSickDays})}"
                  ></th:block>
                  <th:block th:if="${sickDaysStatistic.amountChildSickDaysWithAUB > 0}">
                    &nbsp; (&nbsp;<svg
                      th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4 tw-text-emerald-500')}"
                    ></svg>
                    <th:block
                      th:replace="~{fragments/number::number(${sickDaysStatistic.amountChildSickDaysWithAUB})}"
                    ></th:block>
                    )
                  </th:block>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </turbo-frame>

      <div class="tw-mt-8 md:tw-mt-16 tw-flex tw-flex-col md:tw-flex-row md:tw-items-center tw-gap-8">
        <div id="pagination">
          <nav
            th:replace="~{fragments/pagination::pagination(${statisticsPagination}, #{applications.statistics.pagination.navigation.aria-label}, 'frame-statistics')}"
          ></nav>
        </div>
        <form
          action="#"
          th:action="@{/web/sickdays}"
          method="get"
          class="md:tw-ml-auto tw-flex tw-items-center"
          data-turbo-frame="frame-statistics"
          data-turbo-action="advance"
        >
          <div id="pagination-form-size-inputs">
            <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
            <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
            <input type="hidden" name="sort" th:value="${sortQuery}" />
            <input type="hidden" name="query" th:value="${query}" />
          </div>
          <div class="tw-flex tw-items-center tw-gap-2">
            <label for="pagination-size-select" class="tw-m-0" th:text="#{pagination.page.size.label.text}">
              Zeige
            </label>
            <span>
              <select
                name="size"
                id="pagination-size-select"
                th:replace="~{fragments/pagination::default-size-select(id='pagination-size-select', size=${statisticsPagination.page.size}, autosubmit='size-submit')}"
              ></select>
            </span>
            <span
              id="pagination-size-hint"
              class="tw-whitespace-nowrap"
              th:text="#{pagination.page.size.total.text(${statisticsPagination.page.totalElements}, ${#messages.msg('applications.statistics.pagination.total.text')})}"
            >
              von 42 Personen
            </span>
          </div>
          <button
            id="size-submit"
            th:text="#{pagination.page.size.button.text}"
            class="tw-ml-2 button-main"
            data-js-hidden
          >
            Aktualisieren
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
