<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{sicknote.convert.header.title}">Krankmeldung in Abwesenheit umwandeln</title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_note_convert.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_note_convert.js"></script>
    </th:block>
  </head>

  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <form
        method="post"
        th:action="@{/web/sicknote/__${sickNote.id}__/convert}"
        th:object="${sickNoteConvertForm}"
        class="form-horizontal tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0"
      >
        <div class="tw-grid tw-gap-4 lg:tw-grid-cols-2 lg:tw-gap-8">
          <div>
            <div th:replace="~{fragments/section-heading::section-heading(~{::sicknote-convert-heading-body}, ~{})}">
              <th:block th:ref="sicknote-convert-heading-body">
                <h2 th:text="#{sicknote.convert.title}" class="lg:tw-truncate">
                  Krankmeldung in Abwesenheit umwandeln
                </h2>
              </th:block>
            </div>

            <div class="tw-space-y-4">
              <div class="lg:tw-flex lg:tw-items-center lg:tw-gap-4">
                <input id="person-input" type="hidden" name="person" th:value="${sickNoteConvertForm.person.id}" />
                <label for="person-input" th:text="|#{sicknote.data.person}:|" class="lg:tw-w-1/3"></label>
                <div class="tw-flex-1" th:text="${sickNoteConvertForm.person.niceName}"></div>
              </div>

              <div class="lg:tw-flex lg:tw-gap-4 lg:tw-items-center">
                <label for="vacationType" th:text="|#{application.data.vacationType}:|" class="is-required lg:tw-w-1/3">
                </label>
                <div class="tw-flex-1">
                  <select
                    th:replace="~{fragments/select::one(id='vacationType', name='vacationType', options=~{::sicknote-vacationtype-select-options})}"
                    id="vacationType"
                  >
                    <th:block th:fragment="sicknote-vacationtype-select-options">
                      <option
                        th:each="vacationType: ${vacationTypes}"
                        th:text="${vacationType.getLabel(locale)}"
                        th:value="${vacationType.id}"
                        th:selected="${sickNoteConvertForm.vacationType != null && sickNoteConvertForm.vacationType == vacationType.id}"
                      ></option>
                    </th:block>
                  </select>
                </div>
              </div>

              <div class="lg:tw-flex lg:tw-gap-4 lg:tw-items-center">
                <input type="hidden" th:field="*{dayLength}" />
                <input type="hidden" th:field="*{startDate}" />
                <input type="hidden" th:field="*{endDate}" />

                <label class="lg:tw-w-1/3" th:text="|#{absence.period}|"></label>

                <div class="tw-flex-1 tw-text-sm">
                  <th:block th:if="${sickNoteConvertForm.startDate == sickNoteConvertForm.endDate}">
                    <th:block th:text="|${#messages.msg(sickNoteConvertForm.weekDayOfStartDate + '.short')}|"></th:block
                    >,
                    <th:block th:replace="~{fragments/date::date(${sickNoteConvertForm.startDate})}"></th:block>,&nbsp;
                    <th:block th:text="${#messages.msg(sickNoteConvertForm.dayLength)}"></th:block>
                  </th:block>
                  <th:block th:if="${sickNoteConvertForm.startDate != sickNoteConvertForm.endDate}">
                    <span
                      th:replace="~{fragments/date-range::date-range(from=${sickNoteConvertForm.startDate}, to=${sickNoteConvertForm.endDate}, pattern='E, dd.MM.yyyy')}"
                    ></span>
                  </th:block>
                </div>
              </div>

              <div class="lg:tw-flex lg:tw-items-center lg:tw-gap-4">
                <label for="reason" class="is-required lg:tw-w-1/3" th:text="|#{application.data.reason}:|"></label>
                <div class="tw-flex-1">
                  <textarea
                    id="reason"
                    th:field="*{reason}"
                    class="form-control"
                    th:errorclass="error"
                    rows="2"
                  ></textarea>
                  <p
                    class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                    th:if="${#fields.hasErrors('reason')}"
                  >
                    <th:block th:errors="*{reason}">reason Error</th:block>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div th:replace="~{fragments/section-heading::section-heading(~{::sicknote-heading-body}, ~{})}">
              <th:block th:ref="sicknote-heading-body">
                <h2 th:text="#{sicknote.title}">Krankmeldung</h2>
              </th:block>
            </div>
            <div class="box tw-p-5">
              <div th:replace="~{fragments/box::box-with-icon(~{::sicknote-box-icon}, ~{::sicknote-box-body})}">
                <th:block th:ref="sicknote-box-icon">
                  <div
                    th:replace="~{fragments/rounded::block(content=~{::sicknote-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-600 dark:tw-text-zinc-900')}"
                  >
                    <th:block th:ref="sicknote-box-icon-rounded">
                      <th:block th:if="${sickNote.sickNoteType.category.name == 'SICK_NOTE_CHILD'}">
                        <svg th:replace="~{icon/child::svg(className='tw-w-8 tw-h-8')}"></svg>
                      </th:block>
                      <th:block th:if="${sickNote.sickNoteType.category.name != 'SICK_NOTE_CHILD'}">
                        <svg th:replace="~{icon/medkit::svg(className='tw-w-8 tw-h-8')}"></svg>
                      </th:block>
                    </th:block>
                  </div>
                </th:block>
                <th:block th:ref="sicknote-box-body">
                  <span
                    th:text="#{sicknotes.details.box.person.has(${sickNote.person.niceName})}"
                    class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  >
                  </span>
                  <span th:text="#{__${sickNote.sickNoteType.messageKey}__}" class="tw-my-1 tw-text-lg tw-font-medium">
                  </span>
                  <span
                    class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  >
                    <th:block th:if="${sickNoteConvertForm.startDate == sickNoteConvertForm.endDate}">
                      <th:block
                        th:text="|${#messages.msg(sickNoteConvertForm.weekDayOfStartDate + '.short')}|"
                      ></th:block
                      >,
                      <th:block th:replace="~{fragments/date::date(${sickNoteConvertForm.startDate})}"></th:block
                      >,&nbsp;
                      <th:block th:text="${#messages.msg(sickNoteConvertForm.dayLength)}"></th:block>
                    </th:block>
                    <th:block th:if="${sickNoteConvertForm.startDate != sickNoteConvertForm.endDate}">
                      <span
                        th:replace="~{fragments/date-range::date-range(from=${sickNoteConvertForm.startDate}, to=${sickNoteConvertForm.endDate}, pattern='E, dd.MM.yyyy')}"
                      ></span>
                    </th:block>
                  </span>
                </th:block>
              </div>
            </div>
            <table class="list-table striped-table bordered-table tw-text-sm tw-mt-4">
              <tbody>
                <tr>
                  <td th:text="#{absence.period.duration}"></td>
                  <td>
                    <span th:text="#{sicknote.data.days(${sickNote.workDays})}"></span>
                  </td>
                </tr>
                <tr>
                  <td th:text="#{sicknote.data.aub.short}"></td>
                  <td>
                    <th:block th:if="${sickNote.aubPresent}">
                      <div class="tw-flex tw-items-center">
                        <svg th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4')}"></svg>
                        &nbsp;<th:block
                          th:replace="~{fragments/date-range::date-range(from=${sickNote.aubStartDate}, to=${sickNote.aubEndDate}, pattern='E, dd.MM.yyyy')}"
                        ></th:block>
                      </div>
                      <div class="tw-ml-4" th:text="#{sicknote.data.days(${sickNote.workDaysWithAub})}"></div>
                    </th:block>
                    <th:block th:if="${not sickNote.aubPresent}">
                      <div class="tw-flex tw-items-center">
                        <svg th:replace="~{icon/x-circle::svg(className='tw-w-4 tw-h-4')}"></svg>
                        &nbsp;<th:block th:text="#{sicknote.data.aub.notPresent}"></th:block>
                      </div>
                    </th:block>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr class="tw-w-full tw-m-0 tw-mt-6" />

        <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
          <button id="apply-application" type="submit" class="button-main-green tw-w-56" th:text="#{action.save}">
            Speichern
          </button>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </form>
    </main>
  </body>
</html>
