<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload}, styles=~{::styles})}"
  >
    <title
      th:with="messageKey=#{__${sickNote.sickNoteType.messageKey}__}"
      th:text="#{sicknote.header.title(${messageKey}, ${sickNote.person.niceName})}"
    >
      Krankmeldung von Marlene
    </title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/sick-note-detail.css}" />
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_note.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_note.js"></script>
    </th:block>
  </head>

  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main
      th:fragment="main"
      class="tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0 lg:tw-grid lg:tw-grid-cols-2 lg:tw-gap-8"
    >
      <div>
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::sicknote-heading-body}, ~{::sicknote-heading-actions})}"
        >
          <th:block th:ref="sicknote-heading-body">
            <h2 th:text="#{sicknote.title}">Krankmeldung</h2>
          </th:block>
          <th:block th:ref="sicknote-heading-actions">
            <div class="tw-flex tw-flex-row">
              <th:block th:if="${canAcceptSickNote && (extensionRequested || sickNote.status.name == 'SUBMITTED')}">
                <button
                  type="button"
                  class="icon-link tw-bg-transparent tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                  onclick="
                    document.querySelector('#allow')?.classList.remove('tw-hidden');
                    document.querySelector('#cancel')?.classList.add('tw-hidden');"
                >
                  <svg th:replace="~{icon/check::svg}"></svg>
                  <span th:text="#{action.acceptSicknote}" class="tw-sr-only"></span>
                </button>
              </th:block>
              <th:block th:if="${sickNote.active}">
                <th:block th:if="${canEditSickNote}">
                  <a
                    th:href="@{/web/sicknote/__${sickNote.id}__/edit}"
                    class="icon-link tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                  >
                    <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>
                    <span th:text="#{action.edit}" class="tw-sr-only"></span>
                  </a>
                </th:block>
                <th:block th:if="${canConvertSickNote && sickNote.status.name == 'ACTIVE'}">
                  <a
                    th:href="@{/web/sicknote/__${sickNote.id}__/convert}"
                    class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                  >
                    <svg th:replace="~{icon/refresh-ccw::svg(className='tw-w-5 tw-h-5')}"></svg>
                    <span th:text="#{action.convert}" class="tw-sr-only"></span>
                  </a>
                </th:block>
                <th:block th:if="${canDeleteSickNote}">
                  <button
                    type="button"
                    class="icon-link tw-bg-transparent tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0 hover:tw-text-red-500"
                    onclick="
                    document.querySelector('#cancel')?.classList.remove('tw-hidden');
                    document.querySelector('#allow')?.classList.add('tw-hidden');"
                  >
                    <svg th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                    <span class="tw-sr-only" th:text="#{action.delete.request}"></span>
                  </button>
                </th:block>
              </th:block>
              <a href="#" th:replace="~{fragments/print::button}"></a>
            </div>
          </th:block>
        </div>

        <div class="feedback">
          <th:block th:if="${#bools.isTrue(showExtensionCreatedFeedback)}">
            <p class="alert alert-success" th:text="#{sicknote.extend.submitted.success-info}">
              Verlängerung der Krankmeldung wurde erfolgreich eingereicht.
            </p>
          </th:block>
          <th:block th:if="${errors != null && errors.hasFieldErrors('text')}">
            <p class="alert alert-danger" th:text="${#messages.msg(errors.getFieldErrors('text').get(0).getCode())}">
              error feedback
            </p>
          </th:block>
        </div>

        <div class="actions">
          <th:block th:if="${canAcceptSickNote}">
            <form
              id="allow"
              class="form confirm alert alert-success"
              th:classappend="${action eq 'allow' ? '' : 'tw-hidden'}"
              method="post"
              th:with="isShortcut=${param.shortcut != null && #lists.contains(param.shortcut, 'true')},
                       redirectTo=@{/web/sicknote/submitted},
                       acceptUrl=@{/web/sicknote/__${sickNote.id}__/accept},
                       acceptExtensionUrl=@{/web/sicknote/__${sickNote.id}__/extension/accept},
                       actionUrl=@{${extensionRequested ? acceptExtensionUrl : acceptUrl} (redirect=${isShortcut ? redirectTo : null})}"
              th:action="@{__${actionUrl}__}"
              th:object="${comment}"
            >
              <input th:if="${shortcut}" type="hidden" name="shortcut" th:value="${shortcut}" />
              <input th:if="${not #strings.isEmpty(redirect)}" type="hidden" name="redirect" th:value="${redirect}" />
              <div class="form-group">
                <strong class="tw-font-medium">
                  <th:block th:if="${not extensionRequested}" th:text="#{action.sicknote.allow}">
                    Soll diese Krankmeldung wirklich angenommen werden?
                  </th:block>
                  <th:block th:if="${extensionRequested}">
                    Soll die Verlängerung der Krankmeldung wirklich angenommen werden?
                  </th:block>
                </strong>
              </div>

              <div class="form-group">
                <label th:text="|#{action.comment.optional}:|" for="text-allow"></label>
                <textarea id="text-allow" rows="2" class="form-control" th:errorclass="error" name="text"></textarea>
              </div>

              <div class="form-group tw-mb-0 tw-flex tw-justify-between tw-gap-4">
                <button type="submit" class="button-main-green tw-w-56">
                  <th:block th:if="${not extensionRequested}" th:text="#{action.acceptSicknote}">Annehmen</th:block>
                  <th:block th:if="${extensionRequested}">Verlängerung Annehmen</th:block>
                </button>
                <button
                  type="button"
                  th:text="#{action.cancel}"
                  class="button"
                  onclick="document.querySelector('#allow')?.classList.add('tw-hidden');"
                >
                  Abbrechen
                </button>
              </div>
            </form>
          </th:block>
          <th:block th:if="${canDeleteSickNote}">
            <form
              id="cancel"
              class="form confirm alert alert-danger"
              th:classappend="${(action == 'cancel') ? '' : 'tw-hidden'}"
              method="post"
              th:with="actionUrl=${param.shortcut != null && #lists.contains(param.shortcut, 'true') ? '/web/sicknote/__${sickNote.id}__/cancel?redirect=/web/sicknote/submitted' : '/web/sicknote/__${sickNote.id}__/cancel'}"
              th:action="@{__${actionUrl}__}"
              th:object="${comment}"
            >
              <input th:if="${shortcut}" type="hidden" name="shortcut" th:value="${shortcut}" />
              <input th:if="${not #strings.isEmpty(redirect)}" type="hidden" name="redirect" th:value="${redirect}" />
              <div class="form-group">
                <strong class="tw-font-medium" th:text="#{action.sicknote.delete.request.confirm}">
                  Soll diese Krankmeldung wirklich storniert werden?
                </strong>
              </div>

              <div class="form-group">
                <label th:text="|#{action.comment.mandatory}:|" for="text-cancel"></label>
                <textarea
                  id="text-cancel"
                  rows="2"
                  class="form-control"
                  th:field="*{text}"
                  th:errorclass="error"
                  name="text"
                ></textarea>
              </div>

              <div class="form-group tw-mb-0 tw-flex tw-justify-between tw-gap-4">
                <button type="submit" class="button-danger tw-w-56" th:text="#{action.delete}">Stornieren</button>
                <button
                  type="button"
                  th:text="#{action.cancel}"
                  class="button"
                  onclick="document.querySelector('#cancel')?.classList.add('tw-hidden');"
                >
                  Abbrechen
                </button>
              </div>
            </form>
          </th:block>
        </div>

        <div class="box tw-mb-5 tw-p-5">
          <div th:replace="~{fragments/box::box-with-icon(~{::sicknote-box-icon}, ~{::sicknote-box-body})}">
            <th:block th:ref="sicknote-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::sicknote-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-600 dark:tw-text-zinc-900')}"
              >
                <th:block th:ref="sicknote-box-icon-rounded">
                  <th:block th:if="${sickNote.sickNoteType.category.name == 'SICK_NOTE_CHILD'}">
                    <svg th:replace="~{icon/child::svg(className='tw-w-8 tw-h-8')}"></svg>
                  </th:block>
                  <th:block th:if="${sickNote.sickNoteType.category.name != 'SICK_NOTE_CHILD'}">
                    <svg th:replace="~{icon/medkit::svg(className='tw-w-8 tw-h-8')}"></svg>
                  </th:block>
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="sicknote-box-body">
              <span
                class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                data-test-id="sicknote-person"
              >
                <th:block th:text="#{sicknotes.details.box.person.has(${sickNote.person.niceName})}">
                  Klaus Müller hat eine
                </th:block>
              </span>
              <span class="tw-flex tw-justify-between tw-gap-4 tw-items-center tw-my-1 tw-text-lg tw-font-medium">
                <span th:text="#{__${sickNote.sickNoteType.messageKey}__}" data-test-id="sicknote-type">
                  Kind-Krankmeldung
                </span>
                <span
                  class="absence-type_color-box print:tw-hidden tw-mr-5"
                  th:with="sickNoteStatusNameI18n=${#messages.msg('sicknote.status.' + sickNote.status.name)}"
                  th:classappend="|
                    ${sickNote.status.name == 'SUBMITTED' ? 'absence-type_color-box-waiting' : ''}
                    ${sickNote.status.name == 'ACTIVE' ? 'absence-type_color-box-allowed' : ''}
                    ${sickNote.status.name == 'CONVERTED_TO_VACATION' ? 'absence-type_color-box-cancelled' : ''}
                    ${sickNote.status.name == 'CANCELLED' ? 'absence-type_color-box-cancelled' : ''}
                    |"
                  th:styleappend="'--absence-bar-color: var(--sick-note-color);'"
                  th:title="${sickNoteStatusNameI18n}"
                >
                  &nbsp;
                </span>
              </span>
              <span
                class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                data-test-id="sicknote-date"
              >
                <th:block th:if="${sickNote.startDate == sickNote.endDate}">
                  <th:block th:text="|${#messages.msg(sickNote.weekDayOfStartDate + '.short')}|"></th:block>,
                  <th:block th:replace="~{fragments/date::date(${sickNote.startDate})}"></th:block>,&nbsp;
                  <th:block th:text="${#messages.msg(sickNote.dayLength)}"></th:block>
                </th:block>
                <th:block th:if="${sickNote.startDate != sickNote.endDate}">
                  <span
                    th:replace="~{fragments/date-range::date-range(from=${sickNote.startDate}, to=${sickNote.endDate}, pattern='E, dd.MM.yyyy')}"
                  ></span>
                </th:block>
              </span>
            </th:block>
          </div>
        </div>

        <table class="list-table striped-table bordered-table tw-text-sm">
          <tbody>
            <tr>
              <td th:text="#{absence.period.duration}"></td>
              <td>
                <span th:text="#{sicknote.data.days(${sickNote.workDays})}"></span>
                <span th:if="${sickNote.active == false}" th:text="#{sicknote.data.inactive}"></span>
              </td>
            </tr>
            <tr>
              <td th:text="#{sicknote.data.aub.short}"></td>
              <td>
                <th:block th:if="${sickNote.aubPresent}">
                  <div class="tw-flex tw-items-center" data-test-id="sicknote-aub-date">
                    <svg th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4')}"></svg>
                    &nbsp;<th:block
                      th:replace="~{fragments/date-range::date-range(from=${sickNote.aubStartDate}, to=${sickNote.aubEndDate}, pattern='E, dd.MM.yyyy')}"
                    ></th:block>
                  </div>
                  <div class="tw-ml-4" th:text="#{sicknote.data.days(${sickNote.workDaysWithAub})}"></div>
                </th:block>
                <th:block th:if="${not sickNote.aubPresent}">
                  <div class="tw-flex tw-items-center" data-test-id="sicknote-aub-date">
                    <svg th:replace="~{icon/x-circle::svg(className='tw-w-4 tw-h-4')}"></svg>
                    &nbsp;<th:block th:text="#{sicknote.data.aub.notPresent}"></th:block>
                  </div>
                </th:block>
              </td>
            </tr>
          </tbody>
        </table>
        <div th:if="${sickNotePreviewCurrent != null}" class="tw-mt-8">
          <div class="section-heading">
            <div class="tw-flex tw-items-baseline tw-pb-2 tw-border-b-2 dark:tw-border-b dark:tw-border-zinc-600">
              <h2 th:text="#{sicknote.extend.submitted.extension-title}">Krankmeldung verlängern</h2>
            </div>
          </div>
          <th:block th:if="${#bools.isTrue(canAcceptSubmittedExtension)}">
            <p class="tw-mt-4" th:text="#{sicknote.extend.submitted.wants-to-extend.hint(${sickNote.person.niceName})}">
              Max Muster möchte die Krankmeldung erweitern.
            </p>
          </th:block>
          <th:block th:if="${#bools.isFalse(canAcceptSubmittedExtension)}">
            <p class="tw-mt-4" th:text="#{sicknote.extend.submitted.has-to-be-accepted.hint}">
              Eine berechtigte Person muss die geänderte Krankmeldung akzeptieren.
            </p>
          </th:block>
          <div class="tw-mt-4">
            <details class="[&>summary>svg]:open:tw-rotate-90">
              <summary class="tw-cursor-pointer tw-flex tw-items-center tw-gap-1">
                <svg th:replace="~{icon/chevron-right::svg(className='tw-w-4 tw-h-4 tw-transition-transform')}"></svg>
                Vorschau der Verlängerung
              </summary>
              <div class="tw-mt-4">
                <th:block
                  th:replace="~{sicknote/sick_note_extend::sick-note-extension-preview(${sickNotePreviewCurrent}, ${sickNotePreviewNext})}"
                ></th:block>
              </div>
            </details>
          </div>
          <th:block th:if="${canAcceptSickNote && extensionRequested}">
            <form
              action="#"
              th:action="@{/web/sicknote/__${sickNote.id}__/extension/accept}"
              method="post"
              class="tw-mt-8"
            >
              <button type="submit" class="button-main-green" th:text="#{sicknote.extend.accept.button.text}">
                Verlängerung Akzeptieren
              </button>
            </form>
          </th:block>
        </div>
      </div>

      <div>
        <div class="print:tw-hidden">
          <div th:replace="~{fragments/section-heading::section-heading(~{::sicknote-data-person-heading-body}, ~{})}">
            <th:block th:ref="sicknote-data-person-heading-body">
              <h2 th:text="#{sicknote.data.person}">Mitarbeiter</h2>
            </th:block>
          </div>
          <div
            th:replace="~{person/box::person-box-with-departments(person=${sickNote.person}, departments=${departmentsOfPerson})}"
          ></div>
        </div>

        <div class="tw-mt-8">
          <div
            th:replace="~{fragments/section-heading::section-heading(~{::sicknote-progress-heading-body}, ~{::sicknote-progress-heading-actions})}"
          >
            <th:block th:ref="sicknote-progress-heading-body">
              <h2 th:text="#{sicknote.progress.title}">Verlauf</h2>
            </th:block>
            <th:block th:ref="sicknote-progress-heading-actions">
              <th:block th:if="${canCommentSickNote}">
                <button
                  class="icon-link tw-bg-transparent tw-px-1 tw-py-0"
                  onclick="document.getElementById('comment-form').classList.remove('tw-hidden');"
                >
                  <svg th:replace="~{icon/message-square::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.comment.new}"></span>
                </button>
              </th:block>
            </th:block>
          </div>

          <table class="list-table striped-table bordered-table tw-text-sm">
            <caption class="tw-sr-only" th:text="#{sicknote.progress.title}">
              Verlauf
            </caption>
            <tbody>
              <tr th:each="comment, loopStatus : ${comments}">
                <td class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                  <img
                    th:replace="~{fragments/avatar::avatar-bordered(url=${comment.person != null ? comment.person.gravatarURL + '?d=404&s=40' : null},niceName=${comment.person != null ? comment.person.niceName : null},initials=${comment.person != null ? comment.person.initials : null},width='40',height='40',personId=${comment.person != null ? comment.person.id : null})}"
                    alt=""
                  />
                </td>

                <td th:if="${comment.person != null}">
                  <a
                    th:text="${comment.person.niceName}"
                    th:href="@{/web/person/__${comment.person.id}__/overview}"
                    class="icon-link print:no-link"
                    data-turbo="false"
                  ></a>
                </td>
                <td th:if="${comment.person == null}" th:text="#{sicknote.progress.deleted-author}"></td>

                <td>
                  <th:block th:if="${#strings.isEmpty(comment.text)}">
                    <th:block th:text="#{'sicknote.progress.' + ${comment.action}}"></th:block>
                    <th:block th:replace="~{fragments/date::date(${comment.date})}"></th:block>
                  </th:block>
                  <th:block th:if="${not #strings.isEmpty(comment.text)}">
                    <th:block th:text="#{'sicknote.progress.' + ${comment.action}}"></th:block>
                    <th:block th:replace="~{fragments/date::date(${comment.date})}"></th:block>

                    <th:block th:if="${comment.action == 'COMMENTED'}"> : </th:block>
                    <th:block th:if="${comment.action != 'COMMENTED'}">
                      <th:block th:text="#{sicknote.progress.comment}"></th:block>
                    </th:block>
                    <br />
                    <em th:text="${comment.text}"></em>
                  </th:block>
                </td>
              </tr>
            </tbody>
          </table>

          <form
            id="comment-form"
            th:if="${canCommentSickNote}"
            method="post"
            th:action="@{/web/sicknote/__${sickNote.id}__/comment}"
            th:object="${comment}"
            class="tw-hidden"
          >
            <div th:if="${#fields.hasGlobalErrors()}" class="feedback">
              <div th:text="#{application.action.reason.error}" class="alert alert-danger"></div>
            </div>

            <textarea th:field="*{text}" class="form-control" th:errorclass="error" rows="2"></textarea>
            <div class="tw-flex tw-justify-between tw-mt-2 tw-mb-6">
              <button
                th:text="#{action.cancel}"
                class="button"
                type="button"
                onclick="document.getElementById('comment-form').classList.add('tw-hidden');"
              ></button>
              <button th:text="#{action.save}" class="button-main-green tw-w-56" type="submit"></button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
