<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{sicknotes.statistics.header.title(${statistics.year})}">Krankmeldungsstatistik</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/sick-note-statistics.css}" />
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_notes_statistics.js')}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.sicknoteStatistic = {};
        window.sicknoteStatistic.xaxisLabels = [
          /*[[#{month.january}]]*/ "Januar",
          /*[[#{month.february}]]*/ "Februar",
          /*[[#{month.march}]]*/ "März",
          /*[[#{month.april}]]*/ "April",
          /*[[#{month.may}]]*/ "Mai",
          /*[[#{month.june}]]*/ "Juni",
          /*[[#{month.july}]]*/ "Juli",
          /*[[#{month.august}]]*/ "August",
          /*[[#{month.september}]]*/ "September",
          /*[[#{month.october}]]*/ "Oktober",
          /*[[#{month.november}]]*/ "November",
          /*[[#{month.december}]]*/ "Dezember",
        ];
        window.sicknoteStatistic.yaxisTitle = /*[[#{sicknotes.statistics.chart.y-axis-label}]]*/ "Tage";
        window.sicknoteStatistic.dataseriesNames = [
          /*[[#{sicknote.type.SICK_NOTE}]]*/ "Krank",
          /*[[#{sicknote.type.SICK_NOTE_CHILD}]]*/ "Kind-Krank",
        ];
        window.sicknoteStatistic.dataseriesValues = /*[[${sickNoteGraphStatistic.dataSeries}]]*/ [];
        /*]]>*/
      </script>
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_notes_statistics.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::absences-statistics-heading-body}, ~{::absences-statistics-heading-actions})}"
        >
          <th:block th:ref="absences-statistics-heading-body">
            <h1 th:text="#{sicknotes.statistics.title}">Statistik für das Jahr</h1>
            <div
              th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/sicknote/statistics?year=|, selectedYear=${statistics.year})}"
            ></div>
          </th:block>
          <th:block th:ref="absences-statistics-heading-actions">
            <a href="#" th:replace="~{fragments/print::button}"></a>
          </th:block>
        </div>

        <div>
          <div class="tw-mt-8 tw-flex tw-flex-col md:tw-flex-row tw-justify-between tw-gap-1">
            <h2 class="tw-m-0 tw-font-bold tw-text-base" th:text="#{sicknotes.statistics.chart.title}">
              Verteilung der Krankheitstage
            </h2>
            <div class="tw-text-sm md:tw-font-bold md:tw-text-right md:tw-px-3">
              <th:block th:text="#{filter.validity}"></th:block>
              <th:block th:text="${{statistics.created}}"></th:block>
            </div>
          </div>

          <div class="tw-mt-4 sicknote-statistics-chart-container">
            <div id="sicknote-statistic-chart" class="sicknote-statistics-chart"></div>
          </div>
        </div>

        <div class="tw-mt-8 tw-flex tw-flex-col tw-justify-between tw-gap-1 md:tw-mt-12 md:tw-flex-row">
          <h2 class="tw-m-0 tw-text-base tw-font-bold" th:text="#{sicknotes.statistics.summary.title}">
            Zusammenfassung
          </h2>
        </div>

        <table class="tw-mt-4 list-table tw-text-sm">
          <caption class="tw-sr-only" th:text="#{sicknotes.statistics.title}">
            Statistik für das Jahr
          </caption>
          <tbody>
            <tr>
              <td th:text="#{sicknotes.statistics.totalNumber}"></td>
              <td class="tw-text-right" th:text="${statistics.totalNumberOfSickNotes}"></td>
            </tr>
            <tr>
              <td th:text="#{sicknotes.statistics.totalNumberOfDaysAllCategories}">totalNumberOfDaysAllCategories</td>
              <td
                class="tw-text-right"
                th:text="${statistics.totalNumberOfSickDaysAllCategories} % 1 == 0 ? ${#numbers.formatDecimal(statistics.totalNumberOfSickDaysAllCategories, 1, 0)} : ${#numbers.formatDecimal(statistics.totalNumberOfSickDaysAllCategories, 1, 1)}"
              ></td>
            </tr>
            <tr>
              <td th:text="#{sicknotes.statistics.totalNumberOfDays.SICK_NOTE}">
                Anzahl Krankheitstage (Normale Krankmeldung)
              </td>
              <td
                class="tw-text-right"
                th:text="${statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE)} % 1 == 0 ? ${#numbers.formatDecimal(statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE), 1, 0)} : ${#numbers.formatDecimal(statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE), 1, 1)}"
              ></td>
            </tr>
            <tr>
              <td th:text="#{sicknotes.statistics.totalNumberOfDays.SICK_NOTE_CHILD}">Anzahl Kind-Krankheitstage</td>
              <td
                class="tw-text-right"
                th:text="${statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD)} % 1 == 0 ? ${#numbers.formatDecimal(statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD), 1, 0)} : ${#numbers.formatDecimal(statistics.getTotalNumberOfSickDaysByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD), 1, 1)}"
              ></td>
            </tr>
            <tr>
              <td th:text="#{sicknotes.statistics.personWithSickNotes}"></td>
              <td class="tw-text-right" th:text="${statistics.numberOfPersonsWithMinimumOneSickNote}"></td>
            </tr>
            <tr>
              <td>Anzahl der Personen ohne Krankmeldung</td>
              <td class="tw-text-right" th:text="${statistics.numberOfPersonsWithoutSickNote}"></td>
            </tr>
            <tr>
              <td th:text="#{sicknotes.statistics.averageSickTime}"></td>
              <td
                class="tw-text-right"
                th:text="${statistics.averageDurationOfDiseasePerPerson} % 1 == 0 ? ${#numbers.formatDecimal(statistics.averageDurationOfDiseasePerPerson, 1, 0)} : ${#numbers.formatDecimal(statistics.averageDurationOfDiseasePerPerson, 1, 1)}"
              ></td>
            </tr>
            <tr>
              <td>Durchschnittliche Dauer einer Krankmeldung (Normale Krankmeldung)</td>
              <td
                class="tw-text-right"
                th:text="${statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE)} % 1 == 0 ? ${#numbers.formatDecimal(statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE), 1, 0)} : ${#numbers.formatDecimal(statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE), 1, 1)}"
              ></td>
            </tr>
            <tr>
              <td>Durchschnittliche Dauer einer Kind-Krankmeldung</td>
              <td
                class="tw-text-right"
                th:text="${statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD)} % 1 == 0 ? ${#numbers.formatDecimal(statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD), 1, 0)} : ${#numbers.formatDecimal(statistics.getAverageDurationOfSickNoteByCategory().get(T(org.synyx.urlaubsverwaltung.sicknote.sicknote.SickNoteCategory).SICK_NOTE_CHILD), 1, 1)}"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
