<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{sicknote.extend.header.title}">Krankmeldung erweitern</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/sick-note-extend.css}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.personId = /*[[${sickNotePersonId}]]*/ "personId";
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_note_extend.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_note_extend.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 md:tw-px-0 lg:tw-px-12 xl:tw-px-0">
        <h1 th:text="#{sicknote.extend.title}">Weiter Krank melden</h1>
        <p
          class="tw-m-0 tw-mt-8"
          th:text="#{sicknote.extend.paragraph.current(${#temporals.format(sickNote.startDate, 'FULL')}, ${sickNoteEndDateWord})}"
        >
          Du hast eine Krankmeldung von <em>xx.xx.xxxx</em> bis <em>gestern</em>.
        </p>
        <p class="tw-m-0 tw-mt-0.5" th:text="#{sicknote.extend.paragraph.duration}">
          Wie lange bist du vorraussichtlich noch krank?
        </p>
        <div class="tw-mt-8">
          <form
            method="post"
            action="#"
            th:action="@{/web/sicknote/extend}"
            class="tw-mt-8 tw-space-y-8"
            th:bind="${sickNote}"
          >
            <div class="extend-action-grid tw-max-w-3xl">
              <button
                type="submit"
                class="button"
                th:href="@{/web/sicknote/extend (extend=1)}"
                th:classappend="${selectedExtend == '1' ? 'tw-bg-blue-400' : ''}"
                th:text="#{sicknote.extend.duration.plus-workday.label(1)}"
                name="extend"
                value="1"
              >
                + 1 Tag
              </button>
              <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${plusOneWorkdayWord})}">
                einschließlich heute
              </span>
              <button
                type="submit"
                class="button"
                th:href="@{/web/sicknote/extend (extend=2)}"
                th:classappend="${selectedExtend == '2' ? 'tw-bg-blue-400' : ''}"
                th:text="#{sicknote.extend.duration.plus-workday.label(2)}"
                name="extend"
                value="2"
              >
                + 2 Tage
              </button>
              <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${plusTwoWorkdaysWord})}">
                einschließlich morgen
              </span>
              <button
                class="button"
                th:href="@{/web/sicknote/extend (extend=${'end-of-week'})}"
                th:classappend="${selectedExtend == 'end-of-week' ? 'tw-bg-blue-400' : ''}"
                th:text="#{sicknote.extend.duration.end-of-week.label}"
                name="extend"
                value="end-of-week"
              >
                Ende der Woche
              </button>
              <span class="tw-text-sm" th:text="#{sicknote.extend.duration.hint.label(${untilEndOfWeekWord})}">
                einschließlich xxx
              </span>
              <input
                type="date"
                id="extend-to-date-input"
                name="extendToDate"
                class="form-control"
                th:classappend="${selectedExtend == 'custom' ? 'tw-bg-blue-400 tw-border-2 tw-border-blue-400' : ''}"
                data-auto-submit="submit-date-button"
                data-auto-submit-delay="100"
                th:value="${extendToDate}"
                th:min="${#temporals.format(today, 'yyyy-MM-dd')}"
                th:data-iso-value="${#temporals.format(extendToDate, 'yyyy-MM-dd')}"
              />
              <span>
                <label for="extend-to-date-input" th:text="#{sicknote.extend.duration.custom.label}">
                  Anderer Tag
                </label>
                <button
                  type="submit"
                  id="submit-date-button"
                  name="custom-date-preview"
                  class="tw-sr-only"
                  th:text="#{sicknote.extend.duration.custom.submit.text}"
                >
                  Vorschau
                </button>
              </span>
            </div>
            <th:block th:if="${sickNoteExtended != null}">
              <div class="tw-flex tw-gap-4 tw-max-w-3xl">
                <div
                  class="tw-flex-1 tw-px-4 tw-py-3 tw-rounded-lg tw-border-2 tw-border-zinc-200 dark:tw-border-zinc-800"
                >
                  <div class="tw-font-bold" th:text="#{sicknote.extend.preview.current.title}">
                    Aktuelle Krankmeldung
                  </div>
                  <div
                    class="tw-mt-4 tw-grid tw-gap-x-8 tw-gap-y-1"
                    style="grid-template-columns: repeat(2, minmax(max-content, 1fr))"
                  >
                    <span th:text="#{sicknote.extend.preview.current.start.label}">von</span>
                    <span class="tw-text-right" th:text="${#temporals.format(sickNote.startDate, 'FULL')}">
                      xx.xx.xxxx
                    </span>
                    <span th:text="#{sicknote.extend.preview.current.end.label}">bis</span>
                    <span class="tw-text-right" th:text="${#temporals.format(sickNote.endDate, 'FULL')}">
                      xx.xx.xxxx
                    </span>
                  </div>
                  <div
                    class="tw-mt-4 tw-text-sm tw-text-right"
                    th:text="#{sicknote.extend.preview.days-between(${sickNote.workingDays})}"
                  >
                    entspricht x Arbeitstagen
                  </div>
                </div>
                <div class="tw-self-center">
                  <svg th:replace="~{icon/arrow-narrow-right::svg(className='tw-h-8 tw-w-16')}" />
                </div>
                <div class="tw-flex-1 tw-px-4 tw-py-3 tw-rounded-lg tw-border-2 tw-border-blue-400">
                  <div class="tw-font-bold" th:text="#{sicknote.extend.preview.new.title}">
                    Vorschau geänderte Krankmeldung
                  </div>
                  <div
                    class="tw-mt-4 tw-grid tw-gap-x-8 tw-gap-y-1"
                    style="grid-template-columns: repeat(2, minmax(max-content, 1fr))"
                  >
                    <span th:text="#{sicknote.extend.preview.new.start.label}">von</span>
                    <span class="tw-text-right" th:text="${#temporals.format(sickNoteExtended.startDate, 'FULL')}">
                      xx.xx.xxxx
                    </span>
                    <span th:text="#{sicknote.extend.preview.new.end.label}">Verlängerung bis</span>
                    <span class="tw-text-right" th:text="${#temporals.format(sickNoteExtended.endDate, 'FULL')}">
                      xx.xx.xxxx
                    </span>
                  </div>
                  <div
                    class="tw-mt-4 tw-text-sm tw-text-right"
                    th:text="#{sicknote.extend.preview.days-between(${sickNoteExtended.workingDays})}"
                  >
                    entspricht x Arbeitstagen
                  </div>
                </div>
              </div>
            </th:block>
            <div class="tw-flex tw-items-center tw-gap-2">
              <input
                type="checkbox"
                id="aub-input"
                name="isAub"
                class="uv-checkbox tw-shrink-0 tw-m-0"
                th:checked="${sickNote.isAub}"
              />
              <label for="aub-input" class="tw-m-0 tw-font-normal tw-text-base" th:text="#{sicknote.extend.aub.label}">
                Die Krankheit wurde durch einen Arzt festgestellt (AU-Bescheinigung vorhanden)
              </label>
            </div>
            <div>
              <th:block th:if="${sickNoteExtended != null}">
                <input type="hidden" name="id" th:value="${sickNoteExtended.id}" />
                <input type="hidden" name="startDate" th:value="${sickNoteExtended.startDate}" />
                <input type="hidden" name="endDate" th:value="${sickNoteExtended.endDate}" />
                <input type="hidden" name="workingdays" th:value="${sickNoteExtended.workingDays}" />
              </th:block>
              <button
                type="submit"
                class="button-main-green tw-w-full sm:tw-w-56"
                th:text="#{sicknote.extend.form.submit.text}"
              >
                Weiter Krank melden
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
