<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title})}">
    <title th:text="#{sicknote.extend.header.title}">Krankmeldung erweitern</title>
  </head>
  <body th:replace="~{_layout::body(~{::main})}">
    <main th:fragment="main" class="content-container content--max-w">
      <h1 th:text="#{sicknote.extend.title}">Weiter Krank melden</h1>
      <p class="mt-8" th:text="#{sicknote.extend.not-found.paragraph}">
        Es gibt keine laufende Krankmeldung die erweitert werden könnte.
      </p>
      <p
        class="mt-1"
        th:with="href=@{/web/sicknote/new}, text=#{sicknote.extend.not-found.create-new.link.text}, link=${'<a href=' + href + '>' + text + '</a>'}"
        th:utext="#{sicknote.extend.not-found.create-new.paragraph(${link})}"
      >
        Du kannst <a href="#">eine neue anlegen</a>.
      </p>
    </main>
  </body>
</html>
