<!doctype html>
<html
  lang="en"
  th:lang="${language}"
  th:class="|tw-${theme}|"
  xmlns:th="http://www.thymeleaf.org"
  th:with="editMode=${sickNote.id != null}"
>
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="${editMode} ? #{sicknote.edit.header.title} : #{sicknote.create.header.title}">
      Neue Krankmeldung
    </title>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.personId = /*[[${sickNote.person == null ? userId : sickNote.person.id}]]*/ "personId";
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
      <script th:replace="~{fragments/vacation-type-colors-script :: vacation-type-colors-script}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('sick_note_form.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="sick_note_form.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-2xl tw-mx-auto tw-px-4 lg:tw-px-12 lg:tw-max-w-6xl xl:tw-px-0">
      <form
        method="post"
        th:with="actionUrl=${editMode ? '/web/sicknote/__${sickNote.id}__/edit' : '/web/sicknote'}"
        th:action="@{__${actionUrl}__}"
        th:object="${sickNote}"
        class="uv-form uv-form-grid"
      >
        <div role="group" aria-describedby="group-sicknote-description">
          <h2 id="group-sicknote-description" class="uv-form-legend">
            <th:block th:if="${editMode}" th:text="#{sicknote.edit.title}"> Krankmeldung bearbeiten </th:block>
            <th:block
              th:if="${not editMode}"
              th:text="${canAddSickNote} ? #{sicknote.create.title} : #{sicknote.submit.title}"
            >
              Krankmeldung einreichen/erstellen
            </th:block>
          </h2>

          <div class="uv-form__group">
            <p
              class="uv-form__group-error alert alert-danger"
              th:if="${#fields.hasGlobalErrors()}"
              th:errors="*{global}"
            ></p>

            <p class="uv-form__info help-block help-block tw-text-sm">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              <th:block th:text="#{sicknote.data.description}"></th:block>
            </p>

            <!-- Employee -->
            <div th:if="${canAddSickNote}" class="uv-form__input-row">
              <label th:text="|#{sicknote.data.person}:|" class="is-required" for="employee"></label>
              <div>
                <th:block th:if="${not editMode}">
                  <select
                    th:replace="~{fragments/select::one(id='employee', name='person', options=~{::sicknote-person-select-options}, testId='person-select')}"
                    id="employee"
                  >
                    <th:block th:fragment="sicknote-person-select-options">
                      <option
                        th:each="p: ${persons}"
                        th:text="${p.niceName}"
                        th:value="${p.id}"
                        th:selected="${person.id == p.id}"
                      ></option>
                    </th:block>
                  </select>
                </th:block>
                <th:block th:if="${editMode}">
                  <input type="hidden" th:field="*{id}" />
                  <input type="hidden" th:field="*{person}" th:value="${sickNote.person.id}" />
                  <th:block th:text="${sickNote.person.niceName}" />
                </th:block>
              </div>
            </div>
            <th:block th:if="${!canAddSickNote}">
              <input type="hidden" name="person" th:value="${person.id}" />
            </th:block>

            <!-- Sick Note Type -->
            <div class="uv-form__input-row">
              <label for="sickNoteType" class="is-required" th:text="|#{sicknote.data.type}:|"> Typ </label>
              <select
                th:replace="~{fragments/select::one(id='sickNoteType', name='sickNoteType', options=~{::sicknotetype-select-options}, testId='sicknote-type-select')}"
                id="sickNoteType"
              >
                <th:block th:fragment="sicknotetype-select-options">
                  <option
                    th:each="sickNoteType: ${sickNoteTypes}"
                    th:text="#{__${sickNoteType.messageKey}__}"
                    th:value="${sickNoteType.id}"
                    th:selected="${sickNoteType == sickNote.sickNoteType}"
                  />
                </th:block>
              </select>
            </div>

            <!-- Day Length -->
            <div class="uv-form__input-row">
              <p class="uv-form__label uv-form__label--required" th:text="|#{absence.period}:|">Zeitraum</p>
              <div>
                <label>
                  <input
                    class="tw-mr-1"
                    id="dayLength"
                    type="radio"
                    th:field="*{dayLength}"
                    value="FULL"
                    th:selected="true"
                    data-test-id="day-type-full"
                  />
                  <th:block th:text="#{FULL}">ganztägig</th:block>
                </label>
                <label>
                  <input
                    class="tw-mr-1"
                    type="radio"
                    th:field="*{dayLength}"
                    value="MORNING"
                    checked="checked"
                    data-test-id="day-type-morning"
                  />
                  <span th:text="#{MORNING}">vormittags</span>
                </label>
                <label>
                  <input
                    class="tw-mr-1"
                    type="radio"
                    th:field="*{dayLength}"
                    value="NOON"
                    checked="checked"
                    data-test-id="day-type-noon"
                  />
                  <span th:text="#{NOON}">nachmittags</span>
                </label>
              </div>
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('dayLength')}">
                <th:block th:errors="*{dayLength}">dayLength Error</th:block>
              </p>
            </div>

            <!-- From -->
            <div class="uv-form__input-row">
              <label for="from" class="is-required tw-w-full lg:tw-w-1/4" th:text="|#{absence.period.startDate}:|">
                Von
              </label>
              <input
                id="from"
                th:field="*{startDate}"
                th:data-iso-value="${sickNote.startDateIsoValue}"
                th:errorclass="error"
                autocomplete="off"
                th:placeholder="#{pattern.date}"
                data-test-id="sicknote-from-date"
              />
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('startDate')}">
                <th:block th:errors="*{startDate}">startDate Error</th:block>
              </p>
            </div>

            <!-- To -->
            <div class="uv-form__input-row">
              <label for="to" class="is-required" th:text="|#{absence.period.endDate}:|"> Bis </label>
              <input
                id="to"
                th:field="*{endDate}"
                th:data-iso-value="${sickNote.endDateIsoValue}"
                th:errorclass="error"
                autocomplete="off"
                th:placeholder="#{pattern.date}"
                data-test-id="sicknote-to-date"
              />
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('endDate')}">
                <th:block th:errors="*{endDate}">endDate Error</th:block>
              </p>
            </div>
          </div>
        </div>

        <!-- AU -->
        <div role="group" aria-describedby="group-sicknote-au-description">
          <h2 id="group-sicknote-au-description" class="uv-form-legend" th:text="#{sicknote.data.aub.short}">
            AU-Bescheinigung
          </h2>

          <div class="uv-form__group">
            <p class="uv-form__info help-block help-block tw-text-sm">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              &nbsp<th:block th:text="#{sicknote.data.aub.description}"></th:block>
            </p>

            <!-- AU From -->
            <div class="uv-form__input-row">
              <label for="aubFrom" th:text="|#{absence.period.startDate}:|"> Von </label>
              <input
                id="aubFrom"
                th:field="*{aubStartDate}"
                th:data-iso-value="${sickNote.aubStartDateIsoValue}"
                th:errorclass="error"
                autocomplete="off"
                th:placeholder="#{pattern.date}"
                data-test-id="sicknote-aub-from"
              />
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('aubStartDate')}">
                <th:block th:errors="*{aubStartDate}">aubStartDate Error</th:block>
              </p>
            </div>

            <!-- AU To -->
            <div class="uv-form__input-row">
              <label for="aubTo" th:text="|#{absence.period.endDate}|">Bis</label>
              <input
                id="aubTo"
                th:field="*{aubEndDate}"
                th:data-iso-value="${sickNote.aubEndDateIsoValue}"
                th:errorclass="error"
                autocomplete="off"
                th:placeholder="#{pattern.date}"
                data-test-id="sicknote-aub-to"
              />
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('aubEndDate')}">
                <th:block th:errors="*{aubEndDate}">aubEndDate Error</th:block>
              </p>
            </div>
          </div>
        </div>

        <div role="group" aria-describedby="group-further-info-description">
          <h2
            id="group-further-info-description"
            class="uv-form-legend"
            th:text="#{sicknote.data.furtherInformation.title}"
          >
            Weitere Informationen
          </h2>

          <div class="uv-form__group">
            <p class="uv-form__info help-block help-block tw-text-sm">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              &nbsp;<th:block th:text="#{sicknote.data.furtherInformation.description}"></th:block>
            </p>

            <!-- Comment -->
            <div class="uv-form__input-row">
              <label for="comment" th:text="|#{sicknote.data.furtherInformation.comment}:|">
                Mit Kommentar zum Verlauf hinzufügen
              </label>
              <textarea id="comment" rows="2" th:field="*{comment}" th:errorclass="error"></textarea>
              <p class="uv-form__input-error" th:if="${#fields.hasErrors('comment')}">
                <th:block th:errors="*{comment}">comment Error</th:block>
              </p>
            </div>
          </div>
        </div>

        <div class="uv-form__actions">
          <th:block th:if="${editMode}">
            <button
              type="submit"
              class="button-main-green tw-w-56"
              th:text="#{action.apply.sicknote.edit}"
              data-test-id="sicknote-submit-button"
            >
              Krankmeldung bearbeiten
            </button>
          </th:block>
          <th:block th:if="${not editMode}">
            <button
              type="submit"
              class="button-main-green tw-w-56"
              th:text="${canAddSickNote} ? #{action.apply.sicknote} : #{action.apply.sicknote.submit}"
              data-test-id="sicknote-submit-button"
            >
              Krankmeldung einreichen/erstellen
            </button>
          </th:block>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </form>
    </main>
  </body>
</html>
