version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    labels:
      - "type: dependencies"
      - "javascript"
    groups:
      rollup:
        patterns:
          - "@rollup/*"
          - "rollup"
          - "rollup-*"
      babel:
        patterns:
          - "@babel/*"
          - "babel-*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "@eslint/*"
      jest:
        patterns:
          - "jest"
          - "jest-*"
      postcss:
        patterns:
          - "postcss"
          - "postcss-*"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"

  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "type: dependencies"
      - "java"
    groups:
      shedlock:
        patterns:
          - "net.javacrumbs.shedlock:*"
      jollyday:
        patterns:
          - "de.focus-shift:jollyday-*"
      spring-boot-major-upgrades:
        patterns:
          - "org.springframework.boot:*"
        update-types:
          - "major"
      spring-boot-minor-and-patch-upgrades:
        patterns:
          - "org.springframework.boot:*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
    labels:
      - "type: dependencies"
      - "github_actions"

  - package-ecosystem: "docker-compose"
    directories:
      - "/.examples/with-docker-compose"
      - "/"
    schedule:
      interval: "weekly"
