Hallo Office,

es liegt ein neuer genehmigter Antrag vor:

Mitarbeiter: ${application.person.firstName} ${application.person.lastName} 
Zeitraum des beantragten Urlaubs: ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength} 

