Information:

Der Urlaubsantrag von ${application.person.firstName} ${application.person.lastName} für den
Zeitraum von ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")} (${dayLength}) wurde storniert.

#if($comment.reason && $comment.reason != "")
Kommentar von ${comment.nameOfCommentingPerson}: ${comment.reason}
#end 

Link zum Antrag: ${link}