Hallo ${application.person.firstName},

${application.applier.firstName} ${application.applier.lastName} hat einen Urlaubsantrag für dich gestellt, der in Kürze bearbeitet werden sollte.

Link zum Antrag: ${link}

Antragsdatum: ${application.applicationDate.toString("dd.MM.yyyy")}
Zeitraum des beantragten Urlaubs: ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}
Art des Urlaubs: ${vacationType} 
#if($application.reason && $application.reason != "")
Grund: ${application.reason}
#end
Vertreter: ${application.rep}
#if($application.address && $application.address != "")
Anschrift/Telefon während des Urlaubs: ${application.address}
#end
#if($application.comment && $application.comment != "")
Kommentar: ${application.comment}
#end