---
apiVersion: v1
kind: ConfigMap
metadata:
  name: urlaubsverwaltung
data:
  application.properties: |
    # generic
    server.port=8080

    # DATABASE CONFIG
    spring.datasource.url=jdbc:postgresql://xxx:5434/urlaubsverwaltung

    # Security
    ## oidc configuration for the default tenant
    spring.security.oauth2.client.registration.default.client-id=urlaubsverwaltung
    spring.security.oauth2.client.registration.default.client-secret=urlaubsverwaltung-secret
    spring.security.oauth2.client.registration.default.client-name=urlaubsverwaltung
    spring.security.oauth2.client.registration.default.provider=default
    spring.security.oauth2.client.registration.default.scope=openid,profile,email,roles
    spring.security.oauth2.client.registration.default.authorization-grant-type=authorization_code
    spring.security.oauth2.client.registration.default.redirect-uri=http://{baseHost}:8080/login/oauth2/code/{registrationId}
    spring.security.oauth2.client.provider.default.issuer-uri=http://localhost:8090/auth/realms/urlaubsverwaltung-realm

    # Deactivate mail health check to prevent k8s to crashLoop,
    # because mail will be configured after the first mail was sent.
    # see https://github.com/urlaubsverwaltung/urlaubsverwaltung/issues/507
    management.health.mail.enabled=false
---
kind: Service
apiVersion: v1
metadata:
  labels:
    app: urlaubsverwaltung
  name: urlaubsverwaltung
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
  selector:
    app: urlaubsverwaltung
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: urlaubsverwaltung
spec:
  replicas: 1
  selector:
    matchLabels:
      app: urlaubsverwaltung
  template:
    metadata:
      labels:
        app: urlaubsverwaltung
    spec:
      containers:
        - name: urlaubsverwaltung
          image: urlaubsverwaltung/urlaubsverwaltung:3.0.0
          ports:
            - containerPort: 8080
          livenessProbe:
              httpGet:
                  path: /actuator/health
                  port: 8080
              initialDelaySeconds: 120
              periodSeconds: 10
              failureThreshold: 10
          readinessProbe:
              httpGet:
                  path: /actuator/health
                  port: 8080
              initialDelaySeconds: 60
              periodSeconds: 10
              failureThreshold: 10
          resources:
              requests:
                  cpu: 0.5
                  memory: "512Mi"
              limits:
                  cpu: 1.5
                  memory: "1024Mi"
          securityContext:
              privileged: false
              allowPrivilegeEscalation: false
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: default
            - name: JVM_OPTIONS
              value: "-XX:+PrintFlagsFinal -XX:+PrintGCDetails -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: urlaubsverwaltung-mariadb
                  key: databaseUser
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: urlaubsverwaltung-mariadb
                  key: databasePassword
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
      volumes:
        - name: config-volume
          configMap:
            name: urlaubsverwaltung
      securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
          runAsNonRoot: true
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: urlaubsverwaltung
spec:
  rules:
    - host: xxx
      http:
        paths:
          - path: /
            backend:
              serviceName: urlaubsverwaltung
              servicePort: http
