{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:@urlaubsverwaltung/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "Urlaubsverwaltung": true
  },
  "rules": {
    "unicorn/no-fn-reference-in-iterator": "warn",
    "unicorn/prefer-reflect-apply": "off"
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.test.js"],
      "rules": {
        "unicorn/consistent-function-scoping": "off",
        "@urlaubsverwaltung/no-date-fns": "off"
      }
    },
    {
      "files": "src/main/javascript/lib/date-fns/**",
      "rules": {
        "@urlaubsverwaltung/no-date-fns": "off"
      }
    },
    {
      "files": ["*.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}
