/nbproject/
nbactions.xml
/.settings/
/target/
/lib/~/
*.dump.sql
logs

# Ignore log
velocity.log*
*.log

# Ignore IntelliJ IDEA project files
.idea
*.iml

# Eclipse ignores
.classpath
.project

# Ignore vim swap files
*.sw[o|p]
