version: '3.8'
services:
  postgres:
    image: postgres:14.1-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-urlaubsverwaltung}
      POSTGRES_USER: ${POSTGRES_USER:-urlaubsverwaltung}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-urlaubsverwaltung}
    ports:
      - "5434:5432"
  mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - '1025:1025'
      - '8025:8025'
