services:
  postgres:
    image: postgres:15.3-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-urlaubsverwaltung}
      POSTGRES_USER: ${POSTGRES_USER:-urlaubsverwaltung}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-urlaubsverwaltung}
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 3s
      timeout: 1s
      retries: 5

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - '1025:1025'
      - '8025:8025'

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.6
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: '8090'
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_CACHE: 'local'
    ports:
      - '8090:8090'
    volumes:
      - ./docker/keycloak/export:/opt/keycloak/data/import
