<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="row">
        <div class="col-xs-12">
          <h2 th:text="#{settings.calendar.google.title}"></h2>
        </div>
      </div>
      <div class="row">
        <aside class="col-md-4 col-md-push-8 help-block tw-text-sm tw-break-words">
          <p th:text="#{settings.calendar.google.description}"></p>
          <dl class="tw-mt-4">
            <dt class="tw-mb-0.5 tw-flex tw-items-center tw-gap-2">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              <th:block th:text="#{settings.calendar.google.oauth-client-id.title}"></th:block>
            </dt>
            <dd th:utext="#{settings.calendar.google.oauth-client-id.description}"></dd>
            <dt class="tw-mb-0.5 tw-mt-4 tw-flex tw-items-center tw-gap-2">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              <th:block th:text="#{settings.calendar.google.oauth-client-secret.title}"></th:block>
            </dt>
            <dd th:text="#{settings.calendar.google.oauth-client-secret.description}"></dd>
            <dt class="tw-mb-0.5 tw-mt-4 tw-flex tw-items-center tw-gap-2">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              <th:block th:text="#{settings.calendar.google.calendar-id.title}"></th:block>
            </dt>
            <dd th:text="#{settings.calendar.google.calendar-id.description}"></dd>
            <dt class="tw-mb-0.5 tw-mt-4 tw-flex tw-items-center tw-gap-2">
              <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
              <th:block th:text="#{settings.calendar.google.redirect-url.title}"></th:block>
            </dt>
            <dd th:text="#{settings.calendar.google.redirect-url.description}"></dd>
          </dl>
        </aside>
        <div class="col-md-8 col-md-pull-4">
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.google.clientid}:|"
              class="control-label col-md-4"
              for="calendarSettings.googleCalendarSettings.clientId"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.googleCalendarSettings.clientId"
                th:field="*{calendarSettings.googleCalendarSettings.clientId}"
                class="form-control"
                th:errorclass="error"
              />
              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.googleCalendarSettings.clientId')}"
              >
                <th:block th:errors="*{calendarSettings.googleCalendarSettings.clientId}">
                  calendarSettings.googleCalendarSettings.clientId Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.google.clientsecret}:|"
              class="control-label col-md-4"
              for="calendarSettings.googleCalendarSettings.clientSecret"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.googleCalendarSettings.clientSecret"
                th:field="*{calendarSettings.googleCalendarSettings.clientSecret}"
                class="form-control"
                th:errorclass="error"
              />
              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.googleCalendarSettings.clientSecret')}"
              >
                <th:block th:errors="*{calendarSettings.googleCalendarSettings.clientSecret}">
                  calendarSettings.googleCalendarSettings.clientSecret Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.google.calendarid}:|"
              class="control-label col-md-4"
              for="calendarSettings.googleCalendarSettings.calendarId"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.googleCalendarSettings.calendarId"
                th:field="*{calendarSettings.googleCalendarSettings.calendarId}"
                class="form-control"
                th:errorclass="error"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.googleCalendarSettings.calendarId')}"
              >
                <th:block th:errors="*{calendarSettings.googleCalendarSettings.calendarId}">
                  calendarSettings.googleCalendarSettings.calendarId Error
                </th:block>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label
              for="redirecturl-input"
              th:text="|#{settings.calendar.google.redirecturl}:|"
              class="control-label col-md-4"
            >
            </label>
            <div class="col-md-8">
              <input
                id="redirecturl-input"
                class="form-control"
                type="text"
                name="calendarSettings.googleCalendarSettings.authorizedRedirectUrl"
                th:value="${authorizedRedirectUrl}"
                readonly
              />
            </div>
          </div>

          <div class="form-group">
            <p
              th:if="${not #strings.isEmpty(oautherrors)}"
              th:text="${oautherrors}"
              class="text-danger col-md-8 col-md-push-4"
            ></p>

            <th:block th:if="${settings.calendarSettings.googleCalendarSettings.refreshToken == null}">
              <p
                th:text="#{settings.calendar.google.action.authenticate.description}"
                class="text-danger col-md-5 col-md-push-4"
              ></p>
              <button
                th:text="#{settings.calendar.google.action.authenticate}"
                id="googleOAuthButton"
                value="oauth"
                name="googleOAuthButton"
                type="submit"
                class="button-main col-md-3 col-md-push-4"
              ></button>
            </th:block>
            <th:block th:if="${settings.calendarSettings.googleCalendarSettings.refreshToken != null}">
              <p
                th:text="#{settings.calendar.google.action.authenticate.success}"
                class="text-success col-md-8 col-md-push-4"
              ></p>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
