<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <div class="uv-form__input-row">
          <label th:text="|#{settings.calendar.provider}:|" class="is-required" for="calendarSettingsProvider">
            Kalenderanbindung
          </label>
          <select
            th:replace="~{fragments/select::one(id='calendarSettingsProvider', name='calendarSettings.provider', options=~{::settings-calendar-providers})}"
          >
            <th:block th:fragment="settings-calendar-providers">
              <option
                th:each="provider : ${providers}"
                th:text="|#{settings.calendar.provider.__${provider}__}|"
                th:value="${provider}"
                th:selected="${settings.calendarSettings.provider == provider}"
              ></option>
            </th:block>
          </select>
        </div>
      </div>
    </th:block>
  </body>
</html>
