<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:replace="~{fragments/section-heading::section-heading(~{::integrations-heading-body}, ~{})}">
        <th:block th:fragment="integrations-heading-body">
          <h2 th:text="#{settings.calendar.title}">Anbindung an Kalender</h2>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-4">
        <aside class="tw-w-full lg:tw-w-1/3"></aside>
        <div class="tw-w-full lg:tw-w-2/3">
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4">
            <label
              th:text="|#{settings.calendar.provider}:|"
              class="is-required tw-w-full lg:tw-w-1/4"
              for="calendarSettingsProvider"
            >
              Kalenderanbindung
            </label>
            <div class="tw-w-full lg:tw-w-3/4">
              <select
                th:replace="~{fragments/select::one(id='calendarSettingsProvider', name='calendarSettings.provider', options=~{::settings-calendar-providers})}"
              >
                <th:block th:fragment="settings-calendar-providers">
                  <option
                    th:each="provider : ${providers}"
                    th:text="|#{settings.calendar.provider.__${provider}__}|"
                    th:value="${provider}"
                    th:selected="${settings.calendarSettings.provider == provider}"
                  ></option>
                </th:block>
              </select>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
