<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{overtime.header.title(${person.niceName})}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('overtime_overview.js')}" />
    </th:block>
    <th:block th:ref="scriptsDefer">
      <script defer type="module" asset:src="overtime_overview.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::overtime-list-heading-body}, ~{::overtime-list-heading-actions})}"
      >
        <th:block th:fragment="overtime-list-heading-body">
          <h2 th:text="#{overtime.title}"></h2>
          <div
            th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/overtime?person=${person.id}&year=|, selectedYear=${selectedYear})}"
          ></div>
        </th:block>
        <th:block th:fragment="overtime-list-heading-actions">
          <a
            th:if="${userIsAllowedToWriteOvertime}"
            th:href="@{/web/overtime/new?person=__${person.id}__}"
            class="icon-link tw-px-1"
          >
            <svg th:replace="~{icon/plus-circle::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
            <span th:text="#{action.overtime.new}"></span>
          </a>
        </th:block>
      </div>

      <div class="tw-mb-16">
        <div class="sm:tw-flex">
          <div class="sm:tw-flex-1 lg:tw-flex-none lg:tw-w-1/3">
            <div th:replace="~{person/box::person-box(person=${person}, departments=${departmentsOfPerson})}"></div>
          </div>
          <div class="sm:tw-flex-1 tw-flex tw-flex-col lg:tw-flex-row tw-gap-y-8">
            <div class="tw-flex-1">
              <div th:replace="~{overtime/box::overtime-box-total(overtimeTotal=${overtimeTotal})}"></div>
            </div>
            <div class="tw-flex-1">
              <div th:replace="~{overtime/box::overtime-box-left(overtimeLeft=${overtimeLeft})}"></div>
            </div>
          </div>
        </div>
      </div>

      <table class="list-table selectable-table tw-text-sm">
        <caption th:text="#{overtime.list.title}" class="tw-sr-only"></caption>
        <thead th:if="${not #lists.isEmpty(records)}">
          <tr>
            <th th:text="#{overtime.list.col.icon}" class="tw-hidden md:tw-table-cell tw-sr-only" scope="col"></th>
            <th th:text="#{overtime.list.col.date}" class="tw-pl-8 tw-font-medium" scope="col"></th>
            <th th:text="#{overtime.list.col.duration}" class="tw-font-medium tw-text-center" scope="col"></th>
            <th th:text="#{overtime.list.col.sum}" class="tw-font-medium tw-text-right" scope="col"></th>
            <th th:text="#{overtime.list.col.actions}" class="tw-sr-only" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            th:each="record : ${records}"
            th:with="recordDetailsUrl=${record.type == 'OVERTIME' ? '/web/overtime/__${record.id}__' : '/web/application/__${record.id}__'}"
            th:onclick="|navigate('__${recordDetailsUrl}__');|"
            class="active"
          >
            <td class="tw-hidden md:tw-table-cell is-centered">
              <th:block th:if="${record.negative}">
                <svg th:replace="~{icon/arrow-down::svg(className='tw-w-5 tw-h-5')}"></svg>
              </th:block>
              <th:block th:if="${record.positive}">
                <svg th:replace="~{icon/arrow-up::svg(className='tw-w-5 tw-h-5')}"></svg>
              </th:block>
            </td>

            <td>
              <div class="tw-flex">
                <div class="tw-flex tw-items-center tw-mr-2">
                  <th:block th:if="${record.type == 'OVERTIME'}">
                    <div class="tw-w-3"></div>
                  </th:block>
                  <th:block th:if="${record.type == 'ABSENCE'}">
                    <div
                      class="absence-type_color-box tw-w-3"
                      th:classappend="|
                        ${record.status == 'WAITING' ? 'absence-type_color-box-waiting' : ''}
                        ${record.status == 'TEMPORARY_ALLOWED' ? 'absence-type_color-box-temporary-allowed' : ''}
                        ${record.status == 'ALLOWED' ? 'absence-type_color-box-allowed' : ''}
                        ${record.status == 'ALLOWED_CANCELLATION_REQUESTED' ? 'absence-type_color-box-cancellation-requested' : ''}
                        ${record.status == 'CANCELLED' ? 'absence-type_color-box-cancelled' : ''}
                        ${record.status == 'REJECTED' || record.status == 'REVOKED' ? 'absence-type_color-box-rejected-revoked' : ''}
                        |"
                      th:styleappend="|${'--absence-bar-color:var(--absence-color-' + record.color + ');'}|"
                      th:title="${#messages.msg(record.status)}"
                    >
                      &nbsp;
                    </div>
                  </th:block>
                </div>
                <div class="tw-flex tw-flex-col">
                  <th:block th:if="${record.type == 'OVERTIME'}">
                    <span th:text="#{overtime.link.overtime}" class="visible-print"></span>
                    <a
                      th:text="#{overtime.link.overtime}"
                      class="print:tw-hidden tw-text-lg tw-mb-1"
                      th:href="@{__${recordDetailsUrl}__}"
                    >
                    </a>
                  </th:block>
                  <th:block th:if="${record.type == 'ABSENCE'}">
                    <span th:text="#{overtime.link.absence}" class="visible-print"></span>
                    <a
                      th:text="#{overtime.link.absence}"
                      class="print:tw-hidden tw-text-lg tw-mb-1"
                      th:href="@{__${recordDetailsUrl}__}"
                    >
                    </a>
                  </th:block>
                  <span>
                    <th:block th:replace="~{fragments/date-range(from=${record.startDate}, to=${record.endDate})}" />
                  </span>
                </div>
              </div>
            </td>

            <td class="tw-text-center">
              <div th:text="${{record.durationByYear.get(selectedYear)}}"></div>
              <span>
                <th:block th:each="yearDurationEntry, iterStat : ${record.getDurationByYear(selectedYear)}">
                  <th:block
                    th:if="${iterStat.first}"
                    th:text="#{overtime.list.col.duration.additionalInfo.first}"
                  ></th:block>
                  <th:block
                    th:text="#{overtime.list.col.duration.additionalInfo(${{yearDurationEntry.value}}, ${yearDurationEntry.key})}"
                  ></th:block>
                  <th:block
                    th:if="${!iterStat.last}"
                    th:text="#{overtime.list.col.duration.additionalInfo.notLast}"
                  ></th:block>
                </th:block>
              </span>
            </td>

            <td>
              <div class="tw-flex tw-justify-end">
                <div class="tw-flex tw-justify-between tw-gap-2 tw-w-full md:tw-w-8/12 lg:tw-w-8/12">
                  <span>Σ</span>
                  <span th:text="${{record.sum}}">1 Std. 30 Min. </span>
                </div>
              </div>
            </td>

            <td class="tw-text-right">
              <a th:if="${record.allowedToEdit}" class="button tw-flex-1" th:href="|@{__${recordDetailsUrl}__/edit}|">
                <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"></svg>
                <span th:text="#{action.edit}" class="tw-sr-only xs:tw-not-sr-only"> </span>
              </a>
            </td>
          </tr>

          <tr th:if="${#lists.isEmpty(records)}">
            <td
              th:text="#{overtime.none(${selectedYear})}"
              colspan="5"
              class="tw-border-t-0 tw-text-center tw-pb-10"
            ></td>
          </tr>

          <tr
            th:with="lastYear=${selectedYear - 1}, lastYearUrl=|/web/overtime?person=${person.id}&year=${lastYear}|"
            th:onclick="|navigate('__${lastYearUrl}__');|"
          >
            <td class="tw-hidden md:tw-table-cell tw-border-b-0">
              <svg th:replace="~{icon/reply::svg(className='tw-w-5 tw-h-5 tw--scale-x-100')}"></svg>
            </td>

            <td class="tw-border-b-0 tw-pl-8">
              <span th:text="#{overtime.link.last-year}" class="visible-print"> </span>
              <a
                th:text="#{overtime.link.last-year}"
                class="print:tw-hidden tw-text-lg tw-mb-1"
                th:href="@{/web/overtime?person=__${person.id}__&year=__${lastYear}__}"
              >
              </a>
              <p th:text="|#{overtime.list.last-year-details} ${lastYear}|"></p>
            </td>

            <td th:text="${{overtimeTotalLastYear}}" colspan="2" class="tw-border-b-0 tw-text-right"></td>

            <td class="tw-border-b-0"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
