<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{overtime.details.header.title}">Überstunden</title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('overtime_details.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="overtime_details.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="feedback tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
        <p
          th:if="${overtimeRecord != null}"
          th:text="#{'overtime.feedback.' + ${overtimeRecord}}"
          class="alert alert-success"
        ></p>
      </div>

      <div
        class="tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0 lg:tw-grid lg:tw-grid-cols-2 lg:tw-gap-8"
      >
        <div>
          <div
            th:replace="~{fragments/section-heading::section-heading(~{::overtime-details-heading-body}, ~{::overtime-details-heading-actions})}"
          >
            <th:block th:fragment="overtime-details-heading-body">
              <h2 th:text="#{overtime.title}"></h2>
            </th:block>
            <th:block th:fragment="overtime-details-heading-actions">
              <div class="tw-flex tw-flex-col sm:tw-flex-row">
                <a
                  th:if="${userIsAllowedToWriteOvertime}"
                  th:href="@{/web/overtime/__${record.id}__/edit}"
                  class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
                <a
                  th:href="@{/web/overtime?person=__${record.person.id}__}"
                  class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/clock::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.overtime.list}"></span>
                </a>
              </div>
            </th:block>
          </div>

          <div class="box tw-mb-8 tw-p-5">
            <div
              th:replace="~{fragments/box::box-with-icon(~{::overtime-details-box-icon}, ~{::overtime-details-box-body})}"
            >
              <th:block th:ref="overtime-details-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::overtime-box-total-icon-rounded}, className='tw-bg-emerald-500 tw-text-white dark:tw-bg-green-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="overtime-box-total-icon-rounded">
                    <svg th:replace="~{icon/clock::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="overtime-details-box-body">
                <span class="tw-text-sm" data-test-id="overtime-person">
                  <th:block th:text="${record.person.niceName}" />&nbsp;<th:block
                    th:text="#{overtime.details.hours.1}"
                  />
                </span>
                <span
                  th:text="${{record.duration}}"
                  class="tw-my-1 tw-text-lg tw-font-medium"
                  data-test-id="overtime-duration"
                >
                </span>
                <span class="tw-text-sm">
                  <th:block
                    th:replace="~{fragments/date-range::date-range(${record.startDate}, ${record.endDate})}"
                  ></th:block>
                </span>
              </th:block>
            </div>
          </div>

          <table
            th:if="${#maps.size(record.getDurationByYear()) >= 2}"
            class="list-table striped-table bordered-table tw-text-sm tw-table-fixed"
          >
            <tr>
              <td th:text="#{overtime.period.duration.label}"></td>
              <td>
                <th:block th:each="yearDurationEntry, iterStat : ${record.getDurationByYear()}">
                  <div>
                    <th:block
                      th:text="#{overtime.list.col.duration.additionalInfo(${{yearDurationEntry.value}}, ${yearDurationEntry.key})}"
                    ></th:block>
                    <th:block
                      th:if="${!iterStat.last}"
                      th:text="#{overtime.list.col.duration.additionalInfo.notLast}"
                    ></th:block>
                  </div>
                </th:block>
              </td>
            </tr>
          </table>

          <div th:replace="~{fragments/section-heading::section-heading(~{::overtime-progress-heading-body}, ~{})}">
            <th:block th:fragment="overtime-progress-heading-body">
              <h2 th:text="#{overtime.progress.title}"></h2>
            </th:block>
          </div>
          <table class="list-table striped-table bordered-table tw-mb-8 tw-text-sm">
            <caption class="tw-sr-only" th:text="#{overtime.progress.title}">
              Verlauf
            </caption>
            <tbody>
              <tr th:each="comment : ${comments}">
                <td>
                  <span class="tw-text-blue-50 dark:tw-text-sky-800">
                    <img
                      th:replace="~{fragments/avatar::avatar-bordered(url=${comment.person != null ? comment.person.gravatarUrl + '?d=404&s=40' : null},niceName=${comment.person != null ? comment.person.niceName : null},initials=${comment.person != null ? comment.person.initials : null},width='40',height='40',personId=${comment.person != null ? comment.person.id : null})}"
                      alt=""
                    />
                  </span>
                </td>
                <td th:if="${comment.person != null}">
                  <a
                    th:text="${comment.person.niceName}"
                    th:href="@{/web/person/__${comment.person.id}__/overview}"
                    class="icon-link"
                    data-turbo="false"
                  ></a>
                </td>
                <td th:if="${comment.person == null}" th:text="#{overtime.progress.deleted-author}"></td>
                <td>
                  <th:block th:text="#{'overtime.progress.' + ${comment.action}}"></th:block>
                  <th:block th:replace="~{fragments/date::date(${comment.date})}"></th:block>
                  <th:block th:if="${comment.text != null && not #lists.isEmpty(comment.text)}">
                    <th:block th:text="#{overtime.progress.comment}"></th:block>
                    <br />
                    <em th:text="${comment.text}"></em>
                  </th:block>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tw-mb-16">
          <div th:replace="~{fragments/section-heading::section-heading(~{::overtime-data-person-heading-body}, ~{})}">
            <th:block th:fragment="overtime-data-person-heading-body">
              <h2 th:text="#{overtime.data.person}"></h2>
            </th:block>
          </div>
          <div class="tw-flex tw-flex-wrap tw-space-y-8 lg:tw-space-y-0">
            <div class="tw-w-full">
              <div class="box tw-mb-5 tw-p-5">
                <div
                  th:replace="~{person/box::person-box(person=${record.person}, departments=${departmentsOfPerson})}"
                ></div>
              </div>
              <div class="box tw-mb-5 tw-p-5">
                <div th:replace="~{overtime/box::overtime-box-total(overtimeTotal=${overtimeTotal})}"></div>
              </div>
              <div class="box tw-mb-5 tw-p-5">
                <div th:replace="~{overtime/box::overtime-box-left(overtimeLeft=${overtimeLeft})}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
