<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::reminder-holiday-replacement-heading-body}, ~{})}"
      >
        <th:block th:fragment="reminder-holiday-replacement-heading-body">
          <h2 th:text="#{settings.vacation.remindForUpcomingHolidayReplacement.title}">
            Automatische Erinnerung für bevorstehende Vertretungen
          </h2>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-y-4 tw-gap-x-8">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.vacation.remindForUpcomingHolidayReplacement.description}" />
          </p>
        </aside>

        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Activation of the reminder for upcoming holiday replacements -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              class="is-required tw-w-full lg:tw-w-2/6"
              for="applicationSettings.remindForUpcomingHolidayReplacement.activation.true"
            >
              <th:block th:text="|#{settings.vacation.remindForUpcomingHolidayReplacement.activation}:|">
                Automatische Erinnerungsfunktion
              </th:block>
            </label>
            <div class="tw-w-full lg:tw-w-4/6">
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="applicationSettings.remindForUpcomingHolidayReplacement.activation.true"
                  th:field="*{applicationSettings.remindForUpcomingHolidayReplacement}"
                  value="true"
                />
                <th:block th:text="#{settings.vacation.remindForUpcomingHolidayReplacement.activation.true}"
                  >aktivieren</th:block
                >
              </label>
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="applicationSettings.remindForUpcomingHolidayReplacement.activation.false"
                  th:field="*{applicationSettings.remindForUpcomingHolidayReplacement}"
                  value="false"
                />
                <th:block th:text="#{settings.vacation.remindForUpcomingHolidayReplacement.activation.false}"
                  >deaktivieren</th:block
                >
              </label>
            </div>
          </div>

          <!-- Number of days before the reminder for upcoming holiday replacements -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              class="is-required tw-w-full lg:tw-w-2/6"
              for="applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement"
            >
              <th:block th:text="|#{settings.vacation.daysBeforeRemindForUpcomingHolidayReplacement}:|">
                Wie viele Tage im Voraus soll die Vertretung über eine bevorstehende Vertretung benachrichtigt werden
              </th:block>
            </label>
            <div class="tw-w-full lg:tw-w-4/6">
              <input
                id="applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement"
                th:field="*{applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />
              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement')}"
              >
                <th:block th:errors="*{applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement}">
                  applicationSettings.daysBeforeRemindForUpcomingHolidayReplacement Error
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
