<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <div class="uv-form__info">
          <p class="uv-help-block">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.vacation.remindForUpcomingApplications.description}" />
          </p>
        </div>

        <!-- Activation of the reminder for upcoming applications -->
        <div class="uv-form__input-row">
          <p
            class="uv-form__label uv-form__label--required"
            th:text="|#{settings.vacation.remindForUpcomingApplications}:|"
          >
            Automatische Erinnerungsfunktion
          </p>
          <div>
            <label>
              <input
                type="radio"
                id="applicationSettings.remindForUpcomingApplications.true"
                th:field="*{applicationSettings.remindForUpcomingApplications}"
                value="true"
              />
              <th:block th:text="#{settings.vacation.remindForUpcomingApplications.true}">aktivieren</th:block>
            </label>
            <label>
              <input
                type="radio"
                id="applicationSettings.remindForUpcomingApplications.false"
                th:field="*{applicationSettings.remindForUpcomingApplications}"
                value="false"
              />
              <th:block th:text="#{settings.vacation.remindForUpcomingApplications.false}">deaktivieren</th:block>
            </label>
          </div>
        </div>

        <!-- Number of days before the upcoming applications reminder is sent -->
        <div class="uv-form__input-row">
          <label
            th:text="|#{settings.vacation.daysBeforeRemindForUpcomingApplications}:|"
            class="is-required"
            for="applicationSettings.daysBeforeRemindForUpcomingApplications"
          >
            Wie viele Tage im Voraus soll die Antragsteller:in benachrichtigt werden
          </label>
          <input
            id="applicationSettings.daysBeforeRemindForUpcomingApplications"
            th:field="*{applicationSettings.daysBeforeRemindForUpcomingApplications}"
            th:errorclass="error"
            type="number"
            step="1"
          />
          <p
            class="uv-form__input-error"
            th:if="${#fields.hasErrors('applicationSettings.daysBeforeRemindForUpcomingApplications')}"
          >
            <th:block th:errors="*{applicationSettings.daysBeforeRemindForUpcomingApplications}">
              applicationSettings.daysBeforeRemindForUpcomingApplications Error
            </th:block>
          </p>
        </div>
      </div>
    </th:block>
  </body>
</html>
