<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:replace="~{fragments/section-heading::section-heading(~{::sick-days-heading-body}, ~{})}">
        <th:block th:fragment="sick-days-heading-body">
          <h2 th:text="#{settings.sickDays.title}">Einstellungen zu Krankmeldungen</h2>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse lg:tw-gap-y-4 tw-gap-x-8 tw-mb-8">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.sickDays.description}" />
          </p>
        </aside>

        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Maximum sick pay days -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.sickDays.maximumSickPayDays}:|"
              class="is-required tw-w-full lg:tw-w-2/6"
              for="sickNoteSettings.maximumSickPayDays"
              >Dauer der Lohnfortzahlung im Krankheitsfall (in Tagen)</label
            >
            <div class="tw-w-full lg:tw-w-4/6">
              <input
                id="sickNoteSettings.maximumSickPayDays"
                th:field="*{sickNoteSettings.maximumSickPayDays}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('sickNoteSettings.maximumSickPayDays')}"
              >
                <th:block th:errors="*{sickNoteSettings.maximumSickPayDays}">
                  sickNoteSettings.maximumSickPayDays Error
                </th:block>
              </div>
            </div>
          </div>

          <!-- Days before end of sick pay notification -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.sickDays.daysBeforeEndOfSickPayNotification}:|"
              class="is-required tw-w-full lg:tw-w-2/6"
              for="sickNoteSettings.daysBeforeEndOfSickPayNotification"
              >Wie viele Tage im Voraus soll der Arbeitnehmer über Lohnfortzahlungsende benachrichtigt werden</label
            >
            <div class="tw-w-full lg:tw-w-4/6">
              <input
                id="sickNoteSettings.daysBeforeEndOfSickPayNotification"
                th:field="*{sickNoteSettings.daysBeforeEndOfSickPayNotification}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('sickNoteSettings.daysBeforeEndOfSickPayNotification')}"
              >
                <th:block th:errors="*{sickNoteSettings.daysBeforeEndOfSickPayNotification}">
                  sickNoteSettings.daysBeforeEndOfSickPayNotification Error
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse lg:tw-gap-y-4 tw-gap-x-8">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <span
              class="tw-px-1.5 tw-no-underline tw-rounded-full tw-bg-blue-100 tw-text-blue-800 dark:tw-border dark:tw-border-blue-600 dark:tw-text-blue-600 dark:tw-bg-transparent print:no-link"
              th:text="#{settings.betaTag}"
              >BETA</span
            >
            <th:block th:utext="#{settings.sickDays.betaUserIsAllowedToSubmitSickNotes}" />
          </p>
        </aside>

        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Allow users to submit their own sick notes -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label class="is-required tw-w-full lg:tw-w-2/6" for="sickDays.userIsAllowedToSubmitSickNotes.true">
              <span th:text="|#{settings.sickDays.userIsAllowedToSubmitSickNotes}:|"
                >Benutzer können Krankmeldungen selbst eintragen</span
              >
            </label>
            <div class="tw-w-full lg:tw-w-4/6 radio">
              <label class="halves">
                <input
                  type="radio"
                  id="sickDays.userIsAllowedToSubmitSickNotes.true"
                  th:field="*{sickNoteSettings.userIsAllowedToSubmitSickNotes}"
                  data-test-id="user-allowed-to-submit-sicknote-input"
                  value="true"
                />
                <th:block th:text="#{settings.sickDays.userIsAllowedToSubmitSickNotes.true}" />
              </label>
              <label class="halves">
                <input
                  type="radio"
                  id="sickNoteSettings.userIsAllowedToSubmitSickNotes.false"
                  th:field="*{sickNoteSettings.userIsAllowedToSubmitSickNotes}"
                  data-test-id="user-allowed-to-submit-sicknote-input"
                  value="false"
                />
                <th:block th:text="#{settings.sickDays.userIsAllowedToSubmitSickNotes.false}" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
