<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:replace="~{fragments/section-heading::section-heading(~{::sick-days-heading-body}, ~{})}">
        <th:block th:fragment="sick-days-heading-body">
          <h2 th:text="#{settings.sickDays.title}"></h2>
        </th:block>
      </div>

      <div class="row">
        <aside class="col-md-4 col-md-push-8">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.sickDays.description}" />
          </p>
        </aside>
        <div class="col-md-8 col-md-pull-4">
          <div class="form-group is-required">
            <label
              th:text="|#{settings.sickDays.maximumSickPayDays}:|"
              class="control-label col-md-4"
              for="sickNoteSettings.maximumSickPayDays"
            >
            </label>
            <div class="col-md-8">
              <input
                id="sickNoteSettings.maximumSickPayDays"
                th:field="*{sickNoteSettings.maximumSickPayDays}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('sickNoteSettings.maximumSickPayDays')}"
              >
                <th:block th:errors="*{sickNoteSettings.maximumSickPayDays}">
                  sickNoteSettings.maximumSickPayDays Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group is-required">
            <label
              th:text="|#{settings.sickDays.daysBeforeEndOfSickPayNotification}:|"
              class="control-label col-md-4"
              for="sickNoteSettings.daysBeforeEndOfSickPayNotification"
            >
            </label>
            <div class="col-md-8">
              <input
                id="sickNoteSettings.daysBeforeEndOfSickPayNotification"
                th:field="*{sickNoteSettings.daysBeforeEndOfSickPayNotification}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('sickNoteSettings.daysBeforeEndOfSickPayNotification')}"
              >
                <th:block th:errors="*{sickNoteSettings.daysBeforeEndOfSickPayNotification}">
                  sickNoteSettings.daysBeforeEndOfSickPayNotification Error
                </th:block>
              </div>
            </div>
          </div>
        </div>
        <aside class="col-md-4 col-md-push-8">
          <p class="help-block tw-text-sm">
            <span
              class="tw-px-1.5 tw-no-underline tw-rounded-full tw-bg-blue-100 tw-text-blue-800 dark:tw-border dark:tw-border-blue-600 dark:tw-text-blue-600 dark:tw-bg-transparent print:no-link"
              th:text="#{settings.betaTag}"
              >BETA</span
            >
            <th:block th:utext="#{settings.sickDays.betaUserIsAllowedToSubmitSickNotes}" />
          </p>
        </aside>
        <div class="col-md-8 col-md-pull-4">
          <div class="form-group is-required">
            <label class="control-label col-md-4" for="sickDays.userIsAllowedToSubmitSickNotes.true">
              <span th:text="|#{settings.sickDays.userIsAllowedToSubmitSickNotes}:|" />
            </label>
            <div class="col-md-8 radio">
              <label class="halves">
                <input
                  type="radio"
                  id="sickDays.userIsAllowedToSubmitSickNotes.true"
                  th:field="*{sickNoteSettings.userIsAllowedToSubmitSickNotes}"
                  data-test-id="user-allowed-to-submit-sicknote-input"
                  value="true"
                />
                <th:block th:text="#{settings.sickDays.userIsAllowedToSubmitSickNotes.true}" />
              </label>
              <label class="halves">
                <input
                  type="radio"
                  id="sickNoteSettings.userIsAllowedToSubmitSickNotes.false"
                  th:field="*{sickNoteSettings.userIsAllowedToSubmitSickNotes}"
                  data-test-id="user-allowed-to-submit-sicknote-input"
                  value="false"
                />
                <th:block th:text="#{settings.sickDays.userIsAllowedToSubmitSickNotes.false}" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
