<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <div th:fragment="section" class="uv-form__group">
      <!-- Maximum months to apply for leave in advance -->
      <div class="uv-form__input-row">
        <label
          th:text="#{settings.vacation.maximumMonthsToApplyForLeaveInAdvance}"
          class="is-required"
          for="applicationSettings.maximumMonthsToApplyForLeaveInAdvance"
        >
          Wie viele Monate im Voraus dürfen Mitarbeitende eine neue Abwesenheit erstellen?
        </label>
        <div>
          <input
            id="applicationSettings.maximumMonthsToApplyForLeaveInAdvance"
            th:field="*{applicationSettings.maximumMonthsToApplyForLeaveInAdvance}"
            class="form-control"
            th:errorclass="error"
            type="number"
            step="1"
          />
          <p
            class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
            th:if="${#fields.hasErrors('applicationSettings.maximumMonthsToApplyForLeaveInAdvance')}"
          >
            <th:block th:errors="*{applicationSettings.maximumMonthsToApplyForLeaveInAdvance}">
              applicationSettings.maximumMonthsToApplyForLeaveInAdvance Error
            </th:block>
          </p>
        </div>
      </div>

      <!-- Maximum months to apply for leave afterward -->
      <div class="uv-form__input-row">
        <label
          th:text="#{settings.vacation.maximumMonthsToApplyForLeaveAfterwards}"
          class="is-required"
          for="applicationSettings.maximumMonthsToApplyForLeaveAfterwards"
        >
          Wie viele Monate im Nachhinein dürfen Mitarbeitende eine neue Abwesenheit erstellen?
        </label>
        <div>
          <input
            id="applicationSettings.maximumMonthsToApplyForLeaveAfterwards"
            th:field="*{applicationSettings.maximumMonthsToApplyForLeaveAfterwards}"
            class="form-control"
            th:errorclass="error"
            type="number"
            step="1"
          />
          <p
            class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
            th:if="${#fields.hasErrors('applicationSettings.maximumMonthsToApplyForLeaveAfterwards')}"
          >
            <th:block th:errors="*{applicationSettings.maximumMonthsToApplyForLeaveAfterwards}">
              applicationSettings.maximumMonthsToApplyForLeaveAfterwards Error
            </th:block>
          </p>
        </div>
      </div>

      <!-- Allow half days for vacation -->
      <div class="uv-form__input-row">
        <label
          th:text="|#{settings.vacation.allowHalfDays}:|"
          class="is-required"
          for="applicationSettings.allowHalfDays.true"
        >
          Halbe Tage
        </label>
        <div>
          <label data-test-id="vacation-half-day-enable">
            <input
              type="radio"
              id="applicationSettings.allowHalfDays.true"
              th:field="*{applicationSettings.allowHalfDays}"
              value="true"
            />
            <th:block th:text="#{settings.vacation.allowHalfDays.true}">aktivieren</th:block>
          </label>
          <label data-test-id="vacation-half-day-disable">
            <input
              type="radio"
              id="applicationSettings.allowHalfDays.false"
              th:field="*{applicationSettings.allowHalfDays}"
              value="false"
            />
            <th:block th:text="#{settings.vacation.allowHalfDays.false}">deaktivieren</th:block>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
