body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 100%;
  margin: 0;
  color: #444444;
}

hr {
  border-color: #d5d5d5;
}

footer {
  color: #aaa;
  /*font-size: 11px;*/
  text-align: center;
}

@layer base {
  h1 {
    @apply tw-text-2xl;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }
  h2 {
    @apply tw-text-xl;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }
  h3 {
    @apply tw-text-base;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }
  h4 {
    @apply tw-text-base;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }
  h5 {
    @apply tw-text-base;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }
  h6 {
    @apply tw-text-base;
    @apply tw-font-normal;
    @apply tw-leading-6;
  }

  label {
    @apply tw-font-semibold;
    @apply tw-text-sm;
    @apply tw-leading-6;
  }
}
