@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./theme.css";

/* html element has .dark class to enforce dark theme */
@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@custom-variant supports-backdrop-blur {
  @supports (backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0)) {
    @slot;
  }
}

@layer base {
  /*Improve readability of focused elements when they are also in an*/
  /*active/hover state.*/
  a:active,
  a:hover {
    outline: 0;
  }

  /*Address inconsistent and variable font size in all browsers.*/
  small {
    font-size: 80%;
  }
}
