/**************************************************************************

  LOGIN MODULE

**************************************************************************/

.login {
  /* Ok */
}

.login--form {
  padding: 12px;
}

@media (min-width: 768px) {
  .login--form {
    max-width: 400px;
    padding: 24px;
    margin: 0 auto 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    @apply dark:tw-bg-neutral-800;
    @apply dark:tw-border-neutral-800;
  }
}
