@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components/action-link.css";
@import "./components/button.css";
@import "./components/box.css";
@import "./components/loading.css";
@import "./components/form.css";
@import "./components/icon-link.css";
@import "./components/jquery-ui-datepicker.css";
@import "./components/legend.css";
@import "./components/link.css";
@import "./components/navigation.css";
@import "./components/multi-select.css";
@import "./components/table.css";
@import "./components/tabs.css";
@import "./components/separator.css";
@import "./components/states.css";
@import "./components/print.css";
@import "./components/section-heading.css";

@import "tailwindcss/utilities";
@import "./utility.css";
