@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components/button.css";
@import "./components/box.css";
@import "./components/error.css";
@import "./components/form.css";
@import "./components/icon-link.css";
@import "./components/jquery-ui-datepicker.css";
@import "./components/legend.css";
@import "./components/link.css";
@import "./components/table.css";
@import "./components/tabs.css";
@import "./components/separator.css";
@import "./components/states.css";
@import "./components/print.css";
@import "./components/section-heading.css";

@import "tailwindcss/utilities";
@import "./utility.css";

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  @apply box-border; /* 1 */
  @apply border-0; /* 2 */
  @apply border-solid; /* 2 */
  @apply border-gray-300; /* 2 */
}

html {
  /* override bootstrap 10px font-size */
  /* to match 1rem to the user configured font size */
  font-size: 100%;
}

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}
