<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:replace="~{fragments/section-heading::section-heading(~{::public-holidays-heading-body}, ~{})}">
        <th:block th:fragment="public-holidays-heading-body">
          <h2 th:text="#{settings.publicHolidays.title}">Einstellungen zu Feiertagen</h2>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-y-4 tw-gap-x-8">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.publicHolidays.description}" />
          </p>
        </aside>

        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Working duration settings for Christmas Eve -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.publicHolidays.workingDuration.christmasEve}:|"
              class="is-required tw-w-full lg:tw-w-2/6"
              for="publicHolidaysSettings.workingDurationForChristmasEve"
            >
            </label>
            <div class="tw-w-full lg:tw-w-4/6">
              <select
                th:replace="~{fragments/select::one(id='publicHolidaysSettings.workingDurationForChristmasEve', name='publicHolidaysSettings.workingDurationForChristmasEve', options=~{::settings-workingtimes-workingDurationForChristmasEve})}"
              >
                <th:block th:fragment="settings-workingtimes-workingDurationForChristmasEve">
                  <option
                    th:each="dayLengthType : ${dayLengthTypes}"
                    th:text="#{__${dayLengthType}__}"
                    th:value="${dayLengthType}"
                    th:selected="${settings.publicHolidaysSettings.workingDurationForChristmasEve == dayLengthType}"
                  ></option>
                </th:block>
              </select>
            </div>
          </div>

          <!-- Working duration settings for New Year's Eve -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.publicHolidays.workingDuration.newYearsEve}:|"
              class="is-required tw-w-full lg:tw-w-2/6"
              for="publicHolidaysSettings.workingDurationForNewYearsEve"
            >
              Arbeitsdauer an Silvester
            </label>
            <div class="tw-w-full lg:tw-w-4/6">
              <select
                th:replace="~{fragments/select::one(id='publicHolidaysSettings.workingDurationForNewYearsEve', name='publicHolidaysSettings.workingDurationForNewYearsEve', options=~{::settings-workingtimes-workingDurationForNewYearsEve})}"
              >
                <th:block th:fragment="settings-workingtimes-workingDurationForNewYearsEve">
                  <option
                    th:each="dayLengthType : ${dayLengthTypes}"
                    th:text="#{__${dayLengthType}__}"
                    th:value="${dayLengthType}"
                    th:selected="${settings.publicHolidaysSettings.workingDurationForNewYearsEve == dayLengthType}"
                  ></option>
                </th:block>
              </select>
            </div>
          </div>

          <!-- Federal state settings for public holidays -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.publicHolidays.federalState}:|"
              class="is-required tw-w-full lg:tw-w-2/6"
              for="federalStateType"
            >
              Globale Feiertagsregelung
            </label>
            <div class="tw-w-full lg:tw-w-4/6">
              <select
                th:replace="~{fragments/select::one(id='federalStateType', name='publicHolidaysSettings.federalState', options=~{::settings-workingtimes-federalStateType})}"
              >
                <th:block th:fragment="settings-workingtimes-federalStateType">
                  <optgroup th:label="#{country.general}">
                    <option
                      th:text="#{federalState.NONE}"
                      value="NONE"
                      th:selected="${settings.publicHolidaysSettings.federalState == 'NONE'}"
                    ></option>
                  </optgroup>
                  <optgroup
                    th:each="federalStatesByCountry : ${federalStateTypes}"
                    th:label="#{country.__${federalStatesByCountry.key}__}"
                  >
                    <option
                      th:each="federalStateType : ${federalStatesByCountry.value}"
                      th:text="#{federalState.__${federalStateType}__}"
                      th:value="${federalStateType}"
                      th:selected="${settings.publicHolidaysSettings.federalState == federalStateType}"
                    ></option>
                  </optgroup>
                </th:block>
              </select>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
