<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <p class="uv-form__group-info uv-help-block">
          <svg th:replace="~{icon/info::svg(className='uv-help-block-icon')}"></svg>
          <th:block th:text="#{settings.publicHolidays.description}" />
        </p>

        <!-- Working duration settings for Christmas Eve -->
        <div class="uv-form__input-row">
          <label
            th:text="|#{settings.publicHolidays.workingDuration.christmasEve}:|"
            class="is-required"
            for="publicHolidaysSettings.workingDurationForChristmasEve"
          >
          </label>
          <select
            th:replace="~{fragments/select::one(id='publicHolidaysSettings.workingDurationForChristmasEve', name='publicHolidaysSettings.workingDurationForChristmasEve', options=~{::settings-workingtimes-workingDurationForChristmasEve})}"
          >
            <th:block th:fragment="settings-workingtimes-workingDurationForChristmasEve">
              <option
                th:each="dayLengthType : ${dayLengthTypes}"
                th:text="#{__${dayLengthType}__}"
                th:value="${dayLengthType}"
                th:selected="${settings.publicHolidaysSettings.workingDurationForChristmasEve == dayLengthType}"
              ></option>
            </th:block>
          </select>
        </div>

        <!-- Working duration settings for New Year's Eve -->
        <div class="uv-form__input-row">
          <label
            th:text="|#{settings.publicHolidays.workingDuration.newYearsEve}:|"
            class="is-required"
            for="publicHolidaysSettings.workingDurationForNewYearsEve"
          >
            Arbeitsdauer an Silvester
          </label>
          <select
            th:replace="~{fragments/select::one(id='publicHolidaysSettings.workingDurationForNewYearsEve', name='publicHolidaysSettings.workingDurationForNewYearsEve', options=~{::settings-workingtimes-workingDurationForNewYearsEve})}"
          >
            <th:block th:fragment="settings-workingtimes-workingDurationForNewYearsEve">
              <option
                th:each="dayLengthType : ${dayLengthTypes}"
                th:text="#{__${dayLengthType}__}"
                th:value="${dayLengthType}"
                th:selected="${settings.publicHolidaysSettings.workingDurationForNewYearsEve == dayLengthType}"
              ></option>
            </th:block>
          </select>
        </div>

        <!-- Federal state settings for public holidays -->
        <div class="uv-form__input-row">
          <label th:text="|#{settings.publicHolidays.federalState}:|" class="is-required" for="federalStateType">
            Globale Feiertagsregelung
          </label>
          <select
            th:replace="~{fragments/select::one(id='federalStateType', name='publicHolidaysSettings.federalState', options=~{::settings-workingtimes-federalStateType})}"
          >
            <th:block th:fragment="settings-workingtimes-federalStateType">
              <optgroup th:label="#{country.general}">
                <option
                  th:text="#{federalState.NONE}"
                  value="NONE"
                  th:selected="${settings.publicHolidaysSettings.federalState == 'NONE'}"
                ></option>
              </optgroup>
              <optgroup
                th:each="federalStatesByCountry : ${federalStateTypes}"
                th:label="#{country.__${federalStatesByCountry.key}__}"
              >
                <option
                  th:each="federalStateType : ${federalStatesByCountry.value}"
                  th:text="#{federalState.__${federalStateType}__}"
                  th:value="${federalStateType}"
                  th:selected="${settings.publicHolidaysSettings.federalState == federalStateType}"
                ></option>
              </optgroup>
            </th:block>
          </select>
        </div>
      </div>
    </th:block>
  </body>
</html>
