<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="_layout::head(~{::title}, ~{::scripts})">
    <title th:text="#{calendar.share.header.title}"></title>
    <th:block th:fragment="scripts">
      <script defer asset:src="app_list.js"></script>
    </th:block>
  </head>
  <body th:replace="_layout::body(~{::main}, ~{})">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0 tw-pb-32">
      <h1 class="tw-sr-only" th:text="#{applications.title}"></h1>

      <div
        class="feedback"
        th:if="${#bools.isTrue(allowSuccess) or #bools.isTrue(temporaryAllowSuccess) or #bools.isTrue(rejectSuccess)}"
      >
        <div class="alert alert-success">
          <th:block th:if="${allowSuccess}" th:text="#{application.action.allow.success}"></th:block>
          <th:block th:if="${temporaryAllowSuccess}" th:text="#{application.action.temporary_allow.success}"></th:block>
          <th:block th:if="${rejectSuccess}" th:text="#{application.action.reject.success}"></th:block>
        </div>
      </div>

      <div
        th:replace="fragments/section-heading::section-heading(~{::user-applications-heading-body}, ~{::user-applications-heading-actions}, ~{::user-applications-heading-below})"
      >
        <th:block th:ref="user-applications-heading-actions">
          <a
            href="#"
            th:href="@{/web/application/new}"
            class="icon-link tw-px-1"
            th:data-title="#{action.apply.vacation}"
            sec:authorize="hasAuthority('OFFICE')"
          >
            <svg th:replace="icon/plus-circle::svg(className='tw-w-5 tw-h-5')"></svg>
          </a>
          <a
            href="#"
            th:href="@{/web/absences}"
            class="icon-link tw-px-1"
            th:data-title="#{action.applications.absences_overview}"
          >
            <svg th:replace="icon/calendar::svg(className='tw-w-5 tw-h-5')"></svg>
          </a>
          <a
            href="#"
            th:href="@{/web/application/statistics}"
            class="icon-link tw-px-1"
            th:data-title="#{action.applications.statistics}"
            sec:authorize="hasAnyAuthority('DEPARTMENT_HEAD', 'SECOND_STAGE_AUTHORITY', 'BOSS', 'OFFICE')"
          >
            <svg th:replace="icon/presentation-chart-bar::svg(className='tw-w-5 tw-h-5')"></svg>
          </a>
          <a href="#" th:replace="fragments/print::button"></a>
        </th:block>
        <th:block th:ref="user-applications-heading-body">
          <ul class="tw-m-0 tw-p-0 tw-list-none tw-flex tw-flex-col xs:tw-flex-row tw-gap-2 xs:tw-gap-8 tw-mb-2 xs:tw-mb-0" is="uv-nav-tabs">
            <li
              class="tw-border-l-4 xs:tw-border-l-0 xs:tw-border-b-4 tw-pl-2 xs:tw-pl-0"
              th:classappend="${activeContent == 'application' ? 'tw-border-gray-200' : 'tw-border-transparent'}"
              data-content="#user-applications-block"
              th:attrappend="data-active=${activeContent == 'application'}?${'data-active'}"
            >
              <a
                href="#user-applications-block"
                th:href="@{/web/application}"
                class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost"
                th:classappend="${activeContent == 'application' ? 'tw-text-black-almost' : 'tw-text-gray-400'}"
                th:text="#{applications.myself.waiting}"
              >
              </a>
            </li>
            <li
              class="tw-border-l-4 xs:tw-border-l-0 xs:tw-border-b-4 tw-pl-2 xs:tw-pl-0"
              th:classappend="${activeContent == 'replacement' ? 'tw-border-gray-200' : 'tw-border-transparent'}"
              data-content="#user-replacements-block"
              th:attrappend="data-active=${activeContent == 'replacement'}?${'data-active'}"
            >
              <a
                href="#user-replacements-block"
                th:href="@{/web/application/replacement}"
                class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost tw-gap-2"
                th:classappend="${activeContent == 'replacement' ? 'tw-text-black-almost' : 'tw-text-gray-400'}"
              >
                <th:block th:text="#{applications.holiday_replacement}" />
                <span class="tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-blue-100 tw-text-blue-700 tw-text-xs tw-p-0.5 tw-font-bold tw-w-5 tw-h-5 tw-transform tw--translate-y-0.5">
                  <th:block th:text="${#lists.size(applications_holiday_replacements)}" />
                </span>
              </a>
            </li>
          </ul>
        </th:block>
      </div>

      <div
        id="user-applications-block"
        class="tw-mb-10"
        th:hidden="${activeContent != 'application'}"
      >
        <h2 class="tw-sr-only" th:text="#{applications.myself.waiting}"></h2>
        <p th:if="${#lists.isEmpty(userApplications)}" th:text="#{applications.none}"></p>
        <div class="tw-flex tw-items-start tw-flex-col md:tw-flex-row md:tw-space-x-12">
          <div
            class="
              tw-sticky tw-py-2 tw-w-full
              md:tw-w-auto
              lg:tw-w-1/4
              tw-bg-gradient-to-b tw-from-white tw-via-white
            "
            style="top: 3.25rem"
          >
            <div class="tw-flex tw-space-x-5 md:tw-space-x-6">
              <img
                th:replace="fragments/avatar::avatar-bordered(url=${signedInUser.gravatarURL + '?d=mm&s=104'},username=${signedInUser.niceName},width='52px',height='52px')"
              />
              <span class="tw-flex tw-flex-wrap lg:tw-flex-col">
                <span class="tw-text-lg">
                  <th:block th:text="${signedInUser.niceName}"></th:block>&nbsp;
                </span>
                <span class="tw-text-lg lg:tw-text-sm" th:text="#{application.applier.applied}"></span>
              </span>
            </div>
          </div>
          <ul
            class="
              tw-flex-1 tw-list-none tw-m-0 tw-p-0 tw-pl-20
              md:tw-pl-0
              tw-space-y-6
              lg:tw-space-y-2
              md:tw-mt-2
              lg:tw-mt-0
              md:tw-transform md:tw-translate-y-0.5
              tw-text-sm
            "
          >
              <li
                class="
                  sm:tw-flex sm:tw-items-end sm:tw-space-x-4
                  md:tw-space-x-0 md:tw-block
                  lg:tw-p-2 lg:tw-flex lg:tw-items-end lg:hover:tw-bg-gray-50
                "
                th:each="userRequestForLeave,loopStatus: ${userApplications}"
              >
                <a
                  href="#"
                  th:href="@{/web/application/{applicationId} (applicationId=${userRequestForLeave.id})}"
                  class="tw-block tw-flex-1 tw-no-underline print:no-link"
                >
                  <span
                    class="hover:tw-underline tw-mb-1 tw-text-lg"
                    th:classappend="${userRequestForLeave.vacationType.category}"
                    th:switch="${#strings.isEmpty(userRequestForLeave.duration)}"
                  >
                    <th:block th:case="true">
                      <th:block th:text="${userRequestForLeave.workDays}" />
                      <th:block th:text="#{duration.days}" />
                    </th:block>
                    <th:block th:case="false">
                      <th:block th:text="${userRequestForLeave.duration}" />
                    </th:block>
                    <th:block th:text="#{${userRequestForLeave.vacationType.messageKey}}"></th:block>
                  </span>
                  <span
                    class="tw-block"
                    style="color: #444444"
                    th:text="${userRequestForLeave.durationOfAbsenceDescription}"
                  ></span>
                </a>
                <div
                  class="
                    tw-mt-4
                    lg:tw-mt-0
                    tw-space-y-4
                    xs:tw-space-y-0 xs:tw-flex xs:tw-space-x-4
                    lg:tw-justify-end
                    print:tw-hidden
                  "
                >
                  <a
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="${URL_PREFIX}/application/${application.id}/edit"
                    th:if="${userRequestForLeave.editAllowed}"
                  >
                    <svg th:replace="icon/pencil::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="#{action.edit}"></th:block>
                  </a>
                  <a
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="${URL_PREFIX}/application/${application.id}?action=allow&shortcut=true"
                    th:if="${userRequestForLeave.approveAllowed}"
                  >
                    <svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="${userRequestForLeave.temporaryApproveAllowed ? #messages.msg('action.temporary_allow') : #messages.msg('action.allow')}" />
                  </a>
                  <a
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="${URL_PREFIX}/application/${application.id}?action=reject&shortcut=true"
                    th:if="${userRequestForLeave.rejectAllowed}"
                  >
                    <svg th:replace="icon/ban::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="#{action.reject}"></th:block>
                  </a>
                </div>
              </li>
          </ul>
        </div>
      </div>

      <div
        id="user-replacements-block"
        class="tw-mb-10"
        th:hidden="${activeContent != 'replacement'}"
      >
        <h2 class="tw-sr-only" th:text="#{applications.holiday_replacement}"></h2>
        <p
          th:if="${#lists.isEmpty(applications_holiday_replacements)}"
          th:text="#{applications.holiday_replacement.none}"
        ></p>
        <div th:if="${!#lists.isEmpty(applications_holiday_replacements)}" class="tw-flex tw-items-start tw-flex-col md:tw-flex-row md:tw-space-x-12">
          <div
            class="
              tw-sticky tw-py-2 tw-w-full
              md:tw-w-auto
              lg:tw-w-1/4
              tw-bg-gradient-to-b tw-from-white tw-via-white
              tw-z-10
            "
            style="top: 3.25rem"
          >
            <div class="tw-flex tw-space-x-5 md:tw-space-x-6">
              <img
                th:replace="fragments/avatar::avatar-bordered(url=${signedInUser.gravatarURL + '?d=mm&s=104'},username=${signedInUser.niceName},width='52px',height='52px')"
              />
              <span class="tw-flex tw-flex-wrap md:tw-flex-col">
                <span class="tw-text-lg">
                  <th:block th:text="${signedInUser.niceName}"></th:block>&nbsp;
                </span>
                <span class="tw-text-lg lg:tw-text-sm" th:text="#{application.applier.represents}"></span>
              </span>
            </div>
          </div>
          <ul
            class="
              tw-flex-1 tw-list-none tw-m-0 tw-p-0 tw-mt-4
              md:tw-pl-0
              tw-space-y-6
              lg:tw-gap-2
              md:tw-mt-2
              md:tw-transform md:tw-translate-y-0.5
            "
          >
            <li
              class="tw-flex tw-flex-col tw-gap-4 xs:tw-pl-20 md:tw-pl-0"
              th:each="replacementInfo,loopStatus : ${applications_holiday_replacements}"
            >
              <div class="tw-flex tw-flex-row-reverse tw-gap-4">
                <div class="tw-self-center print:tw-hidden">
                  <img
                    th:replace="fragments/avatar::avatar-bordered(url=${replacementInfo.person.avatarUrl + '?d=mm&s=104'},username=${replacementInfo.person.name},width='52px',height='52px')"
                  />
                </div>
                <div class="tw-flex-1">
                  <div>
                    <span class="tw-text-lg" th:text="${replacementInfo.person.name}"></span>
                  </div>
                  <div class="tw-text-sm">
                    <th:block th:if="${replacementInfo.pending}" th:text="#{applications.holiday_replacement.pending}"></th:block>
                    <span th:text="${replacementInfo.durationOfAbsenceDescription}" class="tw-font-bold"></span>
                    <span class="tw-whitespace-nowrap">
                      (<th:block th:switch="${#strings.isEmpty(replacementInfo.duration)}">
                        <th:block th:case="true">
                          <th:block th:text="${replacementInfo.workDays}" />
                          <th:block th:text="#{duration.days}" />
                        </th:block>
                        <th:block th:case="false">
                          <th:block th:text="${replacementInfo.duration}" />
                        </th:block>
                      </th:block>)
                    </span>
                  </div>
                </div>
              </div>
              <div
                th:if="${!#strings.isEmpty(replacementInfo.note)}"
                class="text-bubble text-bubble--triangle-top-right tw-self-end lg:text-bubble--triangle-top-left tw-mr-7 lg:tw-ml-7 sm:tw-max-w-md"
              >
                <p class="tw-italic tw-text-sm tw-m-0" th:text="${replacementInfo.note}"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        th:replace="fragments/section-heading::section-heading(~{::other-applications-heading-body}, ~{::other-applications-heading-actions}, ~{::other-applications-heading-below})"
      >
        <th:block th:ref="other-applications-heading-body">
          <h2 th:text="#{applications.other.waiting}"></h2>
        </th:block>
      </div>

      <div class="tw-mb-10">
        <p th:if="${#lists.isEmpty(otherApplications)}" th:text="#{applications.none}"></p>
        <table
          th:if="${not #lists.isEmpty(otherApplications)}"
          class="list-table selectable-table list-table-bt-0 tw-text-sm"
        >
          <tbody>
            <tr
              th:each="otherRequestForLeave,loopStatus : ${otherApplications}"
              th:onclick="|navigate('/web/application/${otherRequestForLeave.id}');|"
              class="active"
            >
              <td class="tw-px-2.5 sm:tw-px-4 tw-py-4 print:tw-hidden is-centered">
                <img
                  th:replace="fragments/avatar::avatar-bordered(url=${otherRequestForLeave.person.avatarUrl + '?d=mm&s=40'},username=${otherRequestForLeave.person.name},width='40px',height='40px')"
                />
              </td>
              <td class="tw-px-2.5 sm:tw-px-4 tw-py-4 tw-hidden md:tw-table-cell print:tw-table-cell">
                <span class="tw-block tw-text-lg tw-mb-1" th:text="${otherRequestForLeave.person.name}"></span>
                <span th:text="#{application.applier.applied}"></span>
              </td>
              <td class="tw-px-2.5 sm:tw-px-4 tw-py-4 halves">
                <a
                  href="#"
                  th:href="@{/web/application/{applicationId}(applicationId=${otherRequestForLeave.id})}"
                  class="tw-block tw-mb-1 tw-text-lg print:no-link"
                  th:classappend="${otherRequestForLeave.vacationType.category}"
                  th:switch="${#strings.isEmpty(otherRequestForLeave.duration)}"
                >
                  <th:block th:case="true">
                    <th:block th:text="${otherRequestForLeave.workDays}" />
                    <th:block th:text="#{duration.days}" />
                  </th:block>
                  <th:block th:case="false">
                    <th:block th:text="${otherRequestForLeave.duration}" />
                  </th:block>
                  <th:block th:text="${#messages.msg(otherRequestForLeave.vacationType.messageKey)}" />
                </a>
                <div th:text="${otherRequestForLeave.durationOfAbsenceDescription}"></div>
              </td>
              <td class="tw-px-2.5 sm:tw-px-4 tw-py-4 tw-hidden lg:tw-table-cell text-right print:tw-hidden">
                <div class="tw-flex tw-space-x-4 tw-justify-end print:tw-hidden">
                  <a
                    th:if="${otherRequestForLeave.editAllowed}"
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="#"
                    th:href="@{/web/application/{applicationId}/edit (applicationId=${otherRequestForLeave.id})}"
                  >
                    <svg th:replace="icon/pencil::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="#{action.edit}" />
                  </a>
                  <a
                    th:if="${otherRequestForLeave.approveAllowed}"
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="#"
                    th:href="@{/web/application/{applicationId} (applicationId=${otherRequestForLeave.id}, action='allow', shortcut=true)}"
                  >
                    <svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="${otherRequestForLeave.temporaryApproveAllowed ? #messages.msg('action.temporary_allow') : #messages.msg('action.allow')}" />
                  </a>
                  <a
                    th:if="${otherRequestForLeave.rejectAllowed}"
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="#"
                    th:href="@{/web/application/{applicationId} (applicationId=${otherRequestForLeave.id}, action='reject', shortcut=true)}"
                  >
                    <svg th:replace="icon/ban::svg(className='tw-w-4 tw-h-4 tw-mr-1')"></svg>
                    <th:block th:text="#{action.reject}" />
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        th:replace="fragments/section-heading::section-heading(~{::cancellation-requests-heading-body}, ~{::cancellation-requests-heading-actions}, ~{::cancellation-requests-heading-below})"
      >
        <th:block th:ref="cancellation-requests-heading-body">
          <h1 id="cancellation-requests" th:text="#{applications.cancellation_request}"></h1>
        </th:block>
      </div>

      <div class="tw-mb-10">
        <p
          th:if="${#lists.isEmpty(applications_cancellation_request)}"
          th:text="#{applications.cancellation_request.none}"
        ></p>
        <table
          th:if="${not #lists.isEmpty(applications_cancellation_request)}"
          class="list-table selectable-table list-table-bt-0 tw-text-sm"
        >
          <tbody>
            <tr
              th:each="cancellationRequest,loopStatus : ${applications_cancellation_request}"
              th:onclick="|navigate('/web/application/${applicationId} (applicationId=${cancellationRequest.id})');|"
              class="active"
            >
              <td class="print:tw-hidden is-centered">
                <img
                  th:replace="fragments/avatar::avatar-bordered(url=${cancellationRequest.person.avatarUrl + '?d=mm&s=40'},username=${cancellationRequest.person.name},width='40px',height='40px')"
                />
              </td>
              <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                <span class="tw-block tw-text-lg tw-mb-1" th:text="${cancellationRequest.person.name}"></span>
                <span th:text="#{application.applier.applied}"></span>
              </td>
              <td class="halves">
                <a
                  class="tw-block tw-mb-1 tw-text-lg print:no-link ${application.vacationType.category}"
                  href="#"
                  th:href="@{/web/application/{applicationId} (applicationId=cancellationRequest.id)}"
                  th:switch="${#strings.isEmpty(cancellationRequest.duration)}"
                >
                  <th:block th:case="true">
                    <th:block th:text="${cancellationRequest.workDays}" />
                    <th:block th:text="#{duration.days}" />
                  </th:block>
                  <th:block th:case="false">
                    <th:block th:text="${cancellationRequest.duration}" />
                  </th:block>
                  <th:block th:text="${#messages.msg(cancellationRequest.vacationType.messageKey)}" />
                </a>
                <div th:text="${cancellationRequest.durationOfAbsenceDescription}"></div>
              </td>
              <td class="tw-hidden md:tw-table-cell text-right print:tw-hidden">
                <div sec:authorize="hasAuthority('OFFICE')" class="tw-flex tw-space-x-4 tw-justify-end print:tw-hidden">
                  <a
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="#"
                    th:href="@{/web/application/{applicationId} (applicationId=${cancellationRequest.id}, action='cancel', shortcut=true)}"
                  >
                    <svg th:replace="icon/trash::svg(className='tw-w-4 tw-h-4 tw-mr-1')" />
                    <th:block th:text="#{action.delete}" />
                  </a>
                  <a
                    class="action-link tw-text-gray-900 tw-text-opacity-50"
                    href="#"
                    th:href="@{/web/application/{applicationId} (applicationId=${cancellationRequest.id}, action='decline-cancellation-request', shortcut=true)}"
                  >
                    <svg th:replace="icon/ban::svg(className='tw-w-4 tw-h-4 tw-mr-1')" />
                    <th:block th:text="#{action.cancellationRequest}" />
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
