<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- AUTHENTICATION VIA ACTIVE DIRECTORY -->

    <bean id="activeDirectoryAuthenticationProvider"
          class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
        <constructor-arg value="${uv.security.activeDirectory.domain}"/>
        <constructor-arg value="${uv.security.activeDirectory.url}"/>
        <property name="userDetailsContextMapper" ref="personContextMapper"/>
    </bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="activeDirectoryAuthenticationProvider"/>
    </security:authentication-manager>

    <!-- SYNC LDAP DATA -->

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg ref="contextSource"/>
        <property name="ignorePartialResultException" value="true"/>
        <property name="ignoreNameNotFoundException" value="true"/>
    </bean>

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="${uv.security.activeDirectory.url}"/>
        <property name="base" value="${uv.security.activeDirectory.sync.userSearchBase}"/>
        <property name="userDn" value="${uv.security.activeDirectory.sync.userDn}"/>
        <property name="password" value="${uv.security.activeDirectory.sync.password}"/>
    </bean>

</beans>
