<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <!-- AUTHENTICATION VIA LDAP -->

    <security:ldap-server id="ldapAuthServer"
                          url="${uv.security.ldap.url}/${uv.security.ldap.base}"
                          manager-dn="${uv.security.ldap.managerDn}"
                          manager-password="${uv.security.ldap.managerPassword}"/>

    <security:authentication-manager alias="authenticationManager">

        <security:ldap-authentication-provider
                server-ref="ldapAuthServer"
                user-context-mapper-ref="personContextMapper"
                user-search-base="${uv.security.ldap.userSearchBase}"
                user-search-filter="${uv.security.ldap.userSearchFilter}" />

    </security:authentication-manager>

</beans>
