th.vacationOverview-cal-head.today {
  --vacation-overview-rows: 0;
  position: relative;
}
th.vacationOverview-cal-head.today::after {
  content: "";
  @apply tw-border-3;
  @apply tw-border-calendar-today;
  @apply tw-border-opacity-40;
  @apply dark:tw-border-opacity-80;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* head row height + (x * person height)  */
  height: calc(100% + (var(--vacation-overview-rows) * 2.8125rem));
  z-index: 1;
}

@media print {
  th.vacationOverview-cal-head.today::before,
  th.vacationOverview-cal-head.today::after {
    display: none;
  }
}

.vacationOverview-table th,
.vacationOverview-table td {
  @apply tw-text-zinc-600 !important;
  @apply dark:tw-text-zinc-200 !important;
  border: 1px solid theme("borderColor.calendar.DEFAULT");
  font-weight: normal;
}

.vacationOverview-table thead th {
  @apply dark:tw-font-medium;
}

.vacationOverview-table th.weekend {
  @apply tw-text-zinc-400 !important;
}

.vacationOverview-table td {
  text-align: center;
}

.vacationOverviewLegend {
  margin-top: 15px;
}

.vacationOverview-legend-colorbox {
  border: 3pt solid theme("borderColor.calendar.DEFAULT");
  width: 1.5rem;
}

.vacationOverview-legend-text {
  padding: 2px 10px;
}

.vacationOverview-day-today-legend {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.5);
}

.cal-day {
  --absence-bar-color-morning: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color-noon: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color: theme("backgroundColor.calendar.DEFAULT");
  --background-color-left: theme("backgroundColor.calendar.DEFAULT");
  --background-color-right: theme("backgroundColor.calendar.DEFAULT");
  --font-color: theme("textColor.calendar.DEFAULT");
  /* h-full only works when parent td has an explicit height */
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  color: var(--font-color);
}

.vacationOverview-table td,
.vacationOverview-legend-table td {
  /* explicit height to enable `td div` height 100% */
  /* height: 0 only works in chrome & friends. firefox needs a real height value; see below. */
  height: 0;
}

@-moz-document url-prefix() {
  /* firefox only */
  .vacationOverview-table td {
    /* when changing this value you have to adjust the currentDay highlighting box, too */
    height: 2.81rem;
  }
  .vacationOverview-legend-table td {
    height: 1.5rem;
  }
}

.vacationOverview-table div.tablesorter-header-inner {
  /* h-full only works when parent td has an explicit height */
  height: 100%;
}

.cal-day:is(.absence-full, .sick-note-full)::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.375rem;
  border-radius: 99999px;
}

.cal-day.absence-full--solid::after {
  background-color: var(--absence-bar-color);
}

.cal-day.absence-full--outline::after {
  border: solid 1px var(--absence-bar-color);
}

.cal-day.absence-full--outline-solid-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, transparent 50%);
}

.cal-day.absence-full--outline-solid-second-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, var(--absence-bar-color) 50%);
}

.cal-day:is(.absence-morning, .sick-note-morning)::before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.375rem;
  right: 50%;
  height: 0.375rem;
  border-radius: 99999px;
}

.cal-day.absence-morning--solid::before {
  background-color: var(--absence-bar-color-morning);
}

.cal-day.absence-morning--outline::before {
  border: solid 1px var(--absence-bar-color-morning);
}

.cal-day.absence-morning--outline-solid-half::before {
  border: solid 1px var(--absence-bar-color-morning);
  background: linear-gradient(135deg, var(--absence-bar-color-morning) 50%, transparent 50%);
}

.cal-day.absence-morning--outline-solid-second-half::before {
  border: solid 1px var(--absence-bar-color-morning);
  background: linear-gradient(135deg, var(--absence-bar-color-morning) 50%, var(--absence-bar-color-morning) 50%);
}

.cal-day:is(.absence-noon, .sick-note-noon)::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 50%;
  right: 0.375rem;
  height: 0.375rem;
  border-radius: 99999px;
}

.cal-day.absence-noon--solid::after {
  background-color: var(--absence-bar-color-noon);
}

.cal-day.absence-noon--outline::after {
  border: solid 1px var(--absence-bar-color-noon);
}

.cal-day.absence-noon--outline-solid-half::after {
  border: solid 1px var(--absence-bar-color-noon);
  background: linear-gradient(135deg, var(--absence-bar-color-noon) 50%, transparent 50%);
}

.cal-day.absence-noon--outline-solid-second-half::after {
  border: solid 1px var(--absence-bar-color-noon);
  background: linear-gradient(135deg, var(--absence-bar-color-noon) 50%, var(--absence-bar-color-noon) 50%);
}

@media print {
  .cal-day {
    --bg-left-lightness: 100%;
    --bg-right-lightness: 100%;
  }
}

svg.no-workday-icon {
  @apply tw-stroke-neutral-200;
  @apply dark:tw-stroke-neutral-700;
}
.public-holiday-full.no-workday svg.no-workday-icon {
  @apply tw-opacity-75;
}

.sick-note-morning {
  --absence-bar-color-morning: var(--sick-note-color);
}
.sick-note-noon {
  --absence-bar-color-noon: var(--sick-note-color);
}
.sick-note-full {
  --absence-bar-color: var(--sick-note-color);
}

.public-holiday-morning {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
}
.public-holiday-noon {
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
}
.public-holiday-full {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
  --font-color: theme("textColor.calendar.public-holiday");
}

.vacationOverview-tbody td .cal-day.weekend.public-holiday-full {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
  --font-color: theme("textColor.calendar.public-holiday");
}

.vacationOverview-tbody tr:hover th:first-child {
  border-right-color: theme("colors.zinc.100");
}
.vacationOverview-tbody
  tr:hover
  td
  .cal-day:is(:not(.public-holiday-morning, .public-holiday-noon, .public-holiday-full)) {
  --background-color-left: theme("colors.zinc.100");
  --background-color-right: theme("colors.zinc.100");
}
.vacationOverview-tbody tr:hover td .cal-day.public-holiday-morning {
  --background-color-left: theme("colors.slate.300");
  --background-color-right: theme("colors.zinc.100");
}
.vacationOverview-tbody tr:hover td .cal-day.public-holiday-noon {
  --background-color-left: theme("colors.zinc.100");
  --background-color-right: theme("colors.slate.300");
}
.vacationOverview-tbody tr:hover td .cal-day.public-holiday-full {
  --background-color-left: theme("colors.slate.300");
  --background-color-right: theme("colors.slate.300");
}
.vacationOverview-tbody tr:hover th {
  background-color: theme("colors.gray.100");
}

.tw-dark .vacationOverview-tbody tr:hover th:first-child {
  border-right-color: theme("colors.zinc.800");
}
.tw-dark
  .vacationOverview-tbody
  tr:hover
  td
  .cal-day:is(:not(.public-holiday-morning, .public-holiday-noon, .public-holiday-full)) {
  --background-color-left: theme("colors.neutral.700");
  --background-color-right: theme("colors.neutral.700");
}
.tw-dark .vacationOverview-tbody tr:hover td .cal-day.public-holiday-morning {
  --background-color-left: theme("colors.sky.600");
  --background-color-right: theme("colors.neutral.700");
}
.tw-dark .vacationOverview-tbody tr:hover td .cal-day.public-holiday-noon {
  --background-color-left: theme("colors.neutral.700");
  --background-color-right: theme("colors.sky.600");
}
.tw-dark .vacationOverview-tbody tr:hover td .cal-day.public-holiday-full {
  --background-color-left: theme("colors.sky.600");
  --background-color-right: theme("colors.sky.600");
}
.tw-dark .vacationOverview-tbody tr:hover th {
  background-color: theme("colors.zinc.800");
}

.tw-dark .vacationOverview-tbody tr:hover svg.no-workday-icon {
  @apply tw-stroke-zinc-600;
}

@media print {
  .vacationOverview-table th,
  .vacationOverview-table td {
    border: 1px solid #e2e8f0 !important;
  }

  .vacationOverview-table thead th {
    font-weight: 600 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table tbody th {
    font-weight: 300 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table-legend th {
    text-align: center;
    padding: 0 12pt;
    font-weight: 300 !important;
  }

  .public-holiday-morning {
    --background-color-left: #ffffff;
  }
  .public-holiday-noon {
    --background-color-right: #ffffff;
  }
  .public-holiday-full {
    --background-color-left: #ffffff;
    --background-color-right: #ffffff;
  }
}
