@reference "../config.css";

.stat-card {
  display: flex;
  flex-direction: column;
  gap: --spacing(2);
  background-color: var(--uv-chart-container-background);
  border: 1px solid var(--uv-chart-border);
  border-radius: var(--radius-lg);
  @apply shadow-2xs;

  @variant dark {
    @apply shadow-none;
  }

  .stat-card__header {
    display: flex;
    justify-content: space-between;

    padding: --spacing(4);
    border-bottom: 1px solid var(--uv-chart-border);

    font-size: var(--text-sm);
    color: var(--color-gray-500);
    font-weight: bold;

    @variant dark {
      color: var(--color-zinc-400);
    }

    &.stat-card__header--no-border {
      border: none;
      padding-bottom: 0;
    }
  }

  .stat-card__body {
    padding: --spacing(4);
    display: flex;
    flex-direction: column;
    gap: --spacing(2);

    .stat-card__value {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
      font-weight: bold;
      font-variant: tabular-nums;
    }

    .stat-card__trend {
      font-size: var(--text-sm);
      color: var(--color-yellow-600);
    }
  }
}

.stat-card--is-loading {
  animation: is-loading-blink 1300ms ease-in-out infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    filter: blur(2px);
  }
}

@keyframes is-loading-blink {
  0%,
  100% {
    filter: blur(0);
    opacity: 1;
  }

  50% {
    filter: blur(1px);
    opacity: 0.6;
  }
}

.overtime-chart {
  --color: var(--color-teal-900);
  --color-secondary: var(--color-teal-700);

  display: flex;
  justify-content: space-between;
  padding-inline: --spacing(8);

  @variant dark {
    --color: var(--color-emerald-600);
    --color-secondary: var(--color-emerald-600);
  }

  .overtime-chart-column {
    display: flex;
    flex-direction: column;
    gap: --spacing(2);
    align-items: center;
    justify-content: flex-end;

    .overtime-chart-column__person-count {
      color: var(--color);
      font-size: var(--text-sm);
      font-variant-numeric: tabular-nums;
    }

    .overtime-chart-column__bar {
      display: block;
      background: linear-gradient(var(--color-secondary), var(--color));
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      min-width: --spacing(16);
      min-height: 3px;

      will-change: height;
      transition: height 300ms ease-in-out;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    .overtime-chart-column__range {
      font-size: var(--text-sm);
      color: var(--color);
    }
  }
}
