@reference "../config.css";

.overtime-chart {
  --color: var(--color-teal-900);
  --color-secondary: var(--color-teal-700);

  display: flex;
  justify-content: space-between;
  padding-inline: --spacing(8);

  @variant dark {
    --color: var(--color-emerald-600);
    --color-secondary: var(--color-emerald-600);
  }

  .overtime-chart-column {
    display: flex;
    flex-direction: column;
    gap: --spacing(2);
    align-items: center;
    justify-content: flex-end;

    .overtime-chart-column__person-count {
      color: var(--color);
      font-size: var(--text-sm);
      font-variant-numeric: tabular-nums;
    }

    .overtime-chart-column__bar {
      display: block;
      background: linear-gradient(var(--color-secondary), var(--color));
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      min-width: --spacing(16);
      min-height: 3px;

      will-change: height;
      transition: height 300ms ease-in-out;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    .overtime-chart-column__range {
      font-size: var(--text-sm);
      color: var(--color);
    }
  }
}

.statistic-card--is-loading {
  animation: is-loading-blink 1300ms ease-in-out infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    filter: blur(2px);
  }
}

@keyframes is-loading-blink {
  0%,
  100% {
    filter: blur(0);
    opacity: 1;
  }

  50% {
    filter: blur(1px);
    opacity: 0.6;
  }
}

.overtime-growth-arrow {
  display: inline-block;
  will-change: rotate;
  transition: rotate 300ms ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.overtime-growth-arrow--neutral {
    rotate: 90deg;
  }

  &.overtime-growth-arrow--decreased {
    rotate: 180deg;
  }
}
