@reference "../config.css";

.notification-section-title {
  margin-bottom: --spacing(2);
  padding-top: --spacing(1);
  padding-bottom: --spacing(1);

  @apply text-lg;
  border-bottom-width: 1px;
}
