@media print {
  *,
  *:before,
  *:after {
    color: #000 !important; /*Black prints faster: h5bp.com/s*/
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*Don't show links that are fragment identifiers,*/
  /*or use the `javascript:` pseudo protocol*/
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .button,
  .navbar,
  [role="tooltip"] {
    display: none !important;
  }

  .container {
    width: 100% !important;
  }

  .content {
    margin-top: 0 !important;
  }

  .fa {
    color: black !important;
  }

  /* Do not show sort icons in tables */
  .tablesorter-header-inner:after {
    content: "";
  }

  th {
    font-weight: bold !important;
  }

  .cal-day::after {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
