.sicknote-statistics-chart-container {
  --uv-chart-container-background: theme("colors.gray.50");
  --uv-chart-background: theme("colors.white");
  padding: 0.5rem;
  @apply tw-rounded-lg;
  background-color: var(--uv-chart-container-background);
}

.sicknote-statistics-chart {
  @apply tw-rounded-md;
  overflow: hidden;
  padding: 0.25rem;
  background-color: var(--uv-chart-background);
}

@screen sm {
  .sicknote-statistics-chart-container {
    padding: 1rem;
  }
}

@screen md {
  .sicknote-statistics-chart-container {
    padding: 1.25rem;
    @apply tw-border;
    @apply tw-border-gray-100;
  }

  .sicknote-statistics-chart {
    padding: 1rem;
  }
}
