@import "tailwindcss/base";
@import "../base.css";

@import "tailwindcss/components";
@import "../components/absence-color.css";
@import "../components/absence-type-box.css";
@import "../components/alert.css";
@import "../components/action-link.css";
@import "../components/button.css";
@import "../components/box.css";
@import "../components/checkbox.css";
@import "../components/checkbox-switch.css";
@import "../components/color-picker.css";
@import "../components/details-dropdown.css";
@import "../components/dropdown-caret.css";
@import "../components/dropdown-menu.css";
@import "../components/loading.css";
@import "../components/form.css";
@import "../components/icon-link.css";
@import "../components/info-banner.css";
@import "../components/link.css";
@import "../components/list.css";
@import "../components/navigation.css";
@import "../components/multi-select.css";
@import "../components/modal.css";
@import "../components/nav-tabs.css";
@import "../components/select.css";
@import "../components/table.css";
@import "../components/tabs.css";
@import "../components/states.css";
@import "../components/print.css";
@import "../components/section-heading.css";
@import "../components/text-bubble.css";
@import "../components/tooltip.css";
@import "../components/ui.timepicker.css";

@import "../components/settings-absence-types.css";

@import "tailwindcss/utilities";
@import "../utility.css";

@layer base {
  :root {
    --uv-header-height: 4.625rem;
    --uv-cal-border-color: 255, 255, 255;
    --uv-cal-today-border-color: 113, 113, 122; /* zinc.500 */
    --uv-cal-default-bg: 250, 250, 250; /* zinc.50 */
    --uv-cal-default-color: 10, 10, 10;
    --uv-cal-weekend-bg: 181, 208, 223;
    --uv-cal-weekend-color: 10, 10, 10;
    --uv-cal-public-holiday-bg: 203, 213, 225; /* slate.300 */
    --uv-cal-public-holiday-color: 10, 10, 10;
  }

  .tw-dark {
    --uv-header-height: 3.438rem;
    --uv-cal-border-color: 23, 23, 23; /* neutral.900 */
    --uv-cal-today-border-color: 113, 113, 122; /* gray.500 */
    --uv-cal-default-bg: 38, 38, 38; /* neutral.800 */
    --uv-cal-default-color: 212, 212, 212; /* neutral.300 */
    --uv-cal-weekend-bg: 14, 165, 233; /* sky.500 */
    --uv-cal-weekend-color: 23, 23, 23; /* neutral.900 */
    --uv-cal-public-holiday-bg: 3, 105, 161; /* slate.800 */
    --uv-cal-public-holiday-color: 23, 23, 23; /* neutral.900 */
  }

  @screen lg {
    :root {
      --uv-header-height: 3.25rem;
    }

    .tw-dark {
      --uv-header-height: 3.25rem;
    }
  }
}

@layer components {
  .account-form-expire-description {
    @apply tw-text-base;
    @apply dark:tw-text-zinc-100;
  }

  .account-form-expire-description a {
    @apply tw-underline;
    @apply tw-text-current !important;
    @apply hover:tw-text-gray-900 !important;
    @apply dark:hover:tw-text-zinc-100 !important;
  }

  .account-form-expire-description em {
    @apply tw-not-italic;
    @apply tw-font-bold;
  }
}
