@import "../config.css";

@import "../components/absence-type-box.css" layer(components);
@import "../components/alert.css" layer(components);
@import "../components/action-link.css" layer(components);
@import "../components/button.css" layer(components);
@import "../components/box.css" layer(components);
@import "../components/checkbox.css" layer(components);
@import "../components/checkbox-switch.css" layer(components);
@import "../components/color-picker.css" layer(components);
@import "../components/dropdown-caret.css" layer(components);
@import "../components/dropdown-menu.css" layer(components);
@import "../components/loading.css" layer(components);
@import "../components/form.css" layer(components);
@import "../components/icon-link.css" layer(components);
@import "../components/info-banner.css" layer(components);
@import "../components/link.css" layer(components); /* TODO base instead of components? */
@import "../components/list.css" layer(components);
@import "../components/navigation.css" layer(components);
@import "../components/multi-select.css" layer(components); /* TODO base instead of components? */
@import "../components/modal.css" layer(components);
@import "../components/popover.css" layer(components);
@import "../components/select.css" layer(components);
@import "../components/table.css" layer(components);
@import "../components/tab-list.css" layer(components);
@import "../components/states.css" layer(components); /* TODO utilitie ? */
@import "../components/print.css" layer(components); /* TODO utilitie ? */
@import "../components/section-heading.css" layer(components);
@import "../components/text-bubble.css" layer(components);
@import "../components/tooltip.css" layer(components);
@import "../components/ui.timepicker.css" layer(components);
@import "../components/settings-absence-types.css" layer(components);

@layer base {
  html {
    height: -webkit-fill-available;

    --scroll-padding-top: 5rem;
    scroll-padding-top: var(--scroll-padding-top);
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 100%;
    margin: 0;
    color: #444444;
    @apply dark:bg-zinc-900;
    @apply dark:text-zinc-200;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
  }

  body > [class*="max-w"][class*="mx-auto"] {
    /* since width is controlled by the body:flex container we have to define 100% now. */
    /* otherwise `margin: 0 auto` to center something would have a width of 'auto' instead of the maximum available space. */
    width: 100%;
  }

  @font-face {
    font-family: "KaushanScript";
    src:
      local("KaushanScript"),
      local("KaushanScript Regular"),
      local("KaushanScript-Regular"),
      url("/fonts/kaushanscript/KaushanScript-Regular.woff2") format("woff2"),
      url("/fonts/kaushanscript/KaushanScript-Regular.woff") format("woff");
    font-display: swap;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  @variant lg {
    :root {
      --uv-header-height: 3.25rem;
    }
    @variant dark {
      --uv-header-height: 3.25rem;
    }
  }

  hr {
    border-color: #d5d5d5;
    @apply dark:border-zinc-600;
  }

  h1 {
    @apply text-2xl;
    @apply font-normal;
    @apply leading-6;
  }
  h2 {
    @apply text-xl;
    @apply font-normal;
    @apply leading-6;
  }
  h3 {
    @apply text-base;
    @apply font-normal;
    @apply leading-6;
  }
  h4 {
    @apply text-base;
    @apply font-normal;
    @apply leading-6;
  }
  h5 {
    @apply text-base;
    @apply font-normal;
    @apply leading-6;
  }
  h6 {
    @apply text-base;
    @apply font-normal;
    @apply leading-6;
  }

  button,
  input:is([type="submit"], [type="reset"], [type="button"]),
  [role="button"] {
    cursor: pointer;
    &[disabled] {
      cursor: default;
    }
  }

  a {
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #22527b;
      text-decoration: underline;
    }

    &:focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }
}

@layer components {
  .account-form-expire-description {
    @apply text-base;
    @apply dark:text-zinc-100;
  }

  .account-form-expire-description a {
    @apply underline;
    @apply text-current!;
    @apply hover:text-gray-900!;
    @apply dark:hover:text-zinc-100!;
  }

  .account-form-expire-description em {
    @apply not-italic;
    @apply font-bold;
  }

  .content {
    /* = height of navbar (50px) plus margin-bottom of row (27px) */
    margin-top: 77px;
  }

  .modal-dialog {
    margin-top: 77px;
    z-index: 2000;
  }
}

@layer utilities {
  .is-centered {
    text-align: center;
  }

  .is-inline-block {
    display: inline-block;
  }

  .is-sticky {
    margin: 0;
  }
}
