<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      width="16px"
      height="16px"
      class=""
      th:class="${className}"
      role="img"
      aria-hidden="true"
      focusable="false"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
    </svg>
  </body>
</html>
