<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  viewBox="0 0 20 20"
  fill="currentColor"
  width="16px"
  height="16px"
  class="tw-stroke-2"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
</svg>

</body>
</html>
