<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  viewBox="0 0 20 20"
  fill="currentColor"
  width="16px"
  height="16px"
  class="tw-stroke-2"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
</svg>

</body>
</html>
