<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      width="16px"
      height="16px"
      class=""
      th:class="${className}"
      role="img"
      aria-hidden="true"
      focusable="false"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
  </body>
</html>
