<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  width="16px"
  height="16px"
  xmlns="http://www.w3.org/2000/svg"
  class="tw-stroke-2"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
</svg>

</body>
</html>
