<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  width="16px"
  height="16px"
  class="tw-stroke-2"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
</svg>

</body>
</html>
