<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      width="16px"
      height="16px"
      class="tw-stroke-2"
      th:classappend="${className}"
      role="img"
      aria-hidden="true"
      focusable="false"
    >
    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
    </svg>
  </body>
</html>
