<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  th:with="strokeWidth=${strokeWidth ?: 2}"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  width="16px"
  height="16px"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" th:stroke-width="${strokeWidth}" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
</svg>

</body>
</html>
