<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      width="16px"
      height="16px"
      class="tw-stroke-2"
      th:classappend="${className}"
      role="img"
      aria-hidden="true"
      focusable="false"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
      ></path>
    </svg>
  </body>
</html>
