<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<svg
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  width="16px"
  height="16px"
  class="tw-stroke-2"
  th:classappend="${className}"
  role="img"
  aria-hidden="true"
  focusable="false"
>
  <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
</svg>

</body>
</html>
