Hallo Office,

es liegt ein neuer genehmigter Antrag vor:

Mitarbeiter: ${application.person.firstName} ${application.person.lastName} 
Urlaubszeitraum: ${application.startDate.dayOfMonth}.${application.startDate.monthOfYear}.${application.startDate.year} bis ${application.endDate.dayOfMonth}.${application.endDate.monthOfYear}.${application.endDate.year} 

