Hallo ${application.person.firstName} ${application.person.lastName},

dein am ${application.applicationDate} gestellter Antrag wurde genemight.
Es handelt sich um den Zeitraum von ${application.startDate} bis ${application.endDate}.
Einen sch&ouml;nen Urlaub! 