Information:

Der Mitarbeiter ${application.person.firstName} ${application.person.lastName} hat seinen Urlaubsantrag storniert für den
Zeitraum von ${application.startDate.dayOfMonth}.${application.startDate.monthOfYear}.${application.startDate.year} bis ${application.endDate.dayOfMonth}.${application.endDate.monthOfYear}.${application.endDate.year}.