Information:

Der Mitarbeiter ${application.person.firstName} ${application.person.lastName} hat seinen Urlaubsantrag storniert für den
Zeitraum von ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}.