

<html>

    <body>

        <h3>Hallo ${person.firstName} ${person.lastName},</h3>

        <p>du hast aus dem letzten Kalenderjahr Resturlaub ins neue Jahr mitgenommen. <br />
           Bitte beachte, dass dieser zum 1. April des neuen Jahres verfällt. <br />
           Nimm' dir also rechtzeitig Urlaub, damit der Resturlaub nicht verfällt.
        </p>   

    </body>

</html>