duet-date-picker {
  --duet-color-button: #eee;
}

.tw-dark duet-date-picker {
  --duet-color-primary: #005fcc;
  --duet-color-text: theme("colors.neutral.50");
  --duet-color-text-active: theme("colors.neutral.50");
  --duet-color-placeholder: theme("colors.neutral.50");
  --duet-color-button: theme("colors.neutral.800");
  --duet-color-surface: theme("colors.neutral.800");
  --duet-color-overlay: rgba(0, 0, 0, 0.8);
  --duet-color-border: #fff;

  --duet-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --duet-font-normal: 400;
  --duet-font-bold: 600;

  --duet-radius: 4px;
  --duet-z-index: 600;
}

fieldset[disabled] duet-date-picker,
duet-date-picker[disabled] {
  @apply dark:tw-border-0 !important;
}

.tw-dark fieldset[disabled] duet-date-picker input,
.tw-dark duet-date-picker[disabled] input {
  @apply tw-text-neutral-700 !important; /* color of `input:read-only` */
  background-color: unset !important; /* override light theme bg-color and use input:read-only bg-color */
}

fieldset[disabled] duet-date-picker input,
duet-date-picker[disabled] input {
  background-color: #eee !important; /* bootstrap .form-input[readonly] forms.less:L170 */
}

.duet-date__dialog-content {
  @apply dark:tw-border-zinc-600;
}

duet-date-picker.form-control {
  padding: 0;
}

.duet-date {
  height: 100%;
}

.duet-date__input-wrapper {
  height: 100%;
}

duet-date-picker.error {
  @apply tw-border-red-700;
}

.duet-date__input {
  border: none;
  /* padding of bootstrap form-control */
  padding: 6px 12px;
  height: 100%;
}

.duet-date__dialog-content {
  max-width: none;
}

@media screen and (min-width: 576px) {
  /* due datepicker not shown on the bottom of the screen anymore */
  .duet-date__dialog {
    width: 25rem;
  }
  .duet-date__dialog-content {
    width: 25rem;
  }
}

@screen sm {
  .duet-date__dialog {
    /* stretch dialog content container */
    /* dialog-content has `margin-left: auto` which aligns it on the right */
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  /* bootstrap breakpoint */
  .duet-date__dialog {
    width: 25rem;
  }
}

.duet-date__day,
.duet-date__day.datepicker-day,
.duet-date__day.datepicker-day:not(.is-month) {
  /* override duet stuff */
  opacity: 1;
  --background-color-left: theme("backgroundColor.calendar.DEFAULT");
  --background-color-right: theme("backgroundColor.calendar.DEFAULT");
  --font-color: theme("textColor.calendar.DEFAULT");
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  color: var(--font-color);
  padding: 0.5rem 0.375rem 1rem 0.5rem;
}

.duet-date__day.datepicker-day-weekend,
.duet-date__day.datepicker-day-weekend:not(.is-month) {
  --background-color-left: theme("backgroundColor.calendar.weekend");
  --background-color-right: theme("backgroundColor.calendar.weekend");
  --font-color: theme("textColor.calendar.weekend");
}

.duet-date__day.datepicker-day-public-holiday-morning,
.duet-date__day.datepicker-day-public-holiday-morning:not(.is-month) {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
}
.duet-date__day.datepicker-day-public-holiday-noon,
.duet-date__day.datepicker-day-public-holiday-noon:not(.is-month) {
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
}
.duet-date__day.datepicker-day-public-holiday-full,
.duet-date__day.datepicker-day-public-holiday-full:not(.is-month) {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
  --font-color: theme("textColor.calendar.public-holiday");
}

.duet-date__day.datepicker-day-today {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply tw-shadow-cyan-600;
}
.tw-dark .duet-date__day.datepicker-day-today {
  @apply tw-shadow-sky-400;
}

/* override styling for selected or currently focused day */
.duet-date__day.datepicker-day:focus,
.duet-date__day.datepicker-day[aria-pressed="true"] {
  background: var(--duet-color-primary);
  color: var(--duet-color-text-active);
  box-shadow: 0 0 5px var(--duet-color-primary);
  z-index: 200;
}

.duet-date__table-header {
  padding-left: 0.5rem;
}

.duet-date__day {
  border-radius: 0;
  width: 100%;
}

.duet-date__day:hover::before,
.duet-date__day.is-today::before {
  border-radius: 0;
}

.duet-date__toggle {
  /* use (nearly) same width like 'overtime minute input' */
  min-width: 3.25rem;
  /* disable duet box-shadow */
  box-shadow: none;
  height: 100%;
  top: 0;
  right: 0;
}

.duet-date__input-wrapper:focus-within .duet-date__toggle {
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  min-width: calc(3.25rem - 1px);
}

.duet-date__input,
.duet-date__toggle {
  /* ring-0 is required to enable transition to ring-x of the focused element */
  @apply tw-ring-0;
  @apply tw-transition;
  @apply tw-duration-150;
  @apply tw-ease-in-out;
}

.duet-date__input:focus,
.duet-date__toggle:focus {
  box-shadow: none !important;
  @apply tw-ring-2 !important;
  @apply tw-ring-blue-300 !important;
}

/* override @duetds styling to not hide the absence-bars */
.duet-date__day:hover::before,
.duet-date__day.is-today::before {
  opacity: 1; /* would be nearly opaque */
  top: auto; /* absence-bar should be shown at the bottom */
}
