duet-date-picker {
  --duet-color-button: #eee;
}

@media (prefers-color-scheme: dark) {
  duet-date-picker {
    --duet-color-primary: #005fcc;
    --duet-color-text: theme("colors.neutral.50");
    --duet-color-text-active: theme("colors.neutral.50");
    --duet-color-placeholder: theme("colors.neutral.50");
    --duet-color-button: theme("colors.neutral.800");
    --duet-color-surface: theme("colors.neutral.800");
    --duet-color-overlay: rgba(0, 0, 0, 0.8);
    --duet-color-border: #fff;

    --duet-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --duet-font-normal: 400;
    --duet-font-bold: 600;

    --duet-radius: 4px;
    --duet-z-index: 600;
  }

  .duet-date__dialog-content {
    @apply tw-border-neutral-600;
  }
}

duet-date-picker.form-control {
  padding: 0;
}

.duet-date {
  height: 100%;
}

.duet-date__input-wrapper {
  height: 100%;
}

duet-date-picker.error {
  @apply tw-border-red-700;
}

.duet-date__input {
  border: none;
  /* padding of bootstrap form-control */
  padding: 6px 12px;
  height: 100%;
}

.duet-date__day.datepicker-day,
.duet-date__day.datepicker-day:not(.is-month) {
  /* override padding of .datepicker-day */
  padding: 0;
  /* override duet stuff */
  opacity: 1;
  --background-color-left: #e5e5e5;
  --background-color-right: #e5e5e5;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  color: #0a0a0a;
}

.duet-date__day.datepicker-day-public-holiday-morning,
.duet-date__day.datepicker-day-public-holiday-morning:not(.is-month) {
  --background-color-left: #b5d0df;
}
.duet-date__day.datepicker-day-public-holiday-noon,
.duet-date__day.datepicker-day-public-holiday-noon:not(.is-month) {
  --background-color-right: #b5d0df;
}
.duet-date__day.datepicker-day-public-holiday-full,
.duet-date__day.datepicker-day-public-holiday-full:not(.is-month) {
  --background-color-left: #b5d0df;
  --background-color-right: #b5d0df;
}

.duet-date__day.datepicker-day-weekend,
.duet-date__day.datepicker-day-weekend:not(.is-month) {
  --background-color-left: #b5d0df;
  --background-color-right: #b5d0df;
}

.duet-date__day.datepicker-day-today {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.3);
}

/* override styling for selected or currently focused day */
.duet-date__day.datepicker-day:focus,
.duet-date__day.datepicker-day[aria-pressed="true"] {
  background: var(--duet-color-primary);
  color: var(--duet-color-text-active);
  box-shadow: 0 0 5px var(--duet-color-primary);
  z-index: 200;
}

.duet-date__table-header {
  text-align: center;
}

.duet-date__day {
  border-radius: 0;
  width: 100%;
}

.duet-date__day:hover::before,
.duet-date__day.is-today::before {
  border-radius: 0;
}

.duet-date__toggle {
  /* use (nearly) same width like 'overtime minute input' */
  min-width: 3.25rem;
  /* disable duet box-shadow */
  box-shadow: none;
  height: 100%;
  top: 0;
  right: 0;
}

.duet-date__input-wrapper:focus-within .duet-date__toggle {
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  min-width: calc(3.25rem - 1px);
}

.duet-date__input,
.duet-date__toggle {
  /* ring-0 is required to enable transition to ring-x of the focused element */
  @apply tw-ring-0;
  @apply tw-transition;
  @apply tw-duration-150;
  @apply tw-ease-in-out;
}

.duet-date__input:focus,
.duet-date__toggle:focus {
  box-shadow: none !important;
  @apply tw-ring-2 !important;
  @apply tw-ring-blue-300 !important;
}
