<!DOCTYPE html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_layout::head(~{::title}, ~{}, ~{::scripts})">
    <title
      th:with="departmentTitleMessagekey=${department.id == null ? 'department.data.header.title.new' : 'department.data.header.title.edit'}"
      th:text="#{__${departmentTitleMessagekey}__}"
    ></title>
    <th:block th:fragment="scripts">
      <script defer asset:src="department_form.js"></script>
    </th:block>
  </head>
  <body th:replace="_layout::body(~{::main}, ~{})">
    <main th:fragment="main">
      <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
        <form
          method="post"
          th:with="action=${department.id == null ? '/web/department' : '/web/department/' + department.id}"
          th:action="@{__${action}__}"
          th:object="${department}"
          class="form-horizontal"
        >
          <input type="hidden" th:field="*{id}" />

          <div class="form-section">
            <div th:replace="fragments/section-heading::section-heading(~{::department-heading-body}, ~{})">
              <th:block th:ref="department-heading-body">
                <h2 th:text="#{department.data}">Abteilungsdaten</h2>
              </th:block>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-push-8">
                <span class="help-block tw-text-sm">
                  <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                  <span th:text="#{department.data.description}"></span>
                </span>
              </div>
              <div class="col-md-8 col-md-pull-4">
                <div class="form-group is-required">
                  <label th:text="|#{department.data.name}:|" class="control-label col-md-3" for="name"></label>
                  <div class="col-md-9">
                    <input id="name" type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
                    <p
                      class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                      th:if="${#fields.hasErrors('name')}"
                    >
                      <th:block th:errors="*{name}"> name Error</th:block>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label th:text="|#{department.data.info}:|" class="control-label col-md-3" for="description"></label>
                  <div class="col-md-9">
                    <small>
                      <span id="text-description"></span>
                      <th:block th:text="#{action.comment.maxChars}" />
                    </small>

                    <textarea
                      id="description"
                      rows="3"
                      th:field="*{description}"
                      class="form-control"
                      th:errorclass="error"
                      onkeyup="count(this.value, 'text-description');"
                      onkeydown="maxChars(this,200); count(this.value, 'text-description');"
                    ></textarea>
                    <p
                      class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                      th:if="${#fields.hasErrors('description')}"
                    >
                      <th:block th:errors="*{description}"> description Error</th:block>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row tw-mb-8">
              <div class="col-md-4 col-md-push-8">
                <span class="help-block tw-text-sm">
                  <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                  <th:block th:text="#{department.data.twoStageApproval.help.members}" /><br />
                  <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                  <th:block th:text="#{department.data.twoStageApproval.help.departmentHead}" />
                </span>
              </div>
              <div class="col-md-8 col-md-pull-4">
                <div class="form-group">
                  <label
                    th:text="|#{department.data.twoStageApproval}:|"
                    class="control-label col-md-3"
                    for="twoStageApproval"
                  >
                  </label>
                  <div class="col-md-9 checkbox">
                    <p
                      class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                      th:if="${#fields.hasErrors('twoStageApproval')}"
                    >
                      <th:block th:errors="*{twoStageApproval}"> twoStageApproval Error</th:block>
                    </p>
                    <label>
                      <input
                        id="twoStageApproval"
                        type="checkbox"
                        th:field="*{twoStageApproval}"
                        th:errorclass="error"
                      />
                      <span th:text="#{department.data.twoStageApproval.activate}"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-section">
            <div th:replace="fragments/section-heading::section-heading(~{::department-members-body}, ~{})">
              <th:block th:ref="department-members-body">
                <h2 th:text="#{department.members}">Mitarbeiter</h2>
              </th:block>
            </div>

            <div class="alert alert-danger tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('departmentHeads')}">
              <th:block th:errors="*{departmentHeads}"> departmentHeads Error</th:block>
            </div>

            <div class="alert alert-danger tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('secondStageAuthorities')}">
              <th:block th:errors="*{secondStageAuthorities}"> secondStageAuthorities Error</th:block>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-push-8">
                <span class="help-block tw-text-sm">
                  <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                  <span th:text="#{department.members.description}"></span>
                </span>
                <span class="help-block tw-text-sm">
                  <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                  <span th:text="#{department.members.secondStageAuthority.description}"></span>
                </span>
              </div>

              <div class="col-md-8 col-md-pull-4">
                <div class="form-group">
                  <p
                    th:text="|#{department.members.person}:|"
                    class="control-label col-md-3 tw-m-0 tw-text-sm tw-font-semibold tw-leading-6"
                  ></p>
                  <div class="col-md-9">
                    <div class="department--members">
                      <div
                        th:each="person : ${persons}"
                        class="department--member"
                        th:with="isInactive=${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).INACTIVE)}, isMember=${#lists.contains(department.members, person)}"
                        th:classappend="${isMember ? ( isInactive ? 'is-inactive' : 'is-assigned') : ''}"
                      >
                        <div class="department--member-image tw-text-blue-50 dark:tw-text-sky-800">
                          <img
                            th:replace="fragments/avatar::avatar-bordered(url=${person.gravatarURL + '?d=404&s=40'},niceName=${person.niceName},width='40px',height='40px')"
                          />
                        </div>
                        <div class="department--member-assignment">
                          <p th:text="${person.niceName}" class="department--member-info tw-mb-2"></p>
                          <div th:if="${isInactive}" class="tw-flex tw-items-center">
                            <svg
                              th:replace="icon/information-circle::svg(className='tw-text-amber-300 tw-w-5 tw-h-5 tw-m-0 tw-mr-1')"
                            ></svg>
                            <th:block th:text="#{department.members.assigned.inactive}"></th:block>
                          </div>
                          <div>
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                th:field="*{members}"
                                th:value="${person.id}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <th:block th:text="#{department.members.assigned}"></th:block>
                            </label>
                          </div>
                          <div
                            th:if="${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).DEPARTMENT_HEAD)}"
                          >
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                th:field="*{departmentHeads}"
                                th:value="${person.id}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <th:block th:text="#{department.members.departmentHead}"></th:block>
                            </label>
                          </div>
                          <div
                            th:if="${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).SECOND_STAGE_AUTHORITY)}"
                          >
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                th:field="*{secondStageAuthorities}"
                                th:value="${person.id}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <th:block th:text="#{department.members.secondStageAuthority}"></th:block>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-section">
            <div class="tw-mb-16">
              <hr />
              <button
                th:text="#{action.save}"
                class="button-main-green col-xs-12 col-sm-5 col-md-2"
                type="submit"
              ></button>
              <a
                th:text="#{action.cancel}"
                class="button col-xs-12 col-sm-5 col-md-2 pull-right"
                th:href="@{/web/department}"
              >
              </a>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
