<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::reminder-holiday-replacement-heading-body}, ~{})}"
      >
        <th:block th:fragment="reminder-holiday-replacement-heading-body">
          <h2 th:text="#{settings.overtime.title}">Einstellungen zu Überstunden</h2>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-4">
        <aside class="tw-w-full lg:tw-w-1/3"></aside>
        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Overtime Active Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.overtimeActive}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.overtimeActive.true"
            >
              Überstundenverwaltung aktivieren
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeActive.true"
                  th:field="*{overtimeSettings.overtimeActive}"
                  value="true"
                  data-test-id="setting-overtime-enabled"
                />
                <th:block th:text="#{settings.overtime.overtimeActive.true}">aktivieren</th:block>
              </label>
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeActive.false"
                  th:field="*{overtimeSettings.overtimeActive}"
                  value="false"
                  data-test-id="setting-overtime-disabled"
                />
                <th:block th:text="#{settings.overtime.overtimeActive.false}">deaktivieren</th:block>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-4">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <span
              class="tw-px-1.5 tw-no-underline tw-rounded-full tw-bg-blue-100 tw-text-blue-800 dark:tw-border dark:tw-border-blue-600 dark:tw-text-blue-600 dark:tw-bg-transparent print:no-link"
              th:text="#{settings.betaTag}"
            >
              BETA
            </span>
            <th:block th:utext="#{settings.overtime.overtimeSyncActive.description}" />
          </p>
        </aside>
        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Overtime Sync Active Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-x-4 tw-mb-12">
            <label
              th:text="|#{settings.overtime.overtimeSyncActive}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.overtimeSyncActive.true"
            >
              Überstundenverwaltung aktivieren
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeSyncActive.true"
                  th:field="*{overtimeSettings.overtimeSyncActive}"
                  value="true"
                  data-test-id="setting-overtime-sync-enabled"
                />
                <th:block th:text="#{settings.overtime.overtimeSyncActive.true}">aktivieren</th:block>
              </label>
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeSyncActive.false"
                  th:field="*{overtimeSettings.overtimeSyncActive}"
                  value="false"
                  data-test-id="setting-overtime-sync-disabled"
                />
                <th:block th:text="#{settings.overtime.overtimeActive.false}">deaktivieren</th:block>
              </label>
            </div>
          </div>

          <!-- Overtime Write Privileged Only Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.overtimeWritePrivilegedOnly}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.overtimeWritePrivilegedOnly.true"
            >
              Pflege von Überstunden nur durch privilegierte Benutzer
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeWritePrivilegedOnly.true"
                  th:field="*{overtimeSettings.overtimeWritePrivilegedOnly}"
                  value="true"
                  data-test-id="setting-overtime-write-privileged-only-enabled"
                />
                <th:block th:text="#{settings.overtime.overtimeWritePrivilegedOnly.true}">aktivieren</th:block>
              </label>
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeWritePrivilegedOnly.false"
                  th:field="*{overtimeSettings.overtimeWritePrivilegedOnly}"
                  value="false"
                  data-test-id="setting-overtime-write-privileged-only-disabled"
                />
                <th:block th:text="#{settings.overtime.overtimeWritePrivilegedOnly.false}">deaktivieren</th:block>
              </label>
            </div>
          </div>

          <!-- Overtime Reduction Without Application Active Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.overtimeReductionWithoutApplicationActive}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.overtimeReductionWithoutApplicationActive.true"
            >
              Überstundenabbau ohne Antrag aktivieren
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeReductionWithoutApplicationActive.true"
                  th:field="*{overtimeSettings.overtimeReductionWithoutApplicationActive}"
                  value="true"
                  data-test-id="setting-overtime-reduction-enabled"
                />
                <th:block th:text="#{settings.overtime.overtimeReductionWithoutApplicationActive.true}"
                  >aktivieren
                </th:block>
              </label>
              <label class="halves tw-font-normal">
                <input
                  type="radio"
                  id="overtimeSettings.overtimeReductionWithoutApplicationActive.false"
                  th:field="*{overtimeSettings.overtimeReductionWithoutApplicationActive}"
                  value="false"
                  data-test-id="setting-overtime-reduction-disabled"
                />
                <th:block th:text="#{settings.overtime.overtimeReductionWithoutApplicationActive.false}"
                  >deaktivieren
                </th:block>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="tw-flex tw-flex-col lg:tw-flex-row-reverse tw-gap-4">
        <aside class="tw-w-full lg:tw-w-1/3">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.overtime.description}" />
          </p>
        </aside>
        <div class="tw-w-full lg:tw-w-2/3">
          <!-- Maximum Overtime Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.maximum}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.maximumOvertime"
            >
              Maximale Anzahl der Überstunden
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <input
                id="overtimeSettings.maximumOvertime"
                th:field="*{overtimeSettings.maximumOvertime}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('overtimeSettings.maximumOvertime')}"
              >
                <th:block th:errors="*{overtimeSettings.maximumOvertime}">
                  overtimeSettings.maximumOvertime Error
                </th:block>
              </div>
            </div>
          </div>

          <!-- Minimum Overtime Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.minimum}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.minimumOvertime"
            >
              Maximale Anzahl der Minusstunden
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <input
                id="overtimeSettings.minimumOvertime"
                th:field="*{overtimeSettings.minimumOvertime}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('overtimeSettings.minimumOvertime')}"
              >
                <th:block th:errors="*{overtimeSettings.minimumOvertime}">
                  overtimeSettings.minimumOvertime Error
                </th:block>
              </div>
            </div>
          </div>

          <!-- Minimum Overtime Reduction Settings -->
          <div class="tw-flex tw-flex-col lg:tw-flex-row tw-mb-4 tw-gap-x-4">
            <label
              th:text="|#{settings.overtime.minimumOvertimeReduction}:|"
              class="is-required tw-w-full lg:tw-w-2/5"
              for="overtimeSettings.minimumOvertimeReduction"
            >
              Minimale Anzahl an abgebauten Stunden pro Antrag
            </label>
            <div class="tw-w-full lg:tw-w-3/5">
              <input
                id="overtimeSettings.minimumOvertimeReduction"
                th:field="*{overtimeSettings.minimumOvertimeReduction}"
                class="form-control"
                th:errorclass="error"
                type="number"
                step="1"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('overtimeSettings.minimumOvertimeReduction')}"
              >
                <th:block th:errors="*{overtimeSettings.minimumOvertimeReduction}">
                  overtimeSettings.minimumOvertimeReduction Error
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
