/**************************************************************************

  OVERVIEW CALENDAR

**************************************************************************/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#datepicker {
  min-height: 19.688rem;
}

/* BUTTONS */

.datepicker-prev,
.datepicker-next {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: theme("textColor.calendar.DEFAULT");
}

.datepicker-prev {
  margin-right: 1.125rem;
}

.datepicker-next {
  margin-left: 1.125rem;
}

/* MONTHS */

.datepicker-months-container {
  position: relative;
  /* months outside this div should not be visible */
  overflow: hidden;
  width: 100%;
  height: 19.688rem;
}

/* MONTH */

.datepicker-month {
  --width: 22.5rem;
  position: absolute;
  width: var(--width);
  height: 100%;
  transition: left 0.4s ease-in-out;
}

.datepicker-month:nth-child(1) {
  left: calc(-3 * var(--width));
}
.datepicker-month:nth-child(2) {
  left: calc(-2 * var(--width));
}
.datepicker-month:nth-child(3) {
  left: calc(-1 * var(--width));
}
.datepicker-month:nth-child(4) {
  left: 0;
}
.datepicker-month:nth-child(5) {
  left: var(--width);
}
.datepicker-month:nth-child(6) {
  left: calc(2 * var(--width));
}
.datepicker-month:nth-child(7) {
  left: calc(3 * var(--width));
}
.datepicker-month:nth-child(8) {
  left: calc(4 * var(--width));
}
.datepicker-month:nth-child(9) {
  left: calc(5 * var(--width));
}
.datepicker-month:nth-child(10) {
  left: calc(6 * var(--width));
}

.datepicker-month h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  color: theme("textColor.calendar.DEFAULT");
  font-size: 0.875rem;
  font-weight: 400;
  @apply dark:tw-font-semibold;
  text-align: center;
}

.datepicker-table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.75rem;
}

.datepicker-table th,
.datepicker-table td {
  padding: 0;
  margin: 0;
  color: theme("textColor.calendar.DEFAULT");
  @apply dark:tw-text-center;
}

.datepicker-table td {
  border: 1px solid theme("borderColor.calendar.DEFAULT");
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF7u7u////KNOqmgAAABlJREFUeNpiYGRkZABCCGIA8UAEI4QACDAAAUoAFV5+ydgAAAAASUVORK5CYII=");
}

.tw-dark .datepicker-table td {
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),
    url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='currentColor' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.datepicker-table thead tr th {
  padding: 0.5em;
  font-weight: normal;
  @apply dark:tw-font-semibold;
}

.datepicker-day {
  overflow: hidden;
  position: relative;
  --absence-bar-color-morning: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color-noon: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color: theme("backgroundColor.calendar.DEFAULT");
  --background-color-left: theme("backgroundColor.calendar.DEFAULT");
  --background-color-right: theme("backgroundColor.calendar.DEFAULT");
  --font-color: theme("textColor.calendar.DEFAULT");
  display: flex;
  align-items: center;
  padding: 0.5rem 0.375rem 0.875rem 0.5rem;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  cursor: default;
  color: var(--font-color);
  @apply dark:tw-font-semibold;
  @apply tw-space-x-1;
  @apply tw-tabular-nums;
}

.datepicker-day-past {
  opacity: 0.6;
}

.datepicker-day:is(.datepicker-day-absence-full, .datepicker-day-absence-full-approved, .datepicker-day-sick-note-full)::after {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day:is(.datepicker-day-absence-full)::after {
  border: solid 1px var(--absence-bar-color);
}

.datepicker-day:is(.datepicker-day-absence-full-approved)::after {
  background-color: var(--absence-bar-color);
}

.datepicker-day:is(.datepicker-day-absence-morning, .datepicker-day-absence-morning-approved, .datepicker-day-sick-note-morning)::before {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 0.375rem;
  right: 50%;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day:is(.datepicker-day-absence-morning)::before {
  border: solid 1px var(--absence-bar-color-morning);
}

.datepicker-day:is(.datepicker-day-absence-morning-approved)::before {
  background-color: var(--absence-bar-color-morning);
}

.datepicker-day:is(.datepicker-day-absence-noon, .datepicker-day-absence-noon-approved, .datepicker-day-sick-note-noon)::after {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 50%;
  right: 0.375rem;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day:is(.datepicker-day-absence-noon)::after {
  border: solid 1px var(--absence-bar-color-noon);
}

.datepicker-day:is(.datepicker-day-absence-noon-approved)::after {
  background-color: var(--absence-bar-color-noon);
}

td.datepicker-day {
  display: table-cell;
}

/* NOTE: Order of the day classes is very important because of css classes overloading! */

.datepicker-day:not([data-datepicker-selectable="false"]) {
  cursor: pointer;
}

.datepicker-day-today,
.datepicker-day:not(.datepicker-day-past):hover {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.3);
}

.datepicker-day-today:hover,
.datepicker-day-today.datepicker-day-selected,
.datepicker-day-selected,
.datepicker-day-selected[class*="-morning"],
.datepicker-day-selected[class*="-noon"] {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.6) !important;
}

.datepicker-day-sick-note-morning {
  --absence-bar-color-morning: theme("backgroundColor.calendar.sick-note");
}
.datepicker-day-sick-note-noon {
  --absence-bar-color-noon: theme("backgroundColor.calendar.sick-note");
}
.datepicker-day-sick-note-full {
  --absence-bar-color: theme("backgroundColor.calendar.sick-note");
}

.datepicker-day-weekend {
  --background-color-left: theme("backgroundColor.calendar.weekend");
  --background-color-right: theme("backgroundColor.calendar.weekend");
  /* important is required since `.datepicker-day-public-holiday-noon.datepicker-day-past` is a more specific selector which wins otherwise */
  --font-color: theme("textColor.calendar.weekend") !important;
}

/* public holidays must be the last calendar day treatment */
/* to override all other absences */
/* note: except for weekend which follows beneath */
.datepicker-day-public-holiday-morning {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
}
.datepicker-day-public-holiday-noon {
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
}
.datepicker-day-public-holiday-full {
  --background-color-left: theme("backgroundColor.calendar.public-holiday");
  --background-color-right: theme("backgroundColor.calendar.public-holiday");
  --font-color: theme("textColor.calendar.public-holiday");
}

/**************************************************************************

  RESPONSIVNESS

**************************************************************************/

/* Show only current month on small devices! */
@media (max-width: 767px) {
  .datepicker-day {
    padding: 0.563rem;
  }

  .datepicker-table {
    width: 100%;
  }

  .datepicker-month {
    display: none;
  }
  .datepicker-month:nth-child(5) {
    display: block;
    left: 0;
    width: 100%;
  }
}
