/**************************************************************************

  OVERVIEW CALENDAR

**************************************************************************/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#datepicker {
  min-height: 19.688rem;
  @apply tw-flex-wrap;
  @apply sm:tw-flex-nowrap;
}

/* BUTTONS */

.datepicker-prev,
.datepicker-next {
  cursor: pointer;
  background-color: transparent;
  color: theme("textColor.calendar.DEFAULT");
}

.datepicker-prev {
  order: 1;
  flex-basis: 40%;
  @apply tw-mb-4;
  @apply sm:tw-mb-0;
  @apply sm:tw-order-none;
  @apply sm:tw-basis-0;
  @apply sm:-tw-ml-2;
  @apply tw-flex;
  @apply tw-items-center;
  @apply lg:-tw-translate-x-full;
}

.datepicker-next {
  order: 2;
  flex-basis: 40%;
  @apply tw-ml-auto;
  @apply tw-mb-4;
  @apply sm:tw-mb-0;
  @apply sm:tw-order-none;
  @apply sm:tw-basis-0;
  @apply sm:-tw-mr-2;
  @apply tw-flex;
  @apply tw-items-center;
  @apply tw-flex-row-reverse;
  @apply lg:tw-translate-x-full;
}

/* MONTHS */

.datepicker-months-container {
  order: 0;
  @apply sm:tw-order-none;
  position: relative;
  /* months outside this div should not be visible */
  overflow: hidden;
  width: 100%;
  height: 19.688rem;
}

/* MONTH */

.datepicker-month {
  --width: 100%;
  --gap: 1rem;
  position: absolute;
  width: var(--width);
  transition: left 0.4s ease-in-out;
  /* hide every month despite current month. */
  display: none;
}

.datepicker-month:nth-child(5) {
  left: 0;
  /* hide every month despite current month. */
  display: block;
}

@screen sm {
  .datepicker-month:nth-child(5) {
    --width: 80vw;
    left: 5vw;
  }
}

@screen md {
  .datepicker-month {
    --width: 43% !important; /* `important` to also override :nth-child(5) from above */
    --gap: 5rem;
    display: block;
  }
  .datepicker-month:nth-child(4) {
    left: var(--gap);
  }
  .datepicker-month:nth-child(1) {
    left: calc(-3 * (var(--width)) - var(--gap));
  }
  .datepicker-month:nth-child(2) {
    left: calc(-2 * (var(--width)) - var(--gap));
  }
  .datepicker-month:nth-child(3) {
    left: calc(-1 * (var(--width)) - var(--gap));
  }
  .datepicker-month:nth-child(4) {
    left: calc(var(--gap) / 2);
  }
  .datepicker-month:nth-child(5) {
    left: calc(var(--width) + var(--gap));
  }
  .datepicker-month:nth-child(6) {
    left: calc(2 * (var(--width) + var(--gap)));
  }
  .datepicker-month:nth-child(7) {
    left: calc(3 * (var(--width) + var(--gap)));
  }
  .datepicker-month:nth-child(8) {
    left: calc(4 * (var(--width) + var(--gap)));
  }
  .datepicker-month:nth-child(9) {
    left: calc(5 * (var(--width) + var(--gap)));
  }
  .datepicker-month:nth-child(10) {
    left: calc(6 * (var(--width) + var(--gap)));
  }
}

@media (min-width: 992px) {
  .datepicker-month {
    --width: 30% !important; /* `important` to also override :nth-child(5) from above */
    --gap: 3rem;
  }
  .datepicker-month:nth-child(4) {
    left: 0;
  }
}

.datepicker-month-caption {
  margin: 0;
  margin-bottom: 0.5rem;
  color: theme("textColor.calendar.DEFAULT");
  font-size: 0.875rem;
  font-weight: 400;
  @apply dark:tw-font-semibold;
  text-align: center;
}

.datepicker-table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.75rem;
}

.datepicker-table .datepicker-day-header {
  padding: 0;
  margin: 0;
  color: theme("textColor.calendar.DEFAULT");
  @apply dark:tw-text-center;
}

.datepicker-table .datepicker-day-header {
  padding: 0.5em;
  font-weight: normal;
  @apply dark:tw-font-semibold;
}

.datepicker-day {
  overflow: hidden;
  position: relative;
  --absence-bar-color-morning: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color-noon: theme("backgroundColor.calendar.DEFAULT");
  --absence-bar-color: theme("backgroundColor.calendar.DEFAULT");
  --background-color-left: theme("backgroundColor.calendar.DEFAULT");
  --background-color-right: theme("backgroundColor.calendar.DEFAULT");
  --font-color: theme("textColor.calendar.DEFAULT");
  display: flex;
  align-items: center;
  @apply tw-pt-2;
  @apply tw-pb-3.5;
  @apply tw-pl-1.5;
  @apply tw-pr-1;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  cursor: default;
  color: var(--font-color);
  @apply dark:tw-font-semibold;
  @apply tw-space-x-0.5;
  @apply tw-tabular-nums;
}

@screen xs {
  .datepicker-day {
    @apply tw-pl-2;
    @apply tw-pr-1.5;
    @apply tw-space-x-1;
  }
}

@media (min-width: 992px) {
  .datepicker-day {
    @apply tw-pl-1.5;
    @apply tw-pr-1;
    @apply tw-space-x-0.5;
  }
}

.datepicker-day-past {
  opacity: 0.6;
}

.datepicker-day:is(.datepicker-day-absence-full, .datepicker-day-sick-note-full)::after {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day.absence-full--outline::after {
  border: solid 1px var(--absence-bar-color);
}

.datepicker-day.datepicker-day-sick-note-full::after,
.datepicker-day.absence-full--solid::after {
  background: var(--absence-bar-color);
}

.datepicker-day:is(.datepicker-day-absence-morning, .datepicker-day-sick-note-morning)::before {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 0.375rem;
  right: 50%;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day.absence-morning--outline::before {
  background: none !important; /* override @duetds hover background color */
  border: solid 1px var(--absence-bar-color-morning);
}

.datepicker-day.datepicker-day-sick-note-morning::before,
.datepicker-day.absence-morning--solid::before {
  background: var(--absence-bar-color-morning) !important;
}

.datepicker-day:is(.datepicker-day-absence-noon, .datepicker-day-sick-note-noon)::after {
  content: "";
  position: absolute;
  bottom: 0.375rem;
  left: 50%;
  right: 0.375rem;
  height: 0.25rem;
  border-radius: 99999px;
}

.datepicker-day.absence-noon--outline::after {
  border: solid 1px var(--absence-bar-color-noon);
}

.datepicker-day.datepicker-day-sick-note-noon::after,
.datepicker-day.absence-noon--solid::after {
  background: var(--absence-bar-color-noon);
}

td.datepicker-day {
  display: table-cell;
}

/* NOTE: Order of the day classes is very important because of css classes overloading! */

.datepicker-day:not([data-datepicker-selectable="false"]) {
  cursor: pointer;
}

.datepicker-day {
  --uv-cal-selection-box-width: 1px;
}

.datepicker-day-today {
  /* define selection-box-width after `.datepicker-day` to override value */
  --uv-cal-selection-box-width: 2px;
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply tw-shadow-cyan-700;
}

.tw-dark .datepicker-day-today {
  @apply tw-shadow-sky-400;
}

.datepicker-day:not(.datepicker-day-today):not(.datepicker-day-past):not(.datepicker-day-weekend):not(.datepicker-day-public-holiday-full):hover,
.datepicker-day-today.datepicker-day-selected,
.datepicker-day-selected,
.datepicker-day-selected[class*="-morning"],
.datepicker-day-selected[class*="-noon"] {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply tw-shadow-cyan-600;
}

.tw-dark .datepicker-day:not(.datepicker-day-today):not(.datepicker-day-past):not(.datepicker-day-weekend):not(.datepicker-day-public-holiday-full):hover,
.tw-dark .datepicker-day-today.datepicker-day-selected,
.tw-dark .datepicker-day-selected,
.tw-dark .datepicker-day-selected[class*="-morning"],
.tw-dark .datepicker-day-selected[class*="-noon"] {
  @apply tw-shadow-sky-400;
}

.datepicker-day-sick-note-morning {
  --absence-bar-color-morning: theme("backgroundColor.calendar.sick-note");
}
.datepicker-day-sick-note-noon {
  --absence-bar-color-noon: theme("backgroundColor.calendar.sick-note");
}
.datepicker-day-sick-note-full {
  --absence-bar-color: theme("backgroundColor.calendar.sick-note");
}

.datepicker-day-weekend {
  --background-color-left: theme("backgroundColor.calendar.weekend");
  --background-color-right: theme("backgroundColor.calendar.weekend");
  /* important is required since `.datepicker-day-public-holiday-noon.datepicker-day-past` is a more specific selector which wins otherwise */
  --font-color: theme("textColor.calendar.weekend") !important;
}
.datepicker-day-weekend:not(.datepicker-day-past):hover,
.datepicker-day-weekend.datepicker-day-today,
.datepicker-day-weekend.datepicker-day-selected {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply tw-shadow-cyan-600;
  --background-color-left: rgba(var(--uv-cal-weekend-bg), 0.85);
  --background-color-right: rgba(var(--uv-cal-weekend-bg), 0.85);
}
.tw-dark .datepicker-day-weekend:not(.datepicker-day-past):hover,
.tw-dark .datepicker-day-weekend.datepicker-day-today,
.tw-dark .datepicker-day-weekend.datepicker-day-selected {
  @apply tw-shadow-sky-400/80;
}

/* public holidays must be the last calendar day treatment */
/* to override all other absences */
/* note: except for weekend which follows beneath */
.datepicker-day-public-holiday-morning {
  --background-color-left: rgb(var(--uv-cal-public-holiday-bg));
}
.datepicker-day-public-holiday-noon {
  --background-color-right: rgb(var(--uv-cal-public-holiday-bg));
}
.datepicker-day-public-holiday-full {
  --background-color-left: rgb(var(--uv-cal-public-holiday-bg));
  --background-color-right: rgb(var(--uv-cal-public-holiday-bg));
  --font-color: theme("textColor.calendar.public-holiday");
}
.datepicker-day-public-holiday-full:not(.datepicker-day-past):hover,
.datepicker-day-public-holiday-full.datepicker-day-selected {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply tw-shadow-cyan-600;
  --background-color-left: rgba(var(--uv-cal-public-holiday-bg), 0.85);
  --background-color-right: rgba(var(--uv-cal-public-holiday-bg), 0.85);
}
.tw-dark .datepicker-day-public-holiday-full:not(.datepicker-day-past):hover,
.tw-dark .datepicker-day-public-holiday-full.datepicker-day-selected {
  @apply tw-shadow-sky-400/80;
}
