@reference "../../../css/config.css";

/**************************************************************************

  OVERVIEW CALENDAR

**************************************************************************/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#datepicker {
  min-height: 19.688rem;
  @apply flex-wrap;
  @apply sm:flex-nowrap;
}

/* BUTTONS */

.datepicker-prev,
.datepicker-next {
  cursor: pointer;
  background-color: transparent;
  color: var(--uv-cal-default-color);
}

.datepicker-prev {
  order: 1;
  flex-basis: 40%;
  @apply mb-4;
  @apply sm:mb-0;
  @apply sm:order-none;
  @apply sm:basis-0;
  @apply sm:-ml-2;
  @apply flex;
  @apply items-center;
  @apply lg:-translate-x-full;
}

.datepicker-next {
  order: 2;
  flex-basis: 40%;
  @apply ml-auto;
  @apply mb-4;
  @apply sm:mb-0;
  @apply sm:order-none;
  @apply sm:basis-0;
  @apply sm:-mr-2;
  @apply flex;
  @apply items-center;
  @apply flex-row-reverse;
  @apply lg:translate-x-full;
}

/* MONTHS */

.calendar-container {
  order: 0;
  @apply sm:order-none;
  position: relative;
  /* months outside this div should not be visible */
  overflow: hidden;
  width: 100%;
  height: 19.688rem;
}

/* 1024px */
@variant lg {
  .calendar-container {
    /* prev & next buttons are moved ti the side. use "full" width for the calendar  */
    @apply -mx-6;
  }
}

/* MONTH */

.calendar-month-container {
  --width: 100%;
  --gap: 1rem;
  position: absolute;
  width: var(--width);
  transition: left 0.4s ease-in-out;
  /* hide every month despite current month. */
  display: none;
}

.calendar-month-container:nth-child(5) {
  left: 0;
  /* hide every month despite current month. */
  display: block;
}

@variant sm {
  .calendar-month-container:nth-child(5) {
    --width: 80vw;
    left: 5vw;
  }
}

@variant md {
  .calendar-month-container {
    --width: 43% !important; /* `important` to also override :nth-child(5) from above */
    --gap: 5rem;
    display: block;
  }
  .calendar-month-container:nth-child(4) {
    left: var(--gap);
  }
  .calendar-month-container:nth-child(1) {
    left: calc(-3 * (var(--width)) - var(--gap));
  }
  .calendar-month-container:nth-child(2) {
    left: calc(-2 * (var(--width)) - var(--gap));
  }
  .calendar-month-container:nth-child(3) {
    left: calc(-1 * (var(--width)) - var(--gap));
  }
  .calendar-month-container:nth-child(4) {
    left: calc(var(--gap) / 2);
  }
  .calendar-month-container:nth-child(5) {
    left: calc(var(--width) + var(--gap));
  }
  .calendar-month-container:nth-child(6) {
    left: calc(2 * (var(--width) + var(--gap)));
  }
  .calendar-month-container:nth-child(7) {
    left: calc(3 * (var(--width) + var(--gap)));
  }
  .calendar-month-container:nth-child(8) {
    left: calc(4 * (var(--width) + var(--gap)));
  }
  .calendar-month-container:nth-child(9) {
    left: calc(5 * (var(--width) + var(--gap)));
  }
  .calendar-month-container:nth-child(10) {
    left: calc(6 * (var(--width) + var(--gap)));
  }
}

@media (min-width: 992px) {
  .calendar-month-container {
    --width: 30% !important; /* `important` to also override :nth-child(5) from above */
    --gap: 2.3rem;
  }
  .calendar-month-container:nth-child(4) {
    left: 0;
  }
}

/* 1024px */
@variant lg {
  .calendar-container {
    /* prev & next buttons are moved ti the side. use "full" width for the calendar  */
    @apply -mx-6;
  }
  .calendar-month-container {
    --gap: 2.6rem;
  }
}

@media (min-width: 1120px) {
  .calendar-month-container {
    --gap: 3rem;
  }
}

.calendar-month-caption {
  margin: 0;
  margin-bottom: 0.5rem;
  color: var(--uv-cal-default-color);
  font-size: 0.875rem;
  font-weight: 400;
  @apply dark:font-semibold;
  text-align: center;
}

.calendar-month-grid {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.calendar-month-grid .calendar-month-day-header {
  margin: 0;
  padding: 0.5em;
  color: var(--uv-cal-default-color);
  @apply dark:text-center;
  @apply dark:font-semibold;
}

.datepicker-day {
  overflow: hidden;
  position: relative;
  --absence-bar-color-morning: var(--uv-cal-default-bg);
  --absence-bar-color-noon: var(--uv-cal-default-bg);
  --absence-bar-color: var(--uv-cal-default-bg);
  --background-color-left: var(--uv-cal-default-bg);
  --background-color-right: var(--uv-cal-default-bg);
  --font-color: var(--uv-cal-default-color);
  display: flex;
  align-items: center;
  @apply pt-2;
  @apply pb-3.5;
  @apply pl-2;
  @apply pr-0.5;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  cursor: default;
  color: var(--font-color);
  @apply dark:font-semibold;
  @apply space-x-0.5;
  @apply tabular-nums;
}

@variant xs {
  .datepicker-day {
    @apply pl-2;
    @apply pr-1.5;
    @apply space-x-1;
  }
}

@media (min-width: 992px) {
  .datepicker-day {
    @apply space-x-0.5;
  }
}

.datepicker-day-past {
  opacity: 0.6;
}

.datepicker-day:is(.datepicker-day-absence-full, .datepicker-day-sick-note-full)::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.375rem;
  border-radius: 99999px;
}

.datepicker-day.absence-full--outline::after {
  border: solid 1px var(--absence-bar-color);
}

.datepicker-day.absence-full--outline-solid-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, transparent 50%);
}

.datepicker-day.absence-full--outline-solid-second-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, var(--absence-bar-color) 50%);
}

.datepicker-day.absence-full--solid::after {
  background: var(--absence-bar-color);
}

.datepicker-day:is(.datepicker-day-absence-morning, .datepicker-day-sick-note-morning)::before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.375rem;
  right: 52%;
  height: 0.375rem;
  border-radius: 99999px;
}

.datepicker-day.absence-morning--outline::before {
  background: none !important; /* override @duetds hover background color */
  border: solid 1px var(--absence-bar-color-morning);
}

.datepicker-day.absence-morning--outline-solid-half::before {
  border: solid 1px var(--absence-bar-color-morning);
  background: linear-gradient(135deg, var(--absence-bar-color-morning) 50%, transparent 50%);
}

.datepicker-day.absence-morning--outline-solid-second-half::before {
  border: solid 1px var(--absence-bar-color-morning);
  background: linear-gradient(135deg, var(--absence-bar-color-morning) 50%, var(--absence-bar-color-morning) 50%);
}

.datepicker-day.absence-morning--solid::before {
  background: var(--absence-bar-color-morning) !important;
}

.datepicker-day:is(.datepicker-day-absence-noon, .datepicker-day-sick-note-noon)::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 52%;
  right: 0.375rem;
  height: 0.375rem;
  border-radius: 99999px;
}

.datepicker-day.absence-noon--outline::after {
  border: solid 1px var(--absence-bar-color-noon);
}

.datepicker-day.absence-noon--outline-solid-half::after {
  border: solid 1px var(--absence-bar-color-noon);
  background: linear-gradient(135deg, var(--absence-bar-color-noon) 50%, transparent 50%);
}

.datepicker-day.absence-noon--outline-solid-second-half::after {
  border: solid 1px var(--absence-bar-color-noon);
  background: linear-gradient(135deg, var(--absence-bar-color-noon) 50%, var(--absence-bar-color-noon) 50%);
}

.datepicker-day.absence-noon--solid::after {
  background: var(--absence-bar-color-noon);
}

td.datepicker-day {
  display: table-cell;
}

/* NOTE: Order of the day classes is very important because of css classes overloading! */

.datepicker-day:not([data-datepicker-selectable="false"]) {
  cursor: pointer;
}

.datepicker-day {
  --uv-cal-selection-box-width: 1px;
}

.datepicker-day-today {
  /* define selection-box-width after `.datepicker-day` to override value */
  --uv-cal-selection-box-width: 2px;
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply shadow-cyan-700;
  @apply dark:shadow-sky-400;
}

.datepicker-day:not(.datepicker-day-today):not(.datepicker-day-past):not(.datepicker-day-weekend):not(
    .datepicker-day-public-holiday-full
  ):hover,
.datepicker-day-today.datepicker-day-selected,
.datepicker-day-selected,
.datepicker-day-selected[class*="-morning"],
.datepicker-day-selected[class*="-noon"] {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply shadow-cyan-600;
  @apply dark:shadow-sky-400;
}

.datepicker-day-sick-note-morning {
  --absence-bar-color-morning: var(--sick-note-color);
}
.datepicker-day-sick-note-noon {
  --absence-bar-color-noon: var(--sick-note-color);
}
.datepicker-day-sick-note-full {
  --absence-bar-color: var(--sick-note-color);
}

.datepicker-day-weekend {
  --background-color-left: var(--uv-cal-weekend-bg);
  --background-color-right: var(--uv-cal-weekend-bg);
  /* important is required since `.datepicker-day-public-holiday-noon.datepicker-day-past` is a more specific selector which wins otherwise */
  --font-color: var(--uv-cal-weekend-color) !important;
}
.datepicker-day-weekend:not(.datepicker-day-past):hover,
.datepicker-day-weekend.datepicker-day-today,
.datepicker-day-weekend.datepicker-day-selected {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply shadow-cyan-600;
  @apply dark:shadow-sky-400/80;
  --background-color-left: color-mix(in oklab, var(--uv-cal-weekend-bg) 85%, white);
  --background-color-right: color-mix(in oklab, var(--uv-cal-weekend-bg) 85%, white);
}

/* public holidays must be the last calendar day treatment */
/* to override all other absences */
/* note: except for weekend which follows beneath */
.datepicker-day-public-holiday-morning {
  --background-color-left: var(--uv-cal-public-holiday-bg);
}
.datepicker-day-public-holiday-noon {
  --background-color-right: var(--uv-cal-public-holiday-bg);
}
.datepicker-day-public-holiday-full {
  --background-color-left: var(--uv-cal-public-holiday-bg);
  --background-color-right: var(--uv-cal-public-holiday-bg);
  --font-color: var(--uv-cal-public-holiday-color);
}
.datepicker-day-public-holiday-full:not(.datepicker-day-past):hover,
.datepicker-day-public-holiday-full.datepicker-day-selected {
  box-shadow: inset 0 0 0 var(--uv-cal-selection-box-width) var(--tw-shadow-color);
  @apply shadow-cyan-600;
  @apply dark:shadow-sky-400/80;
  --background-color-left: color-mix(in oklab, var(--uv-cal-public-holiday-bg) 85%, white);
  --background-color-right: color-mix(in oklab, var(--uv-cal-public-holiday-bg) 85%, white);
}

.calendar_popover {
  z-index: 1000;
  padding: 0px 0px;
  display: none;
  &[data-show] {
    display: block;
  }
}

.calendar_popover_content {
  background: theme("backgroundColor.calendar.DEFAULT");
  border-color: #333;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #333;
  z-index: -1;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.calendar_popover[data-popper-placement^="top"] #arrow {
  bottom: -4px;
}

.calendar_popover[data-popper-placement^="bottom"] #arrow {
  top: -4px;
}

.calendar_popover[data-popper-placement^="left"] #arrow {
  right: -4px;
}

.calendar_popover[data-popper-placement^="right"] #arrow {
  left: -4px;
}

.calendar_popover_entry {
  --font-color: theme("textColor.calendar.DEFAULT");
  align-items: center;
  @apply tw-pt-2;
  @apply tw-pb-3.5;
  @apply tw-pl-2;
  @apply tw-pr-0.5;
  cursor: default;
  color: var(--font-color);
  @apply dark:tw-font-semibold;
  @apply tw-space-x-0.5;
  @apply tw-tabular-nums;

  float: left;
}

.calendar_popover_entry + .calendar_popover_entry {
  float: right;
}

.absence-details {
  overflow: hidden;
  position: relative;
}

.absence-details::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.375rem;
  border-radius: 99999px;
}

.absence-details.absence--outline::after {
  border: solid 1px var(--absence-bar-color);
}

.absence-details.absence--outline-solid-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, transparent 50%);
}

.absence-details.absence--outline-solid-second-half::after {
  border: solid 1px var(--absence-bar-color);
  background: linear-gradient(135deg, var(--absence-bar-color) 50%, var(--absence-bar-color) 50%);
}

.absence-details.absence--solid::after {
  background: var(--absence-bar-color);
}

@media (max-width: theme("screens.sm")) {
  .calendar_popover_entry {
    float: none;
  }

  .calendar_popover_entry + .calendar_popover_entry {
    float: none;
  }

  /* Using !important to override style attribute set by popper.js*/
  .calendar_popover {
    transform: none !important;
    inset: unset !important;
    justify-content: center !important;
    z-index: 40 !important;
  }

  #arrow::before {
    visibility: hidden;
  }
  .calendar_popover_content {
    position: fixed !important;
    width: 100vw !important;
    height: 30vh !important;
    left: 0 !important;
    bottom: 0 !important;
    display: block !important;
  }
}
