<!DOCTYPE html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_layout::head(~{::title}, ~{}, ~{::scripts})">
    <title
      th:with="messageKey=#{__${sickNote.sickNoteType.messageKey}__}"
      th:text="#{sicknote.header.title(${messageKey}, ${sickNote.person.niceName})}"
    >
      Krankmeldung von Marlene
    </title>
    <th:block th:fragment="scripts">
      <script defer asset:src="sick_note.js"></script>
    </th:block>
  </head>

  <body th:replace="_layout::body(~{::main}, ~{})">
    <main
      th:fragment="main"
      class="tw-max-w-2xl lg:tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0 lg:tw-grid lg:tw-grid-cols-2 lg:tw-gap-8"
    >
      <div>
        <div
          th:replace="fragments/section-heading::section-heading(~{::sicknote-heading-body}, ~{::sicknote-heading-actions})"
        >
          <th:block th:ref="sicknote-heading-body">
            <h2 th:text="#{sicknote.title}">Krankmeldung</h2>
          </th:block>
          <th:block th:ref="sicknote-heading-actions">
            <th:block th:if="${sickNote.active}">
              <th:block th:if="${canEditSickNote}">
                <a
                  th:href="@{/web/sicknote/__${sickNote.id}__/edit}"
                  class="icon-link tw-px-1"
                  th:data-title="#{action.edit}"
                >
                  <svg th:replace="icon/pencil::svg(className='tw-w-5 tw-h-5')"></svg>
                  <span th:text="#{action.edit}" class="tw-sr-only"></span>
                </a>
              </th:block>
              <th:block th:if="${canConvertSickNote}">
                <a
                  th:href="@{/web/sicknote/__${sickNote.id}__/convert}"
                  class="icon-link tw-px-1"
                  th:data-title="#{action.convert}"
                >
                  <svg th:replace="icon/refresh::svg(className='tw-w-5 tw-h-5')"></svg>
                  <span th:text="#{action.convert}" class="tw-sr-only"></span>
                </a>
              </th:block>
              <th:block th:if="${canDeleteSickNote}">
                <a
                  href="#modal-cancel"
                  role="button"
                  data-toggle="modal"
                  class="icon-link tw-px-1"
                  th:data-title="#{action.delete}"
                >
                  <svg th:replace="icon/trash::svg(className='tw-w-5 tw-h-5')"></svg>
                  <span th:text="#{action.delete}" class="tw-sr-only"></span>
                </a>
              </th:block>
              <a href="#" th:replace="fragments/print::button"></a>
            </th:block>
          </th:block>
        </div>

        <form method="post" th:action="@{/web/sicknote/__${sickNote.id}__/cancel}">
          <div
            id="modal-cancel"
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <svg th:replace="icon/x-circle::svg(className='tw-w-8 tw-h-8')"></svg>
                  </button>
                  <h4 id="myModalLabel" th:text="|#{action.delete}?|" class="modal-title"></h4>
                </div>
                <div th:text="#{action.sicknote.cancel.confirm}" class="modal-body"></div>
                <div class="modal-footer tw-flex tw-space-x-2 tw-justify-end">
                  <button class="button-danger" type="submit" th:text="#{action.delete}"></button>
                  <button class="button" data-dismiss="modal" aria-hidden="true" th:text="#{action.cancel}"></button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="box tw-mb-5 tw-p-5">
          <div th:replace="fragments/box::box-with-icon(~{::sicknote-box-icon}, ~{::sicknote-box-body})">
            <th:block th:ref="sicknote-box-icon">
              <div
                th:replace="fragments/rounded::block(content=~{::sicknote-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-600 dark:tw-text-zinc-900')"
              >
                <th:block th:ref="sicknote-box-icon-rounded">
                  <th:block th:if="${sickNote.sickNoteType == 'SICK_NOTE_CHILD'}">
                    <svg th:replace="icon/child::svg(className='tw-w-8 tw-h-8')"></svg>&nbsp;
                  </th:block>
                  <th:block th:if="${sickNote.sickNoteType != 'SICK_NOTE_CHILD'}">
                    <svg th:replace="icon/medkit::svg(className='tw-w-8 tw-h-8')"></svg>&nbsp;
                  </th:block>
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="sicknote-box-body">
              <span
                th:text="#{sicknotes.details.box.person.has(${sickNote.person.niceName})}"
                class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                data-test-id="sicknote-person"
              >
              </span>
              <span
                th:text="#{__${sickNote.sickNoteType.messageKey}__}"
                class="tw-my-1 tw-text-lg tw-font-medium"
                data-test-id="sicknote-type"
              >
              </span>
              <span
                class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                data-test-id="sicknote-date"
              >
                <th:block th:if="${sickNote.startDate == sickNote.endDate}">
                  <th:block th:text="|${#messages.msg(sickNote.weekDayOfStartDate + '.short')}|"></th:block>,
                  <th:block th:replace="fragments/date::date(${sickNote.startDate})"></th:block>,&nbsp;
                  <th:block th:text="${#messages.msg(sickNote.dayLength)}"></th:block>
                </th:block>
                <th:block th:if="${sickNote.startDate != sickNote.endDate}">
                  <span
                    th:replace="fragments/date-range::date-range(from=${sickNote.startDate}, to=${sickNote.endDate}, pattern='E, dd.MM.yyyy')"
                  ></span>
                </th:block>
              </span>
            </th:block>
          </div>
        </div>

        <table class="list-table striped-table bordered-table tw-text-sm">
          <tbody>
            <tr>
              <td th:text="#{absence.period.duration}"></td>
              <td>
                =
                <th:block th:replace="fragments/number::number(${sickNote.workDays})"></th:block>&nbsp;<th:block
                  th:text="#{duration.workDays}"
                />
                <span th:if="${sickNote.active == false}" th:text="#{sicknote.data.inactive}"></span>
              </td>
            </tr>
            <tr>
              <td th:text="#{sicknote.data.aub.short}"></td>
              <td>
                <div class="tw-flex tw-items-center" data-test-id="sicknote-aub-date">
                  <th:block th:if="${sickNote.aubPresent}">
                    <svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4')"></svg>
                    &nbsp;<th:block
                      th:replace="fragments/date-range::date-range(from=${sickNote.aubStartDate}, to=${sickNote.aubEndDate}, pattern='E, dd.MM.yyyy')"
                    ></th:block>
                  </th:block>
                  <th:block th:if="${not sickNote.aubPresent}">
                    <svg th:replace="icon/x-circle::svg(className='tw-w-4 tw-h-4')"></svg>
                    &nbsp;<th:block th:text="#{sicknote.data.aub.notPresent}"></th:block>
                  </th:block>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div
          th:replace="fragments/section-heading::section-heading(~{::sicknote-progress-heading-body}, ~{::sicknote-progress-heading-actions})"
        >
          <th:block th:ref="sicknote-progress-heading-body">
            <h2 th:text="#{sicknote.progress.title}">Verlauf</h2>
          </th:block>
          <th:block th:ref="sicknote-progress-heading-actions">
            <th:block th:if="${canCommentSickNote}">
              <button
                class="icon-link tw-bg-transparent tw-px-1 tw-py-0"
                onclick="document.getElementById('comment-form').classList.remove('tw-hidden');"
                th:data-title="#{action.comment.new}"
              >
                <svg th:replace="icon/annotation::svg(className='tw-w-5 tw-h-5')"></svg>
                <span class="tw-sr-only" th:text="#{action.comment.new}"></span>
              </button>
            </th:block>
          </th:block>
        </div>

        <table class="list-table striped-table bordered-table tw-text-sm">
          <tbody>
            <tr th:each="comment, loopStatus : ${comments}">
              <td class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                <img
                  th:replace="fragments/avatar::avatar-bordered(url=${comment.person != null ? comment.person.gravatarURL + '?d=404&s=40' : null},niceName=${comment.person != null ? comment.person.niceName : null},width='40px',height='40px')"
                  alt=""
                />
              </td>

              <td th:if="${comment.person != null}" th:text="${comment.person.niceName}"></td>
              <td th:if="${comment.person == null}" th:text="#{sicknote.progress.unknown-author}"></td>

              <td>
                <th:block th:if="${#strings.isEmpty(comment.text)}">
                  <th:block th:text="#{'sicknote.progress.' + ${comment.action}}"></th:block>
                  <th:block th:replace="fragments/date::date(${comment.date})"></th:block>
                </th:block>
                <th:block th:if="${not #strings.isEmpty(comment.text)}">
                  <th:block th:text="#{'sicknote.progress.' + ${comment.action}}"></th:block>
                  <th:block th:replace="fragments/date::date(${comment.date})"></th:block>

                  <th:block th:if="${comment.action == 'COMMENTED'}"> : </th:block>
                  <th:block th:if="${comment.action != 'COMMENTED'}">
                    <th:block th:text="#{sicknote.progress.comment}"></th:block>
                  </th:block>
                  <br />
                  <em th:text="${comment.text}"></em>
                </th:block>
              </td>
            </tr>
          </tbody>
        </table>

        <form
          id="comment-form"
          th:if="${canCommentSickNote}"
          method="post"
          th:action="@{/web/sicknote/__${sickNote.id}__/comment}"
          th:object="${comment}"
          class="tw-hidden"
        >
          <div th:if="${#fields.hasGlobalErrors()}" class="feedback">
            <div th:text="#{application.action.reason.error}" class="alert alert-danger"></div>
          </div>

          <small>
            <span id="text-comment"></span>
            <th:block th:text="#{action.comment.maxChars}"></th:block>
          </small>
          <textarea
            th:field="*{text}"
            class="form-control"
            th:errorclass="error"
            rows="2"
            onkeyup="count(this.value, 'text-comment');"
            onkeydown="maxChars(this,200); count(this.value, 'text-comment');"
          ></textarea>
          <div class="tw-flex tw-justify-between tw-mt-2 tw-mb-6">
            <button th:text="#{action.save}" class="button-main-green" type="submit"></button>
            <button
              th:text="#{action.cancel}"
              class="button"
              type="button"
              onclick="document.getElementById('comment-form').classList.add('tw-hidden');"
            ></button>
          </div>
        </form>

        <div class="print:tw-hidden">
          <div th:replace="fragments/section-heading::section-heading(~{::sicknote-data-person-heading-body}, ~{})">
            <th:block th:ref="sicknote-data-person-heading-body">
              <h2 th:text="#{sicknote.data.person}">Mitarbeiter</h2>
            </th:block>
          </div>
          <div
            th:replace="thymeleaf/person/box::person-box-with-departments(person=${sickNote.person}, departments=${departmentsOfPerson})"
          ></div>
        </div>
      </div>
    </main>
  </body>
</html>
