<!DOCTYPE html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_layout::head(~{::title}, ~{::styles}, ~{::scripts})">
    <title th:text="#{sicknotes.header.title}">Krankmeldungen</title>
    <th:block th:fragment="styles">
      <link
        rel="stylesheet"
        type="text/css"
        asset:href="account_form~app_form~app_statistics~overtime_form~sick_note_form~sick_notes~workingtime_form.css"
      />
      <link
        rel="stylesheet"
        type="text/css"
        asset:href="account_form~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_notes~workingtime_form.css"
      />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="fragments/datepicker-localization :: datepicker-localization"></script>
      <script defer asset:src="npm.duetds.js"></script>
      <script defer asset:src="npm.date-fns.js"></script>
      <script defer asset:src="npm.tablesorter.js"></script>
      <script
        defer
        asset:src="account_form~app_form~app_statistics~overtime_form~sick_note_form~sick_notes~workingtime_form.js"
      ></script>
      <script
        defer
        asset:src="account_form~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_notes~workingtime_form.js"
      ></script>
      <script
        defer
        asset:src="account_form~app_detail~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_no~704d57c1.js"
      ></script>
      <script defer asset:src="sick_notes.js"></script>
    </th:block>
  </head>
  <body th:replace="_layout::body(~{::main}, ~{})">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
      <div
        th:replace="fragments/section-heading::section-heading(~{::sick-notes-heading-body}, ~{::sick-notes-heading-actions})"
      >
        <th:block th:ref="sick-notes-heading-body">
          <h1 th:text="#{sicknotes.title}">Krankmeldungen</h1>
        </th:block>
        <th:block th:ref="sick-notes-heading-actions">
          <a th:href="@{/web/sicknote/new}" class="icon-link tw-px-1" th:data-title="#{action.apply.sicknote}">
            <svg th:replace="icon/plus-circle::svg(className='tw-w-5 tw-h-5')"></svg>
            <span th:text="#{action.apply.sicknote}" class="tw-sr-only"></span>
          </a>
          <a
            th:href="@{/web/absences}"
            class="icon-link tw-px-1"
            th:data-title="#{action.applications.absences_overview}"
          >
            <svg th:replace="icon/calendar::svg(className='tw-w-5 tw-h-5')"></svg>
            <span th:text="#{action.applications.absences_overview}" class="tw-sr-only"></span>
          </a>
          <a
            th:href="@{/web/sicknote/statistics}"
            class="icon-link tw-px-1"
            th:data-title="#{action.sicknotes.statistics}"
          >
            <svg th:replace="icon/presentation-chart-bar::svg(className='tw-w-5 tw-h-5')"></svg>
            <span th:text="#{action.sicknotes.statistics}" class="tw-sr-only"></span>
          </a>
          <a
            th:href="@{/web/sicknote/statistics/download?from=__${from}__&to=__${to}__}"
            class="icon-link tw-px-1"
            th:data-title="#{action.sicknotes.download}"
          >
            <svg th:replace="icon/download::svg(className='tw-w-5 tw-h-5')"></svg>
            <span th:text="#{action.sicknotes.download}" class="tw-sr-only"></span>
          </a>
          <button th:replace="fragments/print::button"></button>
        </th:block>
      </div>

      <p class="tw-text-sm -tw-translate-y-2">
        <a
          th:if="${errors}"
          th:text="#{applications.statistics.error.period}"
          href="#filterModal"
          data-toggle="modal"
        ></a>
        <a th:unless="${errors}" href="#filterModal" data-toggle="modal">
          <span th:text="|#{filter.period}:|"></span>
          <span th:replace="fragments/date-range::date-range(${from}, ${to})"></span>
        </a>
      </p>

      <div
        th:replace="fragments/filter-modal::filter-modal('filterModal', @{'/web/sicknote/filter'}, ${#temporals.formatISO(from)}, ${#temporals.formatISO(to)}, ${period})"
      ></div>

      <div class="feedback">
        <div
          th:if="${filterPeriodIncorrect}"
          th:text="#{filter.period.incorrect.warning}"
          class="alert alert-warning"
        ></div>
      </div>

      <table id="sick-note-table" class="list-table selectable-table tw-text-sm" data-test-id="sick-notes-table">
        <caption class="tw-sr-only" th:text="#{sicknotes.title}">
          Krankmeldungen
        </caption>
        <thead class="hidden-xs hidden-sm">
          <tr>
            <th scope="col" class="print:tw-hidden"></th>
            <th
              scope="col"
              th:if="${showPersonnelNumberColumn}"
              th:text="#{person.account.basedata.personnelNumber.abbreviation}"
              class="tw-hidden lg:tw-table-cell print:tw-table-cell sortable-field"
            ></th>
            <th scope="col" th:text="#{person.data.firstName}" class="sortable-field"></th>
            <th scope="col" th:text="#{person.data.lastName}" class="sortable-field"></th>
            <th scope="col" class="hidden">
              <!--tablesorter placeholder for first name and last name column in xs screen-->
            </th>
            <th scope="col" th:text="#{sicknotes.daysOverview.sickDays.title}" class="sortable-field"></th>
            <th scope="col" th:text="#{sicknotes.daysOverview.sickDays.child.title}" class="sortable-field"></th>
            <th scope="col" class="hidden"><!--tablesorter placeholder for sick days column in xs screen--></th>
          </tr>
        </thead>
        <tbody>
          <tr
            th:each="person : ${persons}"
            th:with="navigateLink=@{/web/person/__${person.id}__/overview#anchorSickNotes}"
            th:onclick="navigate([[${navigateLink}]])"
          >
            <td class="is-centered print:tw-hidden">
              <img
                th:replace="fragments/avatar::avatar-bordered(url=${person.gravatarURL + '?d=404&s=40'},niceName=${person.niceName},width='40px',height='40px')"
                alt=""
              />
            </td>
            <td
              th:if="${showPersonnelNumberColumn}"
              th:text="${personnelNumberOfPersons[person.id]}"
              class="tw-hidden lg:tw-table-cell print:tw-table-cell tw-text-ellipsis tw-overflow-hidden tw-max-w-xs tw-text-center"
            ></td>
            <td th:text="${person.firstName}" class="hidden-xs"></td>
            <td th:text="${person.lastName}" class="hidden-xs"></td>
            <td th:text="${person.niceName}" class="visible-xs"></td>
            <td class="hidden-xs" th:data-sortable-value="${sickDays.get(person).days['TOTAL']}">
              <div class="tw-flex tw-items-center">
                <svg th:replace="icon/medkit::svg(className='tw-w-4 tw-h-4')"></svg>
                &nbsp;<th:block th:replace="fragments/number::number(${sickDays.get(person).days['TOTAL']})"></th:block>
                <th:block th:text="#{sicknotes.daysOverview.sickDays.number}"></th:block>
              </div>
              <p
                th:if="${sickDays.get(person).days['WITH_AUB'] > 0}"
                class="list-table--second-row tw-flex tw-items-center"
              >
                <span class="tw-text-emerald-500 tw-flex tw-items-center">
                  <svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4')"></svg>
                </span>
                <th:block
                  th:text="| #{overview.sicknotes.sickdays.aub(${sickDays.get(person).days['WITH_AUB']})}|"
                ></th:block>
              </p>
            </td>
            <td class="hidden-xs" th:data-sortable-value="${childSickDays.get(person).days['TOTAL']}">
              <div class="tw-flex tw-items-center">
                <svg th:replace="icon/child::svg(className='tw-w-3 tw-h-3')"></svg>
                &nbsp;<th:block
                  th:replace="fragments/number::number(${childSickDays.get(person).days['TOTAL']})"
                ></th:block>
                <th:block th:text="#{sicknotes.daysOverview.sickDays.child.number}"></th:block>
              </div>
              <p
                th:if="${childSickDays.get(person).days['WITH_AUB'] > 0}"
                class="list-table--second-row tw-flex tw-items-center"
              >
                <span class="tw-text-emerald-500 tw-flex tw-items-center">
                  <svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4')"></svg>
                </span>
                <th:block
                  th:text="#{overview.sicknotes.sickdays.aub(${childSickDays.get(person).days['WITH_AUB']})}"
                ></th:block>
              </p>
            </td>
            <td class="visible-xs">
              <div class="tw-flex tw-items-center">
                <svg th:replace="icon/medkit::svg(className='tw-w-3 tw-h-3')"></svg>
                &nbsp;<th:block th:replace="fragments/number::number(${sickDays.get(person).days['TOTAL']})"></th:block>
                <th:block th:if="${sickDays.get(person).days['WITH_AUB'] > 0}">
                  &nbsp; (&nbsp;<svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4 tw-text-emerald-500')"></svg>
                  <th:block th:replace="fragments/number::number(${sickDays.get(person).days['WITH_AUB']})"></th:block>
                  )
                </th:block>
              </div>
              <div class="tw-flex tw-items-center">
                <svg th:replace="icon/child::svg(className='tw-w-3 tw-h-3')"></svg>
                &nbsp;<th:block
                  th:replace="fragments/number::number(${childSickDays.get(person).days['TOTAL']})"
                ></th:block>
                <th:block th:if="${childSickDays.get(person).days['WITH_AUB'] > 0}">
                  &nbsp; (&nbsp;<svg th:replace="icon/check::svg(className='tw-w-4 tw-h-4 tw-text-emerald-500')"></svg>
                  <th:block
                    th:replace="fragments/number::number(${childSickDays.get(person).days['WITH_AUB']})"
                  ></th:block>
                  )
                </th:block>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
