<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Application Form</title>
  </head>
  <body>
    <ul>
      <li
        th:fragment="replacement-item"
        th:if="${holidayReplacement != null}"
        class="form-group tw-mb-6"
        data-test-id="holiday-replacement-row"
      >
        <input
          type="hidden"
          th:name="${'holidayReplacements[' + index + '].person'}"
          th:value="${holidayReplacement.person.id}"
        />
        <div class="col-md-push-3 col-md-9">
          <div class="tw-flex">
            <div class="tw-mr-4 tw-mt-1 tw-text-blue-50 dark:tw-text-sky-800">
              <img
                th:replace="~{fragments/avatar::avatar(url=${holidayReplacement.person.gravatarURL + '?d=404&s=40'},niceName=${holidayReplacement.person.niceName},initials=${holidayReplacement.person.initials},width='40',height='40',personId=null)}"
                alt=""
              />
            </div>
            <div>
              <div class="tw-flex tw-items-center tw-flex-wrap">
                <span th:text="${holidayReplacement.person.niceName}"></span>
                <ul
                  th:if="${not #lists.isEmpty(holidayReplacement.departments)}"
                  class="tw-m-0 tw-mt-1.5 tw-p-0 tw-list-none tw-flex tw-flex-wrap tw-text-xs tw-gap-1"
                >
                  <li
                    th:each="department : ${holidayReplacement.departments}"
                    class="tw-px-1.5 tw-rounded-full tw-bg-emerald-100 tw-text-emerald-800 dark:tw-border dark:tw-border-green-600 dark:tw-text-green-600 dark:tw-bg-transparent"
                    th:text="${department}"
                  ></li>
                </ul>
              </div>
              <div class="tw-flex tw-mt-2">
                <button
                  type="submit"
                  class="tw-p-0 tw-bg-transparent"
                  name="remove-holiday-replacement"
                  th:value="${holidayReplacement.person.id}"
                  formmethod="post"
                  th:formaction="${deleteButtonFormActionValue}"
                >
                  <span
                    class="tw-flex tw-items-center tw-text-sm tw-text-black tw-text-opacity-50 hover:tw-text-opacity-100 focus:tw-text-opacity-100 dark:tw-text-zinc-200 tw-transition-colors"
                  >
                    <svg th:replace="~{icon/trash-2 :: svg(className='tw-w-4 tw-h-4 tw-mr-0.5')}"></svg>
                    <th:block th:text="#{application.data.holidayReplacement.remove-button.text}"></th:block>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="tw-mt-2 md:tw-pl-14">
            <div class="tw-flex tw-justify-between tw-items-center">
              <label
                th:for="${'replacement-note-' + index}"
                class="tw-text-sm tw-text-black tw-text-opacity-50 dark:tw-text-zinc-200 dark:tw-text-opacity-100 tw-mb-0 tw-font-normal"
              >
                <th:block
                  th:text="#{application.data.holidayReplacementNote(${holidayReplacement.person.firstName})}"
                ></th:block>
              </label>
            </div>
            <div>
              <textarea
                th:id="${'replacement-note-' + index}"
                th:name="${'holidayReplacements[' + index + '].note'}"
                class="form-control"
                rows="1"
              ></textarea>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>
