<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{applications.statistics.header.title}">Abwesenheitsstatistik</title>
    <th:block th:fragment="scripts">
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('app_statistics.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="app_statistics.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-pb-32" data-turbo="true">
      <div class="tw-max-w-[93.75rem] tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-8">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::absences-statistics-heading-body}, ~{::absences-statistics-heading-actions})}"
        >
          <th:block th:ref="absences-statistics-heading-body">
            <h1 th:text="#{applications.statistics}">Abwesenheitsstatistik</h1>
          </th:block>
          <th:block th:ref="absences-statistics-heading-actions">
            <div class="tw-flex tw-flex-col sm:tw-flex-row">
              <div
                th:replace="~{fragments/details-dropdown::details-dropdown(
                  summary=~{::download-dropdown-summary}, content=~{::download-dropdown-content}, closeDelay=1000, hideChevron=true, placement='right'
                )}"
              >
                <th:block th:ref="download-dropdown-summary">
                  <span
                    class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                  >
                    <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                    <span id="statistics-download-label" th:text="#{applications.export.button}"></span>
                  </span>
                </th:block>
                <th:block th:ref="download-dropdown-content">
                  <span class="tw-inline-block tw-mb-2 tw-font-bold" th:text="#{applications.statistics}"
                    >Abwesenheitsstatistik</span
                  >
                  <ul class="tw-list-none tw-m-0 tw-p-0 tw-space-y-2" aria-labelledby="statistics-download-label">
                    <li>
                      <a
                        id="statistics-csv-download-link-all"
                        th:href="@{/web/application/statistics/download (from=${from}, to=${to}, sort=${sortQuery}, query=${query}, allElements=${true})}"
                        class="icon-link tw-px-1"
                        download
                      >
                        <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                        <span th:text="#{applications.statistics.all.button}"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        id="statistics-csv-download-link"
                        th:href="@{/web/application/statistics/download (from=${from}, to=${to}, page=${statisticsPagination.page.number + 1}, size=${statisticsPagination.page.size}, sort=${sortQuery}, query=${query})}"
                        class="icon-link tw-px-1"
                        download
                      >
                        <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                        <span th:text="#{applications.statistics.visible.button}"></span>
                      </a>
                    </li>
                  </ul>
                  <span
                    class="tw-inline-block tw-mt-4 tw-mb-2 tw-font-bold"
                    th:text="#{applications.export.absences.title}"
                    >Abwesenheiten</span
                  >
                  <ul class="tw-list-none tw-m-0 tw-p-0 tw-space-y-2" aria-labelledby="statistics-download-label">
                    <li>
                      <a
                        id="export-csv-download-link-all"
                        th:href="@{/web/application/export (from=${from}, to=${to}, sort=${sortQuery}, query=${query}, allElements=${true})}"
                        class="icon-link tw-px-1"
                        download
                      >
                        <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                        <span th:text="#{applications.export.absences.all.button}"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        id="export-csv-download-link"
                        th:href="@{/web/application/export (from=${from}, to=${to}, page=${statisticsPagination.page.number + 1}, size=${statisticsPagination.page.size}, sort=${sortQuery}, query=${query})}"
                        class="icon-link tw-px-1"
                        download
                      >
                        <svg th:replace="~{icon/download::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                        <span th:text="#{applications.export.absences.visible.button}"></span>
                      </a>
                    </li>
                  </ul>
                </th:block>
              </div>
              <button th:replace="~{fragments/print::button}"></button>
            </div>
          </th:block>
        </div>

        <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
          <div
            class="tw-flex tw-flex-col md:tw-grid md:tw-grid-rows-2 lg:tw-flex lg:tw-flex-row tw-gap-4 md:tw-gap-2 print:tw-hidden"
          >
            <form
              method="get"
              action="#"
              th:action="@{/web/application/statistics}"
              data-turbo-frame="frame-statistics"
              data-turbo-action="advance"
              id="form-date-from-to"
            >
              <div id="statistics-filter-inputs">
                <input type="hidden" name="sort" th:value="${sortQuery}" />
                <input type="hidden" name="query" th:value="${query}" />
              </div>
              <div class="tw-flex tw-flex-col tw-gap-1">
                <fieldset>
                  <legend class="tw-sr-only" th:text="#{applications.statistics.period.legend.text}">Zeitraum</legend>
                  <div
                    th:replace="~{fragments/details-dropdown::details-dropdown-input(summary=~{::period-dropdown-summary}, content=~{::period-dropdown-content}, closeDelay=1000)}"
                  >
                    <th:block th:ref="period-dropdown-summary">
                      <th:block th:text="#{applications.statistics.period.legend.text}"></th:block>
                      <span
                        id="period-text"
                        th:with="start=${{period.startDate}}, end=${{period.endDate}}"
                        th:text="#{applications.statistics.period.selected(${start}, ${end})}"
                      ></span>
                    </th:block>
                    <th:block th:ref="period-dropdown-content">
                      <div class="tw-flex tw-flex-col">
                        <label th:text="|#{filter.period.startDate}: |" for="from-date-input" class="tw-m-0" />
                        <input
                          id="from-date-input"
                          name="from"
                          th:value="${{period.startDate}}"
                          th:data-iso-value="${period.startDateIsoValue}"
                          th:placeholder="#{pattern.date}"
                          class="form-control tw-mt-0.5"
                        />
                        <label th:text="|#{filter.period.endDate}: |" for="to-date-input" class="tw-m-0 tw-mt-4" />
                        <input
                          id="to-date-input"
                          name="to"
                          th:value="${{period.endDate}}"
                          th:data-iso-value="${period.endDateIsoValue}"
                          th:placeholder="#{pattern.date}"
                          class="form-control tw-mt-0.5"
                        />
                      </div>
                      <div class="tw-mt-6">
                        <button
                          th:text="#{action.confirm}"
                          class="button-main tw-py-1.5 tw-px-3 tw-w-full"
                          type="submit"
                        />
                      </div>
                    </th:block>
                  </div>
                </fieldset>
              </div>
            </form>
            <form
              action="#"
              th:action="@{/web/application/statistics}"
              method="get"
              data-turbo-frame="frame-statistics"
              data-turbo-action="advance"
              class="tw-flex"
            >
              <div id="statistics-form-query-inputs">
                <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
                <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
                <input type="hidden" name="size" th:value="${statisticsPagination.page.size}" />
                <input type="hidden" name="sort" th:value="${sortQuery}" />
              </div>
              <div class="tw-flex-1 tw-flex tw-flex-col md:tw-flex-row">
                <label for="search" class="md:tw-sr-only tw-m-0">
                  <th:block th:text="#{action.search}">Suchen</th:block>:
                </label>
                <span
                  class="tw-flex-1 tw-flex tw-border tw-border-neutral-300 dark:tw-border-neutral-600 tw-rounded-md focus-within:tw-ring-2 focus-within:tw-ring-blue-300"
                >
                  <input
                    type="text"
                    id="search"
                    name="query"
                    th:value="${query}"
                    class="form-control md:tw-h-full tw-border-none tw-text-ellipsis focus:tw-ring-0 tw-rounded-r-none"
                    th:placeholder="#{action.search.placeholder.firstname-lastname}"
                    data-auto-submit="search-submit"
                    data-auto-submit-delay="100"
                  />
                  <button
                    type="submit"
                    id="search-submit"
                    class="dark:tw-bg-zinc-800 tw-px-2 tw-rounded-r-md tw-h-full tw-flex tw-items-center"
                  >
                    <svg th:replace="~{icon/search::svg(className='tw-w-5 tw-h-5 tw-stroke-2')}"></svg>
                    <span class="tw-sr-only" th:text="#{action.search}">Suche</span>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <div class="md:tw-ml-auto">
            <form
              action="#"
              th:action="@{/web/application/statistics}"
              method="get"
              data-turbo-frame="frame-statistics"
              data-turbo-action="advance"
            >
              <div id="statistics-form-sort-inputs">
                <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
                <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
                <input type="hidden" name="size" th:value="${statisticsPagination.page.size}" />
                <input type="hidden" name="query" th:value="${query}" />
              </div>
              <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-items-center">
                <label for="sort-select" class="tw-m-0 tw-mr-2">
                  <th:block th:text="#{action.sort}">Sortieren</th:block>:
                </label>
                <select
                  id="sort-select"
                  name="sort"
                  th:replace="~{fragments/select::one(id='sort-select', name='sort', options=~{::sort-select-options}, autosubmit='sort-submit')}"
                >
                  <th:block th:ref="sort-select-options">
                    <optgroup
                      th:each="optgroup : ${sortSelect.optgroups}"
                      th:label="${#messages.msg(optgroup.labelMessageKey)}"
                    >
                      <option
                        th:each="option : ${optgroup.options}"
                        th:value="${option.value}"
                        th:text="${#messages.msg(option.textMessageKey)}"
                        th:selected="${option.selected}"
                      ></option>
                    </optgroup>
                  </th:block>
                </select>
                <button
                  type="submit"
                  id="sort-submit"
                  class="tw-ml-2 button-main"
                  th:text="#{action.sort}"
                  data-js-hidden
                >
                  Sortieren
                </button>
              </div>
            </form>
          </div>
        </div>

        <turbo-frame id="frame-statistics">
          <th:block th:if="${turboFrameRequested}">
            <turbo-stream target="statistics-csv-download-link-all" action="replace">
              <template th:insert="~{::#statistics-csv-download-link-all}"></template>
            </turbo-stream>
            <turbo-stream target="statistics-csv-download-link" action="replace">
              <template th:insert="~{::#statistics-csv-download-link}"></template>
            </turbo-stream>
            <turbo-stream target="export-csv-download-link-all" action="replace">
              <template th:insert="~{::#export-csv-download-link-all}"></template>
            </turbo-stream>
            <turbo-stream target="export-csv-download-link" action="replace">
              <template th:insert="~{::#export-csv-download-link}"></template>
            </turbo-stream>
            <turbo-stream target="statistics-filter-inputs" action="replace">
              <template th:insert="~{::#statistics-filter-inputs}"></template>
            </turbo-stream>
            <turbo-stream target="statistics-form-query-inputs" action="replace">
              <template th:insert="~{::#statistics-form-query-inputs}"></template>
            </turbo-stream>
            <turbo-stream target="period-text" action="replace">
              <template th:insert="~{::#period-text}"></template>
            </turbo-stream>
            <turbo-stream target="statistics-form-sort-inputs" action="replace">
              <template th:insert="~{::#statistics-form-sort-inputs}"></template>
            </turbo-stream>
            <turbo-stream target="pagination" action="replace">
              <template th:insert="~{::#pagination}"></template>
            </turbo-stream>
            <turbo-stream target="pagination-form-size-inputs" action="replace">
              <template th:insert="~{::#pagination-form-size-inputs}"></template>
            </turbo-stream>
            <turbo-stream target="pagination-size-hint" action="replace">
              <template th:insert="~{::#pagination-size-hint}"></template>
            </turbo-stream>
          </th:block>

          <div th:if="${errors}" th:text="#{applications.statistics.error}" class="tw-mt-8 alert alert-danger"></div>

          <table
            th:unless="${errors}"
            id="application-statistic-table"
            class="tw-mt-8 md:tw-mt-16 list-table tw-text-sm"
          >
            <thead class="tw-hidden lg:tw-table-header-group">
              <tr>
                <th scope="col"></th>
                <th
                  th:if="${showPersonnelNumberColumn}"
                  scope="col"
                  class="tw-hidden lg:tw-table-cell print:tw-table-cell"
                  th:text="#{person.account.basedata.personnelNumber.abbreviation}"
                ></th>
                <th
                  scope="col"
                  class="tw-hidden lg:tw-table-cell print:tw-table-cell"
                  th:text="#{person.data.firstName}"
                ></th>
                <th
                  scope="col"
                  class="tw-hidden lg:tw-table-cell print:tw-table-cell"
                  th:text="#{person.data.lastName}"
                ></th>
                <th scope="col" class="lg:tw-hidden print:tw-hidden"></th>
                <th scope="col" class="md:tw-hidden print:tw-hidden"></th>
                <th scope="col" class="tw-hidden md:tw-table-cell print:tw-table-cell"></th>
                <th
                  scope="col"
                  class="tw-hidden md:tw-table-cell print:tw-table-cell"
                  th:text="#{applications.statistics.allowed}"
                ></th>
                <th
                  scope="col"
                  class="tw-hidden md:tw-table-cell print:tw-table-cell"
                  th:text="#{applications.statistics.waiting}"
                ></th>
                <th
                  scope="col"
                  class="tw-hidden md:tw-table-cell print:tw-table-cell"
                  th:text="#{applications.statistics.left}"
                ></th>
                <th
                  scope="col"
                  class="tw-hidden md:tw-table-cell print:tw-table-cell"
                  th:text="|#{applications.statistics.left} (${from.year})|"
                ></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="statistic : ${statisticsPagination.page.content}">
                <td class="tw-text-center">
                  <div class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                    <img
                      th:replace="~{fragments/avatar::avatar-bordered(url=${statistic.gravatarURL + '?d=404&s=60'},niceName=${statistic.niceName},width='60px',height='60px',personId=${statistic.id})}"
                      alt=""
                      src=""
                    />
                  </div>
                </td>
                <td
                  th:if="${showPersonnelNumberColumn}"
                  th:text="${statistic.personnelNumber}"
                  class="tw-hidden lg:tw-table-cell print:tw-table-cell tw-text-ellipsis tw-overflow-hidden tw-max-w-xs tw-text-center"
                ></td>
                <td class="tw-hidden lg:tw-table-cell print:tw-table-cell">
                  <a
                    th:text="${statistic.firstName}"
                    th:href="@{/web/person/__${statistic.id}__/overview}"
                    class="icon-link print:no-link"
                    data-turbo="false"
                  ></a>
                </td>
                <td class="tw-hidden lg:tw-table-cell print:tw-table-cell">
                  <a
                    th:text="${statistic.lastName}"
                    th:href="@{/web/person/__${statistic.id}__/overview}"
                    class="icon-link print:no-link"
                    data-turbo="false"
                  ></a>
                </td>
                <td class="lg:tw-hidden print:tw-hidden">
                  <a
                    th:text="${statistic.niceName}"
                    th:href="@{/web/person/__${statistic.id}__/overview}"
                    class="icon-link print:no-link"
                    data-turbo="false"
                  ></a>
                </td>
                <td class="md:tw-hidden print:tw-hidden">
                  <div class="tw-flex tw-items-center">
                    <span class="tw-w-6">
                      <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5')}"></svg>
                    </span>
                    <span th:text="#{applications.statistics.days(${statistic.totalAllowedVacationDays})}"></span>
                  </div>
                  <div class="tw-flex tw-items-center">
                    <span class="tw-w-6">
                      <svg th:replace="~{icon/help-circle::svg(className='tw-w-4 tw-h-4')}"></svg>
                    </span>
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.days(${statistic.totalWaitingVacationDays})}"
                    ></span>
                  </div>
                </td>

                <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                  <span th:text="|#{applications.statistics.total}:|" class="tw-inline-block"></span>
                  <div
                    class="tw-whitespace-nowrap"
                    th:each="type : ${vacationTypes}"
                    th:if="${statistic.hasVacationType(type)}"
                  >
                    <span class="tw-text-xs" th:text="|${type.label}:|"></span>
                  </div>
                </td>

                <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                  <div class="tw-whitespace-nowrap">
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.days.value(${statistic.totalAllowedVacationDays})}"
                    ></span>
                    <span th:text="#{applications.statistics.days.unit(${statistic.totalAllowedVacationDays})}"></span>
                  </div>
                  <div
                    class="tw-whitespace-nowrap"
                    th:if="${statistic.hasVacationType(type)}"
                    th:each="type : ${vacationTypes}"
                  >
                    <span
                      class="tw-text-xs"
                      th:text="#{applications.statistics.days.value(${statistic.getAllowedVacationDays(type)})}"
                    ></span>
                  </div>
                </td>

                <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                  <div class="tw-whitespace-nowrap">
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.days.value(${statistic.totalWaitingVacationDays})}"
                    ></span>
                    <span th:text="#{applications.statistics.days.unit(${statistic.totalWaitingVacationDays})}"></span>
                  </div>
                  <div
                    class="tw-whitespace-nowrap"
                    th:if="${statistic.hasVacationType(type)}"
                    th:each="type : ${vacationTypes}"
                  >
                    <span
                      class="tw-text-xs"
                      th:text="#{applications.statistics.days.value(${statistic.getWaitingVacationDays(type)})}"
                    ></span>
                  </div>
                </td>

                <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                  <div>
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.vacationdays.value(${statistic.leftVacationDaysForPeriod})}"
                    ></span>
                    <span
                      th:text="#{applications.statistics.vacationdays.unit(${statistic.leftVacationDaysForPeriod})}"
                    ></span>
                  </div>
                  <div class="tw-text-xs">
                    <span th:text="#{applications.statistics.remainingvacationdays.description.first}"></span>
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.remainingvacationdays.value(${statistic.remainingLeftVacationDaysForPeriod})}"
                    ></span>
                    <span
                      th:text="#{applications.statistics.remainingvacationdays.unit(${statistic.remainingLeftVacationDaysForPeriod})}"
                    ></span>
                  </div>
                  <div th:class="tw-mt-2">
                    <span class="tw-font-bold" th:text="${statistic.leftOvertimeForPeriod}"></span>
                    <span th:text="#{applications.statistics.overtime.unit}"></span>
                  </div>
                </td>

                <td class="tw-hidden md:tw-table-cell print:tw-table-cell">
                  <div>
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.vacationdays.value(${statistic.leftVacationDays})}"
                    ></span>
                    <span th:text="#{applications.statistics.vacationdays.unit(${statistic.leftVacationDays})}"></span>
                  </div>
                  <div class="tw-text-xs">
                    <span th:text="#{applications.statistics.remainingvacationdays.description.first}"></span>
                    <span
                      class="tw-font-bold"
                      th:text="#{applications.statistics.remainingvacationdays.value(${statistic.remainingLeftVacationDays})}"
                    ></span>
                    <span
                      th:text="#{applications.statistics.remainingvacationdays.unit(${statistic.remainingLeftVacationDays})}"
                    ></span>
                  </div>
                  <div th:class="tw-mt-2">
                    <span class="tw-font-bold" th:text="${statistic.leftOvertime}"></span>
                    <span th:text="#{applications.statistics.overtime.unit}"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </turbo-frame>

        <div class="tw-mt-8 md:tw-mt-16 tw-flex tw-flex-col md:tw-flex-row md:tw-items-center tw-gap-8">
          <div id="pagination">
            <nav
              th:replace="~{fragments/pagination::pagination(${statisticsPagination}, #{applications.statistics.pagination.navigation.aria-label}, 'frame-statistics')}"
            ></nav>
          </div>
          <form
            action="#"
            th:action="@{/web/application/statistics}"
            method="get"
            class="md:tw-ml-auto tw-flex tw-items-center"
            data-turbo-frame="frame-statistics"
            data-turbo-action="advance"
          >
            <div id="pagination-form-size-inputs">
              <input type="hidden" name="from" th:value="${period.startDateIsoValue}" />
              <input type="hidden" name="to" th:value="${period.endDateIsoValue}" />
              <input type="hidden" name="sort" th:value="${sortQuery}" />
              <input type="hidden" name="query" th:value="${query}" />
            </div>
            <div class="tw-flex tw-items-center tw-gap-2">
              <label for="pagination-size-select" class="tw-m-0" th:text="#{pagination.page.size.label.text}">
                Zeige
              </label>
              <span>
                <select
                  name="size"
                  id="pagination-size-select"
                  th:replace="~{fragments/pagination::default-size-select(id='pagination-size-select', size=${statisticsPagination.page.size}, autosubmit='size-submit')}"
                ></select>
              </span>
              <span
                id="pagination-size-hint"
                class="tw-whitespace-nowrap"
                th:text="#{pagination.page.size.total.text(${statisticsPagination.page.totalElements}, ${#messages.msg('applications.statistics.pagination.total.text')})}"
              >
                von 42 Personen
              </span>
            </div>
            <button
              id="size-submit"
              th:text="#{pagination.page.size.button.text}"
              class="tw-ml-2 button-main"
              data-js-hidden
            >
              Aktualisieren
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
