<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Application Form</title>
  </head>
  <body>
    <ul>
      <!-- TODO this is the same as inlined... -->
      <li
        th:fragment="replacement-item"
        th:if="${holidayReplacement != null}"
        class="mt-4 [&:not(:first-child)]:mt-6"
        data-test-id="holiday-replacement-row"
      >
        <input
          type="hidden"
          th:name="${'holidayReplacements[' + index + '].person'}"
          th:value="${holidayReplacement.person.id}"
        />
        <div class="flex">
          <div class="text-blue-50 dark:text-sky-800 mr-2 mt-1">
            <img
              th:replace="~{fragments/avatar::avatar-bordered(url=${holidayReplacement.person.gravatarURL + '?d=404&s=40'},niceName=${holidayReplacement.person.niceName},initials=${holidayReplacement.person.initials},width='40',height='40',personId=${holidayReplacement.person.id})}"
              alt=""
            />
          </div>
          <div>
            <div class="flex items-center flex-wrap">
              <a
                th:text="${holidayReplacement.person.niceName}"
                th:href="@{/web/person/__${holidayReplacement.person.id}__/overview}"
                class="icon-link"
                data-turbo="false"
              ></a>
              <ul
                th:if="${not #lists.isEmpty(holidayReplacement.departments)}"
                class="m-0 mt-1.5 p-0 list-none flex flex-wrap text-xs gap-1"
              >
                <li
                  th:each="department : ${holidayReplacement.departments}"
                  class="px-1.5 rounded-full bg-emerald-100 text-emerald-800 dark:border dark:border-green-600 dark:text-green-600 dark:bg-transparent"
                  th:text="${department}"
                ></li>
              </ul>
            </div>
            <div class="flex mt-2">
              <button
                type="submit"
                class="p-0 bg-transparent"
                name="remove-holiday-replacement"
                th:value="${holidayReplacement.person.id}"
                formmethod="post"
                th:formaction="${deleteButtonFormActionValue}"
              >
                <span
                  class="flex items-center text-sm text-black/50 hover:text-black/100 focus:text-black/100 dark:text-zinc-200/50 dark:hover:text-zinc/100 dark:focus:text-zinc/100 transition-colors"
                >
                  <svg th:replace="~{icon/trash-2 :: svg(className='w-4 h-4 mr-0.5')}"></svg>
                  <th:block th:text="#{application.data.holidayReplacement.remove-button.text}"></th:block>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-2 md:pl-14">
          <div class="flex justify-between items-center">
            <label
              th:for="${'replacement-note-' + index}"
              class="text-sm text-black/50 dark:text-zinc-200 mb-0 font-normal"
            >
              <th:block th:text="#{application.data.holidayReplacementNote(${holidayReplacement.person.firstName})}"
                >Notiz an Vertretung</th:block
              >
            </label>
          </div>
          <div>
            <textarea
              th:id="${'replacement-note-' + index}"
              th:name="${'holidayReplacements[' + index + '].note'}"
              rows="1"
            ></textarea>
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>
