<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{applications.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('app_overview.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="app_overview.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
      <h1 class="tw-sr-only" th:text="#{applications.title}"></h1>

      <div
        class="feedback"
        th:if="${#bools.isTrue(allowSuccess) or #bools.isTrue(temporaryAllowSuccess) or #bools.isTrue(rejectSuccess) or #bools.isTrue(cancelSuccess) or #bools.isTrue(acceptSickNoteSuccess) or #bools.isTrue(cancelSickNoteSuccess)}"
      >
        <div class="alert alert-success">
          <th:block th:if="${allowSuccess}" th:text="#{application.action.allow.success}"></th:block>
          <th:block th:if="${temporaryAllowSuccess}" th:text="#{application.action.temporary_allow.success}"></th:block>
          <th:block th:if="${rejectSuccess}" th:text="#{application.action.reject.success}"></th:block>
          <th:block th:if="${cancelSuccess}" th:text="#{application.action.cancel.success}"></th:block>
          <th:block th:if="${acceptSickNoteSuccess}" th:text="#{sicknote.action.accept.success}"></th:block>
          <th:block th:if="${cancelSickNoteSuccess}" th:text="#{sicknote.action.cancel.success}"></th:block>
        </div>
      </div>

      <div
        th:replace="~{fragments/section-heading::section-heading-paddingless(~{::user-applications-heading-body}, ~{::user-applications-heading-actions})}"
      >
        <th:block th:ref="user-applications-heading-actions">
          <div class="tw-flex tw-flex-col sm:tw-flex-row">
            <a
              href="#"
              th:href="@{/web/absences}"
              class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
            >
              <svg th:replace="~{icon/calendar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
              <span th:text="#{action.applications.absences_overview}"></span>
            </a>
            <a
              href="#"
              th:href="@{/web/application/statistics}"
              class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row"
              th:if="${canAccessApplicationStatistics}"
            >
              <svg th:replace="~{icon/presentation-chart-bar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
              <span th:text="#{action.applications.statistics}"></span>
            </a>
          </div>
        </th:block>
        <th:block th:ref="user-applications-heading-body">
          <ul
            class="tw-m-0 tw-p-0 tw-list-none tw-flex tw-flex-col xs:tw-flex-row tw-gap-2 xs:tw-gap-8 tw-mb-2 xs:tw-mb-0"
            is="uv-nav-tabs"
          >
            <li
              class="tw-border-l-4 dark:tw-border-l-2 xs:tw-border-l-0 xs:dark:tw-border-l-0 xs:tw-border-b-4 xs:dark:tw-border-b-2 tw-pl-2 xs:tw-pl-0"
              th:classappend="${activeContent == 'application' || activeContent == 'sicknote' ? 'tw-border-zinc-200' : 'tw-border-transparent'}"
              data-content="#user-applications-block"
              th:attrappend="data-active=${activeContent == 'application' || activeContent == 'sicknote'}?${'data-active'}"
            >
              <a
                href="#user-applications-block"
                th:href="@{/web/application}"
                class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost dark:hover:tw-text-zinc-200"
                th:classappend="${activeContent == 'application' || activeContent == 'sicknote' ? 'tw-text-black-almost dark:tw-text-zinc-200' : 'tw-text-zinc-400 dark:tw-text-zinc-500'}"
              >
                <th:block th:text="#{applications.myself.waiting}" />
                <span
                  class="tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-blue-100 tw-text-blue-700 dark:tw-bg-sky-400 dark:tw-text-zinc-900 tw-text-xs tw-p-0.5 tw-font-bold tw-w-5 tw-h-5 tw--translate-y-0.5"
                >
                  <th:block th:text="${#lists.size(userApplications)}" />
                </span>
              </a>
            </li>
            <li
              class="tw-border-l-4 dark:tw-border-l-2 xs:tw-border-l-0 xs:dark:tw-border-l-0 xs:tw-border-b-4 xs:dark:tw-border-b-2 tw-pl-2 xs:tw-pl-0"
              th:classappend="${activeContent == 'replacement' ? 'tw-border-zinc-200' : 'tw-border-transparent'}"
              data-content="#user-replacements-block"
              th:attrappend="data-active=${activeContent == 'replacement'}?${'data-active'}"
            >
              <a
                href="#user-replacements-block"
                th:href="@{/web/application/replacement}"
                class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost dark:hover:tw-text-zinc-200 tw-gap-2"
                th:classappend="${activeContent == 'replacement' ? 'tw-text-black-almost dark:tw-text-zinc-200' : 'tw-text-zinc-400 dark:tw-text-zinc-500'}"
              >
                <th:block th:text="#{applications.holiday_replacement}" />
                <span
                  class="tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-blue-100 tw-text-blue-700 dark:tw-bg-sky-400 dark:tw-text-zinc-900 tw-text-xs tw-p-0.5 tw-font-bold tw-w-5 tw-h-5 tw--translate-y-0.5"
                >
                  <th:block th:text="${#lists.size(applications_holiday_replacements)}" />
                </span>
              </a>
            </li>
          </ul>
        </th:block>
      </div>

      <div
        id="user-applications-block"
        class="tw-mb-10"
        th:hidden="${activeContent != 'application' && activeContent != 'sicknote'}"
      >
        <h2 class="tw-sr-only" th:text="#{applications.myself.waiting}"></h2>
        <p th:if="${#lists.isEmpty(userApplications)}" th:text="#{applications.none}"></p>
        <div
          th:if="${not #lists.isEmpty(userApplications)}"
          class="tw-flex tw-items-start tw-flex-col md:tw-flex-row md:tw-space-x-12"
        >
          <div
            class="tw-sticky tw-py-2 tw-w-full md:tw-w-1/4 lg:tw-p-2 tw-bg-gradient-to-b tw-from-white tw-via-white dark:tw-from-zinc-900 dark:tw-via-zinc-900"
            style="top: var(--uv-header-height)"
          >
            <div class="tw-flex tw-space-x-5 lg:tw-space-x-6">
              <span class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                <img
                  th:replace="~{fragments/avatar::avatar-bordered(url=${signedInUser.gravatarURL + '?d=404&s=104'},niceName=${signedInUser.niceName},initials=${signedInUser.initials},width='52',height='52',personId=${signedInUser.id})}"
                  alt=""
                />
              </span>
              <span class="tw-flex-1 tw-flex tw-flex-wrap md:tw-flex-col">
                <span class="tw-text-lg tw-break-words tw-w-full">
                  <a
                    th:text="${signedInUser.niceName}"
                    th:href="@{/web/person/__${signedInUser.id}__/overview}"
                    class="icon-link"
                    data-turbo="false"
                  ></a>
                </span>
                <span class="tw-text-lg lg:tw-text-sm" th:text="#{application.applier.applied}"></span>
              </span>
            </div>
          </div>
          <ul
            class="lg:list--hover tw-w-full tw-list-none tw-m-0 tw-p-0 tw-pl-20 md:tw-pl-0 md:tw-flex-1 tw-space-y-10 lg:tw-space-y-2 md:tw-mt-2 lg:tw-mt-0 md:tw-translate-y-0.5 tw-text-sm"
          >
            <li
              class="tw-mt-2 tw-flex tw-flex-col tw-justify-between xs:tw-mt-0 md:tw-space-x-0 lg:tw-p-2 lg:tw-flex-row lg:tw-items-end dark:tw-rounded"
              th:each="userRequestForLeave,loopStatus: ${userApplications}"
            >
              <div class="tw-flex tw-items-center tw-gap-3">
                <div
                  th:fragment="absence-color-box(absence)"
                  th:with="absence=${absence ?: userRequestForLeave}"
                  class="tw-shrink-0 absence-type_color-box"
                  th:classappend="|
                    ${absence.status.name == 'WAITING' ? 'absence-type_color-box-waiting' : ''}
                    ${absence.status.name == 'TEMPORARY_ALLOWED' ? 'absence-type_color-box-temporary-allowed' : ''}
                    ${absence.status.name == 'ALLOWED' ? 'absence-type_color-box-allowed' : ''}
                    ${absence.status.name == 'ALLOWED_CANCELLATION_REQUESTED' ? 'absence-type_color-box-cancellation-requested' : ''}
                    ${absence.status.name == 'CANCELLED' ? 'absence-type_color-box-cancelled' : ''}
                    ${absence.status.name == 'REJECTED' || absence.status.name == 'REVOKED' ? 'absence-type_color-box-rejected-revoked' : ''}
                    |"
                  th:styleappend="|${'--absence-bar-color:var(--absence-color-' + absence.vacationType.color + ');'}|"
                  th:title="${#messages.msg(absence.status)}"
                >
                  &nbsp;
                </div>
                <a
                  href="#"
                  th:href="@{/web/application/{applicationId} (applicationId=${userRequestForLeave.id})}"
                  class="tw-block tw-flex-1 tw-no-underline print:no-link"
                  th:classappend="${userRequestForLeave.cancellationRequested ? 'tw-text-black-almost' : ''}"
                >
                  <span class="hover:tw-underline tw-mb-1 tw-text-lg">
                    <th:block th:if="${userRequestForLeave.cancellationRequested}">
                      <th:block th:text="#{applications.cancellationRequestPrefix}" />
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(userRequestForLeave.duration)}">
                      <th:block th:text="#{applications.days(${userRequestForLeave.workDays})}" />
                    </th:block>
                    <th:block th:if="${not #strings.isEmpty(userRequestForLeave.duration)}">
                      <th:block th:text="${userRequestForLeave.duration}" />
                    </th:block>
                    <th:block th:text="${userRequestForLeave.vacationType.label}"></th:block>
                  </span>
                  <span
                    class="tw-block tw-text-black-almost dark:tw-text-zinc-200"
                    th:text="${userRequestForLeave.durationOfAbsenceDescription}"
                  ></span>
                </a>
              </div>
              <div class="tw-mt-2 lg:tw-mt-0 tw-flex tw-flex-wrap tw-gap-2 lg:tw-justify-end print:tw-hidden">
                <a
                  class="button tw-flex-1 tw-justify-center"
                  th:href="@{/web/application/{applicationId}/edit (applicationId=${userRequestForLeave.id})}"
                  th:if="${userRequestForLeave.editAllowed}"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 xs:tw-mr-1')}"></svg>
                  <span class="sr-only xs:tw-not-sr-only">
                    <th:block th:text="#{action.edit}"></th:block>
                  </span>
                </a>
                <a
                  class="button tw-flex-1 tw-justify-center"
                  th:href="@{/web/application/{applicationId} (applicationId=${userRequestForLeave.id}, action='allow', shortcut=true)}"
                  th:if="${userRequestForLeave.approveAllowed}"
                >
                  <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 xs:tw-mr-1')}"></svg>
                  <span class="sr-only xs:tw-not-sr-only">
                    <th:block
                      th:text="${userRequestForLeave.temporaryApproveAllowed ? #messages.msg('action.temporary_allow') : #messages.msg('action.allow')}"
                    />
                  </span>
                </a>
                <a
                  class="button tw-flex-1 tw-justify-center"
                  th:href="@{/web/application/{applicationId} (applicationId=${userRequestForLeave.id}, action='reject', shortcut=true)}"
                  th:if="${userRequestForLeave.rejectAllowed}"
                >
                  <svg th:replace="~{icon/slash::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 xs:tw-mr-1')}"></svg>
                  <span class="sr-only xs:tw-not-sr-only">
                    <th:block th:text="#{action.reject}"></th:block>
                  </span>
                </a>
                <a
                  class="button tw-flex-1 tw-justify-center"
                  th:href="@{/web/application/{applicationId} (applicationId=${userRequestForLeave.id}, action='cancel', shortcut=true)}"
                  th:if="${userRequestForLeave.cancelAllowed}"
                >
                  <svg
                    th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 xs:tw-mr-1')}"
                  ></svg>
                  <span class="sr-only xs:tw-not-sr-only">
                    <th:block th:text="#{action.delete}"></th:block>
                  </span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="user-replacements-block" class="tw-mb-10" th:hidden="${activeContent != 'replacement'}">
        <h2 class="tw-sr-only" th:text="#{applications.holiday_replacement}"></h2>
        <p
          th:if="${#lists.isEmpty(applications_holiday_replacements)}"
          th:text="#{applications.holiday_replacement.none}"
        ></p>
        <div
          th:if="${!#lists.isEmpty(applications_holiday_replacements)}"
          class="tw-flex tw-items-start tw-flex-col md:tw-flex-row md:tw-space-x-12"
        >
          <div
            class="tw-sticky tw-py-2 tw-w-full md:tw-w-auto lg:tw-w-1/4 tw-bg-gradient-to-b tw-from-white tw-via-white dark:tw-from-zinc-900 dark:tw-via-zinc-900 tw-z-10"
            style="top: var(--uv-header-height)"
          >
            <div class="tw-flex tw-space-x-5 md:tw-space-x-6">
              <span class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                <img
                  th:replace="~{fragments/avatar::avatar-bordered(url=${signedInUser.gravatarURL + '?d=404&s=104'},niceName=${signedInUser.niceName},initials=${signedInUser.initials},width='52',height='52',personId=${signedInUser.id})}"
                  alt=""
                />
              </span>
              <span class="tw-flex tw-flex-wrap md:tw-flex-col">
                <span class="tw-text-lg">
                  <a
                    th:text="${signedInUser.niceName}"
                    th:href="@{/web/person/__${signedInUser.id}__/overview}"
                    class="icon-link"
                    data-turbo="false"
                  />
                </span>
                <span class="tw-text-lg lg:tw-text-sm" th:text="#{application.applier.represents}"></span>
              </span>
            </div>
          </div>
          <ul
            class="tw-flex-1 tw-list-none tw-m-0 tw-p-0 tw-mt-4 md:tw-pl-0 tw-space-y-6 lg:tw-gap-2 md:tw-mt-2 md:tw-translate-y-0.5"
          >
            <li
              class="tw-flex tw-flex-col tw-gap-4 xs:tw-pl-20 md:tw-pl-0"
              th:each="replacementInfo,loopStatus : ${applications_holiday_replacements}"
            >
              <div class="tw-flex tw-flex-row-reverse tw-gap-4">
                <div class="tw-self-center print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                  <img
                    th:replace="~{fragments/avatar::avatar-bordered(url=${replacementInfo.person.avatarUrl + '?d=404&s=104'},niceName=${replacementInfo.person.name},initials=${replacementInfo.person.initials},width='52',height='52',personId=${replacementInfo.person.id})}"
                    alt=""
                  />
                </div>
                <div class="tw-flex-1">
                  <div>
                    <span class="tw-text-lg">
                      <span class="tw-flex tw-items-center">
                        <a
                          th:text="${replacementInfo.person.name}"
                          th:href="@{/web/person/__${replacementInfo.person.id}__/overview}"
                          class="icon-link"
                          data-turbo="false"
                        />
                        <th:block th:if="${replacementInfo.person.isInactive}">
                          <span th:data-title="#{person.data.inactive}">
                            &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" /><span
                              class="tw-sr-only"
                              >(<th:block th:text="#{person.data.inactive}" />)</span
                            >
                          </span>
                        </th:block>
                      </span>
                    </span>
                  </div>
                  <div class="tw-text-sm">
                    <th:block
                      th:if="${replacementInfo.pending}"
                      th:text="#{applications.holiday_replacement.pending}"
                    ></th:block>
                    <span th:text="${replacementInfo.durationOfAbsenceDescription}" class="tw-font-bold"></span>
                    <span class="tw-whitespace-nowrap">
                      (<th:block th:switch="${#strings.isEmpty(replacementInfo.duration)}">
                        <th:block th:case="true">
                          <th:block th:text="#{applications.days(${replacementInfo.workDays})}" />
                        </th:block>
                        <th:block th:case="false">
                          <th:block th:text="${replacementInfo.duration}" />
                        </th:block> </th:block
                      >)
                    </span>
                  </div>
                </div>
              </div>
              <div
                th:if="${!#strings.isEmpty(replacementInfo.note)}"
                class="text-bubble text-bubble--triangle-top-right tw-self-end lg:text-bubble--triangle-top-left tw-mr-7 lg:tw-ml-7 sm:tw-max-w-md"
              >
                <p class="tw-italic tw-text-sm tw-m-0" th:text="${replacementInfo.note}"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <th:block th:if="${canAccessOtherApplications || canAccessSickNoteSubmissions}">
        <div
          th:replace="~{fragments/section-heading::section-heading-paddingless(~{::new-other-applications-heading-body}, ~{::new-other-applications-heading-actions})}"
        >
          <th:block th:ref="new-other-applications-heading-actions">
            <div class="tw-flex tw-flex-col sm:tw-flex-row"></div>
          </th:block>
          <th:block th:ref="new-other-applications-heading-body">
            <ul
              class="tw-m-0 tw-p-0 tw-list-none tw-flex tw-flex-col xs:tw-flex-row tw-gap-2 xs:tw-gap-8 tw-mb-2 xs:tw-mb-0"
              is="uv-nav-tabs"
            >
              <li
                class="tw-border-l-4 dark:tw-border-l-2 xs:tw-border-l-0 xs:dark:tw-border-l-0 xs:tw-border-b-4 xs:dark:tw-border-b-2 tw-pl-2 xs:tw-pl-0"
                th:classappend="${activeContent == 'application' || activeContent == 'replacement' ? 'tw-border-zinc-200' : 'tw-border-transparent'}"
                data-content="#other-applications-block"
                th:attrappend="data-active=${activeContent == 'application' || activeContent == 'replacement'}?${'data-active'}"
                th:if="${canAccessOtherApplications}"
              >
                <a
                  href="#other-applications-block"
                  th:href="@{/web/application}"
                  class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost dark:hover:tw-text-zinc-200"
                  th:classappend="${activeContent == 'application' || activeContent == 'replacement' ? 'tw-text-black-almost dark:tw-text-zinc-200' : 'tw-text-zinc-400 dark:tw-text-zinc-500'}"
                >
                  <th:block th:text="#{applications.other.waiting}" />
                  <span
                    class="tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-blue-100 tw-text-blue-700 dark:tw-bg-sky-400 dark:tw-text-zinc-900 tw-text-xs tw-p-0.5 tw-font-bold tw-w-5 tw-h-5 tw--translate-y-0.5"
                  >
                    <th:block th:text="${#lists.size(otherApplications)}" />
                  </span>
                </a>
              </li>
              <li
                class="tw-border-l-4 dark:tw-border-l-2 xs:tw-border-l-0 xs:dark:tw-border-l-0 xs:tw-border-b-4 xs:dark:tw-border-b-2 tw-pl-2 xs:tw-pl-0"
                th:classappend="${activeContent == 'sicknote' ? 'tw-border-zinc-200' : 'tw-border-transparent'}"
                data-content="#other-sicknotes-block"
                th:attrappend="data-active=${activeContent == 'sicknote'}?${'data-active'}"
                th:if="${canAccessSickNoteSubmissions}"
              >
                <a
                  href="#other-sicknotes-block"
                  th:href="@{/web/sicknote/submitted}"
                  class="tw-text-xl tw-font-medium tw-no-underline hover:tw-text-black-almost dark:hover:tw-text-zinc-200 tw-gap-2"
                  th:classappend="${activeContent == 'sicknote' ? 'tw-text-black-almost dark:tw-text-zinc-200' : 'tw-text-zinc-400 dark:tw-text-zinc-500'}"
                >
                  <th:block th:text="#{sicknotes.submitted}" />
                  <span
                    class="tw-inline-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-blue-100 tw-text-blue-700 dark:tw-bg-sky-400 dark:tw-text-zinc-900 tw-text-xs tw-p-0.5 tw-font-bold tw-w-5 tw-h-5 tw--translate-y-0.5"
                  >
                    <th:block th:text="${#lists.size(otherSickNotes)}" />
                  </span>
                </a>
              </li>
            </ul>
          </th:block>
        </div>

        <div
          id="other-applications-block"
          class="tw-mb-10"
          th:if="${canAccessOtherApplications}"
          th:hidden="${activeContent != 'application' && activeContent != 'replacement'}"
        >
          <div class="tw-mb-10">
            <p th:if="${#lists.isEmpty(otherApplications)}" th:text="#{applications.none}"></p>
            <ul
              th:if="${not #lists.isEmpty(otherApplications)}"
              class="lg:list--hover tw-w-full tw-list-none tw-m-0 tw-p-0 tw-text-sm tw-space-y-10 lg:tw-space-y-4"
            >
              <li
                th:each="otherRequestForLeave,loopStatus : ${otherApplications}"
                class="tw-relative md:tw-flex md:tw-items-top lg:tw-items-center md:tw-space-x-12 lg:tw-p-2 dark:tw-rounded"
              >
                <div class="md:tw-w-1/4 tw-flex tw-items-start md:tw-space-x-5 lg:tw-space-x-6 lg:tw-items-center">
                  <span
                    class="tw-absolute tw-left-0 tw-top-0 md:tw-static print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800"
                  >
                    <img
                      th:replace="~{fragments/avatar::avatar-bordered(url=${otherRequestForLeave.person.avatarUrl + '?d=404&s=104'},niceName=${otherRequestForLeave.person.name},initials=${otherRequestForLeave.person.initials},width='52',height='52',personId=${otherRequestForLeave.person.id})}"
                      alt=""
                    />
                  </span>
                  <span class="tw-pl-20 md:tw-pl-0 md:tw-flex md:tw-flex-col tw-text-lg">
                    <span class="tw-flex tw-items-center">
                      <a
                        th:text="${otherRequestForLeave.person.name}"
                        th:href="@{/web/person/__${otherRequestForLeave.person.id}__/overview}"
                        class="icon-link"
                        data-turbo="false"
                      ></a>
                      <th:block th:if="${otherRequestForLeave.person.isInactive}">
                        <span th:data-title="#{person.data.inactive}">
                          &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" /><span
                            class="tw-sr-only"
                            >(<th:block th:text="#{person.data.inactive}" />)</span
                          >
                        </span>
                      </th:block>
                    </span>
                    <span class="md:tw-text-sm" th:text="#{application.applier.applied}"></span>
                  </span>
                </div>
                <div class="tw-flex-1 lg:tw-flex lg:tw-items-center tw-pl-20 md:tw-pl-0">
                  <div class="tw-flex-1 tw-flex tw-items-center tw-gap-3 lg:tw-px-1">
                    <div th:replace="~{::absence-color-box(${otherRequestForLeave})}"></div>
                    <a
                      href="#"
                      th:href="@{/web/application/{applicationId}(applicationId=${otherRequestForLeave.id})}"
                      class="tw-block tw-no-underline print:no-link"
                    >
                      <span
                        class="hover:tw-underline tw-mb-1 tw-text-lg"
                        th:switch="${#strings.isEmpty(otherRequestForLeave.duration)}"
                      >
                        <th:block th:case="true">
                          <th:block th:text="#{applications.days(${otherRequestForLeave.workDays})}" />
                        </th:block>
                        <th:block th:case="false">
                          <th:block th:text="${otherRequestForLeave.duration}" />
                        </th:block>
                        <th:block th:text="${otherRequestForLeave.vacationType.label}" />
                      </span>
                      <span
                        class="tw-block tw-text-black-almost dark:tw-text-zinc-200"
                        th:text="${otherRequestForLeave.durationOfAbsenceDescription}"
                      ></span>
                    </a>
                  </div>
                  <div class="print:tw-hidden">
                    <div class="tw-flex tw-gap-2 tw-justify-end tw-mt-2 lg:tw-mt-0">
                      <a
                        th:if="${otherRequestForLeave.editAllowed}"
                        class="button tw-flex-1"
                        href="#"
                        th:href="@{/web/application/{applicationId}/edit (applicationId=${otherRequestForLeave.id})}"
                      >
                        <svg
                          th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"
                        ></svg>
                        <span class="tw-sr-only xs:tw-not-sr-only">
                          <th:block th:text="#{action.edit}" />
                        </span>
                      </a>
                      <a
                        th:if="${otherRequestForLeave.approveAllowed}"
                        class="button tw-flex-1"
                        href="#"
                        th:href="@{/web/application/{applicationId} (applicationId=${otherRequestForLeave.id}, action='allow', shortcut=true)}"
                      >
                        <svg
                          th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"
                        ></svg>
                        <span class="tw-sr-only xs:tw-not-sr-only">
                          <th:block
                            th:text="${otherRequestForLeave.temporaryApproveAllowed ? #messages.msg('action.temporary_allow') : #messages.msg('action.allow')}"
                          />
                        </span>
                      </a>
                      <a
                        th:if="${otherRequestForLeave.rejectAllowed}"
                        class="button tw-flex-1"
                        href="#"
                        th:href="@{/web/application/{applicationId} (applicationId=${otherRequestForLeave.id}, action='reject', shortcut=true)}"
                      >
                        <svg
                          th:replace="~{icon/slash::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"
                        ></svg>
                        <span class="tw-sr-only xs:tw-not-sr-only">
                          <th:block th:text="#{action.reject}" />
                        </span>
                      </a>
                      <a
                        class="button tw-flex-1 tw-justify-center"
                        th:href="@{/web/application/{applicationId} (applicationId=${otherRequestForLeave.id}, action='cancel', shortcut=true)}"
                        th:if="${otherRequestForLeave.cancelAllowed}"
                      >
                        <svg
                          th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 xs:tw-mr-1')}"
                        ></svg>
                        <span class="sr-only xs:tw-not-sr-only">
                          <th:block th:text="#{action.delete}"></th:block>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div
          id="other-sicknotes-block"
          class="tw-mb-10"
          th:if="${canAccessSickNoteSubmissions}"
          th:hidden="${activeContent != 'sicknote'}"
        >
          <h2 id="sicknote-submitted" class="tw-sr-only" th:text="#{sicknotes.submitted}"></h2>
          <p th:if="${#lists.isEmpty(otherSickNotes)}" th:text="#{sicknotes.submitted.none}"></p>
          <ul
            th:if="${not #lists.isEmpty(otherSickNotes)}"
            class="lg:list--hover tw-w-full tw-list-none tw-m-0 tw-p-0 tw-text-sm tw-space-y-10 lg:tw-space-y-4"
          >
            <li
              th:each="otherSickNote,loopStatus : ${otherSickNotes}"
              class="tw-relative md:tw-flex md:tw-items-top lg:tw-items-center md:tw-space-x-12 lg:tw-p-2 dark:tw-rounded"
            >
              <div class="md:tw-w-1/4 tw-flex tw-items-start md:tw-space-x-5 lg:tw-space-x-6 lg:tw-items-center">
                <span
                  class="tw-absolute tw-left-0 tw-top-0 md:tw-static print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800"
                >
                  <img
                    th:replace="~{fragments/avatar::avatar-bordered(url=${otherSickNote.person.avatarUrl + '?d=404&s=104'},niceName=${otherSickNote.person.name},initials=${otherSickNote.person.initials},width='52',height='52',personId=${otherSickNote.person.id})}"
                    alt=""
                  />
                </span>
                <span class="tw-pl-20 md:tw-pl-0 md:tw-flex md:tw-flex-col tw-text-lg">
                  <span class="tw-flex tw-items-center">
                    <a
                      th:text="${otherSickNote.person.name}"
                      th:href="@{/web/person/__${otherSickNote.person.id}__/overview}"
                      class="icon-link"
                      data-turbo="false"
                    ></a>
                    <th:block th:if="${otherSickNote.person.isInactive}">
                      <span th:data-title="#{person.data.inactive}">
                        &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" /><span
                          class="tw-sr-only"
                          >(<th:block th:text="#{person.data.inactive}" />)</span
                        >
                      </span>
                    </th:block>
                  </span>
                  <span class="md:tw-text-sm">
                    <th:block
                      th:if="${not otherSickNote.extensionSubmitted}"
                      th:text="#{sicknote.progress.SUBMITTED.withoutDate}"
                    >
                      eingereicht
                    </th:block>
                    <th:block
                      th:if="${otherSickNote.extensionSubmitted}"
                      th:text="#{sicknote.progress.EXTENSION_SUBMITTED.withoutDate}"
                    >
                      Verlängerung eingereicht
                    </th:block>
                  </span>
                </span>
              </div>
              <div class="tw-flex-1 lg:tw-flex lg:tw-items-center tw-pl-20 md:tw-pl-0">
                <div class="tw-flex-1 tw-flex tw-items-center tw-gap-3 lg:tw-px-1">
                  <div
                    class="tw-shrink-0 absence-type_color-box"
                    th:classappend="|
                      ${otherSickNote.status == 'SUBMITTED' ? 'absence-type_color-box-waiting' : ''}
                      |"
                    th:styleappend="|${'--absence-bar-color:var(--absence-color-PINK);'}|"
                    th:title="#{sicknote.progress.SUBMITTED.withoutDate}"
                  >
                    &nbsp;
                  </div>
                  <a
                    href="#"
                    th:href="@{/web/sicknote/{sicknoteId} (sicknoteId=${otherSickNote.id})}"
                    class="tw-block tw-flex-1 tw-no-underline print:no-link"
                  >
                    <span class="hover:tw-underline tw-mb-1 tw-text-lg">
                      <th:block th:text="#{overview.sicknotes.sickdays.days(${otherSickNote.workDays})}" />
                      <th:block th:text="${#messages.msg(otherSickNote.type)}"></th:block>
                      <th:block
                        th:if="${otherSickNote.additionalWorkDays != null}"
                        th:text="#{overview.sicknotes.sickdays.days.additional(${otherSickNote.additionalWorkDays})}"
                      />
                    </span>
                    <span
                      class="tw-block tw-text-black-almost dark:tw-text-zinc-200"
                      th:text="${otherSickNote.durationOfAbsenceDescription}"
                    ></span>
                  </a>
                </div>
                <div class="print:tw-hidden">
                  <div class="tw-flex tw-gap-2 tw-justify-end tw-mt-2 lg:tw-mt-0">
                    <a
                      class="button tw-flex-1"
                      href="#"
                      th:href="@{/web/sicknote/{sickNoteId} (sickNoteId=${otherSickNote.id}, action='allow', shortcut=true)}"
                    >
                      <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"></svg>
                      <span class="tw-sr-only xs:tw-not-sr-only">
                        <th:block th:text="#{action.acceptSicknote}" />
                      </span>
                    </a>
                    <a
                      th:if="${not otherSickNote.extensionSubmitted}"
                      class="button tw-flex-1"
                      href="#"
                      th:href="@{/web/sicknote/{sickNoteId} (sickNoteId=${otherSickNote.id}, action='cancel', shortcut=true)}"
                    >
                      <svg
                        th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5 xs:tw-w-4 xs:tw-h-4 tw-mr-1')}"
                      ></svg>
                      <span class="tw-sr-only xs:tw-not-sr-only">
                        <th:block th:text="#{action.cancelSicknote}" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </th:block>

      <th:block th:if="${canAccessCancellationRequests}">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::cancellation-requests-heading-body}, ~{::cancellation-requests-heading-actions})}"
        >
          <th:block th:ref="cancellation-requests-heading-body">
            <h2
              id="cancellation-requests"
              class="tw-text-xl tw-font-medium"
              th:text="#{applications.cancellation_request}"
            ></h2>
          </th:block>
        </div>

        <div class="tw-mb-10">
          <p
            th:if="${#lists.isEmpty(applications_cancellation_request)}"
            th:text="#{applications.cancellation_request.none}"
          ></p>
          <ul
            th:if="${not #lists.isEmpty(applications_cancellation_request)}"
            class="lg:list--hover tw-w-full tw-list-none tw-m-0 tw-p-0 tw-text-sm tw-space-y-10 lg:tw-space-y-4"
          >
            <li
              th:each="cancellationRequest,loopStatus : ${applications_cancellation_request}"
              class="tw-relative md:tw-flex md:tw-items-top lg:tw-items-center md:tw-space-x-12 lg:tw-p-2 dark:tw-rounded"
            >
              <div class="md:tw-w-1/4 tw-flex tw-items-start md:tw-space-x-5 lg:tw-space-x-6 lg:tw-items-center">
                <span
                  class="tw-absolute tw-left-0 tw-top-0 md:tw-static print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800"
                >
                  <img
                    th:replace="~{fragments/avatar::avatar-bordered(url=${cancellationRequest.person.avatarUrl + '?d=404&s=104'},niceName=${cancellationRequest.person.name},initials=${cancellationRequest.person.initials},width='52',height='52',personId=${cancellationRequest.person.id})}"
                    alt=""
                  />
                </span>
                <span class="tw-pl-20 md:tw-pl-0 md:tw-flex md:tw-flex-col tw-text-lg">
                  <span class="tw-flex tw-items-center">
                    <a
                      th:text="${cancellationRequest.person.name}"
                      th:href="@{/web/person/__${cancellationRequest.person.id}__/overview}"
                      class="icon-link"
                      data-turbo="false"
                    ></a>
                    <th:block th:if="${cancellationRequest.person.isInactive}">
                      <span th:data-title="#{person.data.inactive}">
                        &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" /><span
                          class="tw-sr-only"
                          >(<th:block th:text="#{person.data.inactive}" />)</span
                        >
                      </span>
                    </th:block>
                  </span>
                  <span class="md:tw-text-sm" th:text="#{application.applier.applied}"></span>
                </span>
              </div>
              <div class="tw-flex-1 lg:tw-flex lg:tw-items-center tw-pl-20 md:tw-pl-0">
                <div class="tw-flex-1 tw-flex tw-items-center tw-gap-3 lg:tw-px-1">
                  <div th:replace="~{::absence-color-box(${cancellationRequest})}"></div>
                  <a
                    href="#"
                    th:href="@{/web/application/{applicationId}(applicationId=${cancellationRequest.id})}"
                    class="tw-block tw-flex-1 tw-no-underline print:no-link"
                  >
                    <span
                      class="hover:tw-underline tw-mb-1 tw-text-lg"
                      th:switch="${#strings.isEmpty(cancellationRequest.duration)}"
                    >
                      <th:block th:text="#{applications.cancellationRequestPrefix}" />
                      <th:block th:case="true">
                        <th:block th:text="#{applications.days(${cancellationRequest.workDays})}" />
                      </th:block>
                      <th:block th:case="false">
                        <th:block th:text="${cancellationRequest.duration}" />
                      </th:block>
                      <th:block th:text="${cancellationRequest.vacationType.label}" />
                    </span>
                    <span
                      class="tw-block tw-text-black-almost dark:tw-text-zinc-200"
                      th:text="${cancellationRequest.durationOfAbsenceDescription}"
                    ></span>
                  </a>
                </div>
                <div class="print:tw-hidden">
                  <div
                    th:if="${canAccessCancellationRequests}"
                    class="tw-flex tw-gap-2 tw-justify-end tw-mt-2 lg:tw-mt-0"
                  >
                    <a
                      class="button tw-flex-1"
                      href="#"
                      th:href="@{/web/application/{applicationId} (applicationId=${cancellationRequest.id}, action='cancel', shortcut=true)}"
                    >
                      <svg th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5 lg:tw-w-4 lg:tw-h-4 tw-mr-1')}" />
                      <span class="tw-sr-only xs:tw-not-sr-only">
                        <th:block th:text="#{action.delete}" />
                      </span>
                    </a>
                    <a
                      class="button tw-flex-1"
                      href="#"
                      th:href="@{/web/application/{applicationId} (applicationId=${cancellationRequest.id}, action='decline-cancellation-request', shortcut=true)}"
                    >
                      <svg th:replace="~{icon/slash::svg(className='tw-w-5 tw-h-5 lg:tw-w-4 lg:tw-h-4 tw-mr-1')}" />
                      <span class="tw-sr-only xs:tw-not-sr-only">
                        <th:block th:text="#{action.cancellationRequest}" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </th:block>
    </main>
  </body>
</html>
