<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <!-- Selection of the time zone -->
        <div class="uv-form__input-row">
          <label th:text="|#{settings.time.timezone}:|" class="is-required" for="timeSettings.timeZoneId">
            Zeitzone
          </label>
          <select
            th:replace="~{fragments/select::one(id='timeSettings.timeZoneId', name='timeSettings.timeZoneId', options=~{::settings-time-timezoneid})}"
            id="yearSelect"
          >
            <th:block th:fragment="settings-time-timezoneid">
              <option
                th:each="timeZoneId : ${availableTimezones}"
                th:text="${timeZoneId}"
                th:value="${timeZoneId}"
                th:selected="${settings.timeSettings.timeZoneId == timeZoneId}"
              ></option>
            </th:block>
          </select>
        </div>

        <!-- Start of working hours settings for a work day -->
        <div class="uv-form__input-row">
          <label th:text="|#{settings.time.workDay.begin}:|" class="is-required" for="timeSettings.workDayBeginHour">
            Beginn eines Arbeitstags
          </label>
          <th:block
            th:replace="~{fragments/hour-and-minute-input::hour-and-minute-input('timeSettings.workDayBeginHour', 'settings-time-hours', 'timeSettings.workDayBeginMinute', 'settings-time-minutes')}"
          ></th:block>
        </div>

        <!-- End of working hours settings for a work day -->
        <div class="uv-form__input-row">
          <label th:text="|#{settings.time.workDay.end}:|" class="is-required" for="timeSettings.workDayEndHour">
            Ende eines Arbeitstags
          </label>
          <th:block
            th:replace="~{fragments/hour-and-minute-input::hour-and-minute-input('timeSettings.workDayEndHour', 'settings-time-hours', 'timeSettings.workDayEndMinute', 'settings-time-minutes')}"
          ></th:block>
        </div>
      </div>
    </th:block>
  </body>
</html>
