<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <div class="uv-form__group-info">
          <div class="uv-help-block flex items-start gap-1">
            <span class="shrink-0 inline-flex translate-y-px">
              <svg th:replace="~{icon/info::svg(className='w-4 h-4')}"></svg>
            </span>
            <p>
              <th:block th:text="#{settings.avatar.gravatarEnabled.activation.description.one}" />
              <a
                class="inline-flex items-center"
                target="_blank"
                rel="noopener"
                href="https://urlaubsverwaltung.cloud/hilfe/benutzer/#gibt-es-die-moeglichkeit-gravatar-global-zu-deaktivieren"
              >
                <th:block th:text="#{settings.avatar.gravatarEnabled.activation.description.two}" />
                <svg th:replace="~{icon/external-link::svg(className='w-4 h-4 ml-1')}"></svg>
              </a>
            </p>
          </div>
        </div>

        <div class="uv-form__input-row" th:data-enabled="${settings.avatarSettings.gravatarEnabled}">
          <div class="flex items-center gap-2 checkbox-switch">
            <input type="checkbox" th:field="*{avatarSettings.gravatarEnabled}" id="avatarSettings-gravatarEnabled" />
            <label
              for="avatarSettings-gravatarEnabled"
              class="text-base font-normal"
              th:text="#{settings.avatar.gravatarEnabled.activation}"
            ></label>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
