<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>app action decline cancellation request</title>
  </head>
  <body>
    <th:block th:fragment="buttons">
      <button
        th:if="${isAllowedToDeclineCancellationRequest}"
        class="icon-link bg-transparent hover:text-red-500"
        onclick="
          document.querySelector('#reject')?.classList.add('hidden');
          document.querySelector('#allow')?.classList.add('hidden');
          document.querySelector('#refer')?.classList.add('hidden');
          document.querySelector('#cancel')?.classList.add('hidden');
          document.querySelector('#decline-cancellation-request')?.classList.remove('hidden');
        "
        th:data-title="#{action.cancellationRequest}"
      >
        <svg th:replace="~{icon/slash::svg(className='w-5 h-5')}"></svg>
        <span class="sr-only" th:text="#{action.cancellationRequest}">Stornierung ablehnen</span>
      </button>
    </th:block>

    <th:block th:fragment="form">
      <form
        id="decline-cancellation-request"
        class="alert alert-danger"
        th:classappend="${action eq 'decline-cancellation-request' ? '' : 'hidden'}"
        method="post"
        th:action="@{/web/application/__${app.id}__/decline-cancellation-request}"
        th:object="${comment}"
      >
        <div class="mb-4">
          <strong class="font-medium" th:text="#{action.cancellationRequest.confirm}"></strong>
        </div>

        <div class="mb-4">
          <label
            th:with="commentMandatory=${app.status.name == 'ALLOWED_CANCELLATION_REQUESTED'}"
            th:text="|${commentMandatory == true ? #messages.msg('action.comment.mandatory') : #messages.msg('action.comment.optional')}:|"
            for="text-decline-cancellation-request"
          ></label>
          <textarea id="text-decline-cancellation-request" rows="2" name="text" th:errorclass="error"></textarea>
        </div>

        <div class="flex justify-between gap-4">
          <button th:text="#{action.cancellationRequest}" type="submit" class="button-danger w-56"></button>
          <button
            type="button"
            th:text="#{action.cancel}"
            class="button"
            onclick="document.querySelector('#decline-cancellation-request')?.classList.add('hidden')"
          ></button>
        </div>
      </form>
    </th:block>
  </body>
</html>
