<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>app action cancel</title>
  </head>
  <body>
    <th:block th:fragment="buttons">
      <button
        th:if="${isAllowedToRevokeApplication || isAllowedToCancelApplication || isAllowedToCancelDirectlyApplication}"
        class="icon-link tw-bg-transparent tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0 hover:tw-text-red-500"
        onclick="document.querySelector('#reject')?.classList.add('tw-hidden');
        document.querySelector('#allow')?.classList.add('tw-hidden');
        document.querySelector('#refer')?.classList.add('tw-hidden');
        document.querySelector('#decline-cancellation-request')?.classList.add('tw-hidden');
        document.querySelector('#cancel')?.classList.remove('tw-hidden');"
      >
        <svg th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5')}"></svg>
        <span class="tw-sr-only" th:text="#{action.delete}"></span>
      </button>

      <button
        th:if="${isAllowedToStartCancellationRequest}"
        class="icon-link tw-bg-transparent tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0 hover:tw-text-red-500"
        onclick="document.querySelector('#reject')?.classList.add('tw-hidden');
        document.querySelector('#allow')?.classList.add('tw-hidden');
        document.querySelector('#refer')?.classList.add('tw-hidden');
        document.querySelector('#decline-cancellation-request')?.classList.add('tw-hidden');
        document.querySelector('#cancel')?.classList.remove('tw-hidden');"
      >
        <svg th:replace="~{icon/trash-2::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
        <span class="tw-sr-only" th:text="#{action.delete.request}"></span>
      </button>
    </th:block>

    <th:block th:fragment="form">
      <form
        id="cancel"
        class="form confirm alert alert-danger"
        th:classappend="${action eq 'cancel' ? '' : 'tw-hidden'}"
        method="post"
        th:with="deleteRequest=${app.vacationType.requiresApprovalToCancel == true && (app.status.name == 'ALLOWED' || app.status.name == 'TEMPORARY_ALLOWED') && !isOffice && !signedInUser.hasRole('APPLICATION_CANCEL')}"
        th:action="@{/web/application/__${app.id}__/cancel}"
        th:object="${comment}"
      >
        <div class="form-group">
          <strong
            th:if="${deleteRequest == true}"
            class="tw-font-medium"
            th:text="#{action.delete.request.confirm}"
          ></strong>
          <strong th:if="${deleteRequest == false}" class="tw-font-medium" th:text="#{action.delete.confirm}"></strong>
        </div>

        <div class="form-group">
          <label
            th:with="commentMandatory=${app.person.id != signedInUser.id || app.status.name == 'ALLOWED' || app.status.name == 'TEMPORARY_ALLOWED' || app.status.name == 'ALLOWED_CANCELLATION_REQUESTED'}"
            th:text="|${commentMandatory == true ? #messages.msg('action.comment.mandatory') : #messages.msg('action.comment.optional')}:|"
            for="text-cancel"
          ></label>
          <textarea id="text-cancel" rows="2" class="form-control" th:errorclass="error" name="text"></textarea>
        </div>

        <div class="form-group tw-mb-0 tw-flex tw-justify-between tw-gap-4">
          <button type="submit" class="button-danger tw-w-56">
            <th:block th:if="${deleteRequest == true}" th:text="#{action.delete.request}"></th:block>
            <th:block th:if="${deleteRequest == false}" th:text="#{action.delete}"></th:block>
          </button>
          <button
            type="button"
            th:text="#{action.cancel}"
            class="button"
            onclick="document.querySelector('#cancel')?.classList.add('tw-hidden');"
          ></button>
        </div>
      </form>
    </th:block>
  </body>
</html>
