<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>app action reject</title>
  </head>
  <body>
    <th:block th:fragment="button">
      <th:block th:if="${isAllowedToRejectApplication}">
        <button
          class="icon-link tw-bg-transparent tw-px-1 tw-py-0 hover:tw-text-red-500"
          th:data-title="#{action.reject}"
          onclick="document.querySelector('#refer')?.classList.add('tw-hidden');
          document.querySelector('#allow')?.classList.add('tw-hidden');
          document.querySelector('#cancel')?.classList.add('tw-hidden');
          document.querySelector('#decline-cancellation-request')?.classList.add('tw-hidden');
          document.querySelector('#reject')?.classList.remove('tw-hidden');"
        >
          <svg th:replace="icon/slash::svg(className='tw-w-5 tw-h-5')"></svg>
          <span class="tw-sr-only" th:text="#{action.reject}"></span>
        </button>
      </th:block>
    </th:block>

    <th:block th:fragment="form">
      <form
        id="reject"
        class="form confirm alert alert-danger"
        th:classappend="${action eq 'reject' ? '' : 'tw-hidden'}"
        method="post"
        th:with="actionUrl=${param.shortcut != null && #lists.contains(param.shortcut, 'true') ? '/web/application/__${app.id}__/reject?redirect=/web/application/' : '/web/application/__${app.id}__/reject'}"
        th:action="@{__${actionUrl}__}"
        th:object="${comment}"
      >
        <div class="form-group">
          <strong class="tw-font-medium" th:text="#{action.reject.confirm}"></strong>
        </div>

        <div class="form-group">
          <label th:text="|#{action.comment.mandatory}:|" for="text-reject"></label>
          <textarea
            id="text-reject"
            rows="2"
            name="text"
            class="form-control"
            th:errorclass="error"
            onkeyup="count(this.value, 'text-reject-counter');"
            onkeydown="maxChars(this,200); count(this.value, 'text-reject-counter');"
          ></textarea>
          <small> <span id="text-reject-counter"></span><th:block th:text="#{action.comment.maxChars}" /> </small>
        </div>

        <div class="form-group is-sticky row">
          <button type="submit" class="button-danger col-xs-12 col-sm-5" th:text="#{action.reject}"></button>
          <button
            type="button"
            class="button col-xs-12 col-sm-5 pull-right"
            th:text="#{action.cancel}"
            onclick="document.querySelector('#reject')?.classList.add('tw-hidden');"
          ></button>
        </div>
      </form>
    </th:block>
  </body>
</html>
