<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>app action refer</title>
  </head>
  <body>
    <th:block th:fragment="buttons">
      <button
        th:if="${isAllowedToReferApplication}"
        class="icon-link bg-transparent text-base flex items-center space-x-1 sm:space-x-0 sm:flex-row mr-0"
        onclick="
          document.querySelector('#reject')?.classList.add('hidden');
          document.querySelector('#allow')?.classList.add('hidden');
          document.querySelector('#cancel')?.classList.add('hidden');
          document.querySelector('#decline-cancellation-request')?.classList.add('hidden');
          document.querySelector('#refer')?.classList.remove('hidden');
        "
        th:data-title="#{action.refer}"
      >
        <svg th:replace="~{icon/share-2::svg(className='w-5 h-5')}"></svg>
        <span class="sr-only" th:text="#{action.refer}"></span>
      </button>
    </th:block>

    <th:block th:fragment="form">
      <form
        id="refer"
        class="hidden alert alert-info"
        method="post"
        th:action="@{/web/application/__${app.id}__/refer}"
        th:object="${referredPerson}"
      >
        <div class="mb-4">
          <strong class="font-medium" th:text="#{action.refer.confirm}"></strong>
        </div>

        <div class="mb-4">
          <select
            th:replace="~{fragments/select::one(id='username', name='username', options=~{::action-refer-person-select-options})}"
            id="username"
          >
            <th:block th:fragment="action-refer-person-select-options">
              <option
                th:each="personToRefer : ${availablePersonsToRefer}"
                th:value="${personToRefer.username}"
                th:text="|${personToRefer.firstName} ${personToRefer.lastName}|"
              ></option>
            </th:block>
          </select>
        </div>

        <div class="flex justify-between gap-4">
          <button type="submit" class="button-info w-56" th:text="#{action.refer}"></button>
          <button
            type="button"
            th:text="#{action.cancel}"
            class="button"
            onclick="document.querySelector('#refer')?.classList.add('hidden')"
          ></button>
        </div>
      </form>
    </th:block>
  </body>
</html>
