<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>app action refer</title>
  </head>
  <body>
    <th:block th:fragment="buttons">
      <button
        th:if="${isAllowedToReferApplication}"
        class="icon-link tw-bg-transparent tw-text-base tw-flex tw-items-center tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
        onclick="document.querySelector('#reject')?.classList.add('tw-hidden');
        document.querySelector('#allow')?.classList.add('tw-hidden');
        document.querySelector('#cancel')?.classList.add('tw-hidden');
        document.querySelector('#decline-cancellation-request')?.classList.add('tw-hidden');
        document.querySelector('#refer')?.classList.remove('tw-hidden');"
      >
        <svg th:replace="~{icon/share-2::svg(className='tw-w-5 tw-h-5')}"></svg>
        <span class="tw-sr-only" th:text="#{action.refer}"></span>
      </button>
    </th:block>

    <th:block th:fragment="form">
      <form
        id="refer"
        class="form tw-hidden confirm alert alert-info"
        method="post"
        th:action="@{/web/application/__${app.id}__/refer}"
        th:object="${referredPerson}"
      >
        <div class="form-group">
          <strong class="tw-font-medium" th:text="#{action.refer.confirm}"></strong>
        </div>

        <div class="form-group">
          <select
            th:replace="~{fragments/select::one(id='username', name='username', options=~{::action-refer-person-select-options})}"
            id="username"
          >
            <th:block th:fragment="action-refer-person-select-options">
              <option
                th:each="personToRefer : ${availablePersonsToRefer}"
                th:value="${personToRefer.username}"
                th:text="|${personToRefer.firstName} ${personToRefer.lastName}|"
              ></option>
            </th:block>
          </select>
        </div>

        <div class="form-group tw-mb-0 tw-flex tw-justify-between tw-gap-4">
          <button type="submit" class="button-info tw-w-56" th:text="#{action.refer}"></button>
          <button
            type="button"
            th:text="#{action.cancel}"
            class="button"
            onclick="document.querySelector('#refer')?.classList.add('tw-hidden');"
          ></button>
        </div>
      </form>
    </th:block>
  </body>
</html>
