<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="tw-mb-5">
        <div class="box tw-p-5">
          <div
            th:replace="~{fragments/box::box-with-icon(~{::application-details-box-icon}, ~{::application-details-box-body})}"
          >
            <th:block th:ref="application-details-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::application-details-box-icon-rounded}, className='tw-bg-amber-300 tw-text-white dark:tw-bg-amber-400 dark:tw-text-zinc-900')}"
              >
                <th:block th:ref="application-details-box-icon-rounded">
                  <th:block th:if="${app.vacationType.category.name == 'HOLIDAY'}">
                    <svg th:replace="~{icon/sun::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                  <th:block th:if="${app.vacationType.category.name != 'HOLIDAY'}">
                    <svg th:replace="~{icon/flag::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="application-details-box-body">
              <span class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100">
                <th:block th:text="${app.person.niceName}"> Klaus Müller </th:block>
                <th:block
                  th:text="${(app.status.name == 'ALLOWED' && app.editedDate == null) ? #messages.msg('application.applier.appliedDirectly') : #messages.msg('application.applier.applied')}"
                >
                  beantragt
                </th:block>
              </span>
              <span class="tw-flex tw-justify-between tw-gap-4 tw-items-center tw-my-1 tw-text-lg tw-font-medium">
                <th:block th:text="${app.vacationType.label}"> Erholungsurlaub </th:block>
                <span
                  class="absence-type_color-box print:tw-hidden tw-mr-5"
                  th:classappend="|
                  ${app.status.name == 'WAITING' ? 'absence-type_color-box-waiting' : ''}
                  ${app.status.name == 'TEMPORARY_ALLOWED' ? 'absence-type_color-box-temporary-allowed' : ''}
                  ${app.status.name == 'ALLOWED' ? 'absence-type_color-box-allowed' : ''}
                  ${app.status.name == 'ALLOWED_CANCELLATION_REQUESTED' ? 'absence-type_color-box-cancellation-requested' : ''}
                  ${app.status.name == 'CANCELLED' ? 'absence-type_color-box-cancelled' : ''}
                  ${app.status.name == 'REJECTED' || app.status.name == 'REVOKED' ? 'absence-type_color-box-rejected-revoked' : ''}
                  |"
                  th:styleappend="|${'--absence-bar-color:var(--absence-color-' + app.vacationType.color + ');'}|"
                  th:title="${#messages.msg(app.status.name)}"
                >
                  &nbsp;
                </span>
              </span>
              <span class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100">
                <th:block th:text="#{absence.period.for}" />
                <th:block th:if="${app.startDate == app.endDate}">
                  <th:block th:text="|${#messages.msg(app.weekDayOfStartDate + '.short')}|"></th:block>,
                  <th:block th:replace="~{fragments/date::date(${app.startDate})}"></th:block>,&nbsp;
                  <th:block th:text="${#messages.msg(app.dayLength)}"></th:block>
                </th:block>
                <th:block th:if="${app.startDate != app.endDate}">
                  <span
                    th:replace="~{fragments/date-range::date-range(from=${app.startDate}, to=${app.endDate}, pattern='E, dd.MM.yyyy')}"
                  ></span>
                </th:block>
              </span>
            </th:block>
          </div>
        </div>
      </div>

      <table class="list-table striped-table bordered-table tw-text-sm tw-table-fixed">
        <tr>
          <td th:text="#{absence.period.duration}"></td>
          <td>
            <strong>
              <th:block th:text="#{application.data.days(${app.workDays})}" />
            </strong>
            <th:block th:if="${app.startDate.year != app.endDate.year}">
              <span class="text-muted days">
                <!--filled by javascript-->
                <!--see app_info.js-->
              </span>
            </th:block>
            <th:block th:if="${app.vacationType.category.name == 'OVERTIME' && app.hours != null}">
              <span class="text-muted">
                <br />
                <th:block th:text="${{app.hours}}" />
                <th:block th:text="#{application.data.hours.number}" />
              </span>
            </th:block>
          </td>
        </tr>
        <tr class="visible-print">
          <td th:text="#{application.data.status}"></td>
          <td th:text="#{__${app.status.name}__}"></td>
        </tr>
        <tr>
          <!--          needed for correct altering of table rows:
          there is a problem because the only in print visible row is altered too -->
        </tr>
        <tr>
          <td th:text="#{application.data.time}"></td>
          <td>
            <th:block
              th:if="${app.startTime != null && app.endTime != null}"
              th:text="#{absence.period.time(${{app.startTime}},${{app.endTime}})}"
            ></th:block>
            <th:block
              th:if="${app.startTime == null || app.endTime == null}"
              th:text="#{application.data.furtherInformation.notSpecified}"
            ></th:block>
          </td>
        </tr>
        <tr>
          <td th:text="#{application.data.reason}"></td>
          <td class="tw-break-words">
            <th:block
              th:text="${not #strings.isEmpty(app.reason) ? app.reason : #messages.msg('application.data.furtherInformation.notSpecified')}"
            ></th:block>
          </td>
        </tr>

        <tr>
          <td th:text="#{application.data.holidayReplacement}"></td>
          <td>
            <ul
              th:if="${not #lists.isEmpty(app.holidayReplacements)}"
              class="tw-list-none tw-m-0 tw-p-0"
              data-test-id="holiday-replacement-list"
            >
              <li
                th:each="replacementInfo : ${app.holidayReplacements}"
                th:text="${replacementInfo.person.niceName}"
              ></li>
            </ul>
            <th:block
              th:if="${#lists.isEmpty(app.holidayReplacements)}"
              th:text="#{application.data.furtherInformation.notSpecified}"
            />
          </td>
        </tr>
        <tr>
          <td th:text="#{application.data.furtherInformation.address}"></td>
          <td class="tw-break-words">
            <th:block
              th:text="${not #strings.isEmpty(app.address) ? app.address : #messages.msg('application.data.furtherInformation.notSpecified')}"
            ></th:block>
          </td>
        </tr>
        <tr>
          <td th:text="#{application.data.teamInformed}"></td>
          <td>
            <div class="tw-flex tw-items-center">
              <th:block th:if="${app.teamInformed == true}">
                <svg th:replace="~{icon/smile::svg(className='tw-w-4 tw-h-4')}"></svg>
                &nbsp; <span th:text="#{application.data.teamInformed.true}"></span>
              </th:block>
              <th:block th:if="${app.teamInformed == false}">
                <svg th:replace="~{icon/frown::svg(className='tw-w-4 tw-h-4')}"></svg>
                &nbsp; <span th:text="#{application.data.teamInformed.false}"></span>
              </th:block>
            </div>
          </td>
        </tr>
      </table>
    </th:block>
  </body>
</html>
