<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:if="${not #lists.isEmpty(comments)}">
        <div th:replace="~{fragments/section-heading::section-heading(~{::app-progress-heading-body}, ~{})}">
          <th:block th:ref="app-progress-heading-body">
            <h2 id="vacation" th:text="#{application.progress.title}">Verlauf</h2>
          </th:block>
        </div>

        <table class="list-table striped-table bordered-table tw-text-sm">
          <caption class="tw-sr-only" th:text="#{application.progress.title}">
            Verlauf
          </caption>
          <tbody>
            <tr th:each="comment : ${comments}">
              <td class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                <img
                  th:replace="~{fragments/avatar::avatar-bordered(url=${comment.person != null ? comment.person.gravatarURL + '?d=404&s=40' : null},niceName=${comment.person != null ? comment.person.niceName : null},initials=${comment.person != null ? comment.person.initials : null},width='40',height='40',personId=${comment.person != null ? comment.person.id : null})}"
                  alt=""
                />
              </td>
              <td th:if="${comment.person != null}">
                <a
                  th:text="${comment.person.niceName}"
                  th:href="@{/web/person/__${comment.person.id}__/overview}"
                  class="icon-link print:no-link"
                  data-turbo="false"
                ></a>
              </td>
              <td th:if="${comment.person == null}" th:text="#{application.progress.deleted-author}"></td>
              <td>
                <p class="tw-m-0 tw-mb-1">
                  <th:block th:text="#{'application.progress.' + ${comment.action}}"></th:block>
                  <th:block th:if="${comment.action.name == 'APPLIED'}">
                    <th:block th:replace="~{fragments/date::date(${app.applicationDate})}"></th:block>
                  </th:block>
                  <th:block
                    th:if="${comment.action.name == 'ALLOWED' || comment.action.name == 'EDITED' || comment.action.name == 'TEMPORARY_ALLOWED' || comment.action.name == 'REJECTED' || comment.action.name == 'CONVERTED'}"
                  >
                    <th:block th:replace="~{fragments/date::date(${app.editedDate})}"></th:block>
                  </th:block>
                  <th:block th:if="${comment.action.name == 'ALLOWED_DIRECTLY'}">
                    <th:block th:replace="~{fragments/date::date(${app.applicationDate})}"></th:block>
                  </th:block>
                  <th:block
                    th:if="${comment.action.name == 'CANCELLED' || comment.action.name == 'CANCELLED_DIRECTLY' || comment.action.name == 'REVOKED'}"
                  >
                    <th:block th:replace="~{fragments/date::date(${app.cancelDate})}"></th:block>
                  </th:block>
                  <th:block
                    th:if="${comment.action.name == 'REFERRED' || comment.action.name == 'CANCEL_REQUESTED' || comment.action.name == 'CANCEL_REQUESTED_DECLINED'}"
                  >
                    <th:block th:replace="~{fragments/date::date(${comment.date})}"></th:block>
                  </th:block>
                  <th:block
                    th:if="${not #strings.isEmpty(comment.text)}"
                    th:text="#{application.progress.comment}"
                  ></th:block>
                </p>
                <p th:if="${not #strings.isEmpty(comment.text)}" th:text="${comment.text}" class="tw-m-0 tw-italic"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </th:block>
  </body>
</html>
