<!doctype html>
<html
  lang="en"
  th:lang="${language}"
  th:class="|theme-${theme}|"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{user-settings.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('user_settings.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="user_settings.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="max-w-6xl mx-auto px-4 lg:px-12 xl:px-0">
      <div th:replace="~{fragments/section-heading::section-heading(~{::user-applications-heading-body}, ~{})}">
        <th:block th:ref="user-applications-heading-body">
          <h1 th:text="#{user-settings.title}">Account settings</h1>
        </th:block>
      </div>

      <div class="mt-8">
        <form
          id="user-settings-form"
          action="#"
          th:action="@{/web/person/{personId}/settings (personId=${personId})}"
          method="post"
          th:object="${userSettings}"
        >
          <fieldset id="fieldset-language">
            <legend
              id="language-description"
              class="dark:text-zinc-100 border-none"
              th:text="#{user-settings.language.title}"
            >
              Sprache
            </legend>
            <ul
              aria-describedby="language-description"
              class="list-none m-0 p-0 flex flex-col md:grid md:auto-cols-fr md:grid-flow-col gap-2 md:gap-8"
            >
              <li class="relative flex md:block items-center gap-4 md:flex-row md:justify-center">
                <input
                  required
                  type="radio"
                  id="user-locale-system"
                  th:id="${'user-locale-system'}"
                  name="locale"
                  value=""
                  th:checked="${null eq userSettings.locale}"
                  class="peer md:absolute bottom-5 left-4"
                />
                <span
                  class="block w-full h-full px-4 py-3 rounded-lg border-2 border-zinc-200 dark:border-zinc-800 peer-checked:border-blue-400"
                >
                  <label
                    for="user-locale-system"
                    class="flex md:flex-col items-center gap-4 m-0 cursor-pointer md:text-center"
                  >
                    <svg th:replace="~{icon/globe-2::svg(className='w-9 h-9 md:w-16 md:h-16 stroke-1')}"></svg>
                    <span
                      th:text="#{user-settings.language.locale.system}"
                      class="min-w-0 md:w-4/5 whitespace-nowrap text-ellipsis overflow-hidden md:ml-5"
                      th:data-title="#{user-settings.language.locale.system}"
                    >
                      Browsersprache
                    </span>
                  </label>
                </span>
              </li>
              <li
                th:each="supportedLocale : ${supportedLocales}"
                class="relative flex md:block items-center gap-4 md:flex-row md:justify-center"
              >
                <input
                  required
                  type="radio"
                  id="user-locale"
                  th:id="${'user-locale-' + supportedLocale.locale}"
                  name="locale"
                  th:value="${supportedLocale.locale}"
                  th:checked="${supportedLocale.locale eq userSettings.locale}"
                  class="peer md:absolute bottom-5 left-4"
                />
                <span
                  class="block w-full h-full px-4 py-3 rounded-lg border-2 border-zinc-200 dark:border-zinc-800 peer-checked:border-blue-400"
                >
                  <label
                    for="user-locale"
                    th:for="${'user-locale-' + supportedLocale.locale}"
                    class="flex md:flex-col items-center gap-4 m-0 cursor-pointer md:text-center"
                  >
                    <span class="h-8 w-8 md:h-16 md:w-16 inline-block overflow-hidden rounded-full">
                      <img
                        th:src="@{/images/flags/{locale}.svg (locale=${supportedLocale.locale})}"
                        alt=""
                        width="25"
                        height="15"
                        class="scale-[1.75] w-full h-full"
                      />
                    </span>
                    <span
                      th:text="${supportedLocale.displayName}"
                      class="min-w-0 md:w-4/5 whitespace-nowrap text-ellipsis overflow-hidden"
                      th:classappend="${supportedLocale.displayNameOverflow ? 'md:ml-5' : ''}"
                      th:data-title="${supportedLocale.displayName}"
                    >
                      Sprache
                    </span>
                  </label>
                </span>
              </li>
            </ul>
          </fieldset>
          <fieldset class="mt-16">
            <legend
              id="theme-description"
              th:text="#{user-settings.theme.title}"
              class="dark:text-zinc-100 border-none"
            >
              Theme
            </legend>
            <ul aria-describedby="theme-description" class="list-none m-0 p-0 grid grid-cols-2 xs:grid-cols-3 gap-4">
              <li th:each="selectableTheme : ${supportedThemes}">
                <label
                  class="overflow-hidden flex flex-col cursor-pointer rounded-lg md:rounded-xl border-2 border-zinc-200 dark:border-zinc-800 [&:has(:checked)]:border-blue-400"
                >
                  <img
                    src="#"
                    th:src="|/images/user-settings-theme-${#strings.toLowerCase(selectableTheme.value)}.png|"
                    width="323"
                    height="200"
                    class="w-full h-auto block"
                    alt=""
                  />
                  <span class="inline-flex items-center gap-4 p-4">
                    <input
                      type="radio"
                      name="theme"
                      th:value="${selectableTheme.value}"
                      th:checked="${userSettings.theme eq selectableTheme.value}"
                    />
                    <span th:text="${selectableTheme.label}" class=""> Theme Name </span>
                  </span>
                </label>
              </li>
            </ul>
          </fieldset>
          <noscript>
            <div class="mt-8">
              <button type="submit" class="button-main-green w-56" th:text="#{user-settings.form.submit}">
                Speichern
              </button>
            </div>
          </noscript>
        </form>
      </div>
    </main>
  </body>
</html>
