<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>avatar</title>
  </head>
  <body>
    <th:block th:fragment="avatar(url,niceName,width,height,personId)">
      <a
        th:if="${personId != null}"
        th:href="@{/web/person/__${personId}__/overview}"
        th:aria-label="#{nav.avatar-menu.overview.link(${niceName})}"
        class="tw-text-inherit"
        data-turbo-frame="_top"
      >
        <img
          th:if="${url != null}"
          src="#"
          th:src="${url}"
          alt=""
          class="gravatar gravatar--medium tw-rounded-full tw-block"
          th:classappend="${className}"
          th:width="${width == null ? '32px' : width}"
          th:height="${height == null ? '32px' : height}"
          th:with="fallbackAvatarUrl=@{/web/avatar (name=${niceName})}"
          th:data-fallback="${fallbackAvatarUrl}"
          is="uv-avatar"
        />
      </a>
      <img
        th:if="${url != null && personId == null}"
        src="#"
        th:src="${url}"
        alt=""
        class="gravatar gravatar--medium tw-rounded-full"
        th:classappend="${className}"
        th:width="${width == null ? '32px' : width}"
        th:height="${height == null ? '32px' : height}"
        th:with="fallbackAvatarUrl=@{/web/avatar (name=${niceName})}"
        th:data-fallback="${fallbackAvatarUrl}"
        is="uv-avatar"
      />
      <th:block th:if="${url == null}">
        <svg th:replace="icon/avatar-unknown::svg"></svg>
      </th:block>
    </th:block>

    <span
      th:fragment="avatar-bordered(url,niceName,width,height,personId)"
      class="tw-bg-gradient-to-br tw-from-blue-50 tw-to-blue-200 dark:tw-from-sky-800 dark:tw-to-zinc-800 tw-rounded-full tw-p-1 tw-inline-flex"
    >
      <img src="#" alt="" th:replace="~{::avatar(${url},${niceName},${width},${height},${personId})}" />
    </span>
  </body>
</html>
