<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>date-range</title>
  </head>
  <body>
    <th:block
      th:fragment="date-range(from, to)"
      th:with="pattern=${pattern == null ? #messages.msg('pattern.date') : pattern}"
      th:text="#{date.range(${#temporals.format(from, pattern)}, ${#temporals.format(to, pattern)})}"
    >
    </th:block>
    <th:block
      th:fragment="date-range-all(from, to)"
      th:with="dayLength=${dayLength == null ? null : #messages.msg(dayLength)}"
    >
      <th:block th:if="${from == to}">
        <th:block th:text="|${#messages.msg(from.dayOfWeek + '.short')}|"></th:block>,
        <th:block
          th:replace="~{fragments/date::date(date=${from}, pattern=${#messages.msg('pattern.date')})}"
        ></th:block
        >,
        <th:block th:if="${dayLength != null}" th:text="${dayLength}"></th:block>
      </th:block>
      <th:block th:if="${from != to}">
        <span
          th:text="#{date.range(${#temporals.format(from, 'E, dd.MM.yyyy')}, ${#temporals.format(to, 'E, dd.MM.yyyy')})}"
        ></span>
      </th:block>
    </th:block>
  </body>
</html>
