<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <title>Urlaubsverwaltung</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.css}" />
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script th:src="@{/lib/jquery/js/jquery-1.9.1.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/bootstrap/bootstrap.min.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/underscore-min.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/jquery/js/jquery-1.9.1.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/jquery/js/jquery-ui-1.10.3.custom.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/jquery/js/jquery.tablesorter.js}" type="text/javascript" ></script>
    <script th:src="@{/lib/bootstrap/bootstrap.min.js}" type="text/javascript" ></script>
    <script th:src="@{/js/custom.js}" type="text/javascript" ></script>
    <script th:src="@{/js/actions.js}" type="text/javascript" ></script>
    <script th:src="@{/js/back-button.js}" type="text/javascript" ></script>
    <script th:src="@{/js/feedback.js}" type="text/javascript" ></script>
    <script th:src="@{/js/sortable.js}" type="text/javascript" ></script>
    <script th:src="@{/js/textarea.js}" type="text/javascript" ></script>
    <script th:src="@{/js/popover.js}" type="text/javascript" ></script>
    <script th:src="@{/js/gravatar.js}" type="text/javascript" ></script>
</th:block>
</html>
