<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>hour-and-minute-input</title>
  </head>
  <body>
    <div
      th:fragment="hour-and-minute-input(hourFieldName, hoursTestId, minuteFieldName, minutesTestId)"
      class="flex items-start gap-3"
    >
      <span class="flex-1">
        <th:block
          th:replace="~{fragments/input-group :: input-group(~{::body-hours}, ~{::addon-hours}, ${#fields.hasErrors(hourFieldName)})}"
        >
          <th:block th:ref="addon-hours">
            <th:block th:text="#{hours.abbr}"></th:block>
          </th:block>
          <th:block th:ref="body-hours">
            <input
              th:id="${hourFieldName}"
              th:field="*{__${hourFieldName}__}"
              th:placeholder="#{input.hours.input.placeholder}"
              type="text"
              inputmode="numeric"
              autocomplete="off"
              th:data-test-id="${hoursTestId}"
            />
          </th:block>
        </th:block>
        <span
          th:if="${#fields.hasErrors(hourFieldName)}"
          class="uv-form__input-error"
          th:data-test-id="${hoursTestId} + '-error'"
        >
          <th:block th:errors="*{__${hourFieldName}__}">hours Error</th:block>
        </span>
      </span>
      <span class="flex-1">
        <th:block
          th:replace="~{fragments/input-group::input-group(~{::body-minutes}, ~{::addon-minutes}, ${#fields.hasErrors(minuteFieldName)})}"
        >
          <th:block th:ref="addon-minutes">
            <th:block th:text="#{minutes.abbr}"></th:block>
          </th:block>
          <th:block th:ref="body-minutes">
            <input
              th:id="${minuteFieldName}"
              th:field="*{__${minuteFieldName}__}"
              th:placeholder="#{input.minutes.input.placeholder}"
              type="text"
              inputmode="numeric"
              autocomplete="off"
              th:data-test-id="${minutesTestId}"
            />
          </th:block>
        </th:block>
        <span
          th:if="${#fields.hasErrors(minuteFieldName)}"
          class="uv-form__input-error"
          th:data-test-id="${minutesTestId} + '-error'"
        >
          <th:block th:errors="*{__${minuteFieldName}__}">minutes Error</th:block>
        </span>
      </span>
    </div>
  </body>
</html>
