<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>input-group</title>
  </head>
  <body>
    <span
      th:fragment="input-group(body, addon, hasError)"
      th:class="input-group"
      th:classappend="${hasError == true ? 'has-error' : ''}"
    >
      <th:block th:replace="${body}"></th:block>
      <span class="input-group-addon">
        <th:block th:replace="${addon}"></th:block>
      </span>
    </span>
  </body>
</html>
