<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Details Dropdown</title>
  </head>
  <body>
    <!-- button + popover dropdown menu-->
    <th:block th:fragment="popover-menu(summary, content)">
      <th:block
        th:replace="~{::_popover-dropdown(button=${summary}, dropdown=${content}, buttonClass='popover-button', popoverClass='popover-menu')}"
      ></th:block>
    </th:block>

    <!-- button that looks like a select + popover dropdown-->
    <th:block th:fragment="popover-select(summary, content)">
      <th:block
        th:replace="~{::_popover-dropdown(button=${summary}, dropdown=${content}, buttonClass='popover-button-select', popoverClass='popover-menu p-4', hideChevron=${false}, anchorSize=${'width'})}"
      ></th:block>
    </th:block>

    <th:block
      th:fragment="_popover-dropdown(button, dropdown)"
      th:with="id=${#strings.randomAlphanumeric(8)}, placement=${placement?:'bottom-end'}, hideChevron=${hideChevron?:true}, anchorSize=${anchorSize?:null}"
    >
      <button
        popovertarget="popover"
        th:popovertarget="${'popover_'+id}"
        th:id="${'button_'+id}"
        th:classappend="|${buttonClass}${hideChevron ? '' : ' pr-8'}|"
        class="relative"
      >
        <th:block th:replace="${button}" />
        <span
          th:if="${not hideChevron}"
          class="select-caret pointer-events-none absolute inset-y-0 right-0 flex items-center px-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            width="16"
            height="16"
            class="fill-current h-4 w-4"
          >
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </span>
      </button>
      <div
        popover
        id="popover"
        th:id="${'popover_'+id}"
        th:data-anchor="${'button_'+id}"
        th:data-anchor-placement="${placement}"
        th:data-anchor-size="${anchorSize}"
        class="popover"
        th:classappend="${popoverClass}"
      >
        <th:block th:replace="${dropdown}" />
      </div>
    </th:block>
  </body>
</html>
