<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Print</title>
  </head>
  <body>
    <button
      th:fragment="button"
      class="tw-hidden tw-ml-1 tw-pr-0 tw-bg-transparent icon-link tw-text-base tw-items-center lg:tw-flex print:tw-hidden"
      onclick="window.print(); return false;"
    >
      <svg th:replace="~{icon/printer::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
      <span th:text="#{action.print}"></span>
    </button>
  </body>
</html>
