<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Print</title>
  </head>
  <body>
    <button
      th:fragment="button"
      class="hidden ml-1 pr-0 bg-transparent icon-link text-base items-center lg:flex print:hidden"
      onclick="
        window.print();
        return false;
      "
    >
      <svg th:replace="~{icon/printer::svg(className='w-5 h-5')}"></svg>&nbsp;
      <span th:text="#{action.print}"></span>
    </button>
  </body>
</html>
