<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>section heading</title>
  </head>
  <body>
    <div
      th:fragment="privacy-box(body)"
      class="w-full bg-amber-50 dark:bg-amber-100 border border-amber-200 dark:border-0 p-4 flex flex-col sm:flex-row dark:rounded-sm"
    >
      <div class="mb-4 sm:mb-0 sm:mr-4 lg:mr-14 flex items-center sm:items-start">
        <svg th:replace="~{icon/info::svg(className='text-amber-300 dark:text-yellow-500 w-6 h-6 mr-2')}"></svg>
        <span class="text-black/75 dark:text-black font-bold text-sm sm:mt-px" th:text="#{privacy-box.title}">
          Privacy Box Title
        </span>
      </div>
      <div
        class="max-w-xl flex-1 text-sm lg:text-base text-black/80 dark:text-black dark:font-medium"
        th:insert="${body}"
      >
        Content Body
      </div>
    </div>
  </body>
</html>
