<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <title>section heading</title>
</head>
<body>

<div
  th:fragment="section-heading(headingBody, headingActions, headingBelow)"
  class="section-heading tw-mb-4 lg:tw-mb-6"
>
  <div class="tw-flex tw-flex-col-reverse sm:tw-flex-row tw-items-baseline tw-border-b">
    <div class="tw-flex-1 tw-text-2xl tw-leading-5 tw-flex tw-items-baseline tw-flex-wrap tw-space-x-1 tw-mt-4 sm:tw-mt-0 sm:tw-mr-4">
      <th:block th:replace="${headingBody}"></th:block>
    </div>
    <div class="tw-self-end sm:tw-self-auto print:tw-hidden tw-flex tw-gap-2" th:if="${headingActions}">
      <th:block th:replace="${headingActions}"></th:block>
    </div>
  </div>
  <div class="tw-mt-2" th:if="${headingBelow}">
    <th:block th:replace="${headingBelow}"></th:block>
  </div>
</div>

</body>
</html>
