<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>select</title>
  </head>
  <body>
    <span
      th:fragment="one(id, name, options)"
      class="tw-inline-block tw-relative tw-w-full"
      th:classappend="${className}"
      th:with="autosubmit=${autosubmit ?: ''}, testId=${testId ?: ''}"
    >
      <select
        th:id="${id}"
        th:name="${name}"
        class="form-control tw-appearance-none tw-pr-8"
        th:attrappend="data-auto-submit=${autosubmit}, data-test-id=${testId}, is=${is}"
      >
        <option th:replace="${options}"></option>
      </select>
      <span
        class="select-caret tw-pointer-events-none tw-absolute tw-inset-y-0 tw-right-0 tw-flex tw-items-center tw-px-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          width="16"
          height="16"
          class="tw-fill-current tw-h-4 tw-w-4"
        >
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </span>
    </span>

    <span
      class="select-with-addon tw-w-full tw-flex tw-items-center"
      th:fragment="one-with-addon(id, name, options, addon)"
    >
      <span th:replace="~{::one(${id}, ${name}, ${options})}"></span>
      <span class="tw-h-full tw-flex select-addon" th:insert="${addon}"></span>
    </span>

    <span
      th:fragment="multi(id, name, options)"
      class="tw-inline-block tw-relative tw-w-full"
      th:classappend="${className}"
      th:with="testId=${testId ?: ''}"
    >
      <select
        multiple
        th:id="${id}"
        th:name="${name}"
        class="form-control tw-appearance-none tw-pr-8"
        th:attrappend="data-test-id=${testId}"
      >
        <option th:replace="${options}"></option>
      </select>
      <span
        class="select-caret tw-pointer-events-none tw-absolute tw-inset-y-0 tw-right-0 tw-flex tw-items-center tw-px-2"
      >
        <svg th:replace="~{icon/more-horizontal::svg(className='tw-h-4 tw-w-4')}" />
      </span>
    </span>
  </body>
</html>
