<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>vacation-type-colors-script</title>
  </head>
  <body>
    <script th:fragment="vacation-type-colors-script" th:inline="javascript">
      window.uv.vacationTypes = window.uv.vacationTypes || {};
      window.uv.vacationTypes.colors = {};
      /*[# th:each="vacationTypeColor : ${vacationTypeColors}"]*/
      window.uv.vacationTypes.colors['[[${vacationTypeColor.id}]]'] = [[${vacationTypeColor.color}]];
      /*[/]*/
    </script>
  </body>
</html>
