<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>year-selector</title>
  </head>
  <body>
    <div
      th:fragment="year-selector(id, currentYear, hrefPrefix, selectedYear)"
      th:id="${id}"
      class="tw-leading-6 dropdown tw-inline-block"
    >
      <button
        id="year-selector-dropdown-button"
        data-toggle="dropdown"
        aria-expanded="false"
        class="tw-text-current tw-bg-transparent tw-p-0"
      >
        <span th:text="#{overview.year.selection.button(${selectedYear})}" class="tw-sr-only"></span>
        <span th:text="${selectedYear}" aria-hidden="true"></span>
        <svg th:replace="~{icon/chevron-down::svg(className='tw-ml-0.5 tw-opacity-70 tw-w-4 tw-h-4')}"></svg>
      </button>
      <ul class="dropdown-menu">
        <li th:each="i, status: ${#numbers.sequence(0, 10)}" th:with="selectableYear=${currentYear + 2 - status.count}">
          <a
            th:href="|${hrefPrefix}${selectableYear}|"
            th:attr="aria-current=${selectableYear == selectedYear ? 'page' : ''}"
          >
            <span th:text="#{overview.year.selection.item.link(${selectableYear})}" class="tw-sr-only"></span>
            <span th:text="${selectableYear}" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
