/**************************************************************************
  
  BUTTONS
  
**************************************************************************/

.btn {
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 0;
}

.btn-default {
    background-color: #F8F8F8;
}