/**************************************************************************

  OVERVIEW CALENDAR

**************************************************************************/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#datepicker {

    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: default;
    border-radius: 0;
    margin-bottom: 27px;
}

/* BUTTONS */

.datepicker-prev,
.datepicker-next {
    margin: 6px;
    border: none;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    color: #4d5258;
}

.datepicker-prev:hover,
.datepicker-next:hover {
    color: #1896db
}

/* MONTHS */

.datepicker-months-container {
    position: relative;
    /* months outside this div should not be visible */
    overflow: hidden;
    width: auto;
    height: auto;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: row;
}

/* MONTH */

.datepicker-month {
    width: auto;
    float: left;
    background-color: #FAFAFA;
}

.datepicker-month h3 {
    margin : 0;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    background-color: #7B7B7B;
    color: #FAFAFA;
}

.datepicker-table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 6px;
}

.datepicker-table th, .datepicker-table td {
    padding: 0;
    margin: 0;
    color: #7B7B7B;
}

.datepicker-table thead tr th {
    padding: .5em;
}

.datepicker-day {
    display: block;
    padding: .2em .6em;
    background-color: #F1F1F1;
    cursor: default;

    border: 1px solid #FFF;
    border-right-color : #DDD;
    border-bottom-color: #DDD;
}

/* NOTE: Order of the day classes is very important because of css classes overloading! */

/* must be the first special day, so other special days are overriding this */
.datepicker-day-past {
    border-color: #F5F5F5;
    background-color: #E5E5E5;
    opacity: 0.8;
}

.datepicker-day-public-holiday,
.datepicker-day-weekend {
    color: #31A354;
    background-color: #C9F5BB;
}

.datepicker-day-public-holiday.datepicker-day-half {
    background: linear-gradient(-36deg, #C9F5BB 50%, #F5F5F5 50%);
}

.datepicker-day-public-holiday.datepicker-day-half:hover {
    background: none;
    background-color: #DEEFA4;
}

.datepicker-day-public-holiday.datepicker-day-half.datepicker-day-past {
    background: linear-gradient(-36deg, #C9F5BB 50%, #E5E5E5 50%);
    border-color: #F5F5F5;
    border-right-color: #C9F5BB;
    border-bottom-color: #C9F5BB;
}

.datepicker-day-personal-holiday.datepicker-day-half {
    background: linear-gradient(-36deg, #FFEDA0 50%, #F5F5F5 50%);
}

.datepicker-day-personal-holiday.datepicker-day-half.datepicker-day-past {
    background: linear-gradient(-36deg, #FFEDA0 50%, #E5E5E5 50%);
    border-color: #F5F5F5;
    border-right-color: #C9F5BB;
    border-bottom-color: #C9F5BB;
}

.datepicker-day:not([data-datepicker-selectable=false]) {
    cursor: pointer;
}

.datepicker-day:not([data-datepicker-selectable=false]):hover {
    background-color: #DEEFA4;
}

.datepicker-day-today {
    color: #2C7FB8;
    background-color: #9ECAE1;
    border-color: #9ECAE1;
}

.datepicker-day-today.datepicker-day:not([data-datepicker-selectable=false]):hover,
.datepicker-day-today.datepicker-day-selected {
    color: #2C7FB8;
    background-color: #6FBADF;
    border-color: #9ECAE1;
}

.datepicker-day-selected,
.datepicker-day-selected.datepicker-day-half {
    /* !important to override :hover */
    background: none;
    background-color: #D5EF77;
    border-right-color: #D5EF77;
    border-bottom-color: #D5EF77;
}

.datepicker-day-personal-holiday {
    color: #F98E33;
    background-color: #FFEDA0;
}

.datepicker-day:not([data-datepicker-selectable=false]).datepicker-day-personal-holiday:hover {
    color: #F98E33;
    background-color: #FFDF5F;
}

.datepicker-day-personal-holiday.datepicker-day-half:hover {
    background: none;
    color: #F98E33;
    background-color: #FFDF5F;
}

.datepicker-day-selected.datepicker-day-personal-holiday,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-half {
    background: none;
    color: #F98E33;
    background-color: #FFDF5F;
    border-right-color: #FFDF5F;
    border-bottom-color: #FFDF5F;
}

.datepicker-day-sick-note {
    color: #E94B3B;
    background-color: #FFD4CF;
}

.datepicker-day:not([data-datepicker-selectable=false]).datepicker-day-sick-note:hover {
    color: #E94B3B;
    background-color: #FFB7AF;
}

/**************************************************************************

  DATEPICKER

**************************************************************************/

td.ui-datepicker-today a.ui-state-highlight {
    color: #2C7FB8;
    background: #9ECAE1 !important;
    border-color: #9ECAE1; 
}

td.holiday a {
    color: #F8B851 !important;
    background: #FFEDA0 !important;
}

td.notworkday a {
    color: #31A354 !important;
    background: #C9F5BB !important;
}

td.notworkday.halfworkday a {
    color: #31A354 !important;
    background: linear-gradient(-45deg, #C9F5BB 50%, #FAFAFA 50%) !important;
}

td.holiday.halfworkday a {
    color: #F8B851 !important;
    background: linear-gradient(-45deg, #FFEDA0 50%, #FAFAFA 50%) !important;
}

/**************************************************************************

  RESPONSIVNESS

**************************************************************************/

@media (max-width: 359px) {

    #datepicker {
        display: none;
    }

}