
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#datepicker {

    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center;

    height: 260px;

    cursor: default;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.1em;
    background: linear-gradient( 0deg, #EEE 75%, #FFF);
    border: 1px solid #DDD;
    border-radius: 0.3em;
}
.datepicker-prev,
.datepicker-next,
.datepicker-months-container {
    margin: .5em;
}

.datepicker-months-container {
    /* months are positioned absolute with 'left' property  */
    /* to enable smooth scrooling when user cicks prev/next */
    position: relative;

    /* months outside his div should not be visible */
    overflow: hidden;

    width: 1086px;
}

.datepicker-table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
}

.datepicker-table th, .datepicker-table td {
    padding: 0;
    margin: 0;
}

.datepicker-table thead tr th {
    padding: .5em;
}

.datepicker-prev,
.datepicker-next {
    border: none;
    padding: 0 0.7em;
    cursor: pointer;
    border-radius: .2em;
    background-color: transparent;
    transition: background-color .2s;
}

.datepicker-prev:hover,
.datepicker-next:hover {
    background-color: #DDD;
}

.datepicker-month {
    position: absolute;
    width: 256px;
    transition: left 500ms;
}

.datepicker-month:nth-child(2) {
    left: 0px;
}
.datepicker-month:nth-child(3) {
    left: 276px;
}
.datepicker-month:nth-child(4) {
    left: 552px;
}
.datepicker-month:nth-child(5) {
    left: 828px;
}

.datepicker-month-prev {
    left: -276px;
}
.datepicker-month-next {
    left: 1104px;
}

.datepicker-month h3 {
    margin : 0 0 .5em 0;
    padding: .2em 0;
    font-size: 1.1em;
    text-align: center;
    background-color: #ABC452;
    border-radius: .3em;
}

.datepicker-day {
    display: block;
    padding: .2em .8em;
    background-color: #FFF;
    cursor: default;

    border: 1px solid transparent;
    border-right-color : #DDD;
    border-bottom-color: #DDD;
}

/* must be the first special day, so other special days are overriding this */
.datepicker-day-past {
    border-color: transparent;
    background-color: #F5F5F5;
}

.datepicker-day-public-holiday {
    color: #31A354;
    background-color: #E5F5E0;
}

.datepicker-day-personal-holiday {
    color: #F8B851;
    background-color: #FFEDA0;
}



.datepicker-day:not([data-datepicker-selectable=false]) {
    cursor: pointer;
}

.datepicker-day:not([data-datepicker-selectable=false]):hover {
    background-color: #FDF5CE;
}

.datepicker-day-weekend {
    color: #31A354;
    background-color: #E5F5E0;
}

.datepicker-day-today {
    color: #2C7FB8;
    background-color: #9ECAE1;
}

.datepicker-day-selected {
    background-color: #ABC452 !important; /* override :hover */
    color: #000;
    border-right-color: #92AA3E;
    border-bottom-color: #92AA3E;
}
