/**************************************************************************
  BACKGROUNDS
**************************************************************************/

.bg-green {
    background-color: #23AE89;
    color: #FAFAFA;
}

.bg-red {
    background-color: #E94B3B;
    color: #FAFAFA;
}

.bg-blue {
    background-color: #449DD5;
    color: #FAFAFA;
}

.bg-orange {
    background-color: #F98E33;
    color: #FAFAFA;
}

.bg-yellow {
    background-color: #F1C40F;
    color: #FAFAFA;
}

/**************************************************************************
  TEXT COLORS
**************************************************************************/

.check {
    color: #43C83C !important;
}

/**************************************************************************
  COLORS FOR APPLICATION FOR LEAVE STATES
**************************************************************************/

.state.WAITING {
    color: #34495E !important;
}

.state.ALLOWED {
    color: #43C83C !important;
}

.state.REJECTED {
    color: #FA3031 !important;
}

.state.CANCELLED {
    color: #3B3B3B !important;
}

/**************************************************************************
  COLORS FOR SICK NOTE STATES
**************************************************************************/

.state.SICKNOTE,
.state.SICKNOTECHILD {
    color: #34495E;
}