/**************************************************************************

  JQUERY UI DATEPICKER

**************************************************************************/

/* HEADER */
.ui-datepicker-header {
  background-color: #7B7B7B !important;
  border-color: #7B7B7B !important;
  color: #FAFAFA;
  font-weight: normal;
}

/* CONTENT */
.ui-widget-content {
  background: #E5E5E5;
}

.ui-datepicker-header .ui-state-hover,
.ui-datepicker-header .ui-state-focus {
  background: none;
  background-color: #FAFAFA !important;
  border: none !important;
}

.ui-datepicker-calendar thead th {
  font-weight: normal;
}

.ui-datepicker-calendar td span,
.ui-datepicker-calendar td a {
  padding: 6px !important;
}

/* WORK DAY */
.ui-datepicker-calendar .ui-state-default {
  color: #6F6F6F !important;
  font-weight: normal !important;
  background: #F5F5F5;
  border: none !important;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable .ui-state-default {
  color: #AFAFAF !important;
}

/* TODAY */
.ui-datepicker-calendar td.ui-datepicker-today a.ui-state-highlight {
  background: #CFCFCF;
  color: #5F5F5F;
}

/* PUBLIC HOLIDAY / WEEKEND */
.ui-datepicker-calendar td.notworkday a {
  color: #FFF !important;
  background: #B5D0DF !important;
}

.ui-datepicker-calendar td.notworkday.halfworkday a {
  color: #6F6F6F !important;
  background: linear-gradient(-45deg, #B5D0DF 50%, #FAFAFA 50%) !important;
}

/* VACATION */
.ui-datepicker-calendar td.holiday a {
  color: #FF881F !important;
  background: #FFEDA0 !important;
}

.ui-datepicker-calendar td.holiday.halfworkday a {
  color: #FF881F !important;
  background: linear-gradient(-45deg, #FFEDA0 50%, #FAFAFA 50%) !important;
}

/* INTERACTION / HOVER */
.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar td.halfworkday a:hover {
  /*color: #5F5F5F !important;*/
  color: #FAFAFA !important;
  /*background: #BFBFBF !important;*/
  background: #7B7B7B !important;
}
