/**************************************************************************

  ERROR PAGE

**************************************************************************/

.error-container {
    padding: 0;
}

.error-code,
.error-description,
.error-btn {
    font-family: synyx, Verdana,sans-serif;
    text-align: center;
}

.error-code {
    font-size: 200px;
    background-color: #B2C900;
}

.error-description {
    font-size: 40px;
}

.error-btn {
    margin-top: 48px;
}

@media (max-width: 767px) {

    .error-code {
        font-size: 100px;
    }

    .error-description {
        font-size: 20px;
    }
}