/**************************************************************************

  404 PAGE

**************************************************************************/

.error-container {
    padding: 0;
}

.error-code,
.error-description,
.error-btn {
    font-family: PF Handbook Pro, sans-serif;
    text-align: center;
}

.error-code {
    font-size: 200px;
    background-color: #B2C900;
}

.error-description {
    font-size: 40px;
}

.error-btn {
    margin-top: 48px;
}

/**************************************************************************

  ERROR PAGE

**************************************************************************/

#errorpage-exception {
    margin-top: 80px;
}

#errorpage {
    background-image: url("../images/errorpage.png");
    background-repeat: no-repeat;
    min-height: 550px;
    margin-top: 80px;
}

#error-link {
    text-decoration: none;
    display: block;
    width: 99px;
    height: 44px;
    position: absolute;
    top: 41.5em;
    left: 35.75em;
}