/**************************************************************************

  CUSTOM FONT FAMILIES

**************************************************************************/

@font-face {
  font-family: 'synyx';
  src: url('../fonts/regulareot.eot');
  src: url('../fonts/regulareot.eot?#iefix') format('embedded-opentype'), url('../fonts/regularwoff.woff') format('woff'), url('../fonts/regularttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}