/**************************************************************************

  REQUIRED FORM FIELDS

**************************************************************************/

.form-group.is-required > label:after {
  content: "*";
}

/**************************************************************************

  HORIZONTAL FORM

**************************************************************************/

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .halves {
    width: 45%
}

.form-horizontal .thirds {
    width: 30%;
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/


.error {
    color:#B94A48;
}

input.error,
textarea.error {
    border-color: #B94A48;
}

.info {
    color: #3A87AD;
}

/**************************************************************************

  APPLICATION FOR LEAVE DETAILS FORM

**************************************************************************/

.action-form {
    /* will be displayed when needed by javascript */
    display: none;
}

/**************************************************************************

  SINGLE COLUMN FORM

**************************************************************************/

.form-section .form-group:last-child,
.form-section .btn:last-child {
  margin-bottom: 36px;
}

.form-section .help-block {
  margin-top: 0;
}


/**************************************************************************

  PERSON FORM

**************************************************************************/

.person--role {
    border-bottom: 1px dotted #d5d5d5;
}

.person--role:last-of-type {
    border-bottom: 0;
}

.person--mail-notification {
    margin-left: 24px;
    padding-bottom: 6px;
}

/**************************************************************************

  DEPARTMENT FORM

**************************************************************************/

.department--members {
  border: 1px solid #DDD;
  border-radius: 4px;
  overflow: auto;
  max-height: 400px;
  width: 100%;
}

.department--member {
  border-bottom: 1px solid #DDD;
  display: table;
  width: 100%;
}

.department--member.is-assigned {
  background-color: #E8EFD1;
}

.department--member:last-child {
  border-bottom: none;
}

.department--member-image,
.department--member-assignment {
  padding: 12px;
  display: table-cell;
  vertical-align: middle;
}

.department--member-image {
  width: 1px;
  padding-left: 24px;
}

.department--member-info {
  font-size: 120%;
  margin: 0;
}

.department--member-assignment > .checkbox > label {
  display: block;
}

.department--member-assignment > .checkbox > label > input[type="checkbox"] {
  margin-top: 2px;
}
