/**************************************************************************

  HORIZONTAL FORM

**************************************************************************/

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .halves {
    width: 45%
}

.form-horizontal .thirds {
    width: 30%;
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/


.error {
    color:#B94A48;
}

input.error,
textarea.error {
    border-color: #B94A48;
}

.info {
    color: #3A87AD;
}

/**************************************************************************

  APPLICATION FOR LEAVE FORM

**************************************************************************/

.special-leave--info-modal {
    vertical-align: middle;
    line-height: 32px
}

.special-leave--info-modal:hover {
    cursor: pointer;
}

/**************************************************************************

  APPLICATION FOR LEAVE DETAILS FORM

**************************************************************************/

.action-form {
    /* will be displayed when needed by javascript */
    display: none;
}

/**************************************************************************

  PERSON FORM

**************************************************************************/

.person--form-part .form-group:last-child,
.person--form-part .btn:last-child {
  margin-bottom: 54px;
}

.person--form-part .help-block {
  margin-top: 0;
}

.person--role {
    border-bottom: 1px dotted #d5d5d5;
}

.person--role:last-of-type {
    border-bottom: 0;
}

.person--mail-notification {
    margin-left: 24px;
    padding-bottom: 6px;
}

/**************************************************************************

  DEPARTMENT FORM

**************************************************************************/

.department--members {
  border: 1px solid #DDD;
  border-radius: 4px;
  overflow: auto;
  max-height: 200px;
  width: 100%;
}

.department--members .checkbox {
  padding: 0;
}

.department--members .checkbox > label {
  display: block;
  padding: 12px 0 12px 36px;
  border-bottom: 1px solid #DDD;
}

.department--members .checkbox > label:hover {
  background-color: #F5F5F5;
}

.department--members .checkbox > label > img {
  margin-left: 6px;
  margin-right: 6px;
}

.department--members .checkbox:last-child > label {
  border-bottom: none;
}
