/**************************************************************************

  HORIZONTAL FORM

**************************************************************************/

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .halves {
    width: 45%
}

.form-horizontal .thirds {
    width: 30%;
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/


.error {
    color:#B94A48;
}

input.error,
textarea.error {
    border-color: #B94A48;
}

.info {
    color: #3A87AD;
}

/**************************************************************************

  APPLICATION FOR LEAVE FORM

**************************************************************************/

.special-leave--info-modal {
    vertical-align: middle;
    line-height: 32px
}

.special-leave--info-modal:hover {
    cursor: pointer;
}

/**************************************************************************

  APPLICATION FOR LEAVE DETAILS FORM

**************************************************************************/

.action-form {
    /* will be displayed when needed by javascript */
    display: none;
}
