/**************************************************************************
  
  LEGEND
  
**************************************************************************/

legend {
    border-color: #D5D5D5;
    margin-bottom: 21px;
}

.header legend p,
.legend-dropdown {
  display: inline-block;
}

.header legend p,
.legend-dropdown > a
{
    font-family: PF Handbook Pro, sans-serif;
    font-size: 30px;
    color: #516310;
    margin-bottom: 0;
}

/* STYLING FOR XS SCREENS */
@media (max-width: 767px) {
    .header legend p,
    .legend-dropdown > a {
        font-size: 25px;
    }
    h4 {
        font-size: 16px;
    }
}