/**************************************************************************
  
  LEGEND
  
**************************************************************************/

 /* TODO: remove this */
legend.sticky {
    margin-bottom: 12px;
}

legend {
    border-color: #D5D5D5;
    margin-bottom: 27px;
}

.header legend p {
    font-family: PF Handbook Pro, sans-serif;
    font-size: 30px;
    color: #516310;
    display: inline-block;
    margin-bottom: 0;
}