/**************************************************************************
  
  COMMON STYLING
  
**************************************************************************/

body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
}

footer {
    color: #aaa;
    font-size: 11px;
    text-align: center;
}

.content {
    margin-top: 72px;
}

a {
    color: black;
}

a:hover {
    color: #0083CC;
}

.is-centered {
    text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
}

[class^="grid-"], [class*=" grid-"] {
    margin-bottom: 30px;
}

/**************************************************************************
  
  HEADER
  
**************************************************************************/

.navbar [class^="grid-"], [class*=" grid-"] {
    margin-bottom: 0;
}

.navbar .nav {
    float: right;
    margin:0;
}

.navbar .nav > li > a {
    color: #555555;
    text-shadow: none;
    padding: 15px 18px 11px;
    text-align: right;
    font-size: 1.1em;
}

.navbar .nav > li > a:hover {
    color: #0083CC;
    cursor: pointer;
}

.navbar .brand {
    color: #516310;
    background: url("../images/synyx-logo-2.jpg") no-repeat 10% 50%;
    padding: 12px 50px 12px;
    font-size: 1.75em;
}

.navbar-inner {
    background-image: none;
    background-color: #F8F8F8;
    min-height: 45px;
}

.navbar .dropdown-menu:after, .navbar .dropdown-menu:before {
    left: 20px;
}

.navbar .dropdown.open .caret, .navbar .dropdown .caret {
    border-bottom-color: #555555 !important;
    border-top-color: #555555 !important;
}

.navbar .dropdown .caret:hover, .navbar .dropdown:hover .caret {
    border-bottom-color: #0083CC !important;
    border-top-color: #0083CC !important;
}

ul.icons-on-top [class^="icon-"], ul.icons-on-top [class*=" icon-"] {
    vertical-align: top !important;
    vertical-align: top !important;
}

b.waiting-icon {
    font-size: 15px;
}

.dropdown-menu li a:hover b.waiting-icon {
    color: #333333 !important;
}


/**************************************************************************
  
  TABLES
  
**************************************************************************/

.data-table {
    width: 100%;
    border: 1px solid #EAF2D3;
    font-size: 13px;
}

.data-table tr:hover {
    cursor: pointer;
}

.data-table th {
    background-color: #ABC452;
    padding: 6px;
}

.data-table td {
    padding: 6px; 
}

/* zebra table with for each loop status */
tr.odd {
    background-color: #EAF2D3
}

tr.even {
    background-color: #FFFFFF
}

/* zebra table with jquery */
tr.alt td {
    background: #EAF2D3
}

/* mouse over rows */
tr.over td {
    background: #DEEFA4;
}

tr.active {
    color: inherit;
}

tr.inactive td {
    color: lightgrey !important;
}

.tablesorter th, .tablesorter td {
    border: 1px solid #d7d7d7;
}

th.tablesorter-headerDesc, th.tablesorter-headerAsc {
    background-color: #99AF4C !important;
}

/**************************************************************************
  
  BUTTONS
  
**************************************************************************/

.btn-right {
    float: right;
}

.btn-left {
    float: left;
}

.btn-right,
.btn-left {
    margin-left: 6px;
    margin-bottom: 6px;
}

button.btn, a.btn, input.btn {
    font-size: 14px;
}


/**************************************************************************
  
  DETAILS TABLE
  
**************************************************************************/

.detail-table td, .detail-table th {
    padding: 0.55em;
}

.detail-table th {
    text-align: left;
}

.detail-table {
    width: 100%;
    border: 1px solid #EAF2D3;
    font-size: 1.05em;
    margin-right:1em;
}

/**************************************************************************
  
  OVERVIEW SPECIFIC STYLING RULES
  
**************************************************************************/

.overview--user-pic {
    padding: 3px;
}

/**************************************************************************
  
  LEGEND
  
**************************************************************************/

legend.sticky {
    margin-bottom: 12px;
}

.header legend p {
    display: inline-block;
    color: #516310;
}

legend .btn {
    margin-top: 6px;
}

legend .dropdown-menu {
    font-size: 12px;
    max-height: 160px;
    overflow-y: auto;
}

/**************************************************************************
  
  ALLOWING / REJECTING / etc. an application
  
**************************************************************************/

.confirm {
    padding: 1em 1em 1em 2.5em;
    margin-top: 1em;
}

/**************************************************************************
  
  ERROR PAGE
  
**************************************************************************/

#errorpage-exception {
    margin-top: 80px;  
}

#errorpage {
    background-image: url("../images/errorpage.png");
    background-repeat: no-repeat;
    min-height: 550px;
    margin-top: 80px;
}

#error-link {
    text-decoration: none;
    display: block;
    width: 99px;
    height: 44px;
    position: absolute;
    top: 41.5em;
    left: 35.75em;
}

/**************************************************************************
  
  RESPONSIVENESS
  
**************************************************************************/

/* Narrow desktop */
@media all and (max-width: 960px) {
    /* Ok */
}

/* Tablet */
@media all and (max-width: 768px) {
    /* Ok */
}

/* Small Tablet */
@media all and (max-width: 600px) {
    /* Ok */
}

/* Mobile */
@media all and (max-width: 480px) {
    /* Ok */
}
