@import "colors.css";
@import "navbar.css";
@import "calendar.css";
@import "form.css";
@import "button.css";
@import "box.css";
@import "legend.css";
@import "table.css";
@import "states.css";
@import "print.css";
@import "error.css";

/**************************************************************************
  
  COMMON STYLING
  
**************************************************************************/

body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    color: #444444;
}

.content {
    /* = height of navbar (50px) plus margin-bottom of row (27px) */
    margin-top: 77px;
}

hr {
    border-color: #D5D5D5;
}

footer {
    color: #aaa;
    font-size: 11px;
    text-align: center;
}

.fa-action {
    color: #1896DB;
    font-size: 25px;
}

.fa-action:hover {
    color: #59AB02 !important;
    text-decoration: none;
}

.is-centered {
    text-align: center;
}

.is-inline-block {
    display: inline-block;
}

.is-sticky {
    margin:  0;
}