/**************************************************************************

  CUSTOM OVERRIDES FOR JQUERY MULTISELECT PLUGIN

**************************************************************************/

.ms-container {
  width: 100%;
  height: 100%;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  color: #555;
  background-color: #DEEFA4;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 6px 12px;
}

/* STYLING FOR XS SCREENS */
@media (max-width: 767px) {

  .ms-container .ms-selectable,
  .ms-container .ms-selection {
    width: 100%;
  }

  .ms-container .ms-selectable {
    margin-bottom: 30px;
  }

}
