/**************************************************************************

  CUSTOM OVERRIDES FOR JQUERY MULTISELECT PLUGIN

**************************************************************************/

.ms-container {
  width: 100%;
  height: 100%;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  color: #555;
  background-color: #DEEFA4;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 6px 12px;
}
