/**************************************************************************
  
  NAVIGATION BAR
  
**************************************************************************/

.navbar {
    font-size: 14px;
    background-image: none;
    background-color: #F5F5F5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar a {
    color: #4d5258 !important;
}

.navbar a.navbar-brand {
    font-family: PF Handbook Pro, sans-serif;
    font-size: 25px;
    color: #516310 !important;
}

.navbar a:hover {
    color: #59AB02 !important;
}

/* SHOW MOBILE NAVBAR < 991 px SCREEN SIZE */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-nav {
        float: none !important;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* STYLING FOR XS SCREENS */
@media (max-width: 767px) {

    .navbar a.navbar-brand {
        font-family: Verdana, sans-serif;
        font-size: 20px;
    }

}
