/**************************************************************************
  
  NAVIGATION BAR
  
**************************************************************************/

.navbar {
    font-size: 14px;
    background-image: none;
    background-color: #F5F5F5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navbar a {
    color: #4d5258 !important;
}

.navbar a.navbar-brand {
    font-family: PF Handbook Pro, sans-serif;
    font-size: 25px;
    color: #516310 !important;
}

.navbar a:hover {
    color: #59AB02 !important;
}