/**************************************************************************

  PRINT STYLING RULES

**************************************************************************/

@media print {
    .btn,
    .btn-group,
    .navbar,
    #datepicker,
    tr.inactive,
    .alert {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    .fa {
        color: black !important;
    }
}