/**************************************************************************

  PRINT STYLING RULES

**************************************************************************/

@media print {
    .btn,
    .btn-group,
    .navbar,
    #datepicker,
    tr.inactive,
    .alert {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    .fa {
        color: black !important;
    }

    /* Do not show sort icons in tables */
    th.sortable-field .tablesorter-header-inner:after {
        content: "";
    }
}

.print-info--only-landscape {
    display: none;
}

@media print and (orientation:portrait) {
    .print-info--only-landscape {
         display: block;
    }
    .print--only-landscape {
        display: none;
    }
}