/**************************************************************************
  
  TABLES
  
**************************************************************************/

/**************************************************************************
  ACTIVE/INACTIVE ROWS
**************************************************************************/

tr.active {
    /* OK */
}

tr.inactive td > * {
    opacity: 0.6;
}

/**************************************************************************
  LIST TABLE
**************************************************************************/

.list-table {
    width: 100%;
    font-size: 12px;
    margin-bottom: 27px;
}

.list-table tbody {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.list-table td {
    vertical-align: middle !important;
    background-color: #FAFAFA;
    padding: 12px;
    border-top: 1px solid #DDDDDD;
}

.list-table tr:last-child td {
    border-bottom: 1px solid #DDDDDD;
}
.list-table th {
    padding: 8px;
}

/**************************************************************************
  STRIPED TABLE
**************************************************************************/

.striped-table tr:nth-child(even) td {
    background-color: #DFDFDF;
}

/**************************************************************************
  SELECTABLE TABLE
**************************************************************************/

.selectable-table tr:hover td {
    cursor: pointer;
    background-color: #DEEFA4;
}

/**************************************************************************
  TABLE SORTER
**************************************************************************/

.tablesorter-header {
    color: #1896DB;
}

.tablesorter-header:hover {
    cursor: pointer;
    color: #59AB02;
}

th.sortable-field .tablesorter-header-inner:after {
    font-family: FontAwesome;
    content: " \f0dc";
}

th.tablesorter-headerDesc .tablesorter-header-inner:after,
th.tablesorter-headerAsc .tablesorter-header-inner:after {
    font-family: FontAwesome;
}

th.tablesorter-headerDesc .tablesorter-header-inner:after {
    content: " \f0dd";
}

th.tablesorter-headerAsc .tablesorter-header-inner:after {
    content: " \f0de";
}