/**************************************************************************
  
  TABLES
  
**************************************************************************/

/**************************************************************************
  ACTIVE/INACTIVE ROWS
**************************************************************************/

tr.active {
    /* OK */
}

tr.inactive td > * {
    opacity: 0.6;
}

/**************************************************************************
  LIST TABLE
**************************************************************************/

.list-table {
    width: 100%;
    font-size: 12px;
    margin-bottom: 27px;
}

.list-table tbody {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.list-table td {
    vertical-align: middle !important;
    background-color: #FAFAFA;
    padding: 12px;
    border-top: 1px solid #DDDDDD;
}

.list-table tr:last-child td {
    border-bottom: 1px solid #DDDDDD;
}

/**************************************************************************
  STRIPED TABLE
**************************************************************************/

.striped-table tr:nth-child(even) td {
    background-color: #DFDFDF;
}

/**************************************************************************
  TABLE SORTER
**************************************************************************/

th.tablesorter-headerDesc, th.tablesorter-headerAsc {
    background-color: #99AF4C !important;
}