/**************************************************************************
  
  TABLES
  
**************************************************************************/

/**************************************************************************
  ACTIVE/INACTIVE ROWS
**************************************************************************/

tr.active {
    color: inherit;
}

tr.inactive td {
    /*color: #777777 !important;*/
}

tr.inactive td > * {
    opacity: 0.6;
}

/**************************************************************************
  LIST TABLE
**************************************************************************/

.list-table {
    width: 100%;
    font-size: 12px;
    margin-bottom: 27px;
}

.list-table tbody {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.list-table td {
    vertical-align: middle !important;
    background-color: #FAFAFA;
    padding: 12px;
    border-top: 1px solid #DDDDDD;
}

.list-table tr:last-child td {
    border-bottom: 1px solid #DDDDDD;
}

/* VACATION TYPES IN TABLE */

.list-table .HOLIDAY {
    /* OK */
}

.list-table .SPECIALLEAVE,
.list-table .UNPAIDLEAVE,
.list-table .OVERTIME {
    font-style: italic;
}

/* VACATION AND SICK NOTE STATES IN LIST TABLE */

.list-table .state {
    font-size: 25px;
}

/**************************************************************************
  DATA TABLE
**************************************************************************/

.data-table {
    width: 100%;
    border: 1px solid #EAF2D3;
    font-size: 13px;
}

.data-table tr:hover {
    cursor: pointer;
}

.data-table th {
    background-color: #ABC452;
    padding: 6px;
    text-align: center;
}

.data-table td {
    padding: 6px;
}

/**************************************************************************
  ZEBRA TABLE
**************************************************************************/

/* zebra table with for each loop status */
tr.odd {
    background-color: #EAF2D3
}

tr.even {
    background-color: #FFFFFF
}

/* zebra table with jquery */
tr.alt td {
    background: #EAF2D3
}

/* mouse over rows */
tr.over td {
    background: #DEEFA4;
}

/**************************************************************************
  TABLE SORTER
**************************************************************************/

th.tablesorter-headerDesc, th.tablesorter-headerAsc {
    background-color: #99AF4C !important;
}