.vacationOverview-day {
  background: #e5e5e5;
  color: #6F6F6F;
}

.vacationOverview-day-public-holiday,
.vacationOverview-day-weekend {
  color: #FFF;
  background: #B5D0DF;
}

.vacationOverview-legend-colorbox {
  width: 15px;
}

.vacationOverview-legend-text {
  font-size: 12px;
  padding: 2px 10px;
}

.vacationOverview-day-personal-holiday-status-ALLOWED {
  background: #FFEDA0;
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning {
  background: linear-gradient(90deg, #FFEDA0 50%, #E5E5E5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(-90deg, #FFEDA0 50%, #E5E5E5 50%);
}

.vacationOverview-day-personal-holiday-status-WAITING {
  background: #FFE165;
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning {
  background: linear-gradient(90deg, #FFE165 50%, #E5E5E5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(-90deg, #FFE165 50%, #E5E5E5 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: #FFEDA0;
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: #FFE165;
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(90deg, #FFEDA0 50%, #FFE165 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(90deg, #FFE165 50%, #FFEDA0 50%);
}

.vacationOverview-day-sick-note {
  background: #FFC5BF;
}

.vacationOverview-day-sick-note-half-day-morning {
  background: linear-gradient(90deg, #FFC5BF 50%, #E5E5E5 50%);
}

.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(-90deg, #FFC5BF 50%, #E5E5E5 50%);
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-sick-note-half-day-noon {
  background: #FFC5BF;
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-WAITING-noon {
  background: linear-gradient(90deg, #FFC5BF 50%, #FFE165 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-WAITING-morning.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(90deg, #FFE165 50%, #FFC5BF 50%);
}

.vacationOverview-day-sick-note-half-day-morning.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-noon {
  background: linear-gradient(90deg, #FFC5BF 50%, #FFEDA0 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED-morning.vacationOverview-day-sick-note-half-day-noon {
  background: linear-gradient(90deg, #FFEDA0 50%, #FFC5BF 50%);
}

.vacationOverview-day-item {
  padding: 12px;
  cursor: default;
  color: #6F6F6F;
}

.list-table th {
  border: 1px solid #FFF;
}

.vacationOverviewLegend {
  margin-top: 15px;
}

.vacationOverview-table {
  font-size: 12px;
}

.vacationOverview-table td {
  border: 1px solid #FFF;
}

.vacationOverview-tbody tbody {
  border: 1px solid #000;
}
