<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::applications-heading-body}, ~{::applications-heading-actions})}"
      >
        <th:block th:ref="applications-heading-body">
          <h2 id="overtime" th:text="#{applications.title}">Abwesenheiten</h2>
        </th:block>
        <th:block th:ref="applications-heading-actions">
          <div class="ml-auto flex flex-col @2xl/main:flex-row @2xl/main:gap-2">
            <a
              class="icon-link flex items-center flex-row-reverse @2xl/main:flex-row"
              href="#"
              th:href="@{/web/persons/me/applications (year=${selectedYear})}"
            >
              <svg th:replace="~{icon/sun::svg(className='w-5 h-5')}"></svg>&nbsp;
              <span th:text="#{action.applications.list}"></span>
            </a>
          </div>
        </th:block>
      </div>

      <div class="flex flex-wrap space-y-8 @5xl/main:space-y-0">
        <div class="w-full @5xl/main:w-1/3"></div>
        <div class="w-full @2xl/main:w-1/2 @5xl/main:w-1/3">
          <div th:replace="~{fragments/box::box-with-icon(~{::holidays-sum-box-icon}, ~{::holidays-sum-box-body})}">
            <th:block th:ref="holidays-sum-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::holidays-sum-box-icon-rounded}, className='bg-amber-300 text-white dark:bg-amber-400 dark:text-zinc-900')}"
              >
                <th:block th:ref="holidays-sum-box-icon-rounded">
                  <svg th:replace="~{icon/sun::svg(className='w-8 h-8')}" />
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="holidays-sum-box-body">
              <span class="text-sm text-black/75 dark:text-zinc-300" th:text="#{overview.vacations.holidayLeave.1}">
                Es wurden beantragt
              </span>
              <span
                class="my-1 text-lg font-medium"
                th:text="#{overview.vacations.holidayLeave.2(${usedDaysOverview.holidayDays.sum})}"
              >
                18,5 Tage Erholungsurlaub
              </span>
              <span class="text-sm text-black/75 dark:text-zinc-300">
                <span class="flex items-center">
                  <span class="text-emerald-500 flex items-center">
                    <svg th:replace="~{icon/check::svg(className='w-5 h-5')}"></svg>
                  </span>
                  <span
                    th:text="#{overview.vacations.holidayLeaveAllowed(${usedDaysOverview.holidayDaysAllowed.sum})}"
                  ></span>
                </span>
              </span>
            </th:block>
          </div>
        </div>
        <div class="w-full @2xl/main:w-1/2 @5xl/main:w-1/3">
          <div th:replace="~{fragments/box::box-with-icon(~{::other-days-sum-box-icon}, ~{::other-days-sum-box-body})}">
            <th:block th:ref="other-days-sum-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::other-days-sum-box-icon-rounded}, className='bg-amber-300 text-white dark:bg-amber-400 dark:text-zinc-900')}"
              >
                <th:block th:ref="other-days-sum-box-icon-rounded">
                  <svg th:replace="~{icon/flag::svg(className='w-8 h-8')}" />
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="other-days-sum-box-body">
              <span class="text-sm text-black/75 dark:text-zinc-300" th:text="#{overview.vacations.otherLeave.1}">
                Es wurden beantragt
              </span>
              <span
                class="my-1 text-lg font-medium"
                th:text="#{overview.vacations.otherLeave.2(${usedDaysOverview.otherDays.sum})}"
              >
                2,5 Tage andere Abwesenheiten
              </span>
              <span class="text-sm text-black/75 dark:text-zinc-300">
                <span class="flex items-center">
                  <span class="text-emerald-500 flex items-center">
                    <svg th:replace="~{icon/check::svg(className='w-5 h-5')}"></svg>
                  </span>
                  <span
                    th:text="#{overview.vacations.otherLeaveAllowed(${usedDaysOverview.otherDaysAllowed.sum})}"
                  ></span>
                </span>
              </span>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
