<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::absences-heading-body}, ~{::absences-heading-actions})}"
      >
        <th:block th:ref="absences-heading-body">
          <h2 id="anchorSickNotes" th:text="#{sicknotes.title}">Krankmeldungen</h2>
        </th:block>
        <th:block th:ref="absences-heading-actions">
          <div class="tw-flex tw-flex-col sm:tw-flex-row">
            <a
              th:if="${canAddSickNoteAnotherUser}"
              class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
              href="#"
              th:href="@{/web/sicknote/new (person=${person.id})}"
            >
              <svg th:replace="~{icon/plus-circle::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
              <span th:text="#{action.apply.sicknote}"></span>
            </a>
          </div>
        </th:block>
      </div>

      <div class="tw-mb-4 lg:tw-mb-6">
        <div class="tw-flex tw-flex-wrap tw-space-y-8 sm:tw-space-y-0">
          <div class="tw-w-full sm:tw-w-1/2">
            <div th:replace="~{fragments/box::box-with-icon(~{::sick-days-box-icon}, ~{::sick-days-box-body})}">
              <th:block th:ref="sick-days-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::sick-days-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-600 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="sick-days-box-icon-rounded">
                    <svg th:replace="~{icon/medkit::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="sick-days-box-body">
                <span
                  class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  th:text="#{overview.sicknotes.sickdays.1}"
                >
                  Es bestehen
                </span>
                <span
                  class="tw-my-1 tw-text-lg tw-font-medium"
                  th:text="#{overview.sicknotes.sickdays.2(${sickDaysOverview.sickDays.days['TOTAL']})}"
                >
                  5,5 Krankheitstage
                </span>
                <span
                  class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                >
                  <span class="tw-flex tw-items-center">
                    <span class="tw-text-emerald-500 tw-flex tw-items-center">
                      <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5')}"></svg>
                    </span>
                    <span
                      th:text="#{overview.sicknotes.sickdays.aub(${sickDaysOverview.sickDays.days['WITH_AUB']})}"
                    ></span>
                  </span>
                </span>
              </th:block>
            </div>
          </div>
          <div class="tw-w-full sm:tw-w-1/2">
            <div
              th:replace="~{fragments/box::box-with-icon(~{::child-sick-days-box-icon}, ~{::child-sick-days-box-body})}"
            >
              <th:block th:ref="child-sick-days-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::child-sick-days-box-icon-rounded}, className='tw-bg-red-500 tw-text-white dark:tw-bg-red-600 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="child-sick-days-box-icon-rounded">
                    <svg th:replace="~{icon/child::svg(className='tw-w-8 tw-h-8')}"></svg>
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="child-sick-days-box-body">
                <span
                  class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  th:text="#{overview.sicknotes.sickdays.child.1}"
                >
                  Es bestehen
                </span>
                <span
                  class="tw-my-1 tw-text-lg tw-font-medium"
                  th:text="#{overview.sicknotes.sickdays.child.2(${sickDaysOverview.childSickDays.days['TOTAL']})}"
                >
                  3.0 Kind-Krankheitstage
                </span>
                <span
                  class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                >
                  <span class="tw-flex tw-items-center">
                    <span class="tw-text-emerald-500 tw-flex tw-items-center">
                      <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5')}"></svg>
                    </span>
                    <span
                      th:text="#{overview.sicknotes.sickdays.aub(${sickDaysOverview.childSickDays.days['WITH_AUB']})}"
                    ></span>
                  </span>
                </span>
              </th:block>
            </div>
          </div>
        </div>
      </div>

      <table class="list-table selectable-table tw-text-sm">
        <tbody>
          <tr
            th:each="sickNote,loopStatus : ${sickNotes}"
            th:class="${(sickNote.status.name == 'ACTIVE' || sickNote.status.name == 'SUBMITTED') ? 'active' : 'inactive'}"
            th:onclick="|navigate('/web/sicknote/${sickNote.id}');|"
            th:with="sickNoteStatusNameI18n=${#messages.msg('sicknote.status.' + sickNote.status.name)}"
          >
            <td class="tw-hidden print:tw-table-cell">
              <th:block th:text="${sickNoteStatusNameI18n}"></th:block>
            </td>
            <td class="tw-py-6 absence-type_color-box-parent">
              <div
                class="absence-type_color-box"
                th:classappend="|
                  ${sickNote.status.name == 'SUBMITTED' ? 'absence-type_color-box-waiting' : ''}
                  ${sickNote.status.name == 'ACTIVE' ? 'absence-type_color-box-allowed' : ''}
                  ${sickNote.status.name == 'CONVERTED_TO_VACATION' ? 'absence-type_color-box-cancelled' : ''}
                  ${sickNote.status.name == 'CANCELLED' ? 'absence-type_color-box-cancelled' : ''}
                  |"
                th:styleappend="'--absence-bar-color: var(--sick-note-color);'"
                th:title="${sickNoteStatusNameI18n}"
              >
                &nbsp;
              </div>
            </td>
            <td class="is-centered print:tw-hidden state ${sickNote.status}">
              <th:block th:if="${sickNote.sickNoteType.category.name == 'SICK_NOTE_CHILD'}">
                <svg th:replace="~{icon/child::svg(className='tw-w-6 tw-h-6')}"></svg>
              </th:block>
              <th:block th:if="${sickNote.sickNoteType.category.name != 'SICK_NOTE_CHILD'}">
                <svg th:replace="~{icon/medkit::svg(className='tw-w-6 tw-h-6')}"></svg>
              </th:block>
            </td>
            <td class="tw-py-6">
              <a
                th:href="@{/web/sicknote/{sickNote} (sickNote=${sickNote.id})}"
                class="print:no-link hover:tw-no-underline tw-group"
              >
                <span
                  class="tw-block tw-mb-1 tw-text-lg group-hover:tw-underline group-focus:tw-underline"
                  th:text="${#messages.msg(sickNote.sickNoteType.messageKey)}"
                ></span>
                <span class="tw-flex tw-flex-col lg:tw-flex-row tw-text-[#444444] dark:tw-text-zinc-200">
                  <th:block th:if="${sickNote.startDate == sickNote.endDate}">
                    <th:block th:text="|${#messages.msg(sickNote.weekDayOfStartDate + '.short')}|"></th:block>,
                    <th:block th:replace="~{fragments/date::date(${sickNote.startDate})}"></th:block>,&nbsp;
                    <th:block th:text="${#messages.msg(sickNote.dayLength)}"></th:block>
                  </th:block>
                  <th:block th:if="${sickNote.startDate != sickNote.endDate}">
                    <span
                      th:replace="~{fragments/date-range::date-range(from=${sickNote.startDate}, to=${sickNote.endDate}, pattern='E, dd.MM.yyyy')}"
                    ></span>
                  </th:block>
                </span>
                <span
                  th:if="${sickNote.aubPresent}"
                  class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                >
                  <span class="tw-flex tw-items-center">
                    <span class="tw-text-emerald-500 tw-flex tw-items-center">
                      <svg th:replace="~{icon/check::svg(className='tw-w-4 tw-h-4')}"></svg>
                    </span>
                    &nbsp;
                    <span th:text="#{overview.sicknotes.sickdays.aub(${sickNote.workDaysWithAub})}"></span>
                  </span>
                </span>
              </a>
            </td>
            <td class="is-centered">
              <span th:text="#{overview.sicknotes.sickdays.days(${sickNote.workDays})}"></span>
            </td>
            <td class="print:tw-hidden hidden-xs">
              <div class="tw-flex tw-items-center tw-justify-center">
                <svg th:replace="~{icon/clock::svg(className='tw-w-4 tw-h-4')}"></svg>&nbsp;
                <span>
                  <th:block th:text="#{sicknote.progress.lastEdited}"></th:block>
                  <th:block th:replace="~{fragments/date::date(${sickNote.lastEdited})}"></th:block>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </th:block>
  </body>
</html>
