<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="print:tw-hidden">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::calendar-heading-body}, ~{::calendar-heading-actions})}"
        >
          <th:block th:ref="calendar-heading-body">
            <h2 id="calendar" th:text="#{overview.calendar.title}">Kalender</h2>
          </th:block>
          <th:block th:ref="calendar-heading-actions">
            <div class="tw-flex tw-flex-col sm:tw-flex-row">
              <a
                th:if="${canAccessAbsenceOverview}"
                class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
                href="#"
                th:href="@{/web/absences}"
              >
                <svg th:replace="~{icon/calendar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                <span th:text="#{overview.absences.overview.link.text}"></span>
              </a>
              <a
                th:if="${canAccessCalendarShare}"
                class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row"
                href="#"
                th:href="@{/web/calendars/share/persons/{personId} (personId=${person.id})}"
              >
                <svg th:replace="~{icon/share-2::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                <span th:text="#{overview.calendar.share.link.text}"></span>
              </a>
            </div>
          </th:block>
        </div>

        <div id="datepicker" class="tw-flex tw-justify-center tw-items-center">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
