<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::overtime-heading-body}, ~{::overtime-heading-actions})}"
      >
        <th:block th:ref="overtime-heading-body">
          <h2 id="overtime" th:text="#{overtime.title}">Überstunden</h2>
        </th:block>

        <th:block th:ref="overtime-heading-actions">
          <div class="ml-auto flex flex-col @2xl/main:flex-row @2xl/main:gap-2">
            <a
              th:if="${overtimeOverviewInformation.userIsAllowedToCreateOvertime}"
              class="icon-link flex items-center flex-row-reverse @2xl/main:flex-row"
              href="#"
              th:href="@{/web/overtime/new (person=${person.id})}"
            >
              <svg th:replace="~{icon/plus-square::svg(className='w-5 h-5')}"></svg>&nbsp;
              <span th:text="#{action.overtime.new}"></span>
            </a>
          </div>
        </th:block>
      </div>

      <div class="mb-6 flex flex-wrap space-y-8 @5xl/main:space-y-0 @5xl/main:mb-10">
        <div class="w-full @5xl/main:w-0"></div>
        <div class="w-full @2xl/main:w-1/2 @5xl/main:w-1/3">
          <div
            th:replace="~{overtime/box::overtime-box-total(overtimeTotal=${overtimeOverviewInformation.overtimeTotal})}"
          ></div>
        </div>
        <div class="w-full @2xl/main:w-1/2 @5xl/main:w-1/3">
          <div
            th:replace="~{overtime/box::overtime-box-left(overtimeLeft=${overtimeOverviewInformation.overtimeLeft})}"
          ></div>
        </div>
      </div>

      <div class="mb-4 @5xl/main:mb-12">
        <table class="list-table selectable-table text-sm">
          <tbody>
            <tr
              th:each="record,loopStatus : ${overtimeOverviewInformation.shownOvertimes}"
              th:with="recordDetailsUrl=${'/web/overtime/__${record.id}__'}"
              th:onclick="|navigate('__${recordDetailsUrl}__');|"
            >
              <td class="w-12 text-center">
                <th:block th:if="${record.negative}">
                  <span th:replace="~{icon/arrow-down::svg(className='w-5 h-5')}"></span>
                </th:block>
                <th:block th:if="${record.positive}">
                  <span th:replace="~{icon/arrow-up::svg(className='w-5 h-5')}"></span>
                </th:block>
              </td>
              <td class="w-30 text-center">
                <span th:text="${{record.duration}}"></span>
              </td>
              <td class="py-4">
                <span class="flex items-center gap-2">
                  <a th:text="#{overtime.link.overtime}" class="text-lg mb-1" th:href="@{__${recordDetailsUrl}__}"></a>
                  <span
                    th:if="${record.isExternal}"
                    class="text-gray-400 dark:text-zinc-500"
                    th:data-title="#{overtime.details.isExternal}"
                  >
                    <span th:replace="~{icon/cloud-check::svg(className='w-4 h-4')}"></span>
                  </span>
                </span>
                <div>
                  <th:block th:text="#{absence.period.for}" />
                  <th:block
                    th:replace="~{fragments/date-range::date-range-all(from=${record.startDate}, to=${record.endDate})}"
                  ></th:block>
                </div>
              </td>
              <td class="hidden @3xl/main:table-cell">
                <div class="opacity-100! flex items-center justify-end">
                  <span data-grid-ref="action-buttons" class="flex flex-row gap-1">
                    <a
                      th:if="${record.isAllowedToEdit}"
                      class="button flex-1 justify-center"
                      th:href="@{/web/overtime/{record}/edit (record=${record.id})}"
                    >
                      <svg th:replace="~{icon/pencil::svg(className='w-4 h-4 shrink-0')}"></svg>
                      <span
                        th:text="#{action.edit}"
                        class="ml-2 @lg/main:ml-0 @lg/main:sr-only @2xl/main:not-sr-only @2xl/main:ml-2 @3xl/main:sr-only @3xl/main:ml-0 @5xl/main:not-sr-only @5xl/main:ml-2"
                        >Edit</span
                      >
                    </a>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <p class="flex items-center justify-center gap-1">
          <span class="text-sm text-gray-600 dark:text-zinc-400">
            <th:block th:text="${overtimeOverviewInformation.numberOfShownOvertimes}">6</th:block>
            <th:block th:text="#{overview.overtime.of}">von</th:block>
            <th:block th:text="${overtimeOverviewInformation.numberOfTotalOvertimes}">142</th:block>
          </span>
          &nbsp;-&nbsp;
          <a
            class="underline text-sm text-gray-600 hover:text-gray-800 dark:text-zinc-400 dark:hover:text-zinc-300"
            href="#"
            th:href="@{/web/overtime (person=${person.id}, year=${selectedYear})}"
          >
            <span th:text="#{overview.overtime.showAll}">Alle anzeigen</span>
          </a>
        </p>
      </div>
    </th:block>
  </body>
</html>
