<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::overview-heading-body}, ~{::overview-heading-actions})}"
      >
        <th:block th:ref="overview-heading-body">
          <h1>
            <th:block th:text="#{overview.title}"></th:block>
            <span class="sr-only" th:text="${selectedYear}" />
          </h1>
          <div
            th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/person/${person.id}/overview?year=|, selectedYear=${selectedYear})}"
          ></div>
        </th:block>
        <th:block th:ref="overview-heading-actions">
          <div class="flex flex-col sm:flex-row">
            <a
              class="icon-link text-base flex items-center flex-row-reverse space-x-1 sm:space-x-0 sm:flex-row mr-0"
              href="#"
              th:href="@{/web/person/{personId} (personId=${person.id}, year=${selectedYear})}"
            >
              <svg th:replace="~{icon/user-circle::svg(className='h-5 w-5')}" />&nbsp;
              <span th:text="#{action.account.title(${person.niceName})}"></span>
            </a>
            <a href="" th:replace="~{fragments/print::button}"></a>
          </div>
        </th:block>
      </div>

      <div class="flex flex-wrap space-y-8 lg:space-y-0">
        <div class="w-full lg:w-1/3">
          <div
            th:replace="~{person/box::person-box-with-departments(person=${person}, departments=${departmentsOfPerson})}"
          ></div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3">
          <div
            th:replace="~{fragments/box::box-with-icon(~{::account-entitlement-box-icon}, ~{::account-entitlement-box-body})}"
          >
            <th:block th:ref="account-entitlement-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::account-entitlement-box-icon-rounded}, className='bg-emerald-500 text-white dark:bg-green-500 dark:text-zinc-900')}"
              >
                <th:block th:ref="account-entitlement-box-icon-rounded">
                  <svg th:replace="~{icon/calendar::svg(className='w-8 h-8')}" />
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="account-entitlement-box-body">
              <th:block th:if="${account != null}">
                <span
                  class="text-sm text-black/75 dark:text-zinc-300"
                  th:text="#{person.account.vacation.entitlement.1}"
                >
                  Anspruch auf
                </span>
                <span
                  class="my-1 text-lg font-medium"
                  th:text="#{person.account.vacation.entitlement.2(${account.actualVacationDays + account.remainingVacationDays})}"
                >
                  32,5 Urlaubstage
                </span>
                <span
                  class="text-sm text-black/75 dark:text-zinc-300"
                  th:text="#{person.account.vacation.entitlement.remaining(${account.remainingVacationDays})}"
                >
                  davon 5 Tage Resturlaub
                </span>
              </th:block>
              <th:block th:if="${account == null}">
                <span class="text-sm" th:text="#{person.account.vacation.noInformation}"></span>
              </th:block>
            </th:block>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3">
          <div
            th:replace="~{fragments/box::box-with-icon(~{::account-remaining-box-icon}, ~{::account-remaining-box-body})}"
          >
            <th:block th:ref="account-remaining-box-icon">
              <div
                th:replace="~{fragments/rounded::block(content=~{::account-remaining-box-icon-rounded}, className='bg-emerald-500 text-white dark:bg-green-500 dark:text-zinc-900')}"
              >
                <th:block th:ref="account-remaining-box-icon-rounded">
                  <svg th:replace="~{icon/presentation-chart-bar::svg(className='w-8 h-8')}" />
                </th:block>
              </div>
            </th:block>
            <th:block th:ref="account-remaining-box-body">
              <th:block
                th:if="${account != null}"
                th:with="remainingVacationDays=${!doRemainingVacationDaysExpire || isBeforeExpiryDate ? vacationDaysLeft.remainingVacationDays : vacationDaysLeft.remainingVacationDaysNotExpiring}"
              >
                <span class="text-sm text-black/75 dark:text-zinc-300" th:text="#{person.account.vacation.left.1}">
                  Es verbleiben
                </span>
                <span
                  class="my-1 text-lg font-medium"
                  th:text="#{person.account.vacation.left.2(${vacationDaysLeft.vacationDays + remainingVacationDays})}"
                >
                  14 Urlaubstage
                </span>
                <span
                  class="text-sm text-black/75 dark:text-zinc-300"
                  th:text="#{person.account.vacation.left.remaining(${remainingVacationDays})}"
                >
                  davon 0 Tage Resturlaub
                </span>
                <span
                  th:if="${doRemainingVacationDaysExpire && not isBeforeExpiryDate && expiredRemainingVacationDays > 0}"
                  th:text="#{person.account.vacation.left.remainingExpired(${expiredRemainingVacationDays})}"
                  class="text-sm text-black/75 dark:text-zinc-300"
                ></span>
                <span
                  th:if="${vacationDaysLeft.vacationDaysUsedNextYear.unscaledValue() != 0}"
                  th:text="#{person.account.vacation.left.alreadyUsedNextYear(${vacationDaysLeft.vacationDaysUsedNextYear})}"
                  class="text-sm text-black/75 dark:text-zinc-300"
                >
                </span>
              </th:block>
              <th:block th:if="${account == null}">
                <span class="text-sm" th:text="#{person.account.vacation.noInformation}"></span>
              </th:block>
            </th:block>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
