<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw:${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title})}">
    <title th:text="#{error-page.common.meta.title}"></title>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:ref="main">
      <div class="tw:grow tw:flex tw:justify-center">
        <div
          class="tw:w-full tw:max-w-screen-xl tw:flex tw:flex-col tw:lg:flex-row tw:lg:items-start tw:lg:justify-between tw:lg:mt-16"
        >
          <div class="tw:px-8 tw:xs:px-16 tw:lg:w-4/5">
            <h1
              class="mt-4 tw:xs:mt-8 tw:lg:mt-24 tw:flex tw:flex-col tw:sm:flex-row tw:lg:flex-col tw:sm:items-baseline tw:sm:space-x-2 tw:lg:space-x-0 tw:font-medium tw:text-3xl tw:sm:text-4xl tw:lg:text-5xl"
            >
              403&nbsp;
              <span class="tw:sm:mt-2" th:text="#{error-page.not-authorized.title}"></span>
            </h1>
            <p class="tw:mt-8 tw:text-xl" th:text="#{error-page.not-authorized.paragraph}"></p>
            <div
              class="tw:mt-8 tw:sm:mt-8 tw:text-lg tw:flex tw:flex-col tw:sm:flex-row tw:space-y-4 tw:sm:space-y-0 tw:sm:space-x-2"
              th:with="previousPageLink=${header_referer}"
            >
              <a
                th:if="${not #strings.isEmpty(previousPageLink)}"
                href="#"
                th:href="${previousPageLink}"
                class="button tw:text-base tw:px-4 tw:py-2"
                th:text="#{error-page.goto.previous}"
              ></a>
              <a href="/" class="button tw:text-base tw:px-4 tw:py-2" th:text="#{error-page.goto.start}"></a>
            </div>
          </div>
          <div class="tw:px-8 tw:text-center tw:xs:px-16 tw:sm:text-right">
            <picture th:if="${theme == 'system'}" class="tw:shrink-0">
              <source th:srcset="@{/images/403_bear_dark.png}" media="(prefers-color-scheme: dark)" />
              <img src="#" th:src="@{/images/403_bear.png}" alt="" class="tw:mt-12 tw:lg:mr-16 tw:max-w-full" />
            </picture>
            <th:block
              th:if="${theme != 'system'}"
              th:with="src=${theme == 'dark' ? '/images/403_bear_dark.png' : '/images/403_bear.png'}"
            >
              <img src="#" th:src="@{${src}}" alt="" class="tw:mt-12 tw:lg:mr-16 tw:max-w-full" />
            </th:block>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
