<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title})}">
    <title th:text="#{error-page.common.meta.title}"></title>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:ref="main">
      <div class="grow flex justify-center">
        <div class="w-full max-w-screen-xl flex flex-col lg:flex-row lg:items-start lg:justify-between lg:mt-16">
          <div class="px-8 xs:px-16 lg:w-4/5">
            <h1
              class="mt-4 xs:mt-8 lg:mt-24 flex flex-col sm:flex-row lg:flex-col sm:items-baseline sm:space-x-2 lg:space-x-0 font-medium text-3xl sm:text-4xl lg:text-5xl"
            >
              404&nbsp;
              <span class="sm:mt-2" th:text="#{error-page.not-found.title}"></span>
            </h1>
            <p class="mt-8 text-xl" th:text="#{error-page.not-found.paragraph}"></p>
            <div
              class="mt-8 sm:mt-8 text-lg flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-2"
              th:with="previousPageLink=${header_referer}"
            >
              <a
                th:if="${not #strings.isEmpty(previousPageLink)}"
                href="#"
                th:href="${previousPageLink}"
                class="button text-base px-4 py-2"
                th:text="#{error-page.goto.previous}"
              ></a>
              <a href="/" class="button text-base px-4 py-2" th:text="#{error-page.goto.start}"></a>
            </div>
          </div>
          <picture th:if="${theme == 'system'}" class="shrink-0">
            <source th:srcset="@{/images/404_bear_dark.png}" media="(prefers-color-scheme: dark)" />
            <img src="#" th:src="@{/images/404_bear.png}" alt="" class="mt-12 lg:mr-16 max-w-full" />
          </picture>
          <th:block
            th:if="${theme != 'system'}"
            th:with="src=${theme == 'dark' ? '/images/404_bear_dark.png' : '/images/404_bear.png'}"
          >
            <img src="#" th:src="@{${src}}" alt="" class="mt-12 lg:mr-16 max-w-full" />
          </th:block>
        </div>
      </div>
    </main>
  </body>
</html>
