<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title})}">
    <title th:text="#{error-page.common.meta.title}"></title>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="grow flex justify-center">
        <div class="mt-8 w-full max-w-screen-xl flex flex-col lg:flex-row lg:items-start lg:justify-between lg:mt-16">
          <div class="px-8 xs:px-16">
            <h1
              class="flex flex-col gap-2 text-3xl font-medium sm:flex-row sm:gap-0.5 lg:flex-col lg:gap-2 lg:text-5xl lg:leading-[1]"
            >
              <th:block th:text="${status}">500</th:block>&nbsp;
              <span class="sm:mt-2" th:text="#{error-page.server-error.title}"></span>
            </h1>
            <p class="mt-8 text-xl max-w-prose" th:text="#{error-page.server-error.paragraph}"></p>
            <div
              class="mt-8 text-lg flex flex-col space-y-4 sm:flex-row sm:mt-8 sm:space-y-0 sm:space-x-2"
              th:with="previousPageLink=${header_referer}"
            >
              <a
                th:if="${not #strings.isEmpty(previousPageLink)}"
                href="#"
                th:href="${previousPageLink}"
                class="button text-base px-4 py-2"
                th:text="#{error-page.goto.previous}"
              ></a>
              <a href="/" class="button text-base px-4 py-2" th:text="#{error-page.goto.start}"></a>
            </div>
          </div>
        </div>
        <div class="shrink-0 mt-12 flex justify-center lg:mr-16">
          <picture th:if="${theme == 'system'}">
            <source th:srcset="@{/images/5xx_bear_dark.png}" media="(prefers-color-scheme: dark)" />
            <img src="#" th:src="@{/images/5xx_bear.png}" alt="" />
          </picture>
          <th:block
            th:if="${theme != 'system'}"
            th:with="src=${theme == 'dark' ? '/images/5xx_bear_dark.png' : '/images/5xx_bear.png'}"
          >
            <img src="#" th:src="@{${src}}" alt="" />
          </th:block>
        </div>
      </div>
    </main>
  </body>
</html>
