/**************************************************************************

  ACTIONS

**************************************************************************/

.fa-action {
    color: #4d5258;
    font-size: 18px;
    margin-left: 12px;
}

.fa-action:hover,
.fa-action:focus {
    text-decoration: none;
    color: #1896db;
}

.fa-action.positive:hover,
.fa-action.positive:focus {
    color: #5cb85c;
}

.fa-action.negative:hover,
.fa-action.negative:focus {
    color: #E94B3B;
}

td .fa-action {
    padding: 12px;
}

@media print {
    .fa-action {
        display: none;
    }
}
