/**************************************************************************

  BOXES

**************************************************************************/

.box {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    border: 1px solid #D5D5D5;
    font-size: 12px;
    background-color: #FAFAFA;
    margin-bottom: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-text {
  /* Fallback for browsers not supporting flex */
  display: table-cell;
  vertical-align: middle;
}

.box-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 35px;
  text-align: center;
  /* Box icons should always have the same height and width */
  flex-shrink: 0;
}

.box-icon,
.box-icon .fa {
  line-height: 60px;
}

.box-icon,
.box-image {
  float: left;
  margin: 10px 30px 10px 10px;
}

/* STYLING FOR XS SCREENS */
@media (max-width: 767px) {
  .box-icon,
  .box-image {
    float: left;
    margin: 10px 20px 0 0;
  }
}
