/**************************************************************************
  BACKGROUNDS
**************************************************************************/

.bg-green {
    background-color: #23AE89;
    color: #FAFAFA;
}

.bg-red {
    background-color: #E94B3B;
    color: #FAFAFA;
}

.bg-blue {
    background-color: #449DD5;
    color: #FAFAFA;
}

.bg-orange {
    background-color: #F98E33;
    color: #FAFAFA;
}

.bg-yellow {
    background-color: #F1C40F;
    color: #FAFAFA;
}
