/**************************************************************************

  LEGEND

**************************************************************************/

legend {
    border-color: #D5D5D5;
    margin-bottom: 21px;
}

.legend-dropdown {
  display: inline-block;
}

.legend-dropdown > a {
    margin-bottom: 0;
}

.legend-dropdown .caret {
    opacity: 0.7;
}

legend,
.legend-dropdown > a {
    font-family: Verdana,sans-serif;
    font-size: 26px;
    color: #444444;
}

.legend-dropdown > ul {
    font-family: Verdana,sans-serif;
}

legend,
legend .fa-action .fa {
    line-height: 42px;
}

legend .fa-action {
    vertical-align: middle;
}

/* STYLING FOR XS SCREENS */
@media (max-width: 767px) {
    legend,
    .legend-dropdown > a {
        font-size: 25px;
    }
    h4 {
        font-size: 16px;
    }
}
