/**************************************************************************

  LOGIN MODULE

**************************************************************************/

.login {
  /* Ok */
}

.login--form {
  padding: 12px;
}

@media (min-width: 768px) {
  body {
    background-color: #fafafa;
  }

  .login--form {
    max-width: 400px;
    padding: 24px;
    margin: 0 auto 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
  }
}
