@import "fonts.css";
@import "colors.css";
@import "actions.css";
@import "navbar.css";
@import "calendar.css";
@import "vacation_overview.css";
@import "datepicker.css";
@import "form.css";
@import "button.css";
@import "box.css";
@import "gravatar.css";
@import "legend.css";
@import "table.css";
@import "tabs.css";
@import "states.css";
@import "print.css";
@import "error.css";

/**************************************************************************
  
  COMMON STYLING
  
**************************************************************************/

body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    color: #444444;
}

.content {
    /* = height of navbar (50px) plus margin-bottom of row (27px) */
    margin-top: 77px;
}

.modal-dialog {
    margin-top: 77px;
    z-index: 2000;
}

hr {
    border-color: #D5D5D5;
}

footer {
    color: #aaa;
    font-size: 11px;
    text-align: center;
}

a {
    color: #2A6496;
}

a:hover,
a:focus {
    color: #1896db;
}

.is-centered {
    text-align: center;
}

.is-inline-block {
    display: inline-block;
}

.is-sticky {
    margin:  0;
}