/**************************************************************************
  TEXT COLORS
**************************************************************************/

.fa.positive {
    color: #43C83C !important;
}

.fa.negative {
    color: #E94B3B !important;
}

/**************************************************************************
  VACATION TYPES FOR APPLICATION FOR LEAVE STATES
**************************************************************************/

.HOLIDAY {
    /* OK */
}

.SPECIALLEAVE,
.UNPAIDLEAVE,
.OVERTIME {
    color: #DF771B;
}

/**************************************************************************
  COLORS FOR APPLICATION FOR LEAVE STATES
**************************************************************************/

.state {
    font-size: 25px;
    color: #6F6F6F;
}

.state.pull-right {
  margin-right: 20px;
}

.state.WAITING {
    color: #6F6F6F !important;
}

.state.ALLOWED {
    color: #43C83C !important;
}

.state.TEMPORARY_ALLOWED {
    color: #6F6F6F !important;
}

.state.REJECTED {
    color: #FA3031 !important;
}

.state.CANCELLED {
    color: #3B3B3B !important;
}
