/**************************************************************************

  TABLES

**************************************************************************/

/**************************************************************************
  ACTIVE/INACTIVE ROWS
**************************************************************************/

tr.active {
    /* OK */
}

tr.inactive td > * {
    opacity: 0.4;
}

/**************************************************************************
  LIST TABLE
**************************************************************************/

.list-table {
    width: 100%;
    font-size: 13px;
    margin-bottom: 27px;
}

.list-table td {
    vertical-align: middle !important;
    padding: 12px;
    border-top: 1px solid #DDDDDD;
}

.list-table td.number {
  padding-left: 24px;
}

.list-table tr:last-child td {
    border-bottom: 1px solid #DDDDDD;
}
.list-table th {
    padding: 8px;
}

.list-table--second-row {
    margin: 10px 0 0 0;
}

/**************************************************************************
  STRIPED TABLE
**************************************************************************/

.striped-table tr:nth-child(even) td {
    background-color: #FAFAFA;
}

/**************************************************************************
  BORDERED TABLE
**************************************************************************/

.bordered-table tbody {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.bordered-table td {
    background-color: #FFFFFF;
}

/**************************************************************************
  SELECTABLE TABLE
**************************************************************************/

.selectable-table tr:hover td {
    cursor: pointer;
    background-color: #FAFAFA;
}

/**************************************************************************
  TABLE SORTER
**************************************************************************/

.tablesorter-header {
    color: #2A6496;
    font-weight: normal;
}

.tablesorter-header:hover {
    cursor: pointer;
    color: #1896db;
}

th.sortable-field .tablesorter-header-inner:after {
    font-family: FontAwesome;
    content: " \f0dc";
}

th.tablesorter-headerDesc .tablesorter-header-inner:after,
th.tablesorter-headerAsc .tablesorter-header-inner:after {
    font-family: FontAwesome;
}

th.tablesorter-headerDesc .tablesorter-header-inner:after {
    content: " \f0dd";
}

th.tablesorter-headerAsc .tablesorter-header-inner:after {
    content: " \f0de";
}

/**************************************************************************
  TABLE OVERFLOW HANDLING
**************************************************************************/
.overflow {
    white-space: nowrap;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

/**************************************************************************
  CONTROL HEIGHT OF TABLE CELL CONTENT
**************************************************************************/

td.halves h4 {
    margin-top: 5px;
}
