/**************************************************************************

  TABS

**************************************************************************/

.tab-content .tab-pane {
    padding-top: 24px;
}

.nav-tabs > li.error > a {
    color: #B94A48;
}

.nav-tabs > li.error > a:after {
    content: " *";
}
