.vacationOverview-day {
    background: #FFFFFF;
    color: #6F6F6F;
}

.vacationOverview-day-public-holiday,
.vacationOverview-day-weekend {
    color: #FFF;
    background: #DCDCDC;
}

.vacationOverview-legend-colorbox {
    width: 15px;
}

.vacationOverview-legend-text {
    font-size: 12px;
    padding:2px 10px;
}

.vacationOverview-day-personal-holiday-status-ALLOWED {
    background: linear-gradient(-56deg, #FFEDA0 50%, #FFEDA0 50%);
}
.vacationOverview-day-personal-holiday-status-WAITING {
    background: linear-gradient(-56deg, #B5D0DF 50%, #B5D0DF 50%);
}
.vacationOverview-day-sick-note {
    background: linear-gradient(-56deg, #FFC5BF 50%, #FFC5BF 50%);
}

.vacationOverview-day-personal-holiday-half-day-status-ALLOWED {
    background: linear-gradient(-56deg, #FFEDA0 50%, #FFFFFF 50%);
}
.vacationOverview-day-personal-holiday-half-day-status-WAITING {
    background: linear-gradient(-56deg, #B5D0DF 50%, #FFFFFF 50%);
}

.vacationOverview-day-sick-note-half-day {
    background: linear-gradient(-56deg, #FFC5BF 50%, #FFFFFF 50%);
}

.vactionOverview-day-item {
    padding: 12px;
    cursor: default;
    color: #6F6F6F;
}

.list-table th {
    border: 1px solid #FFF;
}

.vacationOverviewLegend{
    margin-top: 15px;
}

.vacationOverview-table {
    font-size: 12px;
}

.vacationOverview-table td {
    border: 1px solid #FFF;
}

.vacationOverview-tbody tbody {
    border: 1px solid #000;
}