<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{person.form.annualVacation.header.title(${person.niceName})}">Urlaubsanspruch</title>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.personId = /*[[${userId}]]*/ "personId";
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/datepicker-localization :: datepicker-localization}"></script>
      <script th:replace="~{fragments/vacation-type-colors-script :: vacation-type-colors-script}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('account_form.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="account_form.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
        <form
          id="holiday-account-settings-form"
          method="post"
          th:action="@{/web/person/__${person.id}__/account}"
          th:object="${account}"
          class="uv-form uv-form-grid"
        >
          <input type="hidden" th:field="*{holidaysAccountYear}" />
          <input type="hidden" th:field="*{doRemainingVacationDaysExpireGlobally}" />

          <p
            class="uv-form__global-feedback alert alert-danger"
            th:if="${#fields.hasErrors('*')}"
            th:text="#{error.info.message}"
          ></p>

          <div role="group" aria-describedby="group-timespan-description">
            <div class="uv-form-legend">
              <h1 id="group-timespan-description" th:text="#{person.form.annualVacation.title(${person.niceName})}">
                Urlaubsanspruch
              </h1>
              <div
                th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/person/${person.id}/account?year=|, selectedYear=${selectedYear})}"
              ></div>
            </div>

            <div class="uv-form__group">
              <p class="uv-form__info help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <span th:text="#{person.form.annualVacation.description}"></span>
              </p>
              <div class="uv-form__input-row">
                <label
                  for="holidaysAccountValidFrom"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.period.start}:|"
                >
                  Von
                </label>
                <input
                  id="holidaysAccountValidFrom"
                  th:field="*{holidaysAccountValidFrom}"
                  th:data-iso-value="${account.holidaysAccountValidFromIsoValue}"
                  th:data-min="|${year}-01-01|"
                  th:data-max="|${year}-12-31|"
                  th:placeholder="#{pattern.date}"
                  th:errorclass="error"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('holidaysAccountValidFrom')}">
                  <th:block th:errors="*{holidaysAccountValidFrom}"> holidaysAccountValidFrom Error </th:block>
                </p>
              </div>
              <div class="uv-form__input-row">
                <label
                  for="holidaysAccountValidTo"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.period.end}:|"
                >
                  Bis
                </label>
                <input
                  id="holidaysAccountValidTo"
                  th:field="*{holidaysAccountValidTo}"
                  th:data-iso-value="${account.holidaysAccountValidToIsoValue}"
                  th:data-min="|${year}-01-01|"
                  th:data-max="|${year}-12-31|"
                  th:placeholder="#{pattern.date}"
                  th:errorclass="error"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('holidaysAccountValidTo')}">
                  <th:block th:errors="*{holidaysAccountValidTo}"> holidaysAccountValidTo Error </th:block>
                </p>
              </div>
            </div>
          </div>

          <div role="group" aria-describedby="group-annual-vacation-description">
            <h2
              id="group-annual-vacation-description"
              class="uv-form-legend"
              th:text="#{person.form.annualVacation.annualVacation.group.legend}"
            >
              Urlaubsanspruch
            </h2>

            <div class="uv-form__group">
              <div class="uv-form__input-row">
                <label
                  for="annualVacationDays"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.annualVacation}:|"
                >
                  Jährlicher Urlaubsanspruch
                </label>
                <input
                  id="annualVacationDays"
                  type="number"
                  th:field="*{annualVacationDays}"
                  th:errorclass="error"
                  step="0.5"
                  th:value="${account.annualVacationDays}"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('annualVacationDays')}">
                  <th:block th:errors="*{annualVacationDays}"> annualVacationDays Error </th:block>
                </p>
              </div>
              <div class="uv-form__input-row">
                <label
                  class="is-required"
                  for="actualVacationDays"
                  th:text="|#{person.form.annualVacation.actualVacation}:|"
                >
                  Anteiliger Urlaubsanspruch
                </label>
                <input
                  id="actualVacationDays"
                  type="number"
                  th:field="*{actualVacationDays}"
                  th:errorclass="error"
                  step="0.5"
                  th:value="${account.actualVacationDays}"
                />
                <p class="error tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('actualVacationDays')}">
                  <th:block th:errors="*{actualVacationDays}"> actualVacationDays Error </th:block>
                </p>
              </div>
            </div>
          </div>

          <div role="group" aria-describedby="group-remaining-vacation-description">
            <h2
              id="group-remaining-vacation-description"
              class="uv-form-legend"
              th:text="#{person.form.annualVacation.remainingVacation}"
            >
              Resturlaub
            </h2>

            <div class="uv-form__group">
              <div class="uv-form__input-row">
                <label
                  for="remainingVacationDays"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.remainingVacation}:|"
                >
                  Resturlaub
                </label>
                <input
                  id="remainingVacationDays"
                  type="number"
                  th:field="*{remainingVacationDays}"
                  th:errorclass="error"
                  step="0.5"
                  th:value="${account.remainingVacationDays}"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('remainingVacationDays')}">
                  <th:block th:errors="*{remainingVacationDays}"> remainingVacationDays Error </th:block>
                </p>
              </div>
              <div class="uv-form__input-row">
                <span
                  class="uv-form__label uv-form__label--required"
                  th:text="|#{person.form.annualVacation.remainingVacation.expire}:|"
                >
                  Verfall von Resturlaub:
                </span>
                <p
                  class="account-form-expire-description tw-m-0"
                  th:with="
                  settingsLink=@{/web/settings},
                  settingsMessage=${'<a href=&quot;'+ settingsLink +'&quot;>' + #messages.msg('person.form.annualVacation.remainingVacation.expire.global-info.settings') + '</a>'},
                  messageKey=${account.doRemainingVacationDaysExpireGlobally ? 'person.form.annualVacation.remainingVacation.expire.global-info.true' : 'person.form.annualVacation.remainingVacation.expire.global-info.false'}
                "
                  th:utext="${#messages.msg(messageKey, settingsMessage)}"
                >
                  Der Verfall von Resturlaub ist in den <a href="#">Einstellungen</a> <em>aktiviert</em>.
                </p>
                <div class="tw-mt-4 tw-flex tw-flex-row tw-items-start tw-gap-8">
                  <span class="checkbox-switch tw-flex tw-items-center tw-gap-2">
                    <input
                      type="checkbox"
                      id="vacation-expiration-checkbox"
                      th:field="*{overrideVacationDaysExpire}"
                      class="tw-m-0"
                    />
                    <label
                      for="vacation-expiration-checkbox"
                      class="tw-m-0 tw-text-base tw-font-normal"
                      th:text="#{person.form.annualVacation.remainingVacation.expire.override.checkbox}"
                    >
                      Individuell
                    </label>
                  </span>
                  <div class="tw-flex tw-flex-col tw-gap-2">
                    <label class="tw-font-normal tw-text-base tw-m-0">
                      <input
                        type="radio"
                        id="doRemainingVacationDaysExpire.true"
                        name="doRemainingVacationDaysExpireLocally"
                        value="true"
                        data-value="true"
                        th:checked="${true eq account.doRemainingVacationDaysExpireLocally}"
                      />
                      <th:block th:text="#{person.form.annualVacation.remainingVacation.expire.true}">
                        Resturlaub verfällt
                      </th:block>
                    </label>
                    <label class="tw-font-normal tw-text-base tw-m-0">
                      <input
                        type="radio"
                        id="doRemainingVacationDaysExpire.false"
                        name="doRemainingVacationDaysExpireLocally"
                        value="false"
                        data-value="false"
                        th:checked="${false eq account.doRemainingVacationDaysExpireLocally}"
                      />
                      <th:block th:text="#{person.form.annualVacation.remainingVacation.expire.false}">
                        Resturlaub verfällt nicht
                      </th:block>
                    </label>
                  </div>
                </div>
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('doRemainingVacationDaysExpireLocally')}">
                  <th:block th:errors="*{doRemainingVacationDaysExpireLocally}">
                    doRemainingVacationDaysExpire Error
                  </th:block>
                </p>
              </div>
            </div>
          </div>

          <div
            role="group"
            aria-describedby="group-expire-description"
            id="remaining-vacation-days-expire-fieldset"
            th:disabled="${not account.doRemainingVacationDaysExpire}"
            th:data-globally-enabled="${account.doRemainingVacationDaysExpireGlobally}"
          >
            <h2
              id="group-expire-description"
              class="uv-form-legend"
              th:text="#{person.form.annualVacation.remainingVacation.expire}"
            >
              Verfall von Resturlaub
            </h2>

            <div class="uv-form__group">
              <div class="uv-form__input-row">
                <label
                  for="expiryDate"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.remainingVacation.expiryDate}:|"
                >
                  Verfallsdatum des Resturlaubs:
                </label>
                <p
                  class="account-form-expire-description tw-m-0"
                  th:with="
                  settingsLink=@{/web/settings},
                  settingsMessage=${'<a href=&quot;'+ settingsLink +'&quot;>' + #messages.msg('person.form.annualVacation.remainingVacation.expiryDate.global-info.settings') + '</a>'},
                  date=${account.expiryDateGlobally == null ? null : '<span class=&quot;tw-font-bold&quot;>' + #temporals.format(account.expiryDateGlobally, #messages.msg('pattern.date')) + '</span>'},
                  messageKey=${account.expiryDateGlobally == null ? 'person.form.annualVacation.remainingVacation.expiryDate.global-info.none' : 'person.form.annualVacation.remainingVacation.expiryDate.global-info'}
                "
                  th:utext="${#messages.msg(messageKey, settingsMessage, date)}"
                >
                  In den <a href="#">Einstellungen</a> ist der 1. April 2024 konfiguriert. Du kannst das Datum
                  überschreiben oder leer lassen und die globale Einstellung nutzen.
                </p>
                <input
                  id="expiryDate"
                  th:field="*{expiryDateLocally}"
                  th:data-iso-value="${account.expiryDateToIsoValue}"
                  th:data-min="|${year}-01-01|"
                  th:data-max="|${year}-12-31|"
                  th:placeholder="#{pattern.date}"
                  class="tw-mt-2"
                  th:errorclass="error"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('expiryDateLocally')}">
                  <th:block th:errors="*{expiryDateLocally}"> expiryDate Error </th:block>
                </p>
              </div>
              <div class="uv-form__input-row">
                <label
                  for="remainingVacationDaysNotExpiring"
                  class="is-required"
                  th:text="|#{person.form.annualVacation.remainingVacation.notExpiring}:|"
                >
                  Anteil des Resturlaubs, welcher zum Verfallsdatum nicht verfällt
                </label>
                <input
                  id="remainingVacationDaysNotExpiring"
                  type="number"
                  th:field="*{remainingVacationDaysNotExpiring}"
                  th:errorclass="error"
                  step="0.5"
                  th:value="${account.remainingVacationDaysNotExpiring}"
                />
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('remainingVacationDaysNotExpiring')}">
                  <th:block th:errors="*{remainingVacationDaysNotExpiring}">
                    remainingVacationDaysNotExpiring Error
                  </th:block>
                </p>
              </div>
              <div class="uv-form__input-row">
                <label for="comment" th:text="|#{person.form.annualVacation.comment}:|">
                  Kommentar zur Änderung des Urlaubsanspruchs
                </label>
                <textarea
                  id="comment"
                  rows="3"
                  th:field="*{comment}"
                  th:errorclass="error"
                  th:placeholder="#{person.form.annualVacation.comment.placeholder}"
                >
                </textarea>
                <p class="error tw-text-sm" th:if="${#fields.hasErrors('comment')}">
                  <th:block th:errors="*{comment}"> comment Error </th:block>
                </p>
              </div>
            </div>
          </div>

          <div class="uv-form__actions">
            <button type="submit" class="button-main-green tw-w-56" th:text="#{action.save}">Speichern</button>
            <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
