<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Footer fragment</title>
  </head>
  <body>
    <th:block th:ref="footer">
      <footer class="tw-mt-auto tw-mx-auto tw-p-4 tw-pt-32 tw-max-w-6xl tw-text-center">
        <span class="tw-text-sm">
          <a class="print:no-link" href="https://urlaubsverwaltung.cloud/">urlaubsverwaltung.cloud</a> |
        </span>
        <span th:text="|v${version}|" class="tw-text-xs"></span>
      </footer>
    </th:block>
  </body>
</html>
