<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Info Banner</title>
  </head>
  <body>
    <th:block th:ref="banner">
      <th:block th:if="${not #strings.isEmpty(infoBannerText)}">
        <div id="info-banner" class="info-banner tw-sticky tw-top-0 tw-z-50" style="grid-area: banner">
          <p class="info-banner-text tw-m-0" th:utext="${infoBannerText}">Info Banner Text</p>
        </div>
      </th:block>
    </th:block>
  </body>
</html>
