<!doctype html>
<html
  lang="en"
  th:lang="${language}"
  th:class="|tw-${theme}|"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:asset="http://www.w3.org/1999/xhtml"
>
  <head
    th:fragment="head(title)"
    th:with="
      preconnect=${preconnect}?:_,
      importmaps=${importmaps}?:_,
      scriptsAsync=${scriptsAsync}?:_,
      scripts=${scripts}?:_,
      styles=${styles}?:_,
      preload=${preload}?:_,
      scriptsDefer=${scriptsDefer}?:_,
      prefetchOrPrerender=${prefetchOrPrerender}?:_,
      additional=${additional}?:_"
  >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:replace="${title}">Page Title</title>

    <th:block th:replace="${preconnect}"></th:block>
    <th:block th:replace="${scriptsAsync}"></th:block>
    <th:block th:replace="${importmaps}"></th:block>

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" th:content="@{/favicons/ms-icon-144x144.png}" />
    <meta th:if="${theme != 'dark'}" name="theme-color" content="#fafafa" />
    <meta th:if="${theme == 'dark'}" name="theme-color" content="#18181b" />
    <meta name="turbo-root" th:content="@{/web}" />

    <script th:inline="javascript">
      window.uv = window.uv || {};
      window.uv.language = /*[[${language}]]*/ "de";
    </script>
    <script>
      !(function () {
        function injectStyle(r, t) {
          t === void 0 && (t = {});
          var e = t.insertAt;
          if (!(!r || typeof document == "undefined")) {
            var d = document.head || document.getElementsByTagName("head")[0],
              a = document.createElement("style");
            (a.type = "text/css"),
              e === "top" && d.firstChild ? d.insertBefore(a, d.firstChild) : d.appendChild(a),
              a.styleSheet ? (a.styleSheet.cssText = r) : a.appendChild(document.createTextNode(r));
          }
        }
        injectStyle("[data-js-hidden] { display: none !important; }");
      })();
    </script>
    <script th:if="${theme eq 'system'}">
      (function () {
        // note to put required meta elements above this script
        // to avoid a flash when light theme is switched to dark because of system setting.
        // (we don't have separate css files that could be included with a media query)
        const htmlElement = document.querySelector("html");
        const mediaQueryDark = window.matchMedia("(prefers-color-scheme: dark)");
        if (mediaQueryDark.matches) {
          setDarkStuff();
        }
        try {
          mediaQueryDark.addEventListener("change", function () {
            toggleStuff();
          });
        } catch (error) {
          // safari (https://stackoverflow.com/a/60000747)
          try {
            mediaQueryDark.addListener(function () {
              toggleStuff();
            });
          } catch (error2) {
            console.info("could not add mediaQuery listener to toggle theme.", error2);
          }
        }
        function toggleStuff() {
          if (htmlElement.classList.contains("tw-dark")) {
            setLightStuff();
          } else {
            setDarkStuff();
          }
        }
        function setDarkStuff() {
          htmlElement.classList.add("tw-dark");
          document.querySelector("meta[name='theme-color']").setAttribute("content", "#18181b");
        }
        function setLightStuff() {
          htmlElement.classList.remove("tw-dark");
          document.querySelector("meta[name='theme-color']").setAttribute("content", "#fafafa");
        }
      })();
    </script>
    <th:block th:replace="${scripts}"></th:block>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicons/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicons/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicons/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/site.webmanifest}" />
    <link rel="mask-icon" th:href="@{/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <th:block th:replace="${styles}"></th:block>
    <link th:if="${gravatarEnabled}" rel="dns-prefetch" href="https://gravatar.com/" />
    <link th:if="${gravatarEnabled}" rel="preconnect" href="https://gravatar.com/" crossorigin />
    <link
      rel="preload"
      href="/fonts/kaushanscript/KaushanScript-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <th:block th:replace="${preload}"></th:block>

    <script defer type="module" asset:src="custom_elements_polyfill.js"></script>
    <th:block th:replace="${scriptsDefer}"></th:block>
    <th:block th:replace="${prefetchOrPrerender}"></th:block>
    <th:block th:replace="${additional}"></th:block>
  </head>
  <body th:fragment="body(content, scripts)">
    <div th:replace="~{_info-banner::banner}"></div>
    <nav th:replace="~{_navigation::nav}">navigation block</nav>

    <main th:replace="${content}">content block</main>

    <footer th:replace="~{_footer::footer}">footer block</footer>

    <th:block th:replace="${scripts}"></th:block>
  </body>
</html>
