<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Navigation</title>
  </head>
  <body>
    <th:block th:fragment="nav">
      <div class="navigation-container">
        <button class="navigation-button flex items-center gap-2 lg:hidden" popovertarget="navigation">
          <svg th:replace="~{icon/menu::svg(className='w-5 h-5')}" />
          <th:block th:text="#{nav.menu}">Menü</th:block>
        </button>
        <nav id="navigation" popover class="navigation">
          <div th:if="${not #lists.isEmpty(navigation.favorites)}">
            <span id="nav-group-quick-label" class="sr-only nav-group-label">
              :<th:block th:text="#{nav.quick}">Einreichen</th:block>
            </span>
            <ul aria-labelledby="nav-group-quick-label">
              <li th:each="link : ${navigation.favorites}">
                <a
                  class="flex items-center gap-2"
                  th:id="${link.id}"
                  th:href="@{__${link.href}__}"
                  th:data-test-id="${link.dataTestId}"
                >
                  <span class="rounded p-1 bg-green-300 dark:bg-green-500 dark:text-zinc-900">
                    <svg th:replace="~{icon/plus::svg(className='w-3 h-3 stroke-4')}"></svg>
                  </span>
                  <th:block th:text="${#messages.msg(link.messageKey)}"></th:block>
                </a>
              </li>
            </ul>
          </div>
          <div th:if="${not #lists.isEmpty(navigation.basic)}">
            <span id="nav-group-basic-label" class="sr-only nav-group-label">
              :<th:block th:text="#{nav.basic}">me</th:block>
            </span>
            <ul aria-labelledby="nav-group-basic-label">
              <li th:each="link : ${navigation.basic}">
                <a th:id="${link.id}" th:href="@{__${link.href}__}" th:data-test-id="${link.dataTestId}">
                  <th:block th:text="${#messages.msg(link.messageKey)}"></th:block>
                </a>
              </li>
            </ul>
          </div>
          <div th:if="${not #lists.isEmpty(navigation.company)}">
            <span id="nav-group-company-label" class="nav-group-label">
              :<th:block th:text="#{nav.company}">Unternehmen</th:block>
            </span>
            <ul aria-labelledby="nav-group-company-label">
              <li th:each="link : ${navigation.company}">
                <a th:href="@{__${link.href}__}" th:id="${link.id}" th:data-test-id="${link.dataTestId}">
                  <th:block th:text="${#messages.msg(link.messageKey)}"></th:block>
                </a>
              </li>
            </ul>
          </div>
          <div th:if="${not #lists.isEmpty(navigation.settings)}">
            <span id="nav-group-settings-label" class="nav-group-label">
              :<th:block th:text="#{nav.settings}">Einstellungen</th:block>
            </span>
            <ul aria-labelledby="nav-group-settings-label">
              <li th:each="link : ${navigation.settings}">
                <a th:href="@{__${link.href}__}" th:id="${link.id}" th:data-test-id="${link.dataTestId}">
                  <th:block th:text="${#messages.msg(link.messageKey)}"></th:block>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </th:block>
  </body>
</html>
