<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation fragment</title>
  </head>
  <body>
    <div
      th:fragment="row"
      class="tw-sticky tw-p-2 tw-bg-gray-100 tw-z-50 tw-border-b tw-border-zinc-100 lg:tw-bg-white"
      style="top: var(--navigation-sticky-top); grid-area: topbar; height: var(--top-bar-height)"
    >
      <div class="navigation-content-spacer--right tw-h-4 tw-w-4"></div>
    </div>
  </body>
</html>
