<!DOCTYPE html>
<html
  lang="en"
  th:lang="${language}"
  th:class="|tw-${theme}|"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="_layout::head(~{::title}, ~{::styles}, ~{::scripts})">
  <title th:text="#{overview.header.title(${person.niceName}, ${selectedYear})}"></title>
  <th:block th:fragment="styles">
    <link rel="stylesheet" type="text/css" asset:href="account_form~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_notes~workingtime_form.css" />
  </th:block>
  <th:block th:fragment="scripts">
    <script th:inline="javascript">
      /*<![CDATA[*/
      window.uv = {};
      window.uv.personId = /*[[${userId}]]*/ "personId";
      window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
      window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
      // 0=sunday, 1=monday
      window.uv.weekStartsOn = 1;
      /*]]>*/
    </script>
    <script th:replace="fragments/vacation-type-colors-script :: vacation-type-colors-script"></script>
    <script defer asset:src="npm.date-fns.js"></script>
    <script defer asset:src="app_detail~app_form~person_overview.js"></script>
    <script defer asset:src="account_form~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_notes~workingtime_form.js"></script>
    <script defer asset:src="account_form~app_detail~app_form~app_statistics~overtime_form~person_overview~sick_note_form~sick_no~704d57c1.js"></script>
    <script defer asset:src="person_overview.js"></script>
  </th:block>
</head>
<body th:replace="_layout::body(~{::main}, ~{})">

<main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0 tw-pb-32">

  <div class="tw-mb-12">
    <div th:replace="thymeleaf/person/overview/section-vacation-days::section"></div>
  </div>

  <div th:if="${settings.overtimeSettings.overtimeActive}" class="tw-mb-12">
    <div th:replace="thymeleaf/person/overview/section-overtime::section"></div>
  </div>

  <div class="tw-mb-4 lg:tw-mb-12">
    <div th:replace="thymeleaf/person/overview/section-calendar::section"></div>
  </div>

  <div class="tw-mb-12">
    <div th:replace="thymeleaf/person/overview/section-absences::section"></div>
  </div>

  <th:block th:if="${person.id == signedInUser.id || canAddSickNoteAnotherUser}">
    <div th:replace="thymeleaf/person/overview/section-sick-note::section"></div>
  </th:block>

</main>

</body>
</html>
