Hallo Office,

es liegt ein neuer genehmigter Antrag vor: ${link}

Mitarbeiter: ${application.person.niceName}

Antragsteller: ${application.applier.niceName}
Genehmigender: ${application.boss.niceName}

Antragsdatum: ${application.applicationDate.toString("dd.MM.yyyy")}
Zeitraum des beantragten Urlaubs: ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}
Art des Urlaubs: ${vacationType} 
#if($application.reason && $application.reason != "")
Grund: ${application.reason}
#end
#if($application.holidayReplacement.niceName && $application.holidayReplacement.niceName != "")
Vertreter: ${application.holidayReplacement.niceName}
#end
#if($application.address && $application.address != "")
Anschrift/Telefon während des Urlaubs: ${application.address}
#end
#if($comment.text && $comment.text != "")
Kommentar von ${comment.person.niceName} zum Antrag: ${comment.text}
#end
