Hallo ${application.person.niceName},

dein am ${application.applicationDate.toString("dd.MM.yyyy")} gestellter Antrag wurde von ${application.boss.niceName} genehmigt.
Es handelt sich um den Zeitraum von ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}
Einen schönen Urlaub!

#if($comment.text && $comment.text != "")
Kommentar von ${comment.person.niceName} zum Antrag: ${comment.text}

#end
Link zum Antrag: ${link}
