Hallo ${application.person.niceName},

dein am ${application.applicationDate.toString("dd.MM.yyyy")} gestellter Antrag wurde von ${application.boss.niceName} genehmigt.
Es handelt sich um den Zeitraum von ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}
Einen schönen Urlaub!

#if($comment.reason && $comment.reason != "")
Kommentar von ${comment.person.niceName} zum Antrag: ${comment.reason}
#end 

Link zum Antrag: ${link}