Hallo ${application.person.niceName},

dein Urlaubsantrag wurde erfolgreich eingereicht und wird in Kürze von einem der Chefs bearbeitet werden.

---------------------------------------------------------------------------------------------------------

Informationen zum Urlaubsantrag:

Antragsdatum: ${application.applicationDate.toString("dd.MM.yyyy")}
Zeitraum des beantragten Urlaubs: ${application.startDate.toString("dd.MM.yyyy")} bis ${application.endDate.toString("dd.MM.yyyy")}, ${dayLength}
Art des Urlaubs: ${application.vacationType.displayName}
#if($application.reason && $application.reason != "")
Grund: ${application.reason}
#end
#if($application.holidayReplacement.niceName && $application.holidayReplacement.niceName != "")
Vertreter: ${application.holidayReplacement.niceName}
#end
#if($application.address && $application.address != "")
Anschrift/Telefon während des Urlaubs: ${application.address}
#end
#if($comment.text && $comment.text != "")
Kommentar: ${comment.text}
#end

Link zum Antrag: ${link}
