Hallo ${recipient.niceName},

Die folgenden gestellten Urlaubsanträge warten auf ihre Bearbeitung:

#foreach ( $application in $applicationList )
Antrag von ${application.person.niceName} vom ${application.applicationDate.toString("dd.MM.yyyy")}: ${settings.baseLinkURL}web/application/${application.id}
#end

Ohne eine Bearbeitung kann es passieren, dass weitere Erinnerungen folgen ;-)
