Hallo ${application.person.niceName},

dein am ${application.applicationDate.toString("dd.MM.yyyy")} gestellter Antrag wurde leider von ${comment.person.niceName} abgelehnt
mit folgender Begründung:

${comment.text}

Link zum Antrag: ${link}
