<!DOCTYPE html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="_layout::head(~{::title}, ~{::styles}, ~{::scripts})">
  <title th:text="#{absences.overview.header.title}">Absence Overview</title>
  <th:block th:fragment="styles">
    <link rel="stylesheet" type="text/css" asset:href="absences_overview.css"/>
  </th:block>
  <th:block th:fragment="scripts">
    <script defer asset:src="npm.tablesorter.js"></script>
    <script defer asset:src="absences_overview.js"></script>
  </th:block>
</head>
<body th:replace="_layout::body(~{::main}, ~{})">

<main th:fragment="main">

  <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
    <div
      th:replace="fragments/section-heading::section-heading(~{::person-basedata-heading-body}, ~{::person-basedata-heading-actions})"
    >
      <th:block th:ref="person-basedata-heading-body">
        <h1 th:text="#{absences.overview.title}">Absence Overview</h1>
      </th:block>
      <th:block th:ref="person-basedata-heading-actions">
        <a href="#" th:replace="fragments/print::button"></a>
      </th:block>
    </div>
    <div class="tw-mt-4 md:tw-mt-6">
      <form
        action="#"
        th:action="@{/web/absences}"
        id="absenceOverviewForm"
        class="print:tw-hidden tw-px-4"
      >
        <div
          class="tw-items-baseline md:tw-grid tw-gap-x-8 tw-gap-y-4"
          style="grid-template-columns: min-content minmax(0, 22rem) 1fr"
        >
          <label
            class="tw-mb-1 md:tw-mb-0 tw-m-0 tw-col-start-1 tw-row-start-1"
            for="yearSelect"
            th:text="#{absences.overview.year}"
          >
            Year
          </label>
          <span class="tw-col-start-2 tw-col-end-2 tw-row-start-1">
            <select
              th:replace="fragments/select::one(id='yearSelect', name='year', options=~{::year-select-options})"
              id="yearSelect"
            >
              <th:block th:fragment="year-select-options">
                <option
                  th:each="i : ${#numbers.sequence(1,10)}"
                  th:with="year=${currentYear - 10 + i}"
                  th:selected="${#strings.equals(year, selectedYear)}"
                  th:text="${year}"
                ></option>
                <option
                  th:value="${currentYear}"
                  th:selected="${#strings.equals(currentYear, selectedYear)}"
                  th:text="${currentYear}"
                ></option>
                <option
                  th:value="${currentYear + 1}"
                  th:selected="${#strings.equals(currentYear + 1, selectedYear)}"
                  th:text="${currentYear + 1}"
                ></option>
              </th:block>
            </select>
          </span>

          <label
            class="tw-mt-4 md:tw-mt-0 tw-mb-1 md:tw-mb-0 tw-m-0 tw-col-start-1 tw-row-start-2"
            for="monthSelect"
            th:text="#{absences.overview.month}"
          >
            Month
          </label>
          <span class="md:tw-mt-0 tw-col-start-2 tw-col-end-2 tw-row-start-2">
            <select
              th:replace="fragments/select::one(id='monthSelect', name='month', options=~{::month-select-options})"
              id="monthSelect"
            >
              <th:block th:fragment="month-select-options">
                <option
                  value=""
                  th:selected="${#strings.equals(selectedMonth, '')}"
                  th:text="#{month.all}"
                ></option>
                <option
                  th:each="i : ${#numbers.sequence(1, 12)}"
                  th:selected="${#strings.equals(selectedMonth, i)}"
                  th:value="${i}"
                >
                  <th:block th:switch="${i}">
                    <th:block th:case="1" th:text="#{month.january}" />
                    <th:block th:case="2" th:text="#{month.february}" />
                    <th:block th:case="3" th:text="#{month.march}" />
                    <th:block th:case="4" th:text="#{month.april}" />
                    <th:block th:case="5" th:text="#{month.may}" />
                    <th:block th:case="6" th:text="#{month.june}" />
                    <th:block th:case="7" th:text="#{month.july}" />
                    <th:block th:case="8" th:text="#{month.august}" />
                    <th:block th:case="9" th:text="#{month.september}" />
                    <th:block th:case="10" th:text="#{month.october}" />
                    <th:block th:case="11" th:text="#{month.november}" />
                    <th:block th:case="12" th:text="#{month.december}" />
                  </th:block>
                </option>
              </th:block>
            </select>
          </span>

          <th:block th:if="${not #lists.isEmpty(visibleDepartments)}">
            <label
              class="tw-mt-4 md:tw-mt-0 tw-mb-1 md:tw-mb-2 tw-m-0 tw-col-start-1 tw-col-end-1 tw-row-start-3"
              for="departmentSelect"
              th:text="#{absences.overview.department}"
            >
              Department
            </label>
            <select
              th:replace="fragments/select::multi(id='departmentSelect', name='department', options=~{::department-select-options}, class='tw-row-start-3')"
              id="departmentSelect"
              multiple
            >
              <th:block th:fragment="department-select-options">
                <option
                  th:each="department : ${visibleDepartments}"
                  value=""
                  th:value="${department.name}"
                  th:selected="${#lists.contains(selectedDepartments, department.name)}"
                  th:text="${department.name}"
                ></option>
              </th:block>
            </select>
            <span class="help-block tw-hidden md:tw-inline tw-text-sm tw-col-start-3 tw-row-start-3">
              <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
              <th:block th:text="#{absences.overview.department.help}"></th:block>
            </span>
          </th:block>
        </div>
      </form>
    </div>
  </div>

  <div class="tw-mt-8 tw-min-w-max xl:tw-max-w-max tw-mx-auto tw-px-4">
    <hr class="print:tw-hidden"/>
    <div th:each="month : ${absenceOverview.months}" class="tw-mb-14 print:tw-break-inside-avoid">
      <h2
        th:id="${'absence-table-' + month.nameOfMonth}"
        class="tw-text-2xl tw-m-0"
        th:classappend="${#lists.size(absenceOverview.months) == 1 ? 'tw-hidden print:tw-block' : ''}"
      >
        <th:block th:text="${month.nameOfMonth}" />
        <span class="hidden print:tw-inline" th:text="${selectedYear}" />
      </h2>

      <svg
        th:with="personColW=100, personGap=10, w=1280, colw=40, h=200"
        th:viewbox="|0 0 ${personColW + personGap + w} ${h}|"
        preserveAspectRatio="xMidYMin meet"
        class="tw-max-w-7xl tw-h-auto"
        style="width: 1390px"
      >
        <defs>
          <clipPath id="rounded-avatar-clip" clipPathUnits="objectBoundingBox">
            <circle id="rounded-avatar" cx=".5" cy=".5" r=".5" />
          </clipPath>
        </defs>

        <svg id="grid">
          <g
            th:each="day,it : ${month.days}"
            th:with="x=${personColW + personGap + (it.index * colw)}"
            th:classappend="|${day.today ? 'today' : ''}${day.weekend ? ' weekend' : ''}|"
          >
            <rect th:x="${x}" y="0" th:width="1" th:height="${h}" stroke="black" />
          </g>
        </svg>

        <svg id="head-row-days">
<!--            th:with="x=${personColW + personGap + (it.index * colw) + (it.index) + (colw/2)}"-->
          <g
            th:each="day,it : ${month.days}"
            th:with="x=${personColW + personGap + (it.index * colw)}"
            th:classappend="|${day.today ? 'today' : ''}${day.weekend ? ' weekend' : ''}|"
          >
            <text th:x="${x}" y="15" dominant-baseline="text-after-edge" text-anchor="middle" style="font-size: 1em;" class="tw-font-bold tw-fill-white" th:text="${day.dayOfMonth}">01</text>
            <text th:x="${x}" y="15" dominant-baseline="text-before-edge" text-anchor="middle" style="font-size: 1em;" class="tw-fill-zinc-500" th:text="${day.dayOfWeek}">Mo</text>
          </g>
        </svg>

<!--        <svg id="person-avatar-and-name">-->
<!--          <g-->
<!--            th:each="person,it : ${month.persons}"-->
<!--            th:with="h=28, y=${30 + (it.index * h) + ((it.index + 1) * 1)}"-->
<!--          >-->
<!--            <circle r="12" cx="12" th:cy="${y + (h/2)}" fill="navy" />-->
<!--            <image th:x="2" th:y="${y + (h/2) - 10}" th:href="${person.gravatarUrl + '?d=mm&s=128'}" height="20" width="20" clip-path="url('#rounded-avatar-clip')" />-->
<!--            <foreignObject x="34" th:y="${y}" width="0" th:width="${personColW - 34}" th:height="${h}">-->
<!--              <div class="tw-pt-0.5 tw-flex tw-flex-col tw-justify-center tw-leading-tight" style="font-size: 0.725rem;">-->
<!--                <span th:text="${person.firstName}" class="tw-w-full tw-inline-block tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap"></span>-->
<!--                <span th:text="${person.lastName}" class="tw-w-full tw-inline-block tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap"></span>-->
<!--              </div>-->
<!--            </foreignObject>-->
<!--          </g>-->
<!--        </svg>-->

        <svg id="person-absences">
          <g
            th:each="person,it : ${month.persons}"
            th:with="h=28, y=${30 + (it.index * h) + ((it.index + 1) * 1)}"
          >
            <rect
              th:y="${y}"
              th:x="${personColW + personGap}"
              th:width="${#arrays.length(month.days) * (colw)}"
              th:height="${h}"
              fill="fuchsia"
            />
<!--            <g th:id="${'public-holidays-' + it.index}">-->
<!--              <rect-->
<!--                th:each="publicHoliday,publicHolidayIt : ${person.publicHolidays}"-->
<!--                th:with="w=${publicHoliday.colspan * (colw/2) + (publicHoliday.colspan == 1 ? (0) : (0.5))}"-->
<!--                th:data-title="${publicHoliday.publicHolidayText}"-->
<!--                th:height="${h}"-->
<!--                th:width="${w}"-->
<!--                th:x="${personColW + 1 + publicHoliday.colStart * (w/2) + (publicHolidayIt.index * 1)}"-->
<!--                th:y="${y}"-->
<!--                style="fill:orange;"-->
<!--              />-->
<!--            </g>-->
          </g>
        </svg>
      </svg>

      <table
        th:if="${false}"
        id="absence-table"
        class="vacationOverview-table tw-text-sm tw-table-fixed"
        role="grid"
        th:aria-describedby="${'absence-table-' + month.nameOfMonth}"
      >
        <caption class="" th:text="#{absences.overview.table.caption(${month.nameOfMonth}, ${selectedYear})}">
          Absences in april 2022
        </caption>
        <thead>
          <tr>
            <th scope="col" class="print:tw-hidden tw-cursor-default tw-p-2 tw-sticky tw--left-0.5 tw-bg-gradient-to-r tw-from-white dark:tw-from-zinc-900 dark:tw-via-zinc-900 tw-z-40">&nbsp;</th>
            <th scope="col" class="sortable-field tw-cursor-default tw-p-2">&nbsp;</th>
            <th
              th:each="day : ${month.days}"
              colspan="2"
              scope="col"
              class="non-sortable tw-cursor-default vacationOverview-cal-head"
              th:classappend="|${day.today ? 'today' : ''}${day.weekend ? ' weekend' : ''}|"
              th:style="${day.today ? '--vacation-overview-rows: ' + #lists.size(month.persons) : ''}"
            >
              <div
                class="tw-mx-auto tw-p-2 tw-leading-none tw-text-center"
                th:classappend="|${day.type != null && day.type.publicHolidayFull ? 'public-holiday-full' : ''}${day.type != null && day.type.publicHolidayMorning ? ' public-holiday-morning' : ''}${day.type != null && day.type.publicHolidayNoon ? ' public-holiday-noon' : ''}|"
              >
                <span class="tw-font-bold tw-block" th:text="${day.dayOfMonth}"></span>
                <span class="tw-text-sm tw-block tw-text-zinc-500" th:text="${day.dayOfWeek}"></span>
              </div>
            </th>
          </tr>
        <tr class="tw-sr-only">
          <th scope="col" class="print:tw-hidden tw-cursor-default tw-p-2 tw-sticky tw--left-0.5 tw-bg-gradient-to-r tw-from-white dark:tw-from-zinc-900 dark:tw-via-zinc-900 tw-z-40">&nbsp;</th>
          <th scope="col" class="sortable-field tw-cursor-default tw-p-2">&nbsp;</th>
          <th:block th:each="day : ${month.days}">
            <th
              scope="col"
              class="non-sortable tw-cursor-default vacationOverview-cal-head"
            >
              Vormittag
            </th>
            <th
              scope="col"
              class="non-sortable tw-cursor-default vacationOverview-cal-head"
            >
              Nachmittag
            </th>
          </th:block>
        </tr>
        </thead>
        <tbody class="vacationOverview-tbody">
          <tr role="row" th:each="person : ${month.persons}">
            <th
              scope="row"
              class="tw-p-0.5 print:tw-hidden tw-sticky tw--left-px tw-bg-gradient-to-r tw-from-white dark:tw-from-zinc-900 dark:tw-via-zinc-900 tw-z-40 tw-border-l-0 tw-z-10"
            >
              <img
                th:replace="fragments/avatar::avatar-bordered(url=${person.gravatarUrl + '?d=mm&s=32'},username=${person.firstName + ' ' + person.lastName},width='32',height='32')"
                alt=""
              />
            </th>
            <th
              scope="row"
              class="tw-py-0.5 tw-pl-2 tw-pr-4 print:tw-py-1.5"
            >
              <div class="tw-flex tw-flex-col tw-justify-center tw-leading-tight">
                <th:block th:text="${person.firstName}" />&nbsp;
                <span th:text="${person.lastName}"></span>
              </div>
            </th>
            <td
              th:each="absence : ${person.days}"
              th:colspan="${absence.colspan}"
            >
              <div
                class="tw-bg-calendar tw-h-full tw-flex tw-items-center tw-justify-center"
                th:style="${'width: clamp(' + (absence.colspan * 1.2) + 'rem, ' + (absence.colspan * 1.5) + 'vw, ' + (absence.colspan * 1.55) + 'rem)'}"
              >
                <div
                  th:if="${#strings.equals(absence.type, 'NO_WORKDAY')}"
                  class="tw-flex-1 tw-flex tw-items-center tw-justify-center"
                >
                  <svg th:replace="icon/ban::svg(className='no-workday-icon tw-w-5 tw-h-5 tw--translate-y-px tw-stroke-2')"></svg>
                </div>
                <div
                  th:if="${#strings.equals(absence.type, 'PUBLIC_HOLIDAY')}"
                  class="tw-overflow-hidden tw-px-1 tw-py-0.5 tw-text-ellipsis tw-text-left tw-whitespace-nowrap tw-w-full"
                  style="background-color: #00ff89;"
                  th:data-title="TODO_Feiertag"
                >
                  <span th:classappend="|${absence.showText ? '' : 'tw-sr-only'}|">
                    TODO_Feiertag
                  </span>
                </div>
                <div
                  th:if="${#strings.equals(absence.type, 'VACATION')}"
                  class="tw-overflow-hidden tw-px-1 tw-py-0.5 tw-text-ellipsis tw-text-left tw-whitespace-nowrap tw-w-full"
                  th:classappend="|${absence.roundedLeft ? 'tw-rounded-l-md' : ''}${absence.roundedRight ? ' tw-rounded-r-md' : ''}|"
                  style="height: 55%; color: black; background-color: #ffcc00;"
                >
                  <span th:classappend="|${absence.showText ? '' : 'tw-sr-only'}|">
                    Erholungsurlaub
                  </span>
                </div>
                <div
                  th:if="${#strings.equals(absence.type, 'SICK')}"
                  class="tw-overflow-hidden tw-px-1 tw-py-0.5 tw-text-ellipsis tw-text-left tw-whitespace-nowrap tw-w-full"
                  th:classappend="|${absence.roundedLeft ? 'tw-rounded-l-md' : ''}${absence.roundedRight ? ' tw-rounded-r-md' : ''}|"
                  style="height: 55%; color: black; background-color: #a03333;"
                >
                  <span th:classappend="|${absence.showText ? '' : 'tw-sr-only'}|">
                    Krank
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

</body>
</html>
