/**************************************************************************

  OVERVIEW CALENDAR

**************************************************************************/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#datepicker {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: default;
    border-radius: 0;
    margin-bottom: 27px;
}

/* BUTTONS */

.datepicker-prev,
.datepicker-next {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    color: #7B7B7B;
}

.datepicker-prev {
    margin-right: 18px;
}

.datepicker-next {
    margin-left: 18px;
}

.datepicker-prev:hover,
.datepicker-next:hover {
    color: #4d5258;
}

/* MONTHS */

.datepicker-months-container {
    position: relative;
    /* months outside this div should not be visible */
    overflow: hidden;
    width: 100%;
    height: 300px;
}

/* MONTH */

.datepicker-month {
    position: absolute;
    width: 320px;
    height: 100%;
    transition: left 0.4s ease-in-out;
}

.datepicker-month:nth-child(1) { left: -960px; }
.datepicker-month:nth-child(2) { left: -640px; }
.datepicker-month:nth-child(3) { left: -320px; }
.datepicker-month:nth-child(4) { left: 0; }
.datepicker-month:nth-child(5) { left: 320px; }
.datepicker-month:nth-child(6) { left: 640px; }
.datepicker-month:nth-child(7) { left: 960px; }
.datepicker-month:nth-child(8) { left: 1280px; }
.datepicker-month:nth-child(9) { left: 1600px; }
.datepicker-month:nth-child(10) { left: 1920px; }

.datepicker-month h3 {
    margin : 0;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    color: #7B7B7B;
}

.datepicker-table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1em;
}

.datepicker-table th, .datepicker-table td {
    padding: 0;
    margin: 0;
    color: #7B7B7B;
}

.datepicker-table td {
    border: 1px solid #FFF;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url("./schraffur.png");
}

.datepicker-table thead tr th {
    padding: .5em;
    font-weight: normal;
}
.datepicker-day {
    display: block;
    padding: 12px;
    background-color: #E5E5E5;
    cursor: default;
    color: #6F6F6F;
}

/* NOTE: Order of the day classes is very important because of css classes overloading! */

/* must be the first special day, so other special days are overriding this */
.datepicker-day-past {
    background-color: #EFEFEF;
    color: #AFAFAF;
    opacity: .8;
}

.datepicker-day-personal-holiday.datepicker-day-absence-morning {
    background: linear-gradient(90deg, #FFEDA0 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday.datepicker-day-absence-noon {
    background: linear-gradient(-90deg, #FFEDA0 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon {
    background: #FFEDA0;
}

.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-past {
    background: linear-gradient(90deg, #FFEDA0 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday.datepicker-day-absence-noon.datepicker-day-past {
    background: linear-gradient(-90deg, #FFEDA0 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-past {
    background: #FFEDA0;
}

.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-status-ALLOWED,
.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-past.datepicker-day-status-ALLOWED {
    background: linear-gradient(90deg, #FFE57F 50%, #EFEFEF 50%);
    color: #FF881F;
}
.datepicker-day-personal-holiday.datepicker-day-absence-noon.datepicker-day-status-ALLOWED,
.datepicker-day-personal-holiday.datepicker-day-absence-noon.datepicker-day-past.datepicker-day-status-ALLOWED {
    background: linear-gradient(-90deg, #FFE57F 50%, #EFEFEF 50%);
    color: #FF881F;
}
.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-status-ALLOWED,
.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-past.datepicker-day-status-ALLOWED {
    background: #FFE57F;
}


.datepicker-day:not([data-datepicker-selectable=false]) {
    cursor: pointer;
}

.datepicker-day-today,
.datepicker-day:not([data-datepicker-selectable=false]):hover {
    background-color: #CFCFCF;
}

.datepicker-day-today.datepicker-day:not([data-datepicker-selectable=false]):hover,
.datepicker-day-today.datepicker-day-selected,
.datepicker-day-selected,
.datepicker-day-selected.datepicker-day-absence-morning,
.datepicker-day-selected.datepicker-day-absence-noon {
    color: #5F5F5F;
    background-color: #BFBFBF;
}

.datepicker-day-personal-holiday {
    color: #5F5F5F;
    background-color: #FFEDA0;
}

.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-status-ALLOWED {
    color: #FF881F;
}

.datepicker-day:not([data-datepicker-selectable=false]).datepicker-day-personal-holiday:hover {
    background-color: #FFDF5F;
}

.datepicker-day-personal-holiday.datepicker-day-absence-morning:hover,
.datepicker-day-personal-holiday.datepicker-day-absence-noon:hover,
.datepicker-day-selected.datepicker-day-personal-holiday,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-absence-morning,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-absence-noon {
    background: none;
    background-color: #FFDF5F;
}

.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-absence-morning.datepicker-day-status-ALLOWED:hover,
.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-absence-noon.datepicker-day-status-ALLOWED:hover,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-status-ALLOWED,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-absence-morning.datepicker-day-status-ALLOWED,
.datepicker-day-selected.datepicker-day-personal-holiday.datepicker-day-absence-noon.datepicker-day-status-ALLOWED {
    background: none;
    background-color: #FFE57F;
}

.datepicker-day-sick-note.datepicker-day-absence-morning {
    background: linear-gradient(90deg, #FFC5BF 50%, #EFEFEF 50%);
}
.datepicker-day-sick-note.datepicker-day-absence-noon {
    background: linear-gradient(-90deg, #FFC5BF 50%, #EFEFEF 50%);
}
.datepicker-day-sick-note.datepicker-day-absence-morning.datepicker-day-absence-noon {
    background: #FFC5BF;
}

.datepicker-day-sick-note.datepicker-day-absence-morning.datepicker-day-past {
    background: linear-gradient(90deg, #FFC5BF 50%, #EFEFEF 50%);
}
.datepicker-day-sick-note.datepicker-day-absence-noon.datepicker-day-past {
    background: linear-gradient(-90deg, #FFC5BF 50%, #EFEFEF 50%);
}
.datepicker-day-sick-note.datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-past {
    background: #FFC5BF;
}

.datepicker-day-sick-note {
    color: #DF4737;
    background-color: #FFC5BF;
}

.datepicker-day:not([data-datepicker-selectable=false]).datepicker-day-sick-note:hover {
    color: #DF4737;
    background-color: #FFA89F;
}

.datepicker-day-sick-note.datepicker-day-absence-morning:hover,
.datepicker-day-sick-note.datepicker-day-absence-noon:hover {
    background: none;
    color: #DF4737;
    background-color: #FFA89F;
}

.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-absence-morning.datepicker-day-status-ALLOWED {
    background: linear-gradient(90deg, #FFE57F 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-absence-noon.datepicker-day-status-ALLOWED {
    background: linear-gradient(-90deg, #FFE57F 50%, #EFEFEF 50%);
}
.datepicker-day-personal-holiday:not(.datepicker-day-sick-note).datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-status-ALLOWED {
    background: #FFE57F;
}

/* public holidays must be the last calendar day treatment */
/* to override all other absences */
.datepicker-day-public-holiday,
.datepicker-day-weekend {
  color: #FFF;
  background-color: #B5D0DF;
}

.datepicker-day-public-holiday.datepicker-day-absence-morning {
  background: linear-gradient(90deg, #B5D0DF 50%, #E5E5E5 50%);
  color: #6F6F6F;
}
.datepicker-day-public-holiday.datepicker-day-absence-noon {
  background: linear-gradient(-90deg, #B5D0DF 50%, #E5E5E5 50%);
  color: #6F6F6F;
}
.datepicker-day-public-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon {
  background: #B5D0DF;
}

.datepicker-day-public-holiday.datepicker-day-absence-morning:hover {
  background: linear-gradient(90deg, #B5D0DF 50%, #CFCFCF 50%);
  color: #FFF;
}
.datepicker-day-public-holiday.datepicker-day-absence-noon:hover {
  background: linear-gradient(-90deg, #B5D0DF 50%, #CFCFCF 50%);
  color: #FFF;
}
.datepicker-day-public-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon:hover {
  background: #B5D0DF;
}

.datepicker-day-public-holiday.datepicker-day-absence-morning.datepicker-day-past {
  background: linear-gradient(90deg, #B5D0DF 50%, #EFEFEF 50%);
  color: #AFAFAF;
}
.datepicker-day-public-holiday.datepicker-day-absence-noon.datepicker-day-past {
  background: linear-gradient(-90deg, #B5D0DF 50%, #EFEFEF 50%);
  color: #AFAFAF;
}
.datepicker-day-public-holiday.datepicker-day-absence-morning.datepicker-day-absence-noon.datepicker-day-past {
  background: #B5D0DF;
}


/**************************************************************************

  RESPONSIVNESS

**************************************************************************/

/* Show only current month on small devices! */
@media (max-width: 767px) {

    .datepicker-day {
        padding: 9px;
    }

    .datepicker-table {
        width: 100%;
    }

    .datepicker-month {
        display: none;
    }
    .datepicker-month:nth-child(5) {
        display: block;
        left: 0;
        width: 100%;
    }

}

/* Hide calendar completely on very small devices! */
@media (max-width: 359px) {

    #datepicker {
        display: none;
    }

}
