<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{overview.header.title(${person.niceName}, ${selectedYear})}"></title>
    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        /*<![CDATA[*/
        window.uv = window.uv || {};
        window.uv.personId = /*[[${person.id}]]*/ "personId";
        window.uv.webPrefix = /*[[@{/web}]]*/ "/web";
        window.uv.apiPrefix = /*[[@{/api}]]*/ "/api";
        // 0=sunday, 1=monday
        window.uv.weekStartsOn = 1;

        window.uv.i18n = window.uv.i18n || {};
        window.uv.i18n["overview.calendar.button.previous.label"] =
          /*[[#{overview.calendar.button.previous.label}]]*/ "";
        window.uv.i18n["overview.calendar.button.next.label"] = /*[[#{overview.calendar.button.next.label}]]*/ "";
        /*]]>*/
      </script>
      <script th:replace="~{fragments/vacation-type-colors-script :: vacation-type-colors-script}"></script>
    </th:block>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('person_overview.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="person_overview.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
      <div class="tw-mb-12">
        <div th:replace="~{person/overview/section-vacation-days::section}"></div>
      </div>

      <div th:if="${settings.overtimeSettings.overtimeActive}" class="tw-mb-12">
        <div th:replace="~{person/overview/section-overtime::section}"></div>
      </div>

      <div class="tw-mb-4 lg:tw-mb-12">
        <div th:replace="~{person/overview/section-calendar::section}"></div>
      </div>

      <div class="tw-mb-12">
        <div th:replace="~{person/overview/section-absences::section}"></div>
      </div>

      <th:block th:if="${person.id == signedInUser.id || canViewSickNoteAnotherUser}">
        <div th:replace="~{person/overview/section-sick-note::section}"></div>
      </th:block>
    </main>
  </body>
</html>
