<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{person.account.header.title(${person.niceName})}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('person.js')}" />
    </th:block>
    <th:block th:ref="scriptsDefer">
      <script defer type="module" asset:src="person.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
        <div class="feedback">
          <p th:if="${createSuccess}" th:text="#{person.account.action.create.success}" class="alert alert-success"></p>
          <p th:if="${updateSuccess}" th:text="#{person.account.action.update.success}" class="alert alert-success"></p>
        </div>

        <div class="tw-space-y-12 md:tw-space-y-0 md:tw-grid tw-gap-12 tw-grid-cols-1 md:tw-grid-cols-2">
          <div class="md:tw-col-start-1 md:tw-row-start-1">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-basedata-body}, ~{::person-details-basedata-actions})}"
            >
              <th:block th:ref="person-details-basedata-body">
                <h2 th:text="#{person.account.basedata.title}">Stammdaten</h2>
              </th:block>
              <th:block th:ref="person-details-basedata-actions">
                <a
                  th:if="${canEditBasedata}"
                  th:href="@{/web/person/__${person.id}__/basedata}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-basedata-box-icon}, ~{::person-details-basedata-box-body})}"
            >
              <th:block th:ref="person-details-basedata-box-icon">
                <span class="tw-text-blue-50 dark:tw-text-sky-800">
                  <img
                    th:replace="~{fragments/avatar::avatar-bordered(url=${person.gravatarURL + '?d=404&s=60'},niceName=${person.niceName},initials=${person.initials},width='60',height='60',personId=${person.id})}"
                    alt=""
                  />
                </span>
              </th:block>
              <th:block th:ref="person-details-basedata-box-body">
                <span class="tw-flex tw-items-center tw-mb-1 tw-mt-2">
                  <a
                    th:text="${person.niceName}"
                    th:href="@{/web/person/__${person.id}__/overview}"
                    class="tw-text-lg text-link print:no-link"
                  ></a>
                  <th:block th:if="${person.isInactive}">
                    <span
                      class="tw-flex tw-items-center tw-text-zinc-700 dark:tw-text-zinc-50 dark:tw-text-opacity-75"
                      th:data-title="#{person.data.inactive}"
                    >
                      &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" />
                      <span class="tw-sr-only">(<th:block th:text="#{person.data.inactive}" />)</span>
                    </span>
                  </th:block>
                </span>
                <a
                  th:if="${person.email != null}"
                  th:href="|mailto:${person.email}|"
                  class="icon-link tw-inline-block tw-text-sm print:no-link"
                >
                  <span class="tw-flex tw-items-center">
                    <svg th:replace="~{icon/mail::svg(className='tw-w-4 tw-h-4')}"></svg>&nbsp;
                    <th:block th:text="${person.email}" />
                  </span>
                </a>
                <span
                  th:if="${person.email == null}"
                  class="tw-text-sm"
                  th:text="#{person.account.basedata.email.notification(${person.niceName})}"
                ></span>
                <dl class="tw-m-0 tw-mt-4 tw-list-none">
                  <dt
                    th:if="${personBasedata != null && not #strings.isEmpty(personBasedata.personnelNumber)}"
                    th:text="#{person.account.basedata.personnelNumber}"
                    class="tw-mb-2 tw-font-medium dark:tw-text-zinc-400"
                  ></dt>
                  <dd
                    th:if="${personBasedata != null && not #strings.isEmpty(personBasedata.personnelNumber)}"
                    th:text="${personBasedata.personnelNumber}"
                    class="tw-text-sm tw-text-ellipsis tw-overflow-hidden"
                  ></dd>
                  <dt
                    th:if="${personBasedata != null && not #strings.isEmpty(personBasedata.additionalInformation)}"
                    th:text="#{person.account.basedata.additionalInformation}"
                    class="tw-mb-2 tw-mt-4 tw-font-medium dark:tw-text-zinc-400"
                  ></dt>
                  <dd
                    th:if="${personBasedata != null && not #strings.isEmpty(personBasedata.additionalInformation)}"
                    class="tw-text-sm tw-text-ellipsis tw-overflow-hidden"
                  >
                    <span th:text="${personBasedata.additionalInformation}" class="tw-whitespace-pre-line"></span>
                  </dd>
                </dl>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-1 md:tw-row-start-2">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-departments-body}, ~{::person-details-departments-actions})}"
            >
              <th:block th:ref="person-details-departments-body">
                <h2 th:text="#{person.account.departments.title}">Abteilungen</h2>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-departments-box-icon}, ~{::person-details-departments-box-body})}"
            >
              <th:block th:ref="person-details-departments-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-departments-box-icon-rounded}, className='tw-bg-blue-400 tw-text-white dark:tw-bg-sky-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-departments-box-icon-rounded">
                    <svg th:replace="~{icon/users::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-departments-box-body">
                <th:block
                  th:if="${#lists.isEmpty(departments)}"
                  th:text="#{person.account.departments.none}"
                ></th:block>
                <ul
                  th:if="${not #lists.isEmpty(departments)}"
                  th:each="department : ${departments}"
                  class="tw-space-y-0.5 tw-text-sm"
                >
                  <li
                    th:if="${#lists.contains(departmentHeadOfDepartments, department) && #lists.contains(secondStageAuthorityOfDepartments, department)}"
                  >
                    <a
                      th:if="${canEditDepartments}"
                      th:text="${department.name}"
                      th:href="@{/web/department/__${department.id}__/edit}"
                    ></a>
                    <th:block th:unless="${canEditDepartments}" th:text="${department.name}" />
                    <th:block th:text="#{person.account.departments.departmentHeadAndSecondStageAuthority}" />
                  </li>
                  <li
                    th:if="${#lists.contains(departmentHeadOfDepartments, department) && !#lists.contains(secondStageAuthorityOfDepartments, department)}"
                  >
                    <a
                      th:if="${canEditDepartments}"
                      th:text="${department.name}"
                      th:href="@{/web/department/__${department.id}__/edit}"
                    ></a>
                    <th:block th:unless="${canEditDepartments}" th:text="${department.name}" />
                    <th:block th:text="#{person.account.departments.departmentHead}" />
                  </li>
                  <li
                    th:if="${!#lists.contains(departmentHeadOfDepartments, department) && #lists.contains(secondStageAuthorityOfDepartments, department)}"
                  >
                    <a
                      th:if="${canEditDepartments}"
                      th:text="${department.name}"
                      th:href="@{/web/department/__${department.id}__/edit}"
                    ></a>
                    <th:block th:unless="${canEditDepartments}" th:text="${department.name}" />
                    <th:block th:text="#{person.account.departments.secondStageAuthority}" />
                  </li>
                  <li
                    th:if="${not #lists.contains(departmentHeadOfDepartments, department) && not #lists.contains(secondStageAuthorityOfDepartments, department)}"
                  >
                    <a
                      th:if="${canEditDepartments}"
                      th:text="${department.name}"
                      th:href="@{/web/department/__${department.id}__/edit}"
                    ></a>
                    <th:block th:unless="${canEditDepartments}" th:text="${department.name}" />
                  </li>
                </ul>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-1 md:tw-row-start-3">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-permissions-body}, ~{::person-details-permissions-actions})}"
            >
              <th:block th:ref="person-details-permissions-body">
                <h2 th:text="#{person.account.permissions.title}">Berechtigungen</h2>
              </th:block>
              <th:block th:ref="person-details-permissions-actions">
                <a
                  th:if="${canEditPermissions}"
                  th:href="@{/web/person/__${person.id}__/permissions}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-permissions-box-icon}, ~{::person-details-permissions-box-body})}"
            >
              <th:block th:ref="person-details-permissions-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-permissions-box-icon-rounded}, className='tw-bg-blue-400 tw-text-white dark:tw-bg-sky-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-permissions-box-icon-rounded">
                    <svg th:replace="~{icon/key::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-permissions-box-body">
                <dl th:each="role, loop : ${permissions}" class="tw-m-0">
                  <dt
                    th:with="permissionMessageKey=|person.form.permissions.roles.${role}|"
                    th:text="#{__${permissionMessageKey}__}"
                    class="tw-mb-2 tw-font-medium"
                  ></dt>
                  <dd
                    th:text="#{'person.form.permissions.roles.' + ${role} + '.description'(${person.niceName})}"
                    th:class="|tw-text-sm ${not loop.last ? 'tw-mb-8' : ''}|"
                  ></dd>
                </dl>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-1 md:tw-row-start-4">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-notifications-body}, ~{::person-details-notifications-actions})}"
            >
              <th:block th:ref="person-details-notifications-body">
                <h2 id="heading-notification" th:text="#{person.account.notifications.title}">Benachrichtigungen</h2>
              </th:block>
              <th:block th:ref="person-details-notifications-actions">
                <a
                  th:if="${canEditNotifications}"
                  th:href="@{/web/person/__${person.id}__/notifications}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-notifications-box-icon}, ~{::person-details-notifications-box-body})}"
            >
              <th:block th:ref="person-details-notifications-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-notifications-box-icon-rounded}, className='tw-bg-blue-400 tw-text-white dark:tw-bg-sky-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-notifications-box-icon-rounded">
                    <svg th:replace="~{icon/mail::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-notifications-box-body">
                <th:block
                  th:replace="~{person/detail-section/person_detail_notifications::section(${personNotificationsDto})}"
                ></th:block>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-2 md:tw-row-start-1">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-account-body}, ~{::person-details-account-actions})}"
            >
              <th:block th:ref="person-details-account-body">
                <h2 th:text="#{person.account.annualVacation.title}">Urlaubsanspruch</h2>
                <div
                  th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=|/web/person/${person.id}?year=|, selectedYear=${selectedYear})}"
                ></div>
              </th:block>
              <th:block th:ref="person-details-account-actions">
                <a
                  th:if="${canEditAccounts}"
                  th:href="@{/web/person/__${person.id}__/account?year=__${selectedYear}__}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-account-box-icon}, ~{::person-details-account-box-body})}"
            >
              <th:block th:ref="person-details-account-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-account-box-icon-rounded}, className='tw-bg-emerald-500 tw-text-white dark:tw-bg-green-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-account-box-icon-rounded">
                    <svg th:replace="~{icon/calendar::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-account-box-body">
                <th:block th:if="${account != null}">
                  <span
                    th:text="#{person.account.vacation.entitlement.1}"
                    class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  >
                  </span>
                  <span
                    th:text="#{person.account.vacation.entitlement.2(${account.actualVacationDays + account.remainingVacationDays})}"
                    class="tw-my-1 tw-text-lg tw-font-medium"
                  >
                  </span>
                  <span
                    th:text="#{person.account.vacation.entitlement.remaining(${account.remainingVacationDays})}"
                    class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  >
                  </span>
                  <span
                    th:if="${not account.doRemainingVacationDaysExpire}"
                    th:text="#{person.account.vacation.entitlement.remaining.doNotExpire}"
                    class="tw-mt-2 tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  ></span>
                  <span
                    th:if="${account.doRemainingVacationDaysExpire}"
                    class="tw-text-sm tw-text-black tw-text-opacity-75 dark:tw-text-zinc-300 dark:tw-text-opacity-100"
                  >
                    <th:block
                      th:text="#{person.account.vacation.entitlement.remaining.notExpiring.one(${account.remainingVacationDaysNotExpiring})}"
                    ></th:block>
                    <th:block th:replace="~{fragments/date::date(${account.expiryDate})}"></th:block>
                    <th:block
                      th:text="#{person.account.vacation.entitlement.remaining.notExpiring.two(${account.remainingVacationDaysNotExpiring})}"
                    ></th:block>
                  </span>
                </th:block>
                <th:block th:if="${account == null}">
                  <span th:text="#{person.account.vacation.noInformation}" class="tw-text-sm"></span>
                </th:block>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-2 md:tw-row-start-3">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-workingtime-body}, ~{::person-details-workingtime-actions})}"
            >
              <th:block th:ref="person-details-workingtime-body">
                <h2 th:text="#{person.account.workingTime.title}">Arbeitszeiten</h2>
              </th:block>
              <th:block th:ref="person-details-workingtime-actions">
                <a
                  th:if="${canEditWorkingtime}"
                  th:href="@{/web/person/__${person.id}__/workingtime}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-workingtime-box-icon}, ~{::person-details-workingtime-box-body})}"
            >
              <th:block th:ref="person-details-workingtime-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-workingtime-box-icon-rounded}, className='tw-bg-emerald-500 tw-text-white dark:tw-bg-green-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-workingtime-box-icon-rounded">
                    <svg th:replace="~{icon/clock::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-workingtime-box-body">
                <span class="tw-text-sm">
                  <th:block th:if="${workingTime != null}">
                    <p class="tw-mb-2">
                      <th:block th:text="#{person.account.workingTime.validity}" />
                      <span class="is-inline-block">
                        <th:block th:replace="~{fragments/date::date(${workingTime.validFrom})}"></th:block> </span
                      >:
                    </p>
                    <table class="tw-flex">
                      <caption th:text="#{person.account.workingTime.title}" class="tw-sr-only"></caption>
                      <thead class="tw-order-last">
                        <tr>
                          <th th:text="#{MONDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{TUESDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{WEDNESDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{THURSDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{FRIDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{SATURDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                          <th th:text="#{SUNDAY}" class="tw-block tw-text-sm tw-font-medium" scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="tw-mr-1 tw-flex">
                        <tr class="tw-flex tw-flex-col">
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.monday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.monday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.tuesday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.tuesday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.wednesday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.wednesday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.thursday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.thursday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.friday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.friday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.saturday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.saturday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                          <td class="tw-flex-1 tw-flex tw-items-center tw-py-0.5">
                            <th:block th:if="${workingTime.sunday.duration > 0}">
                              <svg th:replace="~{icon/check-circle-2::svg(className='tw-w-4 tw-h-4')}" />
                            </th:block>
                            <span
                              th:text="#{${workingTime.sunday.duration > 0 ? 'person.workingday.yes' : 'person.workingday.no'}}"
                              class="tw-sr-only"
                            ></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th:block>
                  <th:block th:if="${workingTime == null}">
                    <th:block th:text="#{person.account.workingTime.none}"></th:block>
                  </th:block>
                </span>
              </th:block>
            </div>
          </div>

          <div class="md:tw-col-start-2 md:tw-row-start-2">
            <div
              th:replace="~{fragments/section-heading::section-heading(~{::person-details-federalState-body}, ~{::person-details-federalState-actions})}"
            >
              <th:block th:ref="person-details-federalState-body">
                <h2 th:text="#{person.account.federalState.title}">Feiertagsregelung</h2>
              </th:block>
              <th:block th:ref="person-details-federalState-actions">
                <a
                  th:if="${canEditWorkingtime}"
                  th:href="@{/web/person/__${person.id}__/workingtime}"
                  class="icon-link tw-px-1"
                  aria-hidden="true"
                >
                  <svg th:replace="~{icon/pencil::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                  <span th:text="#{action.edit}"></span>
                </a>
              </th:block>
            </div>
            <div
              th:replace="~{fragments/box::box-with-icon(~{::person-details-federalstate-box-icon}, ~{::person-details-federalstate-box-body})}"
            >
              <th:block th:ref="person-details-federalstate-box-icon">
                <div
                  th:replace="~{fragments/rounded::block(content=~{::person-details-federalstate-box-icon-rounded}, className='tw-bg-emerald-500 tw-text-white dark:tw-bg-green-500 dark:tw-text-zinc-900')}"
                >
                  <th:block th:ref="person-details-federalstate-box-icon-rounded">
                    <svg th:replace="~{icon/map::svg(className='tw-w-8 tw-h-8')}" />
                  </th:block>
                </div>
              </th:block>
              <th:block th:ref="person-details-federalstate-box-body">
                <span
                  th:if="${federalState.name == 'NONE'}"
                  th:text="#{federalState.NONE}"
                  class="tw-text-base tw-font-medium"
                ></span>
                <p th:if="${federalState.name != 'NONE'}">
                  <span th:text="#{person.account.workingTime.federalState}" class="tw-block tw-mb-1 tw-text-sm"></span>
                  <span
                    th:with="countryCode=|country.${federalState.country}|,federalStateCode=|federalState.${federalState}|"
                    class="tw-text-base tw-font-medium"
                  >
                    <th:block th:text="#{__${countryCode}__}"></th:block> -
                    <th:block th:text="#{__${federalStateCode}__}"></th:block>
                  </span>
                </p>
              </th:block>
            </div>
          </div>

          <div th:if="${canDeletePerson}" class="md:tw-col-start-2 md:tw-row-start-4">
            <th:block th:replace="~{person/detail-section/action-delete-person::section}"></th:block>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
