<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{person.form.permissions.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('person_form.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="person_form.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
      <div th:replace="~{fragments/section-heading::section-heading(~{::person-permissions-body}, ~{})}">
        <th:block th:ref="person-permissions-body">
          <h2 th:text="#{person.form.permissions.title(${person.niceName})}">Berechtigungen für</h2>
        </th:block>
      </div>

      <div class="tw-flex tw-items-center tw-gap-4 sm:tw-gap-6 tw-mb-4 md:tw-mb-12">
        <div th:replace="~{person/box::person-box(person=${person})}"></div>
      </div>

      <form
        method="post"
        th:action="@{/web/person/__${person.id}__/permissions}"
        th:object="${person}"
        class="form-horizontal"
      >
        <input type="hidden" th:field="*{id}" th:value="${person.id}" />
        <input type="hidden" th:field="*{niceName}" th:value="${person.niceName}" />
        <input type="hidden" th:field="*{gravatarURL}" th:value="${person.gravatarURL}" />
        <input type="hidden" th:field="*{email}" th:value="${person.email}" />

        <div class="form-section tw-mb-16">
          <div class="row">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('permissions')}">
              <th:block th:errors="*{permissions}"> permissions Error</th:block>
            </p>

            <aside class="col-md-4 col-md-push-8">
              <p class="help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <th:block th:text="#{person.form.permissions.description}" />
              </p>
            </aside>

            <div class="col-md-8 col-md-pull-4">
              <div class="form-group is-required">
                <div class="col-md-9">
                  <div class="checkbox tw-pb-2 tw-mb-2">
                    <strong th:text="#{person.form.permissions.roles.INACTIVE}" class="tw-mb-2 tw-block"></strong>
                    <label class="tw-leading-snug">
                      <input type="checkbox" th:field="*{permissions}" value="INACTIVE" />
                      <th:block th:text="#{person.form.permissions.roles.INACTIVE.description}" />
                    </label>
                  </div>

                  <div class="checkbox tw-pb-2 tw-mb-2">
                    <strong th:text="#{person.form.permissions.roles.USER}" class="tw-mb-2 tw-block"></strong>
                    <label class="tw-leading-snug">
                      <input type="checkbox" th:field="*{permissions}" value="USER" />
                      <th:block th:text="#{person.form.permissions.roles.USER.description}" />
                    </label>
                  </div>

                  <h2 th:text="#{person.form.permissions.roles.basic_roles.description}" class="tw-mb-2 tw-block"></h2>
                  <div class="checkbox tw-pb-2 tw-mb-2">
                    <strong
                      th:text="#{person.form.permissions.roles.DEPARTMENT_HEAD}"
                      class="tw-mb-2 tw-block"
                    ></strong>
                    <label class="tw-leading-snug tw-mb-2">
                      <input type="checkbox" th:field="*{permissions}" value="DEPARTMENT_HEAD" />
                      <th:block th:text="#{person.form.permissions.roles.DEPARTMENT_HEAD.description}" />
                    </label>
                    <div class="tw-ml-6 tw-text-sm tw-leading-snug">
                      <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                      <th:block
                        th:if="${#lists.isEmpty(departmentHeadDepartments)}"
                        th:text="#{person.form.permissions.roles.DEPARTMENT_HEAD.departments.none.description}"
                      />
                      <th:block th:if="${not #lists.isEmpty(departmentHeadDepartments)}">
                        <th:block th:text="#{person.form.permissions.roles.DEPARTMENT_HEAD.departments.description}" />
                        <ul
                          th:if="${departmentHeadDepartments != null && not #lists.isEmpty(departmentHeadDepartments)}"
                          class="tw-mt-1.5 tw-m-0 tw-p-0 tw-list-none tw-flex tw-flex-wrap tw-text-xs tw-gap-1"
                          th:aria-label="#{person.form.permissions.roles.DEPARTMENT_HEAD.departments.description}"
                        >
                          <li th:each="department : ${departmentHeadDepartments}">
                            <a
                              href="#"
                              th:href="@{/web/absences (department=${department.name})}"
                              th:text="${department.name}"
                              class="tw-px-1.5 tw-no-underline tw-rounded-full tw-bg-emerald-100 tw-text-emerald-800 dark:tw-border dark:tw-border-green-600 dark:tw-text-green-600 dark:tw-bg-transparent print:no-link"
                            >
                              Geschäftsführung
                            </a>
                          </li>
                        </ul>
                      </th:block>
                    </div>
                  </div>

                  <div class="checkbox tw-pb-2 tw-mb-2">
                    <strong
                      th:text="#{person.form.permissions.roles.SECOND_STAGE_AUTHORITY}"
                      class="tw-mb-2 tw-block"
                    ></strong>
                    <label class="tw-leading-snug tw-mb-2">
                      <input type="checkbox" th:field="*{permissions}" value="SECOND_STAGE_AUTHORITY" />
                      <th:block th:text="#{person.form.permissions.roles.SECOND_STAGE_AUTHORITY.description}" />
                    </label>
                    <div class="tw-ml-6 tw-text-sm tw-leading-snug">
                      <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                      <th:block
                        th:if="${#lists.isEmpty(secondStageDepartments)}"
                        th:text="#{person.form.permissions.roles.SECOND_STAGE_AUTHORITY.departments.none.description}"
                      />
                      <th:block th:if="${not #lists.isEmpty(secondStageDepartments)}">
                        <th:block
                          th:text="#{person.form.permissions.roles.SECOND_STAGE_AUTHORITY.departments.description}"
                        />
                        <ul
                          th:if="${secondStageDepartments != null && not #lists.isEmpty(secondStageDepartments)}"
                          class="tw-mt-1.5 tw-m-0 tw-p-0 tw-list-none tw-flex tw-flex-wrap tw-text-xs tw-gap-1"
                          th:aria-label="#{person.form.permissions.roles.DEPARTMENT_HEAD.departments.description}"
                        >
                          <li th:each="department : ${secondStageDepartments}">
                            <a
                              href="#"
                              th:href="@{/web/absences (department=${department.name})}"
                              th:text="${department.name}"
                              class="tw-px-1.5 tw-no-underline tw-rounded-full tw-bg-emerald-100 tw-text-emerald-800 dark:tw-border dark:tw-border-green-600 dark:tw-text-green-600 dark:tw-bg-transparent print:no-link"
                            >
                              Geschäftsführung
                            </a>
                          </li>
                        </ul>
                      </th:block>
                    </div>
                  </div>

                  <div class="checkbox tw-pb-2 tw-mb-2">
                    <strong th:text="#{person.form.permissions.roles.BOSS}" class="tw-mb-2 tw-block"></strong>
                    <label class="tw-leading-snug tw-mb-2">
                      <input type="checkbox" th:field="*{permissions}" value="BOSS" />
                      <th:block th:text="#{person.form.permissions.roles.BOSS.description}" />
                    </label>
                  </div>

                  <div class="checkbox tw-pb-4 tw-mb-4">
                    <strong th:text="#{person.form.permissions.roles.OFFICE}" class="tw-mb-2 tw-block"></strong>
                    <label class="tw-leading-snug tw-mb-2">
                      <input type="checkbox" th:field="*{permissions}" value="OFFICE" />
                      <th:block th:text="#{person.form.permissions.roles.OFFICE.description}" />
                    </label>
                  </div>

                  <h2
                    th:text="#{person.form.permissions.roles.additional_roles.description}"
                    class="tw-mb-2 tw-block"
                  ></h2>
                  <div class="checkbox">
                    <strong
                      th:text="#{person.form.permissions.roles.SICK_NOTE_VIEW_ADD_EDIT}"
                      class="tw-mb-2 tw-block"
                    ></strong>
                    <label class="tw-leading-snug tw-ml-5 tw-pb-2">
                      <input type="checkbox" th:field="*{permissions}" value="SICK_NOTE_VIEW_ADD_EDIT" />
                      <th:block
                        th:text="#{person.form.permissions.roles.SICK_NOTE_VIEW_ADD_EDIT.description(${person.niceName})}"
                      />
                    </label>
                  </div>
                  <div class="checkbox">
                    <strong
                      th:text="#{person.form.permissions.roles.APPLICATION_ADD_CANCEL}"
                      class="tw-mb-2 tw-block"
                    ></strong>
                    <label class="tw-leading-snug tw-ml-5 tw-pb-2">
                      <input type="checkbox" th:field="*{permissions}" value="APPLICATION_ADD_CANCEL" />
                      <th:block
                        th:text="#{person.form.permissions.roles.APPLICATION_ADD_CANCEL.description(${person.niceName})}"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="tw-w-full tw-m-0 tw-mt-6" />

        <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
          <button type="submit" class="button-main-green tw-w-56" th:text="#{action.save}">Speichern</button>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </form>
    </main>
  </body>
</html>
