<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{person.form.basedata.title(${personBasedata.niceName})}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('person_basedata.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="person_basedata.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-1.5">
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::person-basedata-heading-body}, ~{::person-basedata-heading-actions})}"
      >
        <th:block th:ref="person-basedata-heading-body">
          <h1 th:text="#{person.form.basedata.title(${personBasedata.niceName})}">Person Base data</h1>
        </th:block>
      </div>

      <div class="tw-mt-4 md:tw-mt-6">
        <div class="tw-flex tw-items-center tw-gap-4 sm:tw-gap-6 tw-mb-4 md:tw-mb-12">
          <div class="tw-p-1 tw-text-blue-50 dark:tw-text-sky-800">
            <img
              th:replace="~{fragments/avatar::avatar-bordered(url=${personBasedata.gravatarURL + '?d=404&s=60'},niceName=${personBasedata.niceName},initials=${personBasedata.initials},width='60',height='60',personId=${personBasedata.personId})}"
              alt=""
            />
          </div>
          <div>
            <div class="tw-mb-1">
              <span class="tw-flex tw-items-center">
                <a
                  href="#"
                  th:href="@{/web/person/{personId}/overview (personId=${personBasedata.personId})}"
                  class="text-link tw-text-lg print:no-link"
                  th:text="${personBasedata.niceName}"
                >
                  John Doe
                </a>
                <th:block th:if="${personBasedata.isInactive}">
                  <span class="tw-mt-1" th:data-title="#{person.data.inactive}">
                    &nbsp;<svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}" /><span class="tw-sr-only"
                      >(<th:block th:text="#{person.data.inactive}" />)</span
                    >
                  </span>
                </th:block>
              </span>
            </div>
            <a
              th:if="${personBasedata.email != null}"
              href="mailto:john.doe@example.org"
              th:href="${'mailto:' + personBasedata.email}"
              class="icon-link tw-text-sm print:no-link"
            >
              <svg th:replace="~{icon/mail::svg(className='tw-w-4 tw-h-4')}"></svg>
              &nbsp;<th:block th:text="${personBasedata.email}">john.doe@example.org</th:block>
            </a>
          </div>
        </div>
      </div>

      <div class="tw-mt-8">
        <form
          class="tw-flex tw-flex-col"
          action="#"
          th:action="@{/web/person/{personId}/basedata (personId=${personBasedata.personId})}"
          method="post"
          th:object="${personBasedata}"
        >
          <input type="hidden" th:field="*{personId}" />
          <input type="hidden" th:field="*{niceName}" />
          <input type="hidden" th:field="*{gravatarURL}" />
          <input type="hidden" th:field="*{email}" />

          <div>
            <div class="md:tw-flex tw-max-w-3xl">
              <label
                class="tw-m-0 tw-mb-0.5 md:tw-mb-0 md:tw-w-1/4"
                for="personnelNumber"
                th:for="${#ids.next('personnelNumber')}"
                th:text="#{person.form.basedata.personnelNumber}"
              >
                Personnel Number
              </label>
              <div class="tw-flex-1">
                <input
                  type="text"
                  id="personnelNumber"
                  th:field="*{personnelNumber}"
                  class="tw-form-control"
                  th:errorclass="error"
                />
                <div class="error tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('personnelNumber')}">
                  <th:block th:errors="*{personnelNumber}"> Personnel Number Error </th:block>
                </div>
              </div>
            </div>
            <div class="tw-mt-5 md:tw-mt-6 md:tw-flex tw-max-w-3xl">
              <label
                class="tw-m-0 tw-mb-0.5 md:tw-mb-0 md:tw-w-1/4"
                for="additionalInfo"
                th:for="${#ids.next('additionalInfo')}"
                th:text="#{person.form.basedata.additionalInformation}"
              >
                Additional Information
              </label>
              <div class="tw-flex-1">
                <div class="tw-flex tw-flex-col tw-space-y-1">
                  <textarea
                    id="additionalInfo"
                    class="tw-form-control"
                    th:errorclass="error"
                    rows="4"
                    th:field="*{additionalInfo}"
                  ></textarea>
                </div>
                <div class="error tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('additionalInfo')}">
                  <th:block th:errors="*{additionalInfo}"> Additional Information Error </th:block>
                </div>
              </div>
            </div>
          </div>

          <hr class="tw-w-full tw-m-0 tw-mt-6" />

          <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
            <button type="submit" class="button-main-green tw-w-56" th:text="#{action.save}">Speichern</button>
            <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
