<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{person.overview.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('persons.js')}" />
    </th:block>
    <th:block th:ref="scriptsDefer">
      <script defer type="module" asset:src="persons.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0" data-turbo="true">
      <div class="feedback">
        <p
          th:if="${personDeletionSuccess}"
          th:text="#{person.account.action.deletion.success(${personDeletionSuccess})}"
          class="alert alert-success"
        ></p>
      </div>
      <div
        th:replace="~{fragments/section-heading::section-heading(~{::persons-overview-heading-body}, ~{::persons-overview-heading-actions})}"
      >
        <div
          id="persons-filter"
          th:fragment="persons-overview-heading-body"
          th:with="visiblePersonsDropdownText=${active ? (department != null ? department.name : #messages.msg('persons.active')) : #messages.msg('persons.inactive')}"
        >
          <div class="dropdown tw-inline-block">
            <button
              id="active-state"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="tw-bg-transparent tw-text-current tw-m-0 tw-p-0"
            >
              <th:block th:text="${visiblePersonsDropdownText}"></th:block>
              <svg th:replace="~{icon/chevron-down::svg(className='tw-ml-0.5 tw-opacity-70 tw-w-4 tw-h-4')}"></svg>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="active-state">
              <li>
                <a
                  th:href="@{/web/person (active=true, year=${selectedYear}, sort=${sortQuery}, query=${query})}"
                  class="tw-flex tw-items-center"
                >
                  <span class="tw-w-5 tw-flex tw-items-center">
                    <svg th:replace="~{icon/user::svg(className='tw-w-4 tw-h-4')}"></svg>
                  </span>
                  <th:block th:text="#{persons.active}"></th:block>
                </a>
              </li>
              <th:block th:if="${not #lists.isEmpty(departments)}">
                <li th:each="department : ${departments}">
                  <a
                    th:href="@{/web/person (active=true, year=${selectedYear}, department=${department.id}, sort=${sortQuery}, query=${query})}"
                  >
                    <span class="tw-w-5 tw-inline-block"></span>
                    <th:block th:text="${department.name}"></th:block>
                  </a>
                </li>
                <li role="separator" class="divider"></li>
              </th:block>
              <li>
                <a
                  th:href="@{/web/person (active=false, year=${selectedYear}, sort=${sortQuery}, query=${query})}"
                  class="tw-flex tw-items-center"
                >
                  <span class="tw-w-5 tw-flex tw-items-center">
                    <svg th:replace="~{icon/user-x::svg(className='tw-w-4 tw-h-4')}"></svg>
                  </span>
                  <th:block th:text="#{persons.inactive}"></th:block>
                </a>
              </li>
            </ul>
          </div>
          <th:block
            th:with="hrefPrefix=${department == null ? '/web/person?active=' + active + '&size=' + personsPagination.page.size + '&sort=' + sortQuery + '&query=' + query + '&year=' : '/web/person?active=' + active + '&department=' + department.id + '&sort=' + sortQuery + '&query=' + query + '&year='}"
          >
            <div
              th:replace="~{fragments/year-selector::year-selector(id='year-selection', currentYear=${currentYear}, hrefPrefix=${hrefPrefix}, selectedYear=${selectedYear})}"
            ></div>
          </th:block>
        </div>
        <th:block th:fragment="persons-overview-heading-actions">
          <button th:replace="~{fragments/print::button}"></button>
        </th:block>
      </div>

      <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4">
        <form
          action="#"
          th:action="@{/web/person}"
          method="get"
          data-turbo-frame="frame-persons"
          data-turbo-action="advance"
        >
          <div id="persons-form-query-inputs">
            <input type="hidden" name="active" th:value="${active}" />
            <input th:if="${selectedYear != null}" type="hidden" name="year" th:value="${selectedYear}" />
            <input th:if="${department != null}" type="hidden" name="department" th:value="${department.id}" />
            <input type="hidden" name="size" th:value="${personsPagination.page.size}" />
            <input th:if="${not #strings.isEmpty(sortQuery)}" type="hidden" name="sort" th:value="${sortQuery}" />
          </div>
          <div class="tw-flex tw-flex-col md:tw-flex-row">
            <label for="search" th:text="#{action.search}" class="tw-sr-only"></label>
            <span class="tw-flex-1 tw-relative tw-border dark:tw-border-neutral-600 tw-rounded-md">
              <input
                type="text"
                id="search"
                name="query"
                th:value="${query}"
                class="form-control tw-pr-8 tw-border-none tw-w-full md:tw-w-auto"
                th:placeholder="#{action.search}"
                data-auto-submit="search-submit"
                data-auto-submit-delay="100"
              />
              <button
                type="submit"
                id="search-submit"
                class="tw-absolute tw-bottom-0 tw-right-0 dark:tw-bg-zinc-800 tw-py-3 tw-px-2 tw-rounded-r-md tw-h-full tw-flex tw-items-center"
              >
                <svg th:replace="~{icon/search::svg(className='tw-w-5 tw-h-5 tw-stroke-2')}"></svg>
                <span class="tw-sr-only" th:text="#{action.search}">Suche</span>
              </button>
            </span>
          </div>
        </form>
        <div class="md:tw-ml-auto">
          <form
            action="#"
            th:action="@{/web/person}"
            method="get"
            data-turbo-frame="frame-persons"
            data-turbo-action="advance"
          >
            <div id="persons-form-sort-inputs">
              <input type="hidden" name="active" th:value="${active}" />
              <input th:if="${selectedYear != null}" type="hidden" name="year" th:value="${selectedYear}" />
              <input th:if="${department != null}" type="hidden" name="department" th:value="${department.id}" />
              <input type="hidden" name="size" th:value="${personsPagination.page.size}" />
              <input th:if="${not #strings.isEmpty(query)}" type="hidden" name="query" th:value="${query}" />
            </div>
            <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-items-center">
              <label for="sort-select" class="tw-m-0 tw-mr-2">
                <th:block th:text="#{action.sort}">Sortieren</th:block>:
              </label>
              <select
                id="sort-select"
                name="sort"
                th:replace="~{fragments/select::one(id='sort-select', name='sort', options=~{::sort-select-options}, autosubmit='sort-submit')}"
              >
                <th:block th:ref="sort-select-options">
                  <optgroup
                    th:each="optgroup : ${sortSelect.optgroups}"
                    th:label="${#messages.msg(optgroup.labelMessageKey)}"
                  >
                    <option
                      th:each="option : ${optgroup.options}"
                      th:value="${option.value}"
                      th:text="${#messages.msg(option.textMessageKey)}"
                      th:selected="${option.selected}"
                    ></option>
                  </optgroup>
                </th:block>
              </select>
              <button
                type="submit"
                id="sort-submit"
                class="tw-ml-2 button-main"
                data-js-hidden
                th:text="#{action.sort}"
              >
                Sortieren
              </button>
            </div>
          </form>
        </div>
      </div>

      <turbo-frame id="frame-persons">
        <turbo-stream target="persons-filter" action="replace">
          <template th:insert="~{::#persons-filter}"></template>
        </turbo-stream>
        <turbo-stream target="persons-form-query-inputs" action="replace">
          <template th:insert="~{::#persons-form-query-inputs}"></template>
        </turbo-stream>
        <turbo-stream target="persons-form-sort-inputs" action="replace">
          <template th:insert="~{::#persons-form-sort-inputs}"></template>
        </turbo-stream>
        <turbo-stream target="persons-pagination" action="replace">
          <template th:insert="~{::#persons-pagination}"></template>
        </turbo-stream>
        <turbo-stream target="pagination-form-size-inputs" action="replace">
          <template th:insert="~{::#pagination-form-size-inputs}"></template>
        </turbo-stream>
        <turbo-stream target="pagination-size-hint" action="replace">
          <template th:insert="~{::#pagination-size-hint}"></template>
        </turbo-stream>
        <p th:if="${#lists.isEmpty(personsPagination.page.content)}" class="tw-mt-16" th:text="#{persons.none}"></p>
        <th:block th:if="${not #lists.isEmpty(personsPagination.page.content)}">
          <p class="text-right visible-print">
            <th:block th:text="#{filter.validity}"></th:block>&nbsp;<span
              th:replace="~{fragments/date::date(${now})}"
            ></span>
          </p>
          <div class="tw-mt-8 md:tw-mt-16">
            <table id="person-table" class="list-table hoverable-table tw-text-sm">
              <caption class="tw-sr-only" th:text="#{persons.list.caption}"></caption>
              <thead class="hidden-xs hidden-sm print:tw-table-header-group">
                <tr>
                  <th scope="col"><!-- placeholder to ensure correct number of th --></th>
                  <th
                    th:if="${showPersonnelNumberColumn}"
                    scope="col"
                    th:text="#{person.account.basedata.personnelNumber.abbreviation}"
                  ></th>
                  <th scope="col" th:text="#{person.data.firstName}"></th>
                  <th scope="col" th:text="#{person.data.lastName}"></th>
                  <th scope="col" class="is-centered" th:text="#{persons.account.vacation.entitlement.year}"></th>
                  <th scope="col" class="is-centered" th:text="#{persons.account.vacation.entitlement.actual}"></th>
                  <th scope="col" class="is-centered" th:text="#{persons.account.vacation.entitlement.remaining}"></th>
                  <th scope="col" class="is-centered" th:text="#{persons.account.vacation.vacationDaysLeft}"></th>
                  <th
                    scope="col"
                    class="is-centered"
                    th:text="#{persons.account.vacation.vacationDaysLeft.remaining}"
                  ></th>
                  <th scope="col"><!-- placeholder to ensure correct number of th --></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="person,loopStatus : ${personsPagination.page.content}">
                  <td class="is-centered">
                    <div class="print:tw-hidden tw-text-blue-50 dark:tw-text-sky-800">
                      <img
                        th:replace="~{fragments/avatar::avatar-bordered(url=${person.gravatarUrl + '?d=404&s=40'},niceName=${person.niceName},initials=${person.initials},width='40',height='40',personId=${person.id})}"
                        alt=""
                      />
                    </div>
                  </td>
                  <td
                    th:if="${showPersonnelNumberColumn}"
                    class="personnelNumber hidden-xs hidden-sm tw-text-ellipsis tw-overflow-hidden tw-max-w-xs print:tw-table-cell tw-text-center"
                    th:text="${person.personnelNumber}"
                  ></td>
                  <td class="firstname">
                    <a
                      th:text="${person.firstName}"
                      th:href="@{/web/person/__${person.id}__/overview}"
                      class="icon-link print:no-link"
                      data-turbo="false"
                    ></a>
                  </td>
                  <td class="lastname">
                    <a
                      th:text="${person.lastName}"
                      th:href="@{/web/person/__${person.id}__/overview}"
                      class="icon-link print:no-link"
                      data-turbo="false"
                    ></a>
                  </td>
                  <td class="is-centered hidden-xs hidden-sm print:tw-table-cell">
                    <th:block th:if="${person.entitlementYear != null}">
                      <span th:replace="~{fragments/number::number(${person.entitlementYear})}"></span>
                    </th:block>
                    <th:block
                      th:if="${person.entitlementYear == null}"
                      th:text="#{person.account.vacation.noInformation}"
                    ></th:block>
                  </td>
                  <td class="is-centered hidden-xs hidden-sm print:tw-table-cell">
                    <th:block th:if="${person.entitlementActual != null}">
                      <span th:replace="~{fragments/number::number(${person.entitlementActual})}"></span>
                    </th:block>
                    <th:block
                      th:if="${person.entitlementActual == null}"
                      th:text="#{person.account.vacation.noInformation}"
                    ></th:block>
                  </td>
                  <td class="is-centered hidden-xs hidden-sm print:tw-table-cell">
                    <th:block th:if="${person.entitlementRemaining != null}">
                      <span th:replace="~{fragments/number::number(${person.entitlementRemaining})}"></span>
                    </th:block>
                    <th:block
                      th:if="${person.entitlementRemaining == null}"
                      th:text="#{person.account.vacation.noInformation}"
                    ></th:block>
                  </td>
                  <td class="is-centered hidden-xs hidden-sm print:tw-table-cell">
                    <th:block th:if="${person.vacationDaysLeft != null}">
                      <span th:replace="~{fragments/number::number(${person.vacationDaysLeft})}"></span>
                    </th:block>
                    <th:block
                      th:if="${person.vacationDaysLeft == null}"
                      th:text="#{person.account.vacation.noInformation}"
                    ></th:block>
                  </td>
                  <td class="is-centered hidden-xs hidden-sm print:tw-table-cell">
                    <th:block th:if="${person.vacationDaysLeftRemaining != null}">
                      <span th:replace="~{fragments/number::number(${person.vacationDaysLeftRemaining})}"></span>
                    </th:block>
                    <th:block
                      th:if="${person.vacationDaysLeftRemaining == null}"
                      th:text="#{person.account.vacation.noInformation}"
                    ></th:block>
                  </td>
                  <td class="hidden-xs">
                    <div class="print:tw-hidden">
                      <a
                        class="action-link"
                        data-turbo="false"
                        th:href="@{/web/person/{personId} (personId=${person.id})}"
                      >
                        <svg th:replace="~{icon/user-circle::svg(className='tw-w-5 tw-h-5 tw-mr-1')}"></svg>
                        <th:block th:text="#{action.account.title}"></th:block>
                        <span
                          class="tw-sr-only"
                          th:text="#{action.account.title.screen-reader-appendix(${person.niceName})}"
                        ></span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="tw-mt-8 md:tw-mt-16 tw-flex tw-flex-col md:tw-flex-row md:tw-items-center tw-gap-8">
              <div id="persons-pagination">
                <nav
                  th:replace="~{fragments/pagination::pagination(${personsPagination}, #{persons.pagination.navigation.aria-label}, 'frame-persons')}"
                ></nav>
              </div>
              <form
                action="#"
                th:action="@{/web/person}"
                class="md:tw-ml-auto tw-flex tw-items-center"
                data-turbo-frame="frame-persons"
                data-turbo-action="advance"
              >
                <div id="pagination-form-size-inputs">
                  <input type="hidden" name="active" th:value="${active}" />
                  <input th:if="${selectedYear != null}" type="hidden" name="year" th:value="${selectedYear}" />
                  <input th:if="${department != null}" type="hidden" name="department" th:value="${department.id}" />
                  <input th:if="${not #strings.isEmpty(sortQuery)}" type="hidden" name="sort" th:value="${sortQuery}" />
                  <input th:if="${not #strings.isEmpty(query)}" type="hidden" name="query" th:value="${query}" />
                </div>
                <div class="tw-flex tw-items-center tw-gap-2">
                  <label for="pagination-size-select" class="tw-m-0" th:text="#{pagination.page.size.label.text}">
                    Zeige
                  </label>
                  <span>
                    <select
                      name="size"
                      id="pagination-size-select"
                      th:replace="~{fragments/pagination::default-size-select(id='pagination-size-select', size=${personsPagination.page.size}, autosubmit='size-submit')}"
                    ></select>
                  </span>
                  <span
                    class="tw-whitespace-nowrap"
                    id="pagination-size-hint"
                    th:text="#{pagination.page.size.total.text(${personsPagination.page.totalElements}, ${#messages.msg('persons.pagination.total.text')})}"
                  >
                    von 42 Personen
                  </span>
                </div>
                <button
                  id="size-submit"
                  th:text="#{pagination.page.size.button.text}"
                  class="tw-ml-2 button-main"
                  data-js-hidden
                >
                  Aktualisieren
                </button>
              </form>
            </div>
          </div>
        </th:block>
      </turbo-frame>
    </main>
  </body>
</html>
