<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <form
      th:fragment="form"
      method="post"
      th:action="@{/web/person/__${personNotificationsDto.personId}__/notifications/departments}"
      th:object="${personNotificationsDto}"
      class="tw-mt-8 form-horizontal"
      data-turbo="true"
      data-turbo-frame="frame-feedback"
    >
      <div
        th:if="${departmentsAvailable and not personAssignedToDepartments}"
        class="tw-flex tw-items-center tw-gap-1.5 tw-mb-8 tw-text-yellow-600 dark:tw-text-amber-300"
      >
        <svg th:replace="~{icon/info::svg(className='tw-w-5 tw-h-5')}"></svg>
        <p class="tw-m-0">
          <th:block
            th:if="${userId eq personNotificationsDto.personId}"
            th:text="#{person.notifications.no-assigned-departments.info.myself(${personNiceName})}"
          >
            Du bist keinen Abteilungen zugeordnet und erhältst daher keine Benachrichtigungen.
          </th:block>
          <th:block
            th:if="${not (userId eq personNotificationsDto.personId)}"
            th:text="#{person.notifications.no-assigned-departments.info(${personNiceName})}"
          >
            Max Mustermann ist keinen Abteilungen zugeordnet und erhält daher keine Benachrichtigungen.
          </th:block>
        </p>
      </div>
      <input type="hidden" th:field="*{personId}" />
      <input type="hidden" th:field="*{applicationAppliedAndChanges.active}" />
      <input type="hidden" th:field="*{applicationUpcoming.active}" />
      <input type="hidden" th:field="*{holidayReplacement.active}" />
      <input type="hidden" th:field="*{holidayReplacementUpcoming.active}" />
      <input type="hidden" th:field="*{overtimeApplied.active}" />
      <input type="hidden" th:field="*{overtimeAppliedByManagement.active}" />
      <input type="hidden" th:field="*{personNewManagementAll.active}" />
      <input type="hidden" th:field="*{ownSickNoteSubmittedCreatedEditedCancelled.active}" />

      <div class="list-selectable">
        <div
          class="list-selectable__item tw-flex tw-flex-col tw-gap-2 md:tw-flex-row md:tw-items-center md:tw-gap-4 xl:tw-gap-16"
        >
          <span class="checkbox-switch tw-flex tw-items-center tw-gap-2 md:tw-gap-3">
            <input
              type="checkbox"
              id="email-notification-all-input"
              class="tw-mt-0.5 tw-shrink-0"
              is="uv-checkbox-all"
              data-ignore="email-notification-department-restriction-input"
              th:checked="*{allDepartment}"
            />
            <label
              for="email-notification-all-input"
              class="tw-m-0 tw-text-base tw-font-normal tw-break-all"
              th:text="#{person.notifications.all.label}"
            >
              Alle E-Mail Benachrichtigungen aktivieren / deaktivieren
            </label>
          </span>
        </div>
        <div
          th:if="${personNotificationsDto.restrictToDepartments.visible}"
          class="list-selectable__item tw-flex tw-flex-col tw-gap-2 md:tw-flex-row md:tw-items-center md:tw-gap-4 xl:tw-gap-16"
        >
          <div class="tw-flex tw-flex-col tw-gap-2 md:tw-flex-row md:tw-items-center md:tw-gap-4 xl:tw-gap-16">
            <div class="md:tw-w-64 lg:tw-w-72">
              <span class="checkbox-switch tw-flex tw-items-center tw-gap-2 md:tw-gap-3">
                <input
                  type="checkbox"
                  id="email-notification-department-restriction-input"
                  name="restrictToDepartments"
                  class="tw-mt-0.5 tw-shrink-0"
                  th:field="*{restrictToDepartments.active}"
                  aria-describedby="info-email-notification-department-restriction-input"
                  data-auto-submit
                />
                <span>
                  <label
                    for="email-notification-department-restriction-input"
                    class="tw-m-0 tw-text-base tw-font-normal"
                    th:text="#{person.notifications.departments.restriction.label}"
                  >
                    nur meine Abteilungen
                  </label>
                </span>
              </span>
            </div>
            <div
              class="tw-flex-1 tw-flex tw-items-start tw-gap-2 dark:tw-text-zinc-400 md:dark:tw-text-inherit md:tw-items-center"
            >
              <svg
                th:replace="~{icon/info::svg(className='tw-hidden tw-shrink-0 tw-w-4 tw-h-4 md:tw-inline-block')}"
              ></svg>
              <p
                id="info-email-notification-department-restriction-input"
                class="tw-leading-normal tw-text-sm tw-m-0"
                th:text="#{person.notifications.departments.restriction.info}"
              >
                Grenze deine aktivierten Benachrichtigungen auf den Kreis deiner Abteilungen ein. Ansonsten erhälst du
                die aktivierten Benachrichtigungen über die komplette Organisation hinweg.
              </p>
            </div>
          </div>
        </div>
        <input
          th:if="${not personNotificationsDto.restrictToDepartments.visible}"
          type="hidden"
          th:field="*{restrictToDepartments.active}"
        />
      </div>

      <div class="form-section tw-mt-8 tw-mb-16">
        <div class="tw-space-y-8">
          <section
            th:if="${
                personNotificationsDto.applicationAppliedForManagement.visible ||
                personNotificationsDto.applicationTemporaryAllowedForManagement.visible ||
                personNotificationsDto.applicationAllowedForManagement.visible ||
                personNotificationsDto.applicationCancellationForManagement.visible ||
                personNotificationsDto.applicationAdaptedForManagement.visible ||
                personNotificationsDto.applicationWaitingReminderForManagement.visible ||
                personNotificationsDto.applicationCancellationRequestedForManagement.visible ||
                personNotificationsDto.absenceForColleagues.visible
              }"
          >
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.absences.management.title}"
            >
              Abwesenheiten meiner Kolleg:innen
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.absenceForColleagues.visible},active=${personNotificationsDto.absenceForColleagues.active},name='absenceForColleagues.active',label='person.notifications.section.absences.colleagues.label',info='person.notifications.section.absences.colleagues.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationAppliedForManagement.visible},active=${personNotificationsDto.applicationAppliedForManagement.active},name='applicationAppliedForManagement.active',label='person.notifications.section.absences.applied.management.label',info='person.notifications.section.absences.applied.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationTemporaryAllowedForManagement.visible},active=${personNotificationsDto.applicationTemporaryAllowedForManagement.active},name='applicationTemporaryAllowedForManagement.active',label='person.notifications.section.absences.temporary-allowed.management.label',info='person.notifications.section.absences.temporary-allowed.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationAllowedForManagement.visible},active=${personNotificationsDto.applicationAllowedForManagement.active},name='applicationAllowedForManagement.active',label='person.notifications.section.absences.allowed.management.label',info='person.notifications.section.absences.allowed.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationCancellationForManagement.visible},active=${personNotificationsDto.applicationCancellationForManagement.active},name='applicationCancellationForManagement.active',label='person.notifications.section.absences.cancellation.management.label',info='person.notifications.section.absences.cancellation.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationAdaptedForManagement.visible},active=${personNotificationsDto.applicationAdaptedForManagement.active},name='applicationAdaptedForManagement.active',label='person.notifications.section.absences.adapted.management.label',info='person.notifications.section.absences.adapted.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationWaitingReminderForManagement.visible},active=${personNotificationsDto.applicationWaitingReminderForManagement.active},name='applicationWaitingReminderForManagement.active',label='person.notifications.section.absences.waiting-reminder.management.label',info='person.notifications.section.absences.waiting-reminder.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationCancellationRequestedForManagement.visible},active=${personNotificationsDto.applicationCancellationRequestedForManagement.active},name='applicationCancellationRequestedForManagement.active',label='person.notifications.section.absences.cancellation-requested.management.label',info='person.notifications.section.absences.cancellation-requested.management.info')}"
              ></li>
            </ul>
          </section>
          <section
            th:if="${
                personNotificationsDto.sickNoteCreatedByManagementForManagement.visible ||
                personNotificationsDto.sickNoteSubmittedByUserForManagement.visible ||
                personNotificationsDto.sickNoteAcceptedByManagementForManagement.visible
              }"
          >
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.sicknote.management.title}"
            >
              Krankmeldungen meiner Kolleg:innen
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.sickNoteCreatedByManagementForManagement.visible},active=${personNotificationsDto.sickNoteCreatedByManagementForManagement.active},name='sickNoteCreatedByManagementForManagement.active',label='person.notifications.section.sicknote.created.management.label',info='person.notifications.section.sicknote.created.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.sickNoteSubmittedByUserForManagement.visible},active=${personNotificationsDto.sickNoteSubmittedByUserForManagement.active},name='sickNoteSubmittedByUserForManagement.active',label='person.notifications.section.sicknote.submitted.management.label',info='person.notifications.section.sicknote.submitted.management.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.sickNoteAcceptedByManagementForManagement.visible},active=${personNotificationsDto.sickNoteAcceptedByManagementForManagement.active},name='sickNoteAcceptedByManagementForManagement.active',label='person.notifications.section.sicknote.accepted.management.label',info='person.notifications.section.sicknote.accepted.management.info')}"
              ></li>
            </ul>
          </section>
          <section th:if="${personNotificationsDto.overtimeAppliedForManagement.visible}">
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.overtime.management.title}"
            >
              Überstunden meiner Kolleg:innen
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.overtimeAppliedForManagement.visible},active=${personNotificationsDto.overtimeAppliedForManagement.active},name='overtimeAppliedForManagement.active',label='person.notifications.section.overtime.applied.management.label',info='person.notifications.section.overtime.applied.management.info')}"
              ></li>
            </ul>
          </section>
        </div>
      </div>

      <noscript>
        <hr class="tw-w-full tw-m-0 tw-mt-6" />

        <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
          <button th:text="#{action.save}" class="button-main-green tw-w-56" type="submit">Speichern</button>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </noscript>
    </form>
  </body>
</html>
