<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block
      th:fragment="list-item-card(name,label,info,visible,active)"
      th:with="
        name=${name ?: 'applicationAppliedAndChanges.active'},
        label=${label ?: 'person.notifications.section.absences.changed.label'},
        info=${info ?: 'person.notifications.section.absences.changed.info'},
        id=${#strings.randomAlphanumeric(8)},
        visible=${visible == null ? personNotificationsDto.applicationAppliedAndChanges.visible : visible},
        active=${active == null ? personNotificationsDto.applicationAppliedAndChanges.active : active}
      "
    >
      <li th:if="${visible}" class="list-selectable__item" th:data-enabled="${active}">
        <uv-checkbox-card class="flex flex-col gap-2 md:flex-row md:items-center md:gap-4 xl:gap-16">
          <div class="md:w-64 lg:w-72">
            <span data-list-item-selection-toggle class="checkbox-switch flex items-center gap-2 md:gap-3">
              <input
                type="checkbox"
                id="input"
                th:id="${id}"
                th:name="${name}"
                th:checked="${active}"
                class="m-0 shrink-0"
                th:aria-describedby="${'info-' + id}"
                data-auto-submit
              />
              <label for="input" th:for="${id}" class="text-base font-normal" th:text="${#messages.msg(label)}"></label>
            </span>
          </div>
          <div class="flex-1 flex items-start gap-2 dark:text-zinc-400 dark:md:text-inherit md:items-center">
            <svg th:replace="~{icon/info::svg(className='hidden shrink-0 w-4 h-4 md:inline-block')}"></svg>
            <p th:id="${'info-' + id}" class="leading-normal text-sm m-0" th:text="${#messages.msg(info)}"></p>
          </div>
        </uv-checkbox-card>
      </li>
    </th:block>
  </body>
</html>
