<!doctype html>
<html lang="en" th:lang="${language}" th:class="|theme-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block
      th:fragment="list-item-card(name,label,info,visible,active)"
      th:with="
        name=${name ?: 'applicationAppliedAndChanges.active'},
        label=${label ?: 'person.notifications.section.absences.changed.label'},
        info=${info ?: 'person.notifications.section.absences.changed.info'},
        id=${#strings.randomAlphanumeric(8)},
        visible=${visible == null ? personNotificationsDto.applicationAppliedAndChanges.visible : visible},
        active=${active == null ? personNotificationsDto.applicationAppliedAndChanges.active : active}
      "
    >
      <li th:if="${visible}" class="list-selectable__item">
        <uv-checkbox-card
          class="flex flex-col gap-2 @3xl/main:flex-row @3xl/main:items-center @3xl/main:gap-4 @7xl/main:gap-16"
        >
          <div class="@3xl/main:w-64 @5xl/main:w-72">
            <span class="checkbox-switch flex items-center gap-2 @3xl/main:gap-3">
              <input
                type="checkbox"
                id="input"
                th:id="${id}"
                th:name="${name}"
                th:checked="${active}"
                class="shrink-0"
                th:aria-describedby="${'info-' + id}"
                data-auto-submit
              />
              <label for="input" th:for="${id}" class="text-base font-normal" th:text="${#messages.msg(label)}"></label>
            </span>
          </div>
          <div
            class="flex-1 flex items-start gap-2 dark:text-zinc-400 dark:@3xl/main:text-inherit @3xl/main:items-center"
          >
            <svg th:replace="~{icon/info::svg(className='hidden shrink-0 w-4 h-4 @3xl/main:inline-block')}"></svg>
            <p th:id="${'info-' + id}" class="text-sm" th:text="${#messages.msg(info)}"></p>
          </div>
        </uv-checkbox-card>
      </li>
    </th:block>
  </body>
</html>
