<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <form
      th:fragment="form"
      method="post"
      th:action="@{/web/person/__${personNotificationsDto.personId}__/notifications}"
      th:object="${personNotificationsDto}"
      class="tw-mt-8 form-horizontal"
      data-turbo="true"
      data-turbo-frame="frame-feedback"
    >
      <input type="hidden" th:field="*{personId}" />
      <input type="hidden" th:field="*{restrictToDepartments.active}" />
      <input type="hidden" th:field="*{applicationAppliedForManagement.active}" />
      <input type="hidden" th:field="*{applicationTemporaryAllowedForManagement.active}" />
      <input type="hidden" th:field="*{applicationAllowedForManagement.active}" />
      <input type="hidden" th:field="*{applicationCancellationForManagement.active}" />
      <input type="hidden" th:field="*{applicationAdaptedForManagement.active}" />
      <input type="hidden" th:field="*{applicationWaitingReminderForManagement.active}" />
      <input type="hidden" th:field="*{applicationCancellationRequestedForManagement.active}" />
      <input type="hidden" th:field="*{overtimeAppliedForManagement.active}" />
      <input type="hidden" th:field="*{absenceForColleagues.active}" />

      <div class="list-selectable">
        <div
          class="list-selectable__item tw-flex tw-flex-col tw-gap-2 md:tw-flex-row md:tw-items-center md:tw-gap-4 xl:tw-gap-16"
        >
          <span class="checkbox-switch tw-flex tw-items-center tw-gap-2 md:tw-gap-3">
            <input
              type="checkbox"
              id="email-notification-all-input"
              class="tw-mt-0.5 tw-shrink-0"
              is="uv-checkbox-all"
              th:checked="*{allPersonal}"
            />
            <label
              for="email-notification-all-input"
              class="tw-m-0 tw-text-base tw-font-normal tw-break-all"
              th:text="#{person.notifications.all.label}"
            >
              Alle E-Mail Benachrichtigungen aktivieren / deaktivieren
            </label>
          </span>
        </div>
      </div>

      <div class="form-section tw-mt-8 tw-mb-16">
        <div class="tw-space-y-8">
          <section>
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.absences.title}"
            >
              Meine Abwesenheiten
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationAppliedAndChanges.visible},active=${personNotificationsDto.applicationAppliedAndChanges.active},name='applicationAppliedAndChanges.active',label='person.notifications.section.absences.changed.label',info='person.notifications.section.absences.changed.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.applicationUpcoming.visible},active=${personNotificationsDto.applicationUpcoming.active},name='applicationUpcoming.active',label='person.notifications.section.absences.upcoming.label',info='person.notifications.section.absences.upcoming.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.holidayReplacement.visible},active=${personNotificationsDto.holidayReplacement.active},name='holidayReplacement.active',label='person.notifications.section.absences.holiday-replacement.label',info='person.notifications.section.absences.holiday-replacement.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.holidayReplacementUpcoming.visible},active=${personNotificationsDto.holidayReplacementUpcoming.active},name='holidayReplacementUpcoming.active',label='person.notifications.section.absences.holiday-replacement.upcoming.label',info='person.notifications.section.absences.holiday-replacement.upcoming.info')}"
              ></li>
            </ul>
          </section>
          <section>
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.sicknote.title}"
            >
              Meine Krankmeldungen
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.ownSickNoteSubmittedCreatedEditedCancelled.visible},active=${personNotificationsDto.ownSickNoteSubmittedCreatedEditedCancelled.active},name='ownSickNoteSubmittedCreatedEditedCancelled.active',label='person.notifications.section.sicknote.createdEditedCancelled.label',info='person.notifications.section.sicknote.createdEditedCancelled.info')}"
              ></li>
            </ul>
          </section>
          <section>
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.overtime.title}"
            >
              Meine Überstunden
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.overtimeApplied.visible},active=${personNotificationsDto.overtimeApplied.active},name='overtimeApplied.active',label='person.notifications.section.overtime.applied.label',info='person.notifications.section.overtime.applied.info')}"
              ></li>
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.overtimeAppliedByManagement.visible},active=${personNotificationsDto.overtimeAppliedByManagement.active},name='overtimeAppliedByManagement.active',label='person.notifications.section.overtime.applied.by_management.label',info='person.notifications.section.overtime.applied.by_management.info')}"
              ></li>
            </ul>
          </section>
          <section th:if="${personNotificationsDto.personNewManagementAll.visible}">
            <h2
              class="tw-sticky tw-text-lg tw-border-b tw-bg-white dark:tw-bg-zinc-900 dark:tw-py-0.5"
              style="top: var(--uv-header-height)"
              th:text="#{person.notifications.section.persons.title}"
            >
              Personen
            </h2>
            <ul class="list-selectable tw-list-none tw-m-0 tw-p-0">
              <li
                th:replace="~{person/notifications/notification-card::list-item-card(visible=${personNotificationsDto.personNewManagementAll.visible},active=${personNotificationsDto.personNewManagementAll.active},name='personNewManagementAll.active',label='person.notifications.section.persons.added.label',info='person.notifications.section.persons.added.info')}"
              ></li>
            </ul>
          </section>
        </div>
      </div>

      <noscript>
        <hr class="tw-w-full tw-m-0 tw-mt-6" />

        <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
          <button th:text="#{action.save}" class="button-main-green tw-w-56" type="submit">Speichern</button>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </noscript>
    </form>
  </body>
</html>
