<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div th:replace="fragments/section-heading::section-heading(~{::exchange-heading-body}, ~{})">
        <th:block th:fragment="exchange-heading-body">
          <h2 th:text="#{settings.calendar.ews.title}"></h2>
        </th:block>
      </div>

      <div class="row">
        <aside class="col-md-4 col-md-push-8">
          <p class="help-block tw-text-sm">
            <svg th:replace="icon/information-circle::svg(className='tw-w-4 tw-h-4')"></svg>
            <th:block th:utext="#{settings.calendar.ews.description}" />
          </p>
        </aside>
        <div class="col-md-8 col-md-pull-4">
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.email}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.email"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.exchangeCalendarSettings.email"
                th:field="*{calendarSettings.exchangeCalendarSettings.email}"
                class="form-control"
                th:errorclass="error"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.exchangeCalendarSettings.email')}"
              >
                <th:block th:errors="*{calendarSettings.exchangeCalendarSettings.email}">
                  calendarSettings.exchangeCalendarSettings.email Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.password}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.password"
            >
            </label>
            <div class="col-md-8">
              <input
                type="password"
                id="calendarSettings.exchangeCalendarSettings.password"
                th:field="*{calendarSettings.exchangeCalendarSettings.password}"
                class="form-control"
                th:errorclass="error"
              />
              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.exchangeCalendarSettings.password')}"
              >
                <th:block th:errors="*{calendarSettings.exchangeCalendarSettings.password}">
                  calendarSettings.exchangeCalendarSettings.password Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.url}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.ewsUrl"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.exchangeCalendarSettings.ewsUrl"
                th:field="*{calendarSettings.exchangeCalendarSettings.ewsUrl}"
                class="form-control"
                th:errorclass="error"
              />
              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.exchangeCalendarSettings.ewsUrl')}"
              >
                <th:block th:errors="*{calendarSettings.exchangeCalendarSettings.ewsUrl}">
                  calendarSettings.exchangeCalendarSettings.ewsUrl Error
                </th:block>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.calendar}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.calendar"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.exchangeCalendarSettings.calendar"
                th:field="*{calendarSettings.exchangeCalendarSettings.calendar}"
                class="form-control"
                th:errorclass="error"
              />

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.exchangeCalendarSettings.calendar')}"
              >
                <th:block th:errors="*{calendarSettings.exchangeCalendarSettings.calendar}">
                  calendarSettings.exchangeCalendarSettings.calendar Error
                </th:block>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.timeZoneId}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.timeZoneId"
            >
            </label>
            <div class="col-md-8">
              <input
                id="calendarSettings.exchangeCalendarSettings.timeZoneId"
                th:field="*{calendarSettings.exchangeCalendarSettings.timeZoneId}"
                class="form-control"
                th:errorclass="error"
                list="exchange-timezones"
              />
              <datalist id="exchange-timezones">
                <option th:each="timeZoneId : ${availableTimezones}" value="${timeZoneId}">${timeZoneId}</option>
              </datalist>

              <div
                class="tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                th:if="${#fields.hasErrors('calendarSettings.provider')}"
              >
                <th:block th:errors="*{calendarSettings.provider}"> calendarSettings.provider Error </th:block>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label
              th:text="|#{settings.calendar.ews.notification}:|"
              class="control-label col-md-4"
              for="calendarSettings.exchangeCalendarSettings.sendInvitationActive"
            >
            </label>
            <div class="col-md-8 checkbox">
              <label>
                <input
                  type="checkbox"
                  id="calendarSettings.exchangeCalendarSettings.sendInvitationActive"
                  th:field="*{calendarSettings.exchangeCalendarSettings.sendInvitationActive}"
                  value="true"
                />
                <th:block th:text="#{settings.calendar.ews.notification.true}" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
