<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <turbo-frame id="frame-absence-type">
        <turbo-stream th:if="${frameNewAbsenceTypeRequested}" target="absence-type-list" action="append">
          <template
            th:insert="~{::item-absence-type(absenceType=${newAbsenceType}, index=${newAbsenceTypeIndex})}"
          ></template>
        </turbo-stream>
      </turbo-frame>

      <div th:replace="~{fragments/section-heading::section-heading(~{::absence-types-heading-body}, ~{})}">
        <th:block th:fragment="absence-types-heading-body">
          <h2 th:text="#{settings.absenceTypes.title}"></h2>
        </th:block>
      </div>

      <div>
        <aside
          class="help-block tw-flex tw-flex-auto tw-justify-left tw-items-start md:tw-flex-none tw-pt-2 md:tw-pt-0 tw-text-sm"
        >
          <div>
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4 tw-mr-1')}"></svg>
          </div>
          <div class="tw-flex tw-flex-col">
            <p>
              <th:block th:text="#{settings.absenceTypes.help.1}" />
              <a
                class="tw-inline-flex tw-items-center"
                target="_blank"
                rel="noopener"
                href="https://urlaubsverwaltung.cloud/hilfe/abwesenheiten/#welche-abwesenheitsarten-gibt-es"
              >
                <th:block th:text="#{settings.absenceTypes.help.2}" />
                <svg th:replace="~{icon/external-link::svg(className='tw-w-4 tw-h-4 tw-ml-1')}"></svg>
              </a>
            </p>
          </div>
        </aside>
        <div class="tw-w-full tw-sticky tw-top-0">
          <ul id="absence-type-list" class="tw-relative tw-list-none tw-m-0 tw-mt-2 tw-p-0 tw-w-full">
            <li role="none" class="absence-type-list-head">
              <span th:text="#{settings.absenceTypes.table.head.state}" class="absence-type-list-head__status"></span>
              <span th:text="#{settings.absenceTypes.table.head.type}" class="absence-type-list-head__label"></span>
              <span
                th:text="#{settings.absenceTypes.table.head.approvalToApply}"
                class="absence-type-list-head__approve-to-apply tw-break-normal tw-text-right"
              ></span>
              <span
                th:text="#{settings.absenceTypes.table.head.approvalToCancel}"
                class="absence-type-list-head__approve-to-cancel tw-break-normal tw-text-right"
              ></span>
              <span
                th:text="#{settings.absenceTypes.table.head.visibleToEveryone}"
                class="absence-type-list-head__visible-to-everyone tw-break-words tw-text-right"
              ></span>
              <span th:text="#{settings.absenceTypes.table.head.color}" class="absence-type-list-head__color"></span>
            </li>
            <th:block th:each="absenceType, loop : ${settings.absenceTypeSettings.items}">
              <li
                th:fragment="item-absence-type(absenceType,index)"
                th:with="index=${index ?: loop.index}, isCustomVacationType=${not #lists.isEmpty(absenceType.labels)}"
                class="absence-type-card tw-border tw-rounded tw-p-4 md:tw-border-none md:tw-py-2"
                th:data-enabled="${absenceType.active}"
                data-test-id="vacation-type"
              >
                <div data-col-status class="absence-type-card__status tw-flex tw-items-center">
                  <span th:text="#{settings.absenceTypes.table.head.state}" class="absence-type-card-cell_title"></span>
                  <span class="checkbox-switch tw-flex tw-items-center">
                    <input
                      type="hidden"
                      th:name="|absenceTypeSettings.items[${index}].id|"
                      th:value="${absenceType.id}"
                    />
                    <input
                      type="checkbox"
                      th:name="|absenceTypeSettings.items[${index}].active|"
                      th:checked="${absenceType.active}"
                      th:id="|absenceType-active-${index}|"
                      class="tw-shrink-0 tw-m-0"
                      data-test-id="vacation-type-active"
                    />
                    <label
                      th:text="#{settings.absenceTypes.action.state.label}"
                      th:for="|absenceType-active-${index}|"
                      class="tw-m-0 tw-sr-only"
                    >
                    </label>
                  </span>
                </div>
                <div class="absence-type-card__label">
                  <input
                    type="hidden"
                    th:name="|absenceTypeSettings.items[${index}].messageKey|"
                    th:value="${absenceType.messageKey}"
                  />
                  <input
                    type="hidden"
                    th:name="|absenceTypeSettings.items[${index}].label|"
                    th:value="${absenceType.label}"
                  />
                  <span th:text="${absenceType.label}" class="tw-break-words md:tw-truncate"></span>
                </div>
                <div th:if="${isCustomVacationType}" class="absence-type-card__label-translation">
                  <th:block
                    th:with="
                      labelsFieldname=${'absenceTypeSettings.items[' + index + '].labels'},
                      hasLabelsErrors=${#bools.isFalse(frameNewAbsenceTypeRequested) and #fields.hasErrors(labelsFieldname)}
                    "
                  >
                    <details
                      th:attrappend="open=${(absenceType.id eq null or hasLabelsErrors) ? true : null}"
                      th:aria-label="#{settings.absenceTypes.action.labels.aria-description}"
                    >
                      <summary class="tw-flex tw-items-center tw-cursor-pointer md:tw-mt-2">
                        <svg
                          th:replace="~{icon/languages::svg(className='tw-w-5 tw-h-5 tw-text-blue-400 tw-mr-2 md:tw-w-4 md:tw-h-4')}"
                        ></svg>
                        <span
                          th:text="#{settings.absenceTypes.action.labels.translation.summary}"
                          class="md:tw-text-sm"
                        >
                          Übersetzungen
                        </span>
                      </summary>
                      <div class="absence-type-translation-inputs tw-pb-1 tw-ml-7 tw-mt-4 md:tw-ml-6 md:tw-mt-2">
                        <div
                          th:each="label : ${absenceType.labels}"
                          th:with="
                            id=|absenceType-label-translation-${index}-${labelStat.index}|,
                            labelFieldname=${'absenceTypeSettings.items[' + index + '].labels[' + labelStat.index + '].label'},
                            hasLocaleErrors=${#bools.isFalse(frameNewAbsenceTypeRequested) and #fields.hasErrors(labelFieldname)}
                          "
                        >
                          <div th:class="absence-type-translation-inputs__element">
                            <input
                              type="hidden"
                              th:name="${labelsFieldname + '[' + labelStat.index + '].locale'}"
                              th:value="${label.locale}"
                            />
                            <input
                              type="text"
                              th:id="${id}"
                              th:name="${labelsFieldname + '[' + labelStat.index + '].label'}"
                              th:value="${label.label}"
                              class="absence-type-translation-inputs__element__input"
                              th:classappend="${hasLocaleErrors ? 'error' : ''}"
                              th:data-test-id="${'vacation-type-label-translation-' + label.locale}"
                            />
                            <label th:for="${id}" class="absence-type-translation-inputs__element__label">
                              <img
                                th:src="@{/images/flags/{locale}.svg (locale=${label.locale})}"
                                alt=""
                                width="16"
                                height="16"
                              />
                              <span th:text="${#messages.msg('locale.' + label.locale)}"></span>
                            </label>
                          </div>
                          <th:block th:if="${hasLocaleErrors}">
                            <p
                              th:each="error : ${#fields.errors(labelFieldname)}"
                              th:text="${error}"
                              class="error"
                              th:data-test-id="${'vacation-type-unique-translation-error-' + label.locale}"
                            ></p>
                          </th:block>
                        </div>
                      </div>
                    </details>
                    <th:block th:if="${hasLabelsErrors}">
                      <p
                        th:each="error : ${#fields.errors(labelsFieldname)}"
                        th:text="${error}"
                        class="error tw-ml-7 md:tw-ml-6"
                        data-test-id="vacation-type-missing-translation-error"
                      ></p>
                    </th:block>
                  </th:block>
                </div>
                <div class="absence-type-card__approve-to-apply">
                  <label
                    th:text="#{settings.absenceTypes.action.approveToApply.label}"
                    th:for="${'absenceType-approval-to-apply-' + index}"
                    class="absence-type-card-cell_title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].requiresApprovalToApply|"
                    th:checked="${absenceType.requiresApprovalToApply}"
                    th:id="${'absenceType-approval-to-apply-' + index}"
                    class="uv-checkbox tw-shrink-0 tw-m-0"
                  />
                </div>
                <div class="absence-type-card__approve-to-cancel">
                  <label
                    th:text="#{settings.absenceTypes.action.approveToCancel.label}"
                    th:for="${'absenceType-approval-to-cancel-' + index}"
                    class="absence-type-card-cell_title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].requiresApprovalToCancel|"
                    th:checked="${absenceType.requiresApprovalToCancel}"
                    th:id="${'absenceType-approval-to-cancel-' + index}"
                    class="uv-checkbox tw-shrink-0 tw-m-0"
                  />
                </div>
                <div class="absence-type-card__visible-to-everyone">
                  <label
                    th:text="#{settings.absenceTypes.action.visibleToEveryone.label}"
                    th:for="|absenceType-visible-to-everyone-${index}|"
                    class="absence-type-card-cell_title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].visibleToEveryone|"
                    th:checked="${absenceType.visibleToEveryone}"
                    th:id="|absenceType-visible-to-everyone-${index}|"
                    class="uv-checkbox tw-shrink-0 tw-m-0"
                  />
                </div>
                <div class="absence-type-card__color">
                  <label
                    th:text="#{settings.absenceTypes.action.color.label}"
                    th:for="|color-${index}|"
                    class="absence-type-card-cell_title tw-m-0"
                  >
                  </label>
                  <div is="uv-color-picker">
                    <label
                      th:id="|color-picker-label-${index}|"
                      th:for="|color-picker-${index}|"
                      class="tw-m-0 color-picker-button"
                    >
                      <span
                        class="color-picker-button-color"
                        th:style="|background-color:var(--absence-color-${absenceType.color})|"
                      ></span>
                      <span th:text="#{settings.absenceTypes.action.color.label}" class="tw-sr-only"></span>
                    </label>
                    <input type="checkbox" th:id="|color-picker-${index}|" class="tw-shrink-0 tw-m-0" />
                    <ul th:id="|color-popup-${index}|" class="color-picker-dialog tw-list-none">
                      <li
                        th:each="selectableColor, selectableColorLoop: ${settings.absenceTypeSettings.colors}"
                        class="color-picker-option"
                        th:style="|background-color:var(--absence-color-__${selectableColor}__)|"
                      >
                        <label th:for="|color-${index}-radio-${selectableColorLoop.index}|" class="tw-m-0">
                          <input
                            th:checked="${absenceType.color == selectableColor}"
                            th:value="${selectableColor}"
                            th:id="|color-${index}-radio-${selectableColorLoop.index}|"
                            th:name="|absenceTypeSettings.items[${index}].color|"
                            type="radio"
                          />
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </th:block>
  </body>
</html>
