<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <turbo-frame id="frame-absence-type">
        <turbo-stream th:if="${frameNewAbsenceTypeRequested}" target="absence-type-list" action="append">
          <template
            th:insert="~{::item-absence-type(absenceType=${newAbsenceType}, index=${newAbsenceTypeIndex})}"
          ></template>
        </turbo-stream>
      </turbo-frame>

      <div th:replace="~{fragments/section-heading::section-heading(~{::absence-types-heading-body}, ~{})}">
        <th:block th:fragment="absence-types-heading-body">
          <h2 th:text="#{settings.absenceTypes.title}"></h2>
        </th:block>
      </div>

      <div>
        <aside
          class="help-block tw-flex tw-flex-auto tw-justify-left tw-items-start md:tw-flex-none tw-pt-2 md:tw-pt-0 tw-text-sm"
        >
          <div>
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4 tw-mr-1')}"></svg>
          </div>
          <div class="tw-flex tw-flex-col">
            <p>
              <th:block th:text="#{settings.absenceTypes.help.1}" />
              <a
                class="tw-inline-flex tw-items-center"
                target="_blank"
                rel="noopener"
                href="https://urlaubsverwaltung.cloud/hilfe/abwesenheiten/#welche-abwesenheitsarten-gibt-es"
              >
                <th:block th:text="#{settings.absenceTypes.help.2}" />
                <svg th:replace="~{icon/external-link::svg(className='tw-w-4 tw-h-4 tw-ml-1')}"></svg>
              </a>
            </p>
            <p>
              <th:block th:text="#{settings.absenceTypes.description.1}" />
              <a
                class="tw-flex tw-items-center"
                href="mailto:info@urlaubsverwaltung.cloud?subject=Weitere%20Abwesenheitsart"
              >
                <svg th:replace="~{icon/mail::svg(className='tw-w-4 tw-h-4 tw-mr-1')}"></svg>
                <th:block th:text="#{settings.absenceTypes.description.2}" />
              </a>
            </p>
          </div>
        </aside>
        <div class="tw-w-full tw-sticky tw-top-0">
          <div class="absence-type-list-head">
            <span th:text="#{settings.absenceTypes.table.head.state}"></span>
            <span th:text="#{settings.absenceTypes.table.head.type}"></span>
            <span
              th:text="#{settings.absenceTypes.table.head.approvalToApply}"
              class="tw-break-normal tw-text-right"
            ></span>
            <span
              th:text="#{settings.absenceTypes.table.head.approvalToCancel}"
              class="tw-break-normal tw-text-right"
            ></span>
            <span
              th:text="#{settings.absenceTypes.table.head.visibleToEveryone}"
              class="tw-break-words tw-text-right"
            ></span>
            <span th:text="#{settings.absenceTypes.table.head.color}" class="tw-pr-5"></span>
          </div>
          <ul id="absence-type-list" class="absence-type-list tw-list-none tw-m-0 tw-mt-2 tw-p-0 tw-w-full">
            <th:block th:each="absenceType, loop : ${settings.absenceTypeSettings.items}">
              <li
                th:fragment="item-absence-type(absenceType,index)"
                th:with="index=${index ?: loop.index}, isCustomVacationType=${not #lists.isEmpty(absenceType.labels)}"
                class="absence-type-list-item"
                th:data-enabled="${absenceType.active}"
              >
                <div
                  data-col-status
                  class="tw-flex"
                  th:classappend="${isCustomVacationType ? 'sm:tw-items-start' : 'sm:tw-items-center'}"
                >
                  <span th:text="#{settings.absenceTypes.table.head.state}" class="absence-type-cell-title"> </span>
                  <span class="absence-type-cell-text tw-flex-1 checkbox-switch">
                    <input
                      type="hidden"
                      th:name="|absenceTypeSettings.items[${index}].id|"
                      th:value="${absenceType.id}"
                    />
                    <input
                      type="checkbox"
                      th:name="|absenceTypeSettings.items[${index}].active|"
                      th:checked="${absenceType.active}"
                      th:id="|absenceType-active-${index}|"
                    />
                    <label
                      th:text="#{settings.absenceTypes.action.state.label}"
                      th:for="|absenceType-active-${index}|"
                      class="tw-sr-only"
                    >
                    </label>
                  </span>
                </div>
                <div class="tw-flex sm:tw-items-center sm:tw-overflow-hidden">
                  <span th:text="#{settings.absenceTypes.table.head.type}" class="absence-type-cell-title"></span>
                  <th:block th:if="${not isCustomVacationType}">
                    <input
                      type="hidden"
                      th:name="|absenceTypeSettings.items${index}].label|"
                      th:value="${absenceType.label}"
                    />
                    <span th:text="${absenceType.label}" class="absence-type-cell-text tw-flex-1 sm:tw-truncate"></span>
                  </th:block>
                  <th:block th:if="${isCustomVacationType}">
                    <details
                      class="tw-my-0.5 tw-flex-1 sm:tw-truncate"
                      th:attrappend="open=${#bools.isTrue(frameNewAbsenceTypeRequested) ? true : null}"
                    >
                      <summary class="tw-flex tw-items-center tw-shrink-0">
                        <svg
                          th:replace="~{icon/languages::svg(className='tw-text-blue-400 tw-mr-2 tw-cursor-pointer')}"
                        ></svg>
                        <span
                          th:text="${absenceType.label}"
                          class="absence-type-cell-text tw-flex-1 tw-cursor-default sm:tw-truncate"
                        ></span>
                      </summary>
                      <div class="tw-mt-2">
                        <div th:each="label : ${absenceType.labels}" class="tw-mt-0.5">
                          <input
                            type="hidden"
                            th:name="|absenceTypeSettings.items[${index}].labels[${labelStat.index}].locale|"
                            th:value="${label.locale}"
                          />
                          <input
                            type="text"
                            th:name="|absenceTypeSettings.items[${index}].labels[${labelStat.index}].label|"
                            th:value="${label.label}"
                            class="tw-px-1"
                          />
                          <span>
                            <img
                              th:src="@{/images/flags/{locale}.svg (locale=${label.locale})}"
                              alt=""
                              width="16"
                              height="16"
                            />
                            <span class="tw-text-sm" th:text="${#messages.msg('locale.' + label.locale)}"></span>
                          </span>
                        </div>
                      </div>
                    </details>
                  </th:block>
                </div>
                <div
                  class="tw-flex sm:tw-justify-end"
                  th:classappend="${isCustomVacationType ? 'sm:tw-items-start' : 'sm:tw-items-center'}"
                >
                  <label
                    th:text="#{settings.absenceTypes.action.approveToApply.label}"
                    th:for="${'absenceType-approval-to-apply-' + index}"
                    class="absence-type-cell-title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].requiresApprovalToApply|"
                    th:checked="${absenceType.requiresApprovalToApply}"
                    th:id="${'absenceType-approval-to-apply-' + index}"
                    class="uv-checkbox"
                  />
                </div>
                <div
                  class="tw-flex sm:tw-justify-end"
                  th:classappend="${isCustomVacationType ? 'sm:tw-items-start' : 'sm:tw-items-center'}"
                >
                  <label
                    th:text="#{settings.absenceTypes.action.approveToCancel.label}"
                    th:for="${'absenceType-approval-to-cancel-' + index}"
                    class="absence-type-cell-title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].requiresApprovalToCancel|"
                    th:checked="${absenceType.requiresApprovalToCancel}"
                    th:id="${'absenceType-approval-to-cancel-' + index}"
                    class="uv-checkbox"
                  />
                </div>
                <div
                  class="tw-flex sm:tw-justify-end"
                  th:classappend="${isCustomVacationType ? 'sm:tw-items-start' : 'sm:tw-items-center'}"
                >
                  <label
                    th:text="#{settings.absenceTypes.action.visibleToEveryone.label}"
                    th:for="|absenceType-visible-to-everyone-${index}|"
                    class="absence-type-cell-title tw-m-0"
                  >
                  </label>
                  <input
                    type="checkbox"
                    th:name="|absenceTypeSettings.items[${index}].visibleToEveryone|"
                    th:checked="${absenceType.visibleToEveryone}"
                    th:id="|absenceType-visible-to-everyone-${index}|"
                    class="uv-checkbox"
                  />
                </div>
                <div
                  class="tw-flex"
                  th:classappend="${isCustomVacationType ? 'sm:tw-items-start' : 'sm:tw-items-center'}"
                >
                  <label
                    th:text="#{settings.absenceTypes.action.color.label}"
                    th:for="|color-${index}|"
                    class="absence-type-cell-title tw-pr-4 tw-m-0"
                  >
                  </label>
                  <div is="uv-color-picker" class="tw-mt-[4px]">
                    <label
                      th:id="|color-picker-label-${index}|"
                      th:for="|color-picker-${index}|"
                      class="color-picker-button"
                    >
                      <span
                        class="color-picker-button-color"
                        th:style="|background-color:var(--absence-color-${absenceType.color})|"
                      ></span>
                      <span th:text="#{settings.absenceTypes.action.color.label}" class="tw-sr-only"></span>
                    </label>
                    <input type="checkbox" th:id="|color-picker-${index}|" />
                    <ul th:id="|color-popup-${index}|" class="color-picker-dialog tw-list-none">
                      <li
                        th:each="selectableColor, selectableColorLoop: ${settings.absenceTypeSettings.colors}"
                        class="color-picker-option"
                        th:style="|background-color:var(--absence-color-__${selectableColor}__)|"
                      >
                        <label th:for="|color-${index}-radio-${selectableColorLoop.index}|">
                          <input
                            th:checked="${absenceType.color == selectableColor}"
                            th:value="${selectableColor}"
                            th:id="|color-${index}-radio-${selectableColorLoop.index}|"
                            th:name="|absenceTypeSettings.items[${index}].color|"
                            type="radio"
                          />
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </th:block>
  </body>
</html>
