<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title th:text="#{settings.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('settings_form.js')}" />
    </th:block>
    <th:block th:ref="scriptsDefer">
      <script defer type="module" asset:src="settings_form.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content}, ~{})}">
    <th:block th:ref="content">
      <main class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
        <h1 th:text="#{settings.header.title}" class="tw-sr-only"></h1>

        <form
          method="post"
          th:action="@{/web/settings/absence-types}"
          th:object="${settings}"
          class="form-horizontal"
          data-turbo="true"
        >
          <input type="hidden" th:field="*{id}" />
          <button type="submit" hidden></button>

          <th:block th:replace="~{settings/fragments::save-feedback}" />

          <th:block th:replace="~{settings/fragments::tab-navigation(activeElement='absence-types')}" />

          <div id="absenceTypes" class="tw-mt-6">
            <div class="form-section tw-mb-12 tw-relative tw-z-10">
              <div th:replace="~{settings/absence-types/absence-types::section}"></div>
              <div class="form-section tw-mb-12 tw-relative tw-z-10">
                <div class="form-section tw-mt-8">
                  <div class="tw-mb-16 tw-flex tw-flex-col-reverse tw-gap-4 xs:tw-flex-row xs:tw-gap-4">
                    <button
                      th:text="#{action.save}"
                      type="submit"
                      class="button-main-green"
                      data-test-id="submit-custom-absence-types-button"
                      data-turbo="false"
                    ></button>
                    <button
                      type="submit"
                      name="add-absence-type"
                      class="button"
                      data-test-id="add-absence-type-button"
                      data-turbo-frame="frame-absence-type"
                      data-turbo-action="replace"
                    >
                      Neue Abwesenheitsart hinzufügen
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-section">
              <div th:replace="~{settings/absence-types/special-leave::section}"></div>
              <th:block th:replace="~{settings/fragments::save-button}" />
            </div>
          </div>
        </form>
      </main>
    </th:block>
  </body>
</html>
