<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Settings Fragments</title>
  </head>
  <body>
    <th:block th:fragment="save-feedback">
      <div class="uv-form__global-feedback">
        <th:block
          th:if="${success}"
          th:insert="~{fragments/feedback-box::feedback-box-success(~{::feedback-success-body})}"
        >
          <p th:ref="feedback-success-body" th:text="#{settings.action.update.success}"></p>
        </th:block>
        <th:block
          th:if="${not #strings.isEmpty(errors)}"
          th:insert="~{fragments/feedback-box::feedback-box-error(~{::feedback-error-body})}"
        >
          <p th:ref="feedback-error-body" th:text="#{settings.action.update.error}"></p>
        </th:block>
      </div>
    </th:block>

    <th:block th:fragment="bottom-bar-form-actions">
      <div class="bottom-bar mt-12" style="grid-column: label/end">
        <div class="bottom-bar-inner">
          <button
            th:text="#{action.save}"
            type="submit"
            class="button-main-green"
            data-test-id="settings-save-button"
            data-turbo="false"
          ></button>
        </div>
      </div>
    </th:block>
  </body>
</html>
