<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Settings Fragments</title>
  </head>
  <body>
    <th:block th:fragment="save-feedback">
      <div class="uv-form__global-feedback">
        <div class="feedback">
          <div
            th:if="${not #strings.isEmpty(errors)}"
            th:text="#{settings.action.update.error}"
            class="alert alert-danger"
          ></div>
          <div th:if="${success}" th:text="#{settings.action.update.success}" class="alert alert-success"></div>
        </div>
      </div>
    </th:block>

    <th:block th:fragment="tab-navigation(activeElement)">
      <ul class="tab-list tw-mb-6" style="grid-column: label / end">
        <li
          th:with="hasErrors=${#fields.hasErrors('applicationSettings.*') || #fields.hasErrors('sickNoteSettings.*') || #fields.hasErrors('accountSettings.*')}"
        >
          <a
            href="#"
            th:href="@{/web/settings/absences}"
            th:class="|tab${activeElement == 'absences' ? ' tab--active' : ''}${hasErrors ? ' tw-text-red-800' : ''}|"
          >
            <th:block th:text="#{settings.tabs.absence}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
        <li>
          <a
            href="#"
            th:href="@{/web/settings/absence-types}"
            th:text="#{settings.tabs.absenceTypes}"
            th:class="|tab${activeElement == 'absence-types' ? ' tab--active' : ''}|"
            data-test-id="settings-tab-absence-types"
          >
            Abwesenheitsarten
          </a>
        </li>
        <li th:with="hasErrors=${#fields.hasErrors('overtimeSettings.*')}">
          <a
            href="#"
            th:href="@{/web/settings/overtime}"
            th:class="|tab${activeElement == 'overtime' ? ' tab--active' : ''}${hasErrors ? 'tw-text-red-800' : ''}|"
            data-test-id="settings-tab-overtime"
          >
            <th:block th:text="#{settings.tabs.overtime}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
        <li th:with="hasErrors=${#fields.hasErrors('publicHolidaysSettings.*')}">
          <a
            href="#"
            th:href="@{/web/settings/public-holidays}"
            th:class="|tab${activeElement == 'public-holidays' ? ' tab--active' : ''}${hasErrors ? ' tw-text-red-800' : ''}|"
            data-test-id="settings-tab-public-holidays"
          >
            <th:block th:text="#{settings.tabs.publicHolidays}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
        <li th:with="hasErrors=${#fields.hasErrors('workingTimeSettings.*')}">
          <a
            href="#"
            th:href="@{/web/settings/account}"
            th:class="|tab${activeElement == 'account' ? ' tab--active' : ''}${hasErrors ? ' tw-text-red-800' : ''}|"
            data-test-id="settings-tab-account"
          >
            <th:block th:text="#{settings.tabs.account}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
        <li>
          <a
            href="#"
            th:href="@{/web/settings/avatar}"
            th:class="|tab${activeElement == 'avatar' ? ' tab--active' : ''}|"
          >
            <th:block th:text="#{settings.tabs.avatar}" />
          </a>
        </li>
        <li th:with="hasErrors=${#fields.hasErrors('timeSettings.*')}">
          <a
            href="#"
            th:href="@{/web/settings/calendar}"
            th:class="|tab${activeElement == 'calendar' ? ' tab--active' : ''}${hasErrors ? ' tw-text-red-800' : ''}|"
          >
            <th:block th:text="#{settings.tabs.calendar}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
        <li th:with="hasErrors=${#fields.hasErrors('calendarSettings.*')}">
          <a
            href="#"
            th:href="@{/web/settings/calendar-sync}"
            th:class="|tab${activeElement == 'calendar-sync' ? ' tab--active' : ''}${hasErrors ? ' tw-text-red-800' : ''}|"
          >
            <th:block th:text="#{settings.tabs.calendarSync}" />
            <th:block th:if="${hasErrors}">*</th:block>
          </a>
        </li>
      </ul>
    </th:block>

    <th:block th:fragment="save-button" th:with="testId=${#strings.isEmpty(testId) ? 'settings-save-button' : testId}">
      <div style="grid-column: label / end; margin-top: 2rem">
        <button
          th:text="#{action.save}"
          type="submit"
          class="button-main-green"
          th:data-test-id="${testId}"
          data-turbo="false"
        ></button>
      </div>
    </th:block>
  </body>
</html>
