<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <p
          class="uv-form__group-error tw:text-sm tw:text-red-800 tw:dark:text-red-400"
          th:if="${#fields.hasErrors('workingTimeSettings.workingDays')}"
        >
          <th:block th:errors="*{workingTimeSettings.workingDays}">workingTimeSettings.workingDays Error</th:block>
        </p>

        <div class="uv-form__group-info">
          <p class="uv-help-block">
            <svg th:replace="~{icon/info::svg(className='tw:w-4 tw:h-4')}"></svg>
            <th:block th:text="#{settings.workingTime.description}" />
          </p>
        </div>

        <div class="uv-form__input-row">
          <p class="uv-form__label uv-form__label--required" th:text="|#{settings.workingTime.weekdays}:|">
            Wochentage
          </p>
          <div class="tw:flex tw:flex-col tw:gap-2">
            <div th:each="weekDay : ${weekDays}">
              <label>
                <input type="checkbox" th:field="*{workingTimeSettings.workingDays}" th:value="${weekDay.value}" />
                &nbsp;<th:block th:text="#{__${weekDay}__}">Monday</th:block>
              </label>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
