<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:fragment="section">
      <div class="uv-form__group">
        <div class="uv-form__group-error">
          <p
            class="tw-mb-8 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
            th:if="${#fields.hasErrors('workingTimeSettings.workingDays')}"
          >
            <th:block th:errors="*{workingTimeSettings.workingDays}">workingTimeSettings.workingDays Error</th:block>
          </p>
        </div>

        <div class="uv-form__info">
          <p class="help-block tw-text-sm">
            <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
            <th:block th:text="#{settings.workingTime.description}" />
          </p>
        </div>

        <div class="uv-form__input-row">
          <p class="uv-form__label uv-form__label--required" th:text="|#{settings.workingTime.weekdays}:|">
            Wochentage
          </p>
          <div class="tw-flex tw-flex-col tw-gap-1">
            <div th:each="weekDay : ${weekDays}" class="tw-flex tw-gap-3">
              <div class="tw-flex tw-h-6 tw-shrink-0 tw-items-center">
                <div class="tw-group tw-grid tw-size-4 tw-grid-cols-1">
                  <input
                    type="checkbox"
                    th:id="${weekDay}"
                    th:field="*{workingTimeSettings.workingDays}"
                    th:value="${weekDay.value}"
                    class="tw-col-start-1 tw-row-start-1"
                  />
                </div>
              </div>
              <div class="tw-text-sm/6">
                <label
                  th:for="${weekDay}"
                  th:text="#{__${weekDay}__}"
                  class="tw-font-medium tw-text-gray-900 dark:tw-text-white"
                >
                  Monday
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
