<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{_layout::head(title=~{::title}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}">
    <title
      th:with="departmentTitleMessagekey=${department.id == null ? 'department.data.header.title.new' : 'department.data.header.title.edit'}"
      th:text="#{__${departmentTitleMessagekey}__}"
    ></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('department_form.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="department_form.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main" class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
      <form
        method="post"
        th:with="action=${department.id == null ? '/web/department/new' : '/web/department/' + department.id}"
        th:action="@{__${action}__}"
        th:object="${department}"
        class="form-horizontal"
        data-turbo="true"
      >
        <button type="submit" class="tw-hidden"></button>

        <input type="hidden" th:field="*{id}" />

        <div class="form-section">
          <div th:replace="~{fragments/section-heading::section-heading(~{::department-heading-body}, ~{})}">
            <th:block th:ref="department-heading-body">
              <h2 th:text="#{department.data}">Abteilungsdaten</h2>
            </th:block>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-push-8">
              <span class="help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <span th:text="#{department.data.description}"></span>
              </span>
            </div>
            <div class="col-md-8 col-md-pull-4">
              <div class="form-group is-required">
                <label th:text="|#{department.data.name}:|" class="control-label col-md-3" for="name"></label>
                <div class="col-md-9">
                  <input id="name" type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
                  <p
                    class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                    th:if="${#fields.hasErrors('name')}"
                  >
                    <th:block th:errors="*{name}"> name Error</th:block>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label th:text="|#{department.data.info}:|" class="control-label col-md-3" for="description"></label>
                <div class="col-md-9">
                  <textarea
                    id="description"
                    rows="3"
                    th:field="*{description}"
                    class="form-control"
                    th:errorclass="error"
                  ></textarea>
                  <p
                    class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                    th:if="${#fields.hasErrors('description')}"
                  >
                    <th:block th:errors="*{description}"> description Error</th:block>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row tw-mb-8">
            <div class="col-md-4 col-md-push-8">
              <span class="help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <th:block th:text="#{department.data.twoStageApproval.help.members}" /><br />
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <th:block th:text="#{department.data.twoStageApproval.help.departmentHead}" />
              </span>
            </div>
            <div class="col-md-8 col-md-pull-4">
              <div class="form-group">
                <label
                  th:text="|#{department.data.twoStageApproval}:|"
                  class="control-label col-md-3"
                  for="twoStageApproval"
                >
                </label>
                <div class="col-md-9 checkbox">
                  <p
                    class="tw-mt-1 tw-text-sm tw-text-red-800 dark:tw-text-red-400"
                    th:if="${#fields.hasErrors('twoStageApproval')}"
                  >
                    <th:block th:errors="*{twoStageApproval}"> twoStageApproval Error</th:block>
                  </p>
                  <label>
                    <input id="twoStageApproval" type="checkbox" th:field="*{twoStageApproval}" th:errorclass="error" />
                    <span th:text="#{department.data.twoStageApproval.activate}"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <div th:replace="~{fragments/section-heading::section-heading(~{::department-members-body}, ~{})}">
            <th:block th:ref="department-members-body">
              <h2 th:text="#{department.members}">Mitarbeiter</h2>
            </th:block>
          </div>

          <div class="alert alert-danger tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('departmentHeads')}">
            <th:block th:errors="*{departmentHeads}"> departmentHeads Error</th:block>
          </div>

          <div class="alert alert-danger tw-mt-1 tw-text-sm" th:if="${#fields.hasErrors('secondStageAuthorities')}">
            <th:block th:errors="*{secondStageAuthorities}"> secondStageAuthorities Error</th:block>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-push-8">
              <span class="help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <span th:text="#{department.members.description}"></span>
              </span>
              <span class="help-block tw-text-sm">
                <svg th:replace="~{icon/info::svg(className='tw-w-4 tw-h-4')}"></svg>
                <span th:text="#{department.members.secondStageAuthority.description}"></span>
              </span>
            </div>

            <div class="col-md-8 col-md-pull-4">
              <div class="form-group">
                <p
                  th:text="|#{department.members.person}:|"
                  class="control-label col-md-3 tw-m-0 tw-text-sm tw-font-semibold tw-leading-6"
                ></p>
                <div class="col-md-9">
                  <div
                    class="tw-flex tw-items-stretch tw-border tw-border-neutral-300 dark:tw-border-neutral-600 tw-rounded-md focus-within:tw-ring-2 focus-within:tw-ring-blue-300"
                  >
                    <label for="member-search-input" class="tw-sr-only"> Mitarbeiter Suche </label>
                    <input
                      id="member-search-input"
                      type="text"
                      class="form-control md:tw-h-full tw-border-none tw-text-ellipsis focus:tw-ring-0 tw-rounded-r-none"
                      name="memberQuery"
                      th:placeholder="#{action.search.placeholder.firstname-lastname}"
                      th:value="${memberQuery}"
                      data-auto-submit="member-search-submit"
                      data-auto-submit-delay="100"
                    />
                    <button
                      type="submit"
                      id="member-search-submit"
                      class="dark:tw-bg-zinc-800 tw-px-2 tw-rounded-r-md tw-flex tw-items-center"
                      name="do-member-search"
                      th:formaction="${department.id == null ? '/web/department/new' : '/web/department/' + department.id + '/edit'}"
                      data-turbo-frame="frame-department-members"
                      data-turbo-action="replace"
                      data-turbo="true"
                    >
                      <svg th:replace="~{icon/search::svg(className='tw-w-5 tw-h-5 tw-stroke-2')}"></svg>
                      <span class="tw-sr-only" th:text="#{action.search}">Suche</span>
                    </button>
                  </div>
                  <turbo-frame id="frame-department-members">
                    <input
                      th:each="member : ${hiddenDepartmentMembers}"
                      type="hidden"
                      name="members"
                      value="1337"
                      th:value="${member.id}"
                    />
                    <input
                      th:each="departmentHead : ${hiddenDepartmentHeads}"
                      type="hidden"
                      name="departmentHeads"
                      value="1337"
                      th:value="${departmentHead.id}"
                    />
                    <input
                      th:each="secondStageAuthority : ${hiddenDepartmentSecondStageAuthorities}"
                      type="hidden"
                      name="secondStageAuthorities"
                      value="1337"
                      th:value="${secondStageAuthority.id}"
                    />
                    <ul class="tw-mt-4 department--members tw-p-0 tw-m-0">
                      <li
                        th:each="person : ${persons}"
                        class="department--member"
                        th:with="isInactive=${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).INACTIVE)}, isMember=${#lists.contains(department.members, person)}"
                        th:classappend="${isMember ? ( isInactive ? 'is-inactive' : 'is-assigned') : ''}"
                      >
                        <div class="department--member-image tw-text-blue-50 dark:tw-text-sky-800">
                          <img
                            th:replace="~{fragments/avatar::avatar-bordered(url=${person.gravatarURL + '?d=404&s=40'},niceName=${person.niceName},initials=${person.initials},width='40',height='40',personId=${person.id})}"
                            alt=""
                          />
                        </div>
                        <div class="department--member-assignment">
                          <p class="department--member-info tw-mb-2">
                            <a
                              th:text="${person.niceName}"
                              th:href="@{/web/person/__${person.id}__/overview}"
                              class="icon-link"
                              data-turbo="false"
                            ></a>
                          </p>
                          <div th:if="${isInactive}" class="tw-flex tw-items-center">
                            <svg
                              th:replace="~{icon/info::svg(className='tw-text-amber-300 tw-w-5 tw-h-5 tw-m-0 tw-mr-1')}"
                            ></svg>
                            <th:block th:text="#{department.members.assigned.inactive}"></th:block>
                          </div>
                          <div>
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                name="members"
                                th:id="${'members' + (personStat.index + 1)}"
                                th:value="${person.id}"
                                th:checked="${#lists.contains(department.members, person)}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <input type="hidden" name="_members" value="on" />
                              <th:block th:text="#{department.members.assigned}"></th:block>
                            </label>
                          </div>
                          <div
                            th:if="${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).DEPARTMENT_HEAD)}"
                          >
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                name="departmentHeads"
                                th:id="${'departmentHeads' + (personStat.index + 1)}"
                                th:value="${person.id}"
                                th:checked="${#lists.contains(department.departmentHeads, person)}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <input type="hidden" name="_departmentHeads" value="on" />
                              <th:block th:text="#{department.members.departmentHead}"></th:block>
                            </label>
                          </div>
                          <div
                            th:if="${#lists.contains(person.permissions, T(org.synyx.urlaubsverwaltung.person.Role).SECOND_STAGE_AUTHORITY)}"
                          >
                            <label class="tw-font-normal tw-m-0 tw-flex tw-items-center">
                              <input
                                type="checkbox"
                                name="secondStageAuthorities"
                                th:id="${'secondStageAuthorities' + (personStat.index + 1)}"
                                th:value="${person.id}"
                                th:checked="${#lists.contains(department.secondStageAuthorities, person)}"
                                class="tw-m-0 tw-mr-2"
                              />
                              <input type="hidden" name="_secondStageAuthorities" value="on" />
                              <th:block th:text="#{department.members.secondStageAuthority}"></th:block>
                            </label>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </turbo-frame>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="tw-w-full tw-m-0 tw-mt-6" />

        <div class="tw-mt-6 tw-flex tw-justify-between tw-gap-4">
          <button type="submit" class="button-main-green tw-w-56" th:text="#{action.save}">Speichern</button>
          <button data-back-button th:text="#{action.cancel}" type="button" class="button">Abbrechen</button>
        </div>
      </form>
    </main>
  </body>
</html>
