<!doctype html>
<html lang="en" th:lang="${language}" th:class="|tw-${theme}|" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer}, preload=~{::preload})}"
  >
    <title th:text="#{departments.header.title}"></title>
    <th:block th:fragment="preload">
      <link rel="preload" th:replace="~{fragments/asset-dependency-preload::links('department_list.js')}" />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="department_list.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::main}, ~{})}">
    <main th:fragment="main">
      <div class="tw-max-w-6xl tw-mx-auto tw-px-4 lg:tw-px-12 xl:tw-px-0">
        <div
          th:replace="~{fragments/section-heading::section-heading(~{::department-list-heading-body}, ~{::department-list-heading-actions})}"
        >
          <th:block th:ref="department-list-heading-body">
            <h1 th:text="#{departments.title}">Abwesenheitsstatistik</h1>
          </th:block>
          <th:block th:ref="department-list-heading-actions">
            <div class="tw-flex tw-flex-col sm:tw-flex-row">
              <a
                th:if="${canCreateAndModifyDepartment}"
                th:href="@{/web/department/new}"
                class="icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row tw-mr-0"
              >
                <svg th:replace="~{icon/plus-circle::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                <span th:text="#{action.department.create}"></span>
              </a>
              <a
                th:href="@{/web/absences}"
                class="tw-ml-2 icon-link tw-text-base tw-flex tw-items-center tw-flex-row-reverse tw-space-x-1 sm:tw-space-x-0 sm:tw-flex-row"
              >
                <svg th:replace="~{icon/calendar::svg(className='tw-w-5 tw-h-5')}"></svg>&nbsp;
                <span th:text="#{action.applications.absences_overview}"></span>
              </a>
              <button th:replace="~{fragments/print::button}"></button>
            </div>
          </th:block>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="feedback">
              <div
                th:if="${createdDepartmentName != null}"
                th:text="#{department.action.create.success(${createdDepartmentName})}"
                class="alert alert-success"
              ></div>
              <div
                th:if="${updatedDepartmentName != null}"
                th:text="#{department.action.edit.success(${updatedDepartmentName})}"
                class="alert alert-success"
              ></div>
              <div
                th:if="${deletedDepartmentName != null}"
                th:text="#{department.action.delete.success(${deletedDepartmentName})}"
                class="alert alert-success"
              ></div>
            </div>

            <p th:if="${#lists.isEmpty(departments)}" th:text="#{departments.none}"></p>
            <table
              th:if="${not #lists.isEmpty(departments)}"
              id="department-table"
              class="list-table tw-text-sm"
              is="uv-table-sortable"
            >
              <caption class="tw-sr-only" th:text="#{departments.title}">
                Departments
              </caption>
              <thead class="hidden-xs hidden-sm">
                <tr>
                  <th
                    th:text="#{department.data.name}"
                    scope="col"
                    data-sortable
                    data-sorted="true"
                    data-sort-direction="asc"
                  ></th>
                  <th th:text="#{department.members}" scope="col" data-sortable data-sort-type="numeric"></th>
                  <th
                    th:text="#{department.data.twoStageApproval}"
                    class="tw-whitespace-nowrap"
                    scope="col"
                    data-sortable
                  ></th>
                  <th
                    th:text="#{department.data.lastModification}"
                    class="tw-whitespace-nowrap"
                    scope="col"
                    data-sortable
                    data-sort-type="date"
                  ></th>
                  <th th:if="${canCreateAndModifyDepartment}" scope="col">
                    <!--placeholder to ensure correct number of th-->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="department : ${departments}">
                  <td>
                    <div class="tw-font-bold">
                      <th:block th:text="${department.name}"></th:block>
                    </div>
                    <div class="tw-text-xs">
                      <span th:text="${department.description}"></span>
                    </div>
                  </td>
                  <td class="hidden-xs">
                    <a
                      th:if="${department.activeMembersCount > 0}"
                      th:href="@{/web/person?active=true&department=__${department.id}__}"
                      th:text="|${department.activeMembersCount} #{department.members.active}|"
                      class="print:no-link"
                    >
                    </a>
                    <th:block th:if="${department.activeMembersCount > 0 && department.inactiveMembersCount > 0}">
                      /
                    </th:block>
                    <a
                      th:if="${department.inactiveMembersCount > 0}"
                      th:href="@{/web/person?active=false&department=__${department.id}__}"
                      class="print:no-link"
                    >
                      <th:block th:text="${department.inactiveMembersCount}" />
                      <th:block th:text="#{department.members.inactive}" />
                    </a>
                  </td>
                  <td class="is-centered hidden-xs" th:data-sort-value="${department.twoStageApproval ? 0 : 1}">
                    <th:block th:if="${department.twoStageApproval == true}">
                      <svg th:replace="~{icon/check::svg(className='tw-w-5 tw-h-5')}"></svg>
                    </th:block>
                  </td>
                  <td th:text="${{department.lastModification}}" class="hidden-xs"></td>
                  <td th:if="${canCreateAndModifyDepartment}">
                    <form method="post" th:action="@{/web/department/__${department.id}__/delete}">
                      <div
                        th:id="|modal-cancel-${department.id}|"
                        class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        th:aria-labelledby="${'modal-label-' + department.id}"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <svg th:replace="~{icon/x-circle::svg(className='tw-w-8 tw-h-8')}"></svg>
                              </button>
                              <h4
                                th:text="#{action.department.delete}"
                                th:id="${'modal-label-' + department.id}"
                                class="modal-title"
                              ></h4>
                            </div>
                            <div
                              th:text="#{action.department.delete.confirm(${department.name})}"
                              class="modal-body"
                            ></div>
                            <div class="modal-footer tw-flex tw-justify-between">
                              <button
                                th:text="#{action.department.delete}"
                                class="button-danger"
                                type="submit"
                              ></button>
                              <button th:text="#{action.cancel}" class="button" data-dismiss="modal"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>

                    <div class="tw-flex tw-gap-2 tw-justify-end print:tw-hidden">
                      <a class="button" th:href="@{/web/department/__${department.id}__/edit}">
                        <svg th:replace="~{icon/pencil::svg(className='tw-w-4 tw-h-4 tw-mr-1')}"></svg>
                        <th:block th:text="#{action.edit}" />
                      </a>
                      <a
                        class="button"
                        data-toggle="modal"
                        th:href="@{/web/department#modal-cancel-__${department.id}__}"
                      >
                        <svg th:replace="~{icon/trash-2::svg(className='tw-w-4 tw-h-4 tw-mr-1')}"></svg>
                        <th:block th:text="#{action.department.delete}" />
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
