name: Release

on:
  push:
    tags:
      - 'urlaubsverwaltung*'

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Cache npm dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Cache pom dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            node/
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: ./mvnw --batch-mode clean verify
      - name: Extract release tag
        id: vars
        run: echo ::set-output name=version::${GITHUB_REF#refs/*/urlaubsverwaltung-}
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release Urlaubsverwaltung ${{ steps.vars.outputs.version }}
          body_path: .chglog/${{ steps.vars.outputs.version }}.md
          files: ./target/urlaubsverwaltung-*.war
      - name: Publish docker image to Docker Hub
        run: >
          ./mvnw --batch-mode
          spring-boot:build-image
          -Dspring-boot.build-image.publish=true
          -Ddocker-publish-registry=registry.hub.docker.com
          -Ddocker-publish-registry-username=${{ secrets.DOCKER_USERNAME }}
          -Ddocker-publish-registry-password=${{ secrets.DOCKER_PASSWORD }}
      - name: Publish docker image to GitHub Container Registry
        run: >
          ./mvnw --batch-mode
          spring-boot:build-image
          -Dspring-boot.build-image.publish=true
          -Ddocker-publish-registry=ghcr.io
          -Ddocker-publish-registry-username=${{ secrets.DOCKER_USERNAME }}
          -Ddocker-publish-registry-password=${{ secrets.DOCKER_PASSWORD }}
